.toc {
  border-left: 2px solid #d2d5d8;
  margin-left: 1100px;
  padding: 32px 40px;
  position: fixed;
}

@media screen and (max-width: 1400px) {
  .toc {
    margin-left: auto;
    right: 55px;
  }
}

@media screen and (max-width: 1050px) {
  .toc {
    display: none;
  }
}

.toc__item {
  font-size: 16px;
  line-height: 1.5em;
  list-style: none;
  margin-top: 16px;
}

.toc__item a {
  color: inherit;
  text-decoration: none;
}

.toc__item a:hover {
  color: #234ebb;
}

.toc__item--active a {
  color: #234ebb;
  font-weight: 500;
}

.toc__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.25em;
  margin-top: 0 !important;
}

.toc__list {
  margin: 0;
  padding: 0;
}
