.blockquote {
  padding: var(--ds-size-4) var(--ds-size-6);
  margin: 0;
  margin-block-start: var(--ds-size-6);
  margin-block-end: var(--ds-size-4);
  margin-inline-start: var(--ds-size-4);
  border-inline-start: 4px solid var(--ds-color-neutral-border-strong);

  & p {
    margin: 0 !important;
  }
}
