.tabItem {
  --fdsc-icon-size: var(--fds-sizing-4);
  --fdsc-typography-font-family: inherit;

  padding: var(--fds-spacing-2) var(--fds-spacing-3);
  border: none;
  background-color: transparent;
  color: var(--fds-semantic-text-neutral-default);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: var(--fds-spacing-1);
  justify-content: center;
  text-align: center;
  align-items: center;
  letter-spacing: var(--typography-default-letter-spacing);
  border-radius: 0;
}

.tabItem.small {
  --fdsc-icon-size: var(--fds-sizing-5);

  font: var(--fds-typography-interactive-small);
  font-family: var(--fdsc-typography-font-family);
  padding: var(--fds-spacing-2) var(--fds-spacing-4);
}

.tabItem.medium {
  --fdsc-icon-size: var(--fds-sizing-6);

  font: var(--fds-typography-interactive-medium);
  font-family: var(--fdsc-typography-font-family);
  padding: var(--fds-spacing-3) var(--fds-spacing-5);
}

.tabItem.large {
  --fdsc-icon-size: var(--fds-sizing-7);

  font: var(--fds-typography-interactive-large);
  font-family: var(--fdsc-typography-font-family);
  padding: var(--fds-spacing-4) var(--fds-spacing-6);
}

.tabItem svg {
  overflow: visible;
}

.icon {
  display: inline-block;
  height: var(--fdsc-icon-size);
  width: var(--fdsc-icon-size);
}

.tabItem:hover {
  border-bottom: var(--fds-border_width-active) solid var(--fds-semantic-border-neutral-subtle);
}

.tabItem.isActive {
  color: var(--fds-semantic-text-action-default);
  border-bottom: var(--fds-border_width-active) solid var(--fds-semantic-border-action-default);
}

.tabItem:focus-visible {
  background: var(--fds-semantic-border-focus-outline);
  color: var(--fds-semantic-text-neutral-default);
  border-bottom: var(--fds-border_width-active) solid var(--fds-semantic-border-focus-boxshadow);
  outline: none;
}
