.image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

@media screen and (min-width: 1024px) {
  .card[data-featured='true'] {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card[data-featured='true'] > :last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--ds-size-8) var(--ds-size-10);
  }
}
@media screen and (max-width: 768px) {
  .heading {
    font-size: var(--ds-font-size-4);
  }
  p {
    font-size: var(--ds-font-size-3);
  }
}

.heading:not(:first-child) {
  margin-block-start: var(--ds-size-4);
}

.tag {
  margin-bottom: 0;
  padding: 3px 9px;
  font-size: 16px;
}

.meta {
  display: flex;
  gap: 10px;
  color: var(--ds-color-neutral-text-subtle);
}

.metaSquare {
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border-radius: 1px;
  background-color: var(--ds-color-brand1-border-subtle);
  margin: auto;
}
