@layer normalize, site, ds;

@layer view-transitions {
  @property --circle-wipe-progress {
    inherits: false;
    initial-value: 0vmax;
    syntax: '<length>';
  }
  @keyframes --circle-wipe {
    to {
      --circle-wipe-progress: 150vmax;
    }
  }
  /* biome-ignore lint/correctness/noUnknownTypeSelector: new feature */
  ::view-transition-old(root) {
    animation: none;
  }
  /* biome-ignore lint/correctness/noUnknownTypeSelector: new feature */
  &::view-transition-new(root) {
    mask-image: radial-gradient(circle var(--circle-wipe-progress) at var(--_theme-x, 50%) var(--_theme-y, 50%), black 70%, transparent 100%);
    animation: 0.6s ease-in both --circle-wipe;
  }
}

:root {
  --color-beta: #d6d4ff;
  --grid-max-width: 1400px;
  --grid-padding: clamp(1rem, calc(0.27rem + 3.64vw), 3rem);
  --grid-gap: var(--ds-size-8);
}

body {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'cv05' 1; /* Enable lowercase l with tail */
  margin: 0;
  padding: 0;
}

#main {
  min-height: 80svh;
}

@layer site.layout {
  @property --captured-length {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
  }
  :root {
    --logo-red: #f05f63;
    --logo-blue: #1e98f5;
    --logo-yellow: #e5aa20;
    --logo-slate: #626b77;

    --page-spacing-top: var(--ds-size-14); /*legacy*/
    --page-spacing-bottom: var(--ds-size-14); /*legacy*/
    --max-page-width: 1920px;
    --max-content-width: 1300px;
    --sidebar-left-width: 300px;
    --sidebar-right-width: 300px;
    --short-content-width: 700px;
    --long-content-width: 950px;
    --media-max-width: var(--long-content-width); /*legacy*/
    /*use the old clamp-based padding?*/
    /*--content-inline-padding: clamp(1rem, calc(0.27rem + 3.64vw), 3rem);*/
    --content-inline-padding: var(--ds-size-7);
    --header-height: 75px;
    @media screen and (max-width: 1500px) {
      --sidebar-left-width: 240px;
      --sidebar-right-width: 240px;
      --page-spacing-top: var(--ds-size-8);
      --page-spacing-bottom: var(--ds-size-12);
    }
  }
  .l-sidebar-left {
    display: flex;
    flex-direction: column;
    position: sticky;
    border-right: 1px solid var(--ds-color-neutral-border-subtle);
    top: var(--header-height);
    overflow-y: auto;
    max-height: calc(100vh - var(--header-height));
    padding-top: var(--ds-size-6);
    scrollbar-color: var(--ds-color-neutral-border-subtle) transparent;
    /*counter the padding to align with logo while not breaking the active style*/
    margin-left: calc(var(--ds-size-4) * -1);

    overscroll-behavior: contain;
    > nav {
      margin-bottom: var(--header-height);
    }
  }
  .l-content-container {
    container: content-container / inline-size;
    width: 100%;
    max-width: calc(var(--max-content-width) + (var(--content-inline-padding) * 2));
    margin: 0 auto;
    padding-inline: var(--content-inline-padding);
    display: grid;
    &:has(.l-sidebar-left) {
      max-width: var(--max-page-width);
      grid-template-columns: var(--sidebar-left-width) minmax(0, 1fr);
      column-gap: 110px;
      @media screen and (max-width: 1500px) {
        column-gap: 48px;
      }
      @media screen and (max-width: 958px) {
        display: block;
        .l-sidebar-left {
          border-right: initial;
          position: static;
        }
      }
    }
  }
  .u-default-padding-top {
    padding-top: var(--page-spacing-top);
  }
}
@layer site.breakout-grid {
  /*https://layout-breakouts-builder.vercel.app/*/
  .l-breakout-grid {
    --long-content-width: 860px;
    --short-content-width: 640px;
    /** Track sizes **/
    --content-full-bleed: minmax(var(--content-inline-padding), 1fr);
    --content-max: minmax(0, calc((var(--max-content-width) - var(--long-content-width)) * 0.5));
    --content: minmax(0, calc((var(--long-content-width) - var(--short-content-width)) * 0.5));
    --text: min(var(--short-content-width), 100% - var(--content-inline-padding) * 2);

    display: grid;
    grid-template-columns:
      [content-full-bleed-start]
      var(--content-full-bleed)
      [content-max-start]
      var(--content-max)
      [content-start]
      var(--content)
      [text-start]
      var(--text)
      [text-end]
      var(--content)
      [content-end]
      var(--content-max)
      [content-max-end]
      var(--content-full-bleed)
      [content-full-bleed-end];

    & > * {
      grid-column: text;
    }

    > :where(div:not([class]), img, section, figure, table, video, iframe, [data-iframe-video], .u-long-content, .dodont-row) {
      grid-column: content;
    }

    /** Utility classes **/
    .content-full-bleed {
      grid-column: content-full-bleed;
    }
    .content-full-bleed-start {
      grid-column-start: content-full-bleed-start;
    }
    .content-full-bleed-end {
      grid-column-end: content-full-bleed-end;
    }

    .content-max {
      grid-column: content-max;
    }
    .content-max-start {
      grid-column-start: content-max-start;
    }
    .content-max-end {
      grid-column-end: content-max-end;
    }

    .content {
      grid-column: content;
    }
    .content-start {
      grid-column-start: content-start;
    }
    .content-end {
      grid-column-end: content-end;
    }

    .text {
      grid-column: text;
    }
    .text-start {
      grid-column-start: text-start;
    }
    .text-end {
      grid-column-end: text-end;
    }

    .full-width {
      grid-column: full;
    }
    .full-content {
      grid-column: full;
      padding-inline: var(--content-inline-padding);
    }
  }
}

@layer normalize {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  main {
    display: block;
  }

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline dotted; /* 2 */
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp {
    font-family: monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  img {
    border-style: none;
  }

  [hidden] {
    display: none;
  }
}

@layer site.rich-text {
  .u-rich-text {
    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
    &.left-adjusted {
      > * {
        max-width: var(--short-content-width);
      }
      :where(div:not([class]), img, section, figure, table, video, iframe, [data-iframe-video], .u-long-content, .dodont-row) {
        max-width: var(--long-content-width);
      }
      :where(.u-short-content) {
        max-width: var(--short-content-width);
      }
      hr {
        margin-inline: 0;
      }
    }

    & > p {
      margin-bottom: var(--ds-size-5);
      text-wrap: pretty;

      & > strong {
        margin: 0 !important;
      }
    }

    /* reset non-direct child targets in stories */
    [data-live] p {
      margin-bottom: initial;
    }

    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      scroll-margin-top: calc(var(--header-height) + 1lh);
    }
    & > h2 {
      margin-top: var(--ds-size-10);
      margin-bottom: var(--ds-size-4);
    }
    & > h3 {
      margin-top: var(--ds-size-9);
      margin-bottom: var(--ds-size-3);
    }
    & > h4,
    & > h5,
    & > h6 {
      margin-top: var(--ds-size-8);
      margin-bottom: var(--ds-size-3);
    }

    & > :where(div, table, section) {
      margin-block: var(--ds-size-8);
    }

    & > ul,
    & > ol {
      max-width: 100%;
      padding-left: var(--ds-size-5);
      box-sizing: border-box;
      margin-bottom: var(--ds-size-5);
    }

    & > ul > li,
    & > ol > li {
      line-height: 1.9em;
      word-break: break-word; /* Add this to prevent text from overflowing */
      text-wrap: pretty;
      & > p {
        line-height: var(--ds-body-md-line-height);
      }
    }

    & > ul > li > ol,
    & > ol > li > ul {
      margin-top: var(--ds-size-1);
    }

    & > p > a:hover,
    & > ul > li a:hover,
    & > ol > li a:hover {
      text-decoration-thickness: 2px;
    }

    /* A <p> tag that comes directly after <h1> will be treated as an ingress */
    & > h1 + p {
      font: var(--ds-body-long-md-font-size);
      margin-top: 0;
      margin-bottom: var(--ds-size-8);
    }

    & > iframe {
      box-shadow: var(--ds-shadow-md);
      margin: var(--ds-size-5);
      border-radius: var(--ds-border-radius-md);
    }

    & > table {
      width: 100%;
      border-collapse: collapse;
    }

    & > img {
      width: 100%;
      margin: var(--ds-size-2) 0;
      border-radius: var(--ds-border-radius-md);
      box-shadow: var(--ds-shadow-md);
    }

    & code:not(pre > code) {
      padding: 2px 5px;
      font-size: 0.9em;
      line-height: 1;
      white-space: break-spaces;
      background-color: var(--ds-color-neutral-background-tinted);
      border-radius: var(--ds-border-radius-md);
      display: inline;
      border: 1px solid var(--ds-color-neutral-border-subtle);
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
    }

    kbd {
      font-family:
        ui-monospace, Menlo, Monaco, 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Droid Sans Mono', 'Courier New', monospace;
      background: var(--ds-color-neutral-surface-tinted);
      padding: var(--ds-size-1);
      border-radius: var(--ds-border-radius-md);
      border: solid 1px var(--ds-color-neutral-border-subtle);
      position: relative;
      bottom: 2px;
      box-shadow: 0.5px 1px 0 0 var(--ds-color-neutral-border-strong);
      font-size: round(down, 0.8em, 1px);
    }

    & > .ds-alert {
      margin: var(--ds-size-8) 0;

      & :first-child {
        margin-top: 0 !important;
      }

      & :last-child {
        margin-bottom: 0 !important;
      }
    }
    /*headings determine margin for stuff under them*/
    & > :is(h2, h3, h4, h5, h6) + * {
      margin-top: 0;
    }
    /*headings determine margin for stuff above them*/
    *:not(:where(h2, h3, h4, h5, h6)):has(+ h2, + h3, + h4, + h5, + h6) {
      margin-bottom: 0;
    }
    /*text above these elements dont need margin*/
    :where(p, ul, ol):has(+ div, + section, + table, + figure) {
      margin-bottom: 0;
    }
  }
}
@layer site.global-components {
  .component-table {
    --dsc-table-border-radius: var(--ds-border-radius-lg);
    border-collapse: separate;
    word-break: break-all;
  }
}
@layer site.overrides {
  .ds-skip-link:focus {
    position: relative;
    z-index: 1;
  }
}
