.preview {
    min-height: 120px;
    padding: 32px 0;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    flex: 1;
}

.buttonContainer {
    background-color: #F4F5F6;
    border: 1px solid #e0e0e0;
    border-top: none;
    display: flex;
    justify-content: right;
}

.button {
    padding: 0 18px;
    height: 36px;
    border: none;
    border-left: 1px solid #e0e0e0;
    background-color: transparent;
    /*background-color: #e6e6e6;*/
    font-size: 14px;
    font-weight: 500;
    transition: 0.15s all;
}

.button:hover {
    background-color: #e6e6e6;
}

.code pre {
    border-radius: 0 0 4px 4px;
}
