.wrapper {
  background: var(--fds-semantic-border-neutral-strong);
  padding: var(--fds-spacing-1) var(--fds-spacing-2);
  color: white;
  border-radius: var(--fds-border_radius-medium);
  font: var(--fds-typography-paragraph-xsmall);
}
