.switch {
  --fds-transition: 200ms;
  --fds-switch-height: 1.75rem;
  --fds-switch-focus-border-width: 3px;

  position: relative;
}

.switch.noLabel {
  gap: 0;
}

@media (prefers-reduced-motion) {
  .switch {
    --fds-transition: 0;
  }
}

/* .switch.small {
  min-height: var(--fds-sizing-8);
}

.switch.medium {
  min-height: var(--fds-sizing-10);
}

.switch.large {
  min-height: var(--fds-sizing-12);
} */

.right {
  flex-direction: row-reverse;
}

.label {
  min-height: var(--fds-sizing-10);
  min-width: min-content;
  display: inline-flex;
  flex-direction: row;
  gap: var(--fds-spacing-1);
  align-items: center;
  cursor: pointer;
}

/* Track */
.label::before {
  content: '';
  pointer-events: none;
  width: calc(var(--fds-switch-height) * 2);
  height: var(--fds-switch-height);
  margin: auto;
  overflow: visible;
  border-radius: var(--fds-border_radius-full);
  background-color: var(--fds-semantic-surface-neutral-dark);
  transition: background-color var(--fds-transition) ease;
}

.description {
  padding-left: 3px;
  margin-top: calc(var(--fds-spacing-2) * -1);
  color: var(--fds-semantic-text-neutral-subtle);
}

.input {
  position: absolute;
  width: 2.75rem;
  height: 2.75rem;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.readonly > .input,
.readonly > .label {
  cursor: default;
}

.disabled > .input,
.disabled > .label,
.disabled > .label::before {
  cursor: not-allowed;
}

.disabled > .label,
.disabled > .label::before,
.disabled > .description {
  opacity: var(--fds-opacity-disabled);
}

.input:focus-visible + .label::before {
  outline: var(--fds-switch-focus-border-width) solid var(--fds-semantic-border-focus-outline);
  box-shadow: inset 0 0 0 var(--fds-switch-focus-border-width) var(--fds-semantic-border-focus-boxshadow);
}

.track {
  transition: color var(--fds-transition) ease;
  color: var(--fds-semantic-surface-neutral-dark);
}

.thumb {
  position: absolute;
  height: var(--fds-switch-height);
  width: var(--fds-switch-height);
  scale: 0.8;
  border-radius: var(--fds-border_radius-full);
  left: 0;
  transition: transform var(--fds-transition) ease;
  background-color: var(--fds-semantic-background-default);
}

.thumb > .checkmark {
  opacity: 0;
  transition: opacity var(--fds-transition) ease-in-out;
  transform: translate(6px, 6px);
}

.input:disabled + .label::before {
  color: var(--fds-semantic-border-neutral-subtle);
}

.readonly .input[readonly]:checked ~ .thumb > .checkmark {
  opacity: 1;
  color: var(--fds-semantic-background-subtle);
}

.input:not([readonly], :disabled):checked + .label::before,
.input:not([readonly], :disabled):checked ~ .label::before .thumb > .checkmark {
  opacity: 1;
  color: var(--fds-semantic-surface-success-default);
}

.input:checked + .label .thumb {
  transform: translateX(120%);
}

@media (hover: hover) and (pointer: fine) {
  .input:not([readonly], :disabled):hover + .label .thumb {
    transform: translateX(4px);
  }

  .input:not([readonly], :disabled):hover + .label {
    color: var(--fds-semantic-border-input-hover);
  }

  .input:not(:disabled, [readonly]):checked:hover + .label .thumb {
    transform: translateX(100%);
  }

  .input:not(:checked, :disabled, [readonly]):hover + .label::before {
    background-color: var(--fds-semantic-surface-neutral-dark-hover);
  }

  .input:not(:disabled, [readonly]):checked:hover + .label::before,
  .input:not(:disabled, [readonly]):checked:hover ~ .thumb > .checkmark {
    background-color: var(--fds-semantic-surface-success-hover);
  }
}

.readonly .input[readonly] + .label::before {
  border-color: var(--fds-semantic-border-neutral-subtle);
  background-color: var(--fds-semantic-background-subtle);
}

.readonly .input[readonly] ~ .thumb {
  background-color: var(--fds-semantic-border-neutral-default);
}

.input:focus-visible:not(:disabled) ~ {
  outline: var(--fds-focus-border-width) solid var(--fds-outer-focus-border-color);
  outline-offset: 0;
}

.input:focus-visible:not(:disabled) + .label::before {
  stroke: var(--fds-inner-focus-border-color);
  stroke-width: var(--fds-focus-border-width);
}

.padlock {
  grid-area: label;
  height: 1.2em;
  width: 1.2em;
}

/** Sizing */

.small,
.small .label {
  min-height: var(--fds-sizing-8);
}

.medium,
.medium .label {
  min-height: var(--fds-sizing-10);
}

.large,
.large .label {
  min-height: var(--fds-sizing-12);
}

.small {
  --fds-switch-height: 1.5rem;

  min-width: var(--fds-sizing-8);
}

.small .input {
  left: -0.25rem;
  top: -0.25rem;
}

.medium {
  --fds-switch-height: 1.75rem;

  min-width: var(--fds-sizing-10);
}

.medium .input {
  left: 0;
  top: 0;
}

.large {
  --fds-switch-height: 2rem;

  min-width: var(--fds-sizing-12);
}

.large .input {
  left: 0;
  top: 0.25rem;
}
