.color {
  height: 40px;
  width: 60px;
  border-radius: var(--ds-border-radius-md);
  display: inline-block;
  border: 1px solid var(--ds-color-neutral-border-default); /* Dark --ds-color-neutral-background-default  */
}

.colorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ds-size-1);
  border-radius: var(--ds-border-radius-md);
  height: 70px;
  width: 90px;
  background-color: var(--ds-color-neutral-background-default);
}
