.color {
  height: 40px;
  width: 60px;
  border-radius: var(--ds-border-radius-md);
  display: inline-block;
}

.colorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ds-size-1);
  border-radius: var(--ds-border-radius-md);
  height: 60px;
  width: 80px;
}

.colorBox[data-color-scheme='light'] {
  background-color: #fff;

  .color {
    border: 1px solid #000;
  }
}

.colorBox[data-color-scheme='dark'] {
  background-color: #1d1d1d;

  .color {
    border: 1px solid #444;
  }
}
