@layer fds.divider {
  .divider {
    border: none;
    border-top: 1px solid;
  }

  .default {
    border-color: var(--fds-semantic-border-divider-default);
  }

  .strong {
    border-color: var(--fds-semantic-border-divider-strong);
  }

  .subtle {
    border-color: var(--fds-semantic-border-divider-subtle);
  }
}
