.divider {
  border: 1px solid;
}

.defaultDivider {
  border-color: var(--fds-semantic-border-divider-default);
}

.strongDivider {
  border-color: var(--fds-semantic-border-divider-strong);
}

.subtleDivider {
  border-color: var(--fds-semantic-border-divider-subtle);
}
