@layer fds.accordion {
  .accordion {
    --fds-accordion-border-radius: var(--fds-border_radius-interactive);
    --fds-accordion-border-color: var(--fds-semantic-border-neutral-subtle);

    border-bottom: 1px solid var(--fds-semantic-border-neutral-subtle);
    box-sizing: border-box;
    display: flex;
    gap: 1px;
  }

  .border {
    border: 1px solid var(--fds-accordion-border-color);
    border-radius: var(--fds-accordion-border-radius);
  }

  .expandIcon {
    border-radius: var(--fds-border_radius-interactive);
  }

  .content {
    padding: var(--fds-spacing-5, 1rem);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header {
    margin: 0;
  }

  .accordionButton {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--fds-spacing-2);
    margin: 0;
    text-align: left;
    cursor: pointer;
    border: none;
    padding: var(--fds-spacing-4);
  }

  .border .accordionButton {
    border-radius: var(--fds-accordion-border-radius);
  }

  .item:focus-within {
    position: relative;
  }

  .item:where(.open) .accordionButton:hover + * .content {
    border-color: var(--fds-semantic-border-neutral-strong);
  }

  .item:where(.open) .expandIcon {
    transform: rotateZ(180deg);
  }

  .neutral,
  .neutral .accordionButton {
    background-color: var(--fds-semantic-surface-neutral-default);
  }

  .subtle,
  .subtle .accordionButton {
    background-color: var(--fds-semantic-surface-neutral-subtle);
  }

  .first,
  .first .accordionButton {
    --fds-accordion-border-color: var(--fds-semantic-border-first-default);

    background: var(--fds-semantic-surface-first-light);
  }

  .second,
  .second .accordionButton {
    --fds-accordion-border-color: var(--fds-semantic-border-second-default);

    background: var(--fds-semantic-surface-second-light);
  }

  .third,
  .third .accordionButton {
    --fds-accordion-border-color: var(--fds-semantic-border-third-default);

    background: var(--fds-semantic-surface-third-light);
  }

  .first .item:where(.open) .accordionButton,
  .second .item:where(.open) .accordionButton,
  .third .item:where(.open) .accordionButton {
    background-color: rgba(0 0 0 / 0.03);
  }

  .neutral .item:where(.open) .accordionButton,
  .subtle .item:where(.open) .accordionButton {
    background-color: var(--fds-semantic-surface-action-first-no_fill-hover);
  }

  @media (hover: hover) and (pointer: fine) {
    .accordionButton:hover .expandIcon {
      background-color: rgba(0 0 0 / 0.1);
    }

    .neutral .accordionButton:hover,
    .subtle .accordionButton:hover {
      background-color: var(--fds-semantic-surface-neutral-subtle-hover);
    }

    .first .accordionButton:hover {
      background-color: var(--fds-semantic-surface-first-light-hover);
    }

    .second .accordionButton:hover {
      background-color: var(--fds-semantic-surface-second-light-hover);
    }

    .third .accordionButton:hover {
      background-color: var(--fds-semantic-surface-third-light-hover);
    }
  }
}
