/* .content {
  figcaption {
    margin: 0 auto;
  }
} */
.intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--ds-size-7);
  text-align: center;
  margin-top: var(--ds-size-22);
}

.ingress {
  margin: 0;
  text-wrap: pretty;
}

.meta {
  --_column-gap: 10px;
  --_square-size: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: var(--_column-gap);
  color: var(--ds-color-neutral-text-subtle);
}

.date {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    width: var(--_square-size);
    aspect-ratio: 1;
    transform: rotate(45deg);
    border-radius: 1px;
    background-color: var(--logo-red);
    margin-right: var(--_column-gap);
  }
}

.featuredImage {
  --m-bottom: var(--ds-size-15);
  margin-top: var(--ds-size-18);
  margin-bottom: 0;
  &:not(:has(+ h2)) {
    margin-bottom: var(--m-bottom);
  }
}

.content:last-child {
  margin-bottom: var(--page-spacing-bottom);
}

.wantToWrite {
  border-radius: var(--ds-border-radius-lg);
  background: var(--ds-color-surface-tinted);
  color: var(--ds-color-text-default);
  padding: var(--ds-size-8);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--ds-size-4);
  & p a {
    display: inline-block;
  }
  & :where(p, h3) {
    margin: 0;
  }
}

@media screen and (max-width: 860px) {
  .content {
    font-size: var(--ds-body-sm-font-size);
  }
  .intro {
    margin-top: var(--ds-size-8);
    text-align: initial;
    gap: var(--ds-size-3);
    & h1 {
      font-size: var(--ds-font-size-6);
      font-weight: 500;
      text-wrap: pretty;
    }
  }
  .ingress {
    font-size: var(--ds-font-size-4);
  }
  .meta {
    justify-content: start;
    flex-wrap: wrap;
    overflow: clip;
  }
  .authors {
    margin-right: calc(var(--_column-gap) + var(--_square-size));
  }
  .date {
    margin-left: calc(-1 * (var(--_column-gap) + var(--_square-size)));
  }
  .featuredImage {
    --m-bottom: var(--ds-size-9);
    margin-top: var(--ds-size-9);
  }
}
