.tag {
  padding: 3px 6px;
  margin-left: 4px;
  border-radius: 3px;
  font: var(--fds-typography-paragraph-small);
  font-weight: 500;
  text-transform: capitalize;
}

.purple {
  background-color: var(--color-beta);
}

.large {
  padding: 4px 11px;
  font: var(--fds-typography-paragraph-large);
  font-weight: 500;
}
