.footer {
  background-color: var(--ds-color-neutral-background-subtle);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  gap: var(--ds-spacing-10);
}

.title {
  margin-bottom: var(--ds-spacing-4);
}

.footer .logos img {
  height: 26px;
  width: auto;
  margin-right: var(--ds-spacing-2);

  &.udir {
    height: 32px;
  }
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-spacing-8);
  margin-top: var(--ds-spacing-8);
}

.links {
  margin: 0;
  padding: 0;
}

.links li {
  list-style: none;
  margin-bottom: var(--ds-spacing-5);
}

.links li:last-child {
  margin-bottom: 0;
}

.link {
  --dsc-link-color--visited: var(--ds-color-neutral-text-default);
}

.top {
  padding: var(--ds-spacing-18) 0;
}

.bottom {
  background-color: var(--ds-color-neutral-background-default);
  padding: var(--ds-spacing-7) 0;
}

.button {
  --dsc-button-color: var(--ds-color-neutral-text-default);

  border: 1px dashed var(--ds-color-neutral-border-strong);
  width: fit-content;
  margin-top: var(--ds-spacing-8);
}
