.footer {
  background-color: var(--ds-color-neutral-background-subtle);
  font-weight: 300;
  letter-spacing: 0.3px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  gap: var(--ds-spacing-10);
}

.title {
  margin-bottom: var(--ds-spacing-4);
}

.footer .logos img {
  height: 26px;
  width: auto;
  margin-right: var(--ds-spacing-2);
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-spacing-8);
  margin-top: var(--ds-spacing-8);
}

.links {
  margin: 0;
  padding: 0;
}

.links li {
  list-style: none;
  margin-bottom: var(--ds-spacing-5);
}

.links li:last-child {
  margin-bottom: 0;
}

.link {
  gap: var(--ds-spacing-2);
}

.link:visited {
  --dsc-link-color-visited: var(--ds-color-neutral-text-default);
}

.top {
  padding: var(--ds-spacing-18) 0;
}

.bottom {
  background-color: var(--ds-color-neutral-background-default);
  padding: var(--ds-spacing-7) 0;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 48px;
  padding: 0 var(--ds-spacing-5);
  margin-top: var(--ds-spacing-7);
  border-radius: 2px;
  color: var(--color-text-on_inverted-subtle);
  border: 1px dashed var(--color-text-on_inverted-subtle);
}

.button:hover {
  background-color: var(--color-surface-neutral-inverted-darker);
  border-color: white;
  color: white;
}
