.section {
    background-color: #F4F5F6;
    padding: 64px 0 72px 0;
    text-align: center;
}

.white {
    background-color: white;
}

.title {
    font-size: 32px;
    font-weight: 500;
}

.header {
    margin-bottom: 40px;
}

.content {

}

.detail {
    margin-top: 16px;
    height: 32px;
}