.size {
  min-height: 81px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1d7ff;
  border-radius: 4px;
  padding: 16px 0;
}

.bar {
  height: 20px;
  background-color: #ae48e4;
  border-radius: 2px;
}
