.size {
  min-height: var(--preview-min-height);
  width: 150px;
  display: flex;
  align-items: center;
  background-color: #d2ffce;
  border-radius: 4px;
  padding: 16px 16px;
}

.bar {
  height: 50px;
  background-color: #8de285;
  border-radius: 2px;
}
