.boxContainers {
  display: flex;
  flex-direction: column;
  border: 1px solid #c2c2c2;
  margin-bottom: 24px;
  border-radius: 4px;
}

.boxContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px;
  border-radius: 4px;
}

.box {
  height: 46px;
  width: 46px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark {
  background-color: #131c27;
}
