.frontpage {
  color: red;
}

.header {
  height: 525px;
  margin-top: -106px;
  position: relative;
  overflow: hidden;
}

.header::before {
  content: '';
  background-color: var(--fds-semantic-background-subtle);
  position: absolute;
  height: 200vh;
  width: 300vw;
  left: -100vw;
  bottom: 120px;
  border-radius: 50%;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 140px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cards {
  display: grid;
  grid-row-gap: var(--grid-gap);
  grid-column-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
  width: 100%;
}

.test {
  width: 550px;
  text-align: center;
  margin-bottom: 41px;
}

.cluster1,
.cluster2 {
  transform: translateY(0);
  animation: floating 6s ease-in-out infinite;
}

.cluster1 {
  position: absolute;
  left: 60px;
  bottom: 210px;
}

.cluster2 {
  position: absolute;
  right: 60px;
  bottom: 70px;
  animation-delay: 0.5s;
}

.cluster3 {
  position: absolute;
  bottom: 70px;
  left: 100px;
  transform: rotate(65deg);
}

.cluster4 {
  position: absolute;
  top: 70px;
  right: 80px;
  height: 150px;
}

.banners {
  margin: 60px 0;
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}
