.card {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--ds-color-neutral-surface-default);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  outline: 1px solid transparent;
  color: var(--ds-color-neutral-text-default);
  border-radius: var(--ds-border-radius-lg);
  text-decoration: none;
  transition: 0.2s ease;
  transition-property: border-color, outline;
  &:hover {
    border-color: var(--ds-color-neutral-border-strong);
    outline: 1px solid var(--ds-color-neutral-border-strong);
  }
  &:focus-visible {
    box-shadow: var(--dsc-focus-boxShadow);
    outline: var(--dsc-focus-outline);
    outline-offset: var(--ds-border-width-focus);
  }
  :has(:focus-visible) & {
    transition: none;
  }
}

.title {
  padding: 20px;
  padding-bottom: 24px;
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.image {
  width: 100%;
  padding: var(--ds-size-8) var(--ds-size-10);
}
