.card {
  --border-color: var(--ds-color-neutral-border-subtle);
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--ds-color-neutral-surface-default);
  border: 1px solid var(--border-color);
  color: var(--ds-color-neutral-text-default);
  border-radius: var(--ds-border-radius-lg);
  text-decoration: none;
  @media (prefers-reduced-motion: no-preference) {
    transition:
      0.2s border-color ease-in-out,
      0.2s outline ease-in-out;
  }
}

.card:hover {
  --border-color: var(--ds-color-neutral-border-strong);
  outline: 1px solid var(--ds-color-neutral-border-strong);
}

.title {
  padding: 20px;
  padding-bottom: 24px;
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
  text-decoration: underline;
  text-underline-offset: 5px;
}

.image {
  width: 100%;
  padding: var(--ds-size-8) var(--ds-size-10);
}
