.toggle {
  display: flex;
  gap: var(--ds-size-4);
  width: 100%;
}

.item {
  flex: 1 1;
}

.active .box {
  outline: 1px solid var(--ds-color-neutral-border-default);
  border-color: var(--ds-color-neutral-border-default);
}
