.tag {
  --fdsc-tag-border: var(--fds-semantic-border-neutral-default);
  --fdsc-tag-background: var(--fds-semantic-surface-neutral-subtle);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-default);
  --fdsc-tag-padding: var(--fds-spacing-2);
  --fdsc-tag-min-height: var(--fds-spacing-7);

  color: var(--fdsc-tag-text);
  padding: 0 var(--fdsc-tag-padding);
  border: 1px solid var(--fdsc-tag-border);
  background-color: var(--fdsc-tag-background);
  min-height: var(--fdsc-tag-min-height);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  word-break: break-word;
  border-radius: 2px;
  width: max-content;
}

.xsmall {
  --fdsc-tag-padding: var(--fds-spacing-1);
  --fdsc-tag-min-height: var(--fds-spacing-5);
}

.small {
  --fdsc-tag-padding: var(--fds-spacing-1);
  --fdsc-tag-min-height: var(--fds-spacing-6);
}

.medium {
  --fdsc-tag-padding: var(--fds-spacing-2);
  --fdsc-tag-min-height: var(--fds-spacing-7);
}

.outlined.neutral {
  --fdsc-tag-border: var(--fds-semantic-border-neutral-default);
  --fdsc-tag-background: var(--fds-semantic-surface-neutral-subtle);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-default);
}

.outlined.info {
  --fdsc-tag-border: var(--fds-semantic-border-info-default);
  --fdsc-tag-background: var(--fds-semantic-surface-info-subtle);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-default);
}

.outlined.success {
  --fdsc-tag-border: var(--fds-semantic-border-success-default);
  --fdsc-tag-background: var(--fds-semantic-surface-success-subtle);
  --fdsc-tag-text: var(--fds-semantic-text-success-on_success_subtle);
}

.outlined.warning {
  --fdsc-tag-border: var(--fds-semantic-border-warning-default);
  --fdsc-tag-background: var(--fds-semantic-surface-warning-subtle);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-default);
}

.outlined.danger {
  --fdsc-tag-border: var(--fds-semantic-border-danger-default);
  --fdsc-tag-background: var(--fds-semantic-surface-danger-subtle);
  --fdsc-tag-text: var(--fds-semantic-text-danger-on_danger_subtle);
}

.outlined.primary {
  --fdsc-tag-border: var(--fds-semantic-surface-primary-dark);
  --fdsc-tag-background: var(--fds-semantic-surface-primary-light);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-default);
}

.outlined.secondary {
  --fdsc-tag-border: var(--fds-semantic-surface-secondary-dark);
  --fdsc-tag-background: var(--fds-semantic-surface-secondary-light);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-default);
}

.outlined.tertiary {
  --fdsc-tag-border: var(--fds-semantic-surface-tertiary-dark);
  --fdsc-tag-background: var(--fds-semantic-surface-tertiary-light);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-default);
}

.filled.neutral {
  --fdsc-tag-border: var(--fds-semantic-surface-neutral-dark);
  --fdsc-tag-background: var(--fds-semantic-surface-neutral-dark);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-on_inverted);
}

.filled.info {
  --fdsc-tag-border: var(--fds-semantic-surface-info-subtle-hover);
  --fdsc-tag-background: var(--fds-semantic-surface-info-subtle-hover);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-default);
}

.filled.success {
  --fdsc-tag-border: var(--fds-semantic-surface-success-default);
  --fdsc-tag-background: var(--fds-semantic-surface-success-default);
  --fdsc-tag-text: var(--fds-semantic-text-success-on_success);
}

.filled.warning {
  --fdsc-tag-border: var(--fds-semantic-surface-warning-default);
  --fdsc-tag-background: var(--fds-semantic-surface-warning-default);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-default);
}

.filled.danger {
  --fdsc-tag-border: var(--fds-semantic-surface-danger-default);
  --fdsc-tag-background: var(--fds-semantic-surface-danger-default);
  --fdsc-tag-text: var(--fds-semantic-text-danger-on_danger);
}

.filled.primary {
  --fdsc-tag-border: var(--fds-semantic-surface-primary-dark);
  --fdsc-tag-background: var(--fds-semantic-surface-primary-dark);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-on_inverted);
}

.filled.secondary {
  --fdsc-tag-border: var(--fds-semantic-surface-secondary-dark);
  --fdsc-tag-background: var(--fds-semantic-surface-secondary-dark);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-on_inverted);
}

.filled.tertiary {
  --fdsc-tag-border: var(--fds-semantic-surface-tertiary-dark);
  --fdsc-tag-background: var(--fds-semantic-surface-tertiary-dark);
  --fdsc-tag-text: var(--fds-semantic-text-neutral-on_inverted);
}
