.list {
  --component-list-border_width: 1px;

  border-top: var(--component-list-border_width) var(--component-list-border_style) var(--component-list-border_color);
  list-style-type: none;
  padding-left: 0;
}

.list.solid {
  --component-list-border_color: #bcc7cc;
  --component-list-border_style: solid;
}

.list.dashed {
  --component-list-border_color: #1eadf7;
  --component-list-border_style: dashed;
}
