.list {
  padding-left: var(--fds-spacing-4);
}

.heading {
  margin-bottom: var(--fds-spacing-2);
}

li > .list {
  margin-top: var(--fds-spacing-2);
}

.list .list {
  margin-top: var(--fds-spacing-2);
}
