.container {
  --fds-checkbox-size: 1.75rem;
  --fds-checkbox-focus-border-width: 3px;
  --fds-checkbox-background: var(--fds-semantic-background-default);
  --fds-checkbox-border-color: var(--fds-semantic-border-input-default);
  --fds-checkbox-border__hover: 0 0 0 6px var(--fds-semantic-surface-info-subtle-hover);

  position: relative;
}

.label {
  min-height: var(--fds-sizing-10);
  min-width: min-content;
  display: inline-flex;
  flex-direction: row;
  gap: var(--fds-spacing-1);
  align-items: center;
  cursor: pointer;
}

/* Checkbox */
.label::before {
  content: '';
  width: var(--fds-checkbox-size);
  height: var(--fds-checkbox-size);
  box-shadow: inset 0 0 0 2px var(--fds-checkbox-border-color);
  background: var(--fds-checkbox-background);
  flex-shrink: 0;
  margin-inline: 6px;
  margin-block: 6px;
  border-radius: var(--fds-border_radius-medium);
}

.description {
  padding-left: calc(var(--fds-checkbox-size) + 12px + var(--fds-spacing-1));
  margin-top: calc(var(--fds-spacing-2) * -1);
  color: var(--fds-semantic-text-neutral-subtle);
}

.input {
  position: absolute;
  width: 2.75rem;
  height: 2.75rem;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.disabled > .input,
.disabled > .label,
.disabled > .label::before {
  cursor: not-allowed;
}

.disabled > .label,
.disabled > .label::before,
.disabled > .description {
  opacity: var(--fds-opacity-disabled);
}

.input:focus-visible + .label::before {
  outline: var(--fds-checkbox-focus-border-width) solid var(--fds-semantic-border-focus-outline);
  box-shadow: inset 0 0 0 var(--fds-checkbox-focus-border-width) var(--fds-semantic-border-focus-boxshadow);
}

.input:checked + .label::before {
  --fds-checkbox-border-color: var(--fds-semantic-border-input-hover);

  background: var(--fds-checkbox-border-color);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMjQgMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgPjxwYXRoIGZpbGwtcnVsZT0nZXZlbm9kZCcgY2xpcC1ydWxlPSdldmVub2RkJyBkPSdNMTcuNzg3NiA2LjI3ODM4QzE4LjExNzEgNi42MDc4OCAxOC4xMTcxIDcuMTQyMTIgMTcuNzg3NiA3LjQ3MTYyTDkuOTk1OTEgMTUuMjYzM0M5LjY2NjQgMTUuNTkyOCA5LjEzMjE3IDE1LjU5MjggOC44MDI2NyAxNS4yNjMzTDQuNjc3NjcgMTEuMTM4M0M0LjM0ODE2IDEwLjgwODggNC4zNDgxNiAxMC4yNzQ1IDQuNjc3NjcgOS45NDUwNUM1LjAwNzE3IDkuNjE1NTQgNS41NDE0IDkuNjE1NTQgNS44NzA5MSA5Ljk0NTA1TDkuMzk5MjkgMTMuNDczNEwxNi41OTQzIDYuMjc4MzhDMTYuOTIzOCA1Ljk0ODg3IDE3LjQ1ODEgNS45NDg4NyAxNy43ODc2IDYuMjc4MzhaJyBmaWxsPScjZmZmJyAvPjwvc3ZnPgo=');
}

.readonly > .input + .label::before {
  --fds-checkbox-border-color: var(--fds-semantic-border-neutral-subtle);
  --fds-checkbox-background: var(--fds-semantic-surface-neutral-subtle);
}

.input:checked:not(:focus-visible) + .label::before {
  box-shadow: inset 0 0 0 2px var(--fds-checkbox-border-color);
}

.readonly > .input,
.readonly > .label {
  cursor: default;
}

.readonly > .input:checked + .label::before {
  background: var(--fds-checkbox-background);
  background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PScwIDAgMjQgMjQnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgPjxwYXRoIGZpbGwtcnVsZT0nZXZlbm9kZCcgY2xpcC1ydWxlPSdldmVub2RkJyBkPSdNMTcuNzg3NiA2LjI3ODM4QzE4LjExNzEgNi42MDc4OCAxOC4xMTcxIDcuMTQyMTIgMTcuNzg3NiA3LjQ3MTYyTDkuOTk1OTEgMTUuMjYzM0M5LjY2NjQgMTUuNTkyOCA5LjEzMjE3IDE1LjU5MjggOC44MDI2NyAxNS4yNjMzTDQuNjc3NjcgMTEuMTM4M0M0LjM0ODE2IDEwLjgwODggNC4zNDgxNiAxMC4yNzQ1IDQuNjc3NjcgOS45NDUwNUM1LjAwNzE3IDkuNjE1NTQgNS41NDE0IDkuNjE1NTQgNS44NzA5MSA5Ljk0NTA1TDkuMzk5MjkgMTMuNDczNEwxNi41OTQzIDYuMjc4MzhDMTYuOTIzOCA1Ljk0ODg3IDE3LjQ1ODEgNS45NDg4NyAxNy43ODc2IDYuMjc4MzhaJyBmaWxsPScjNjg3MDdjJyAvPjwvc3ZnPgo=');
}

.error > .input:not(:disabled, :focus-visible) + .label::before {
  --fds-checkbox-border-color: var(--fds-semantic-border-danger-default);
}

/* Only use hover for non-touch devices to prevent sticky-hovering
  "input:not(:read-only)" does not work so using ".container:not(.readonly) >" instead */
@media (hover: hover) and (pointer: fine) {
  .container:not(.readonly, .disabled) > .label:hover,
  .container:not(.readonly, .disabled) > .input:hover + .label {
    color: var(--fds-semantic-text-action-hover);
  }

  .container:not(.readonly, .disabled) > .input:hover:not(:checked) + .label::before {
    --fds-checkbox-border-color: var(--fds-semantic-border-input-hover);

    box-shadow: var(--fds-checkbox-border__hover), inset 0 0 0 2px var(--fds-checkbox-border-color);
  }

  .container:not(.readonly, .disabled) > .input:hover:checked + .label::before {
    --fds-checkbox-border-color: var(--fds-semantic-border-input-hover);

    box-shadow: var(--fds-checkbox-border__hover), inset 0 0 0 2px var(--fds-checkbox-border-color);
  }

  .container:not(.readonly, .disabled) > .input:hover:checked:focus-visible + .label::before {
    box-shadow: var(--fds-checkbox-border__hover), inset 0 0 0 var(--fds-checkbox-focus-border-width) var(--fds-semantic-border-focus-boxshadow);
  }
}

/** Sizing */

.small,
.small .label {
  min-height: var(--fds-sizing-8);
}

.medium,
.medium .label {
  min-height: var(--fds-sizing-10);
}

.large,
.large .label {
  min-height: var(--fds-sizing-12);
}

.small {
  --fds-checkbox-size: 1.5rem;

  min-width: var(--fds-sizing-8);
}

.small .input {
  left: -0.25rem;
  top: -0.25rem;
}

.medium {
  --fds-checkbox-size: 1.75rem;

  min-width: var(--fds-sizing-10);
}

.medium .input {
  left: 0;
  top: 0;
}

.large {
  --fds-checkbox-size: 2rem;

  min-width: var(--fds-sizing-12);
}

.large .input {
  left: 0;
  top: 0.25rem;
}
