@layer fds-checkbox {
  .container {
    --fds-checkbox-size: 1.75rem;
    --fds-checkbox-focus-border-width: 3px;
    --fds-checkbox-background: var(--fds-semantic-background-default);
    --fds-checkbox-border-color: var(--fds-semantic-border-input-default);
    --fds-checkbox-border__hover: 0 0 0 6px var(--fds-semantic-surface-info-subtle-hover);

    position: relative;
  }

  .label {
    min-height: var(--fds-sizing-10);
    min-width: min-content;
    display: inline-flex;
    flex-direction: row;
    gap: var(--fds-spacing-1);
    align-items: center;
    cursor: pointer;
  }

  /* Checkbox */
  .label::before {
    content: '';
    width: var(--fds-checkbox-size);
    height: var(--fds-checkbox-size);
    box-shadow: inset 0 0 0 2px var(--fds-checkbox-border-color);
    background: var(--fds-checkbox-background);
    flex-shrink: 0;
    margin-inline: 6px;
    margin-block: 6px;
    border-radius: var(--fds-border_radius-medium);
  }

  .description {
    padding-left: calc(var(--fds-checkbox-size) + 12px + var(--fds-spacing-1));
    margin-top: calc(var(--fds-spacing-2) * -1);
    color: var(--fds-semantic-text-neutral-subtle);
  }

  .input {
    position: absolute;
    width: 2.75rem;
    height: 2.75rem;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    margin: 0;
  }

  .disabled > .input,
  .disabled > .label,
  .disabled > .label::before {
    cursor: not-allowed;
  }

  .disabled > .label,
  .disabled > .label::before,
  .disabled > .description {
    opacity: var(--fds-opacity-disabled);
  }

  .input:focus-visible + .label::before {
    outline: var(--fds-checkbox-focus-border-width) solid var(--fds-semantic-border-focus-outline);
    box-shadow: inset 0 0 0 var(--fds-checkbox-focus-border-width) var(--fds-semantic-border-focus-boxshadow);
  }

  .input:checked + .label::before {
    --fds-checkbox-border-color: var(--fds-semantic-border-input-hover);

    background: var(--fds-checkbox-border-color);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5509 6.32414C18.9414 6.71467 18.9414 7.34783 18.5509 7.73836L10.5821 15.7071C10.1916 16.0976 9.55842 16.0976 9.16789 15.7071L4.94914 11.4884C4.55862 11.0978 4.55862 10.4647 4.94914 10.0741C5.33967 9.68362 5.97283 9.68362 6.36336 10.0741L9.875 13.5858L17.1366 6.32414C17.5272 5.93362 18.1603 5.93362 18.5509 6.32414Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  .input:indeterminate + .label::before {
    --fds-checkbox-border-color: var(--fds-semantic-border-input-hover);

    background-color: var(--fds-checkbox-border-color);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.25 11.25C4.25 10.4216 4.92157 9.75 5.75 9.75H16.75C17.5784 9.75 18.25 10.4216 18.25 11.25C18.25 12.0784 17.5784 12.75 16.75 12.75H5.75C4.92157 12.75 4.25 12.0784 4.25 11.25Z' fill='white' /%3E%3C/svg%3E%0A");
  }

  .readonly > .input + .label::before {
    --fds-checkbox-border-color: var(--fds-semantic-border-neutral-subtle);
    --fds-checkbox-background: var(--fds-semantic-surface-neutral-subtle);
  }

  .input:checked:not(:focus-visible) + .label::before {
    box-shadow: inset 0 0 0 2px var(--fds-checkbox-border-color);
  }

  .readonly > .input,
  .readonly > .label {
    cursor: default;
  }

  .readonly > .input:checked + .label::before {
    background: var(--fds-checkbox-background);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5509 6.32414C18.9414 6.71467 18.9414 7.34783 18.5509 7.73836L10.5821 15.7071C10.1916 16.0976 9.55842 16.0976 9.16789 15.7071L4.94914 11.4884C4.55862 11.0978 4.55862 10.4647 4.94914 10.0741C5.33967 9.68362 5.97283 9.68362 6.36336 10.0741L9.875 13.5858L17.1366 6.32414C17.5272 5.93362 18.1603 5.93362 18.5509 6.32414Z' fill='%2368707c'/%3E%3C/svg%3E%0A");
  }

  .readonly > .input:indeterminate + .label::before {
    background: var(--fds-checkbox-background);
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.25 11.25C4.25 10.4216 4.92157 9.75 5.75 9.75H16.75C17.5784 9.75 18.25 10.4216 18.25 11.25C18.25 12.0784 17.5784 12.75 16.75 12.75H5.75C4.92157 12.75 4.25 12.0784 4.25 11.25Z' fill='%2368707c' /%3E%3C/svg%3E%0A");
  }

  .error > .input:not(:disabled, :focus-visible) + .label::before {
    --fds-checkbox-border-color: var(--fds-semantic-border-danger-default);
  }

  /* Only use hover for non-touch devices to prevent sticky-hovering
    "input:not(:read-only)" does not work so using ".container:not(.readonly) >" instead */
  @media (hover: hover) and (pointer: fine) {
    .container:not(.readonly, .disabled) > .label:hover,
    .container:not(.readonly, .disabled) > .input:hover + .label {
      color: var(--fds-semantic-text-action-hover);
    }

    .container:not(.readonly, .disabled) > .input:hover:not(:checked) + .label::before {
      --fds-checkbox-border-color: var(--fds-semantic-border-input-hover);

      box-shadow: var(--fds-checkbox-border__hover), inset 0 0 0 2px var(--fds-checkbox-border-color);
    }

    .container:not(.readonly, .disabled) > .input:hover:checked + .label::before {
      --fds-checkbox-border-color: var(--fds-semantic-border-input-hover);

      box-shadow: var(--fds-checkbox-border__hover), inset 0 0 0 2px var(--fds-checkbox-border-color);
    }

    .container:not(.readonly, .disabled) > .input:hover:checked:focus-visible + .label::before {
      box-shadow: var(--fds-checkbox-border__hover), inset 0 0 0 var(--fds-checkbox-focus-border-width) var(--fds-semantic-border-focus-boxshadow);
    }
  }

  /** Sizing */

  .small,
  .small .label {
    min-height: var(--fds-sizing-8);
  }

  .medium,
  .medium .label {
    min-height: var(--fds-sizing-10);
  }

  .large,
  .large .label {
    min-height: var(--fds-sizing-12);
  }

  .small {
    --fds-checkbox-size: 1.5rem;

    min-width: var(--fds-sizing-8);
  }

  .small .input {
    left: -0.25rem;
    top: -0.25rem;
  }

  .medium {
    --fds-checkbox-size: 1.75rem;

    min-width: var(--fds-sizing-10);
  }

  .medium .input {
    left: 0;
    top: 0;
  }

  .large {
    --fds-checkbox-size: 2rem;

    min-width: var(--fds-sizing-12);
  }

  .large .input {
    left: 0;
    top: 0.25rem;
  }
}
