.template {
  --click-cursor: pointer;
  --description-color: var(--component-field_description-color-text-default);
  --label-color: var(--component-checkbox-color-text-default);
  --opacity: 1;

  border-radius: var(--input_box-border_radius);
  display: inline-flex;
  flex-direction: row;
  font-size: var(--font_size);
  gap: var(--gap);
  line-height: var(--typography-default-line-height);
  margin: -4px;
  opacity: var(--opacity);
  padding: 4px;
}

.template.xsmall {
  --description-margin_top: var(--component-field_description-space-top-xsmall);
  --font_size: var(--component-checkbox-font_size-xs);
  --gap: var(--component-checkbox-space-gap-xsmall);
}

.template.small {
  --description-margin_top: var(--component-field_description-space-top-small);
  --font_size: var(--component-checkbox-font_size-sm);
  --gap: var(--component-checkbox-space-gap-small);
}

.template.hiddenLabel {
  --gap: 0;
}

.template:not(.disabled):hover {
  --label-color: var(--component-checkbox-color-text-hover);
}

.template.disabled {
  --click-cursor: auto;
  --opacity: var(--opacity-disabled);
}

.clickable {
  cursor: var(--click-cursor);
}

.inputWrapper {
  display: inline-block;
  height: var(--input_box-size);
  position: relative;
}

.input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.visibleBox {
  display: inline-block;
  flex: 0 0 var(--input_box-size);
  height: var(--input_box-size);
  position: relative;
  width: var(--input_box-size);
}

.labelAndDescription {
  display: inline-flex;
  flex-direction: column;
  gap: var(--description-margin_top);

  /* Center-align input box with the first line in the label */
  margin-top: calc((var(--input_box-size) - (var(--typography-default-line-height) * var(--font_size))) / 2);
}

.label {
  color: var(--label-color);
}

.labelAndHelpText {
  display: inline-flex;
  flex-direction: row;
  gap: var(--gap);
  align-items: center;
}

.description {
  color: var(--description-color);
}
