.tokens {
  margin-block-start: var(--ds-size-8);
  display: contents;
  & h2 {
    margin-top: var(--ds-size-10);
    margin-bottom: var(--ds-size-4);
  }
  & h3 {
    margin-top: var(--ds-size-9);
    margin-bottom: var(--ds-size-3);
  }
  & h4,
  & h5,
  & h6 {
    margin-top: var(--ds-size-8);
    margin-bottom: var(--ds-size-3);
  }
}

.tokens > * {
  margin-block-end: var(--ds-size-22);
}
