.content {
  height: 100%;
  padding: var(--fds-spacing-14) 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--fds-spacing-14);
  margin: 0 auto;
}

.imgContainer {
  flex-basis: 290px;
}

.img {
  max-width: 100%;
  display: block;
}

.textContainer {
  flex-basis: 380px;
}

.title {
  font: var(--fds-typography-heading-large);
  margin-bottom: var(--fds-spacing-4);
}

.desc {
  font: var(--fds-typography-paragraph-medium);
}
