.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

.withSpacing {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-2);
}

.description {
  color: var(--fds-semantic-text-neutral-subtle);
  font-weight: 400;
}

.legend {
  display: contents;
}

.readonly .legendContent {
  display: inline-flex;
}

.readonly .padlock {
  height: 1.2em;
  width: 1.2em;
}

.disabled .legend,
.disabled .description {
  color: var(--fds-semantic-border-neutral-subtle);
}

.errorWrapper {
  display: contents;
}
