.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

.spacing > :not(:first-child, :empty) {
  margin-top: var(--fds-spacing-2);
}

.description {
  color: var(--fds-semantic-text-neutral-subtle);
  font-weight: 400;
}

.readonly > .legend {
  display: inline-flex;
}

.readonly > .legend > .icon {
  height: 1.2em;
  width: 1.2em;
}

.disabled > .legend,
.disabled > .description {
  color: var(--fds-semantic-border-neutral-subtle);
}
