.colors {
  display: flex;
  gap: 8px;
  border-radius: 0px;
}

.colorsFeatured {
  /* padding: 0 14px; */
}

.header {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 16px;
  padding-bottom: 16px;
  text-align: center;
  width: 100%;
  position: relative;
}

.featured {
  border-bottom-width: 2px;
  border-color: #0062ba;
  color: #0062ba;
  font-weight: 500;
}

/* .featured:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: #0062ba;
  left: 0;
  bottom: 0;
  margin-bottom: -20px;
}

.featured:after {
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  background-color: #0062ba;
  right: 0;
  bottom: 0;
  margin-bottom: -20px;
} */

.names {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 17px;
  gap: 8px;
}

.names div {
  font-size: 16px;
  width: 100%;
  text-align: center;
}
