.toc {
  border-left: 2px solid #cecece;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-top: 16px;
  position: fixed;
}

.list {
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
}

.link {
  color: inherit;
  display: block;
  margin-top: 12px;
  text-decoration: none;
}

.title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}
