.container {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 96px;
  height: 32px;
  font-size: 16px;
  position: relative;
}

.activeInput input {
  border: 1px solid rgb(0, 110, 255);
  outline: 1px solid #006eff;
  background-color: #eff6ff;
}

.input input {
  border-radius: 4px;
  border: 1px solid var(--ds-color-neutral-border-default);
  padding: 0 8px;
  display: block;
  height: 100%;
  width: 100%;
}

.btn {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 4px;
  right: 20px;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.btn svg {
  transform: scale(1.5);
}

.btn:hover {
  background-color: rgb(196, 209, 255);
}

.arrows {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2px;
  right: 5px;
}

.arrow {
  background-color: transparent;
  height: 14px;
  width: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: none;
}

.arrow:hover {
  background-color: rgb(196, 209, 255);
}

.arrow svg {
  transform: scale(5);
  position: absolute;
  font-size: 3.5px;
}

.inputs {
  display: flex;
  gap: 12px;
}
