.empty {
  padding: var(--fds-spacing-2) var(--fds-spacing-3);
}

.large {
  font: var(--fds-typography-label-large);
  font-family: inherit;
  font-weight: 400;
}

.medium {
  font: var(--fds-typography-label-medium);
  font-family: inherit;
  font-weight: 400;
}

.small {
  font: var(--fds-typography-label-small);
  font-family: inherit;
  font-weight: 400;
}
