.heading {
  --fdsc-typography-font-family: inherit;
  --fdsc-bottom-spacing: var(--fds-spacing-6);

  margin: 0;
  color: var(--fds-semantic-text-neutral-default);
}

.heading.spacing {
  margin-bottom: var(--fdsc-bottom-spacing);
}

.heading.xlarge {
  --fdsc-bottom-spacing: var(--fds-spacing-6);

  font: var(--fds-typography-heading-xlarge);
  font-family: var(--fdsc-typography-font-family);
}

.heading.large {
  --fdsc-bottom-spacing: var(--fds-spacing-5);

  font: var(--fds-typography-heading-large);
  font-family: var(--fdsc-typography-font-family);
}

.heading.medium {
  --fdsc-bottom-spacing: var(--fds-spacing-4);

  font: var(--fds-typography-heading-medium);
  font-family: var(--fdsc-typography-font-family);
}

.heading.small {
  --fdsc-bottom-spacing: var(--fds-spacing-3);

  font: var(--fds-typography-heading-small);
  font-family: var(--fdsc-typography-font-family);
}

.heading.xsmall {
  --fdsc-bottom-spacing: var(--fds-spacing-2);

  font: var(--fds-typography-heading-xsmall);
  font-family: var(--fdsc-typography-font-family);
}

.heading.xxsmall {
  --fdsc-bottom-spacing: var(--fds-spacing-1);

  font: var(--fds-typography-heading-xxsmall);
  font-family: var(--fdsc-typography-font-family);
}
