.page {
  position: relative;
}

.header {
  background-color: rgb(226, 226, 226);
  padding: 40px;
  height: 166px;
  display: flex;
  align-items: center;
}

.content {
  padding: 40px;
  width: 1420px;
  min-height: 100vh;
  overflow-x: auto;
}
.panel {
  background-color: white;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: 8px;
  margin-top: 24px;
}
