.page {
  position: relative;
  background-color: var(--ds-color-neutral-background-tinted);
}

.content {
  padding-top: 0;
  padding-right: 0;
  width: calc(100% - 470px);
  margin-bottom: 40px;
  flex-grow: 500;

  @media screen and (max-width: 1500px) {
    padding: var(--ds-size-2);
  }
}

.sideBarContainer {
  flex-grow: 1;
  width: 450px;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  padding-left: 32px;
  padding-right: 32px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.panelToggleGroup {
  display: flex;
  gap: 12px;
}

.panelToggleBtn {
  border-radius: 4px;
  padding: 12px 14px;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  cursor: pointer;
  font-size: 16px;
  background-color: var(--ds-color-neutral-background-default);
  display: flex;
  align-items: center;
}

.active,
.panelToggleBtn:hover {
  border-color: var(--ds-color-neutral-border-default);
  outline: 1px solid var(--ds-color-neutral-border-default);
}

.top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 32px;
}

.group {
  display: flex;
  gap: 16px;
  width: 300px;
  align-items: center;
}

.label {
  font-size: 16px;
  font-weight: 500;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -8px;
  align-items: flex-end;
  max-width: 1390px;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ds-color-neutral-surface-default);
  margin-bottom: 28px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--ds-shadow-xs);
}

.tabs {
  display: flex;
  flex-direction: row;
  gap: 16px;

  & button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    text-transform: capitalize;
    padding: var(--ds-size-3) var(--ds-size-5);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--ds-color-neutral-border-subtle);
    transition: 0.1s all;

    &:not([data-active='true']) {
      color: var(--ds-color-neutral-text-subtle);
    }

    &[data-active='true'],
    &:hover {
      border: 1px solid var(--ds-color-brand3-border-default);
      color: var(--ds-color-brand3-text-default);
      outline: 1px solid var(--ds-color-brand3-border-default);
    }
  }
}

/* .tabs button.tab-1 {
  background-color: var(--ds-color-brand2-surface-tinted);
  border: 1px solid var(--ds-color-brand2-border-subtle);
}

.tabs button.tab-2 {
  background-color: var(--ds-color-brand1-surface-tinted);
  border: 1px solid var(--ds-color-brand1-border-subtle);
}

.tabs button.tab-2 .icon {
  background-color: var(--ds-color-brand2-surface-active);
} */

.icon {
  background-color: var(--ds-color-brand3-surface-hover);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs button:not([data-active='true']) .icon {
  background-color: var(--ds-color-neutral-surface-tinted);
}

@media screen and (max-width: 1500px) {
  .content {
    width: 100%;
  }
}
