.page {
  position: relative;
}

.header {
  background-color: rgb(226, 226, 226);
  padding: 40px;
  height: 200px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.content {
  padding: 40px;
  width: calc(100% - 550px);
  min-height: 100vh;
  margin-bottom: 40px;
  flex-grow: 500;
}

.colorsContainer {
  overflow: auto;
}

.sideBarContainer {
  width: 450px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.panel {
  background-color: var(--ds-color-neutral-background-default);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: 8px;
  margin-top: 40px;
  width: 100%;
  max-width: 1345px;
}

.backLink {
  color: var(--ds-color-accent-text-default);
  margin-left: -4px;
  display: inline-flex;
  width: auto;
}
