.spinner {
  animation: rotate-animation 2s linear infinite;
}

.spinnerCircle {
  /* r(20) * 2 * pi = 126 */
  stroke-dasharray: 126;
  transform-origin: center;
  animation: stroke-animation 2s ease-in-out infinite;
}

/* Prefers reduced motion needs longer animation, 
  but don't remove it since it is not decorative.
 */
@media (prefers-reduced-motion: reduce) {
  .spinner {
    animation: rotate-animation 6s linear infinite;
  }

  .spinnerCircle {
    animation: stroke-animation 5s ease-in-out infinite;
  }
}

.default {
  stroke: var(--colors-grey-500);
}

.interaction {
  stroke: var(--fds-semantic-border-action-first-default);
}

.inverted {
  stroke: var(--colors-white);
}

.background {
  stroke: var(--colors-grey-200);
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 124;
    transform: rotate(0deg);
    animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  }

  50% {
    stroke-dashoffset: 18;
    transform: rotate(54deg);
    animation-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
  }

  60% {
    stroke-dashoffset: 30;
    transform: rotate(89deg);
  }

  100% {
    stroke-dashoffset: 124;
    transform: rotate(360deg);
  }
}
