.spinner {
  animation: rotate-animation 1.5s linear infinite;
}

.spinnerCircle {
  animation: stroke-animation 1.5s linear infinite;
}

/* Prefers reduced motion needs longer animation, 
  but don't remove it since it is not decorative.
 */
@media (prefers-reduced-motion: reduce) {
  .spinner {
    animation: rotate-animation 6s linear infinite;
  }

  .spinnerCircle {
    animation: stroke-animation 5s ease-in-out infinite;
  }
}

.default {
  stroke: var(--colors-grey-500);
}

.interaction {
  stroke: var(--fds-semantic-border-action-first-default);
}

.inverted {
  stroke: var(--colors-white);
}

.background {
  stroke: var(--colors-grey-200);
}

@keyframes rotate-animation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}
