.spinner {
  animation: rotate-animation 2s linear infinite;
}

.spinnerCircle {
  animation: stroke-animation 1.5s ease-in-out infinite;
}

.defaultForeground {
  stroke: var(--colors-grey-500);
}

.interactionForeground {
  stroke: var(--fds-semantic-border-action-first-default);
}

.invertedForeground {
  stroke: var(--colors-white);
}

.defaultBackground,
.interactionBackground,
.invertedBackground {
  stroke: var(--colors-grey-200);
}

@keyframes rotate-animation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -62;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
