.box {
  position: relative;
  z-index: 2;
  max-width: 700px;
  padding: 82px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  margin-bottom: var(--spacing-3);
  font-size: var(--font-800);
}

.desc {
  font-size: var(--font-300);
  line-height: 1.6em;
  margin-bottom: 0;
}

.content {
  margin-bottom: 56px;
}

.content > div > h2 {
  margin-top: 48px;
  margin-bottom: 16px;
  font-size: 28px;
}

.content > div > p > a {
  text-underline-offset: 5px;
  color: #0062ba;
}

.content > div > p {
  margin-bottom: 16px;
  max-width: 900px;
  line-height: 1.7em;
  font-size: 18px;
}

.element {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 550px;
  width: 550px;
  border: 8px solid #f45f63;
  border-top-color: #68707c;
  border-left-color: #e5aa20;
  border-bottom-color: #1e98f5;
  border-radius: 10px;
  opacity: 0.09;
  z-index: 1;
  animation: rotate 150s linear infinite;
  pointer-events: none;
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
