.footer {
  --bg: light-dark(var(--ds-color-neutral-base-default), var(--ds-color-neutral-background-tinted));
  --text: light-dark(var(--ds-color-neutral-base-contrast-default), var(--ds-color-neutral-text-default));
  --text-muted: light-dark(var(--ds-color-neutral-base-contrast-subtle), var(--ds-color-neutral-text-subtle));
  background-color: var(--bg);
  display: flex;
  align-items: center;
  padding-block: 64px;
  color: var(--text-muted);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr)); */
  column-gap: var(--ds-size-8);
  row-gap: var(--ds-size-8);
  max-width: calc(var(--max-content-width) + (var(--content-inline-padding) * 2));
  width: 100%;
  padding-inline: var(--content-inline-padding);
  margin: 0 auto;
}

.logo {
  margin-bottom: var(--ds-size-3);
  & g {
    fill: var(--text);
  }
}

.title {
  margin-bottom: var(--ds-size-4);
  color: var(--text);
}

.description {
  margin-bottom: var(--ds-size-4);
  max-width: 370px;
}

.links {
  margin: 0;
  padding: 0;
}

.links li {
  list-style: none;
  margin-bottom: var(--ds-size-5);
}

.links li:last-child {
  margin-bottom: 0;
}

.link {
  --dsc-link-color--visited: var(--text-muted);
  --dsc-link-color--active: var(--text);
  --dsc-link-background--active: transparent;
  --dsc-link-color--hover: var(--text);
  --dsc-link-color: var(--text-muted);

  & svg {
    max-width: 24px;
    margin-right: 8px;

    & * {
      fill: var(--dsc-link-color);
    }
  }

  &:hover {
    & svg * {
      fill: var(--dsc-link-color--hover);
    }
  }

  &:active {
    & svg * {
      fill: var(--dsc-link-color--active);
    }
  }
}
