.footer {
  background-color: var(--ds-color-neutral-base-default);
  display: flex;
  align-items: center;
  padding-block: 64px;
  color: var(--ds-color-neutral-base-contrast-subtle);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr)); */
  column-gap: var(--ds-size-8);
  row-gap: var(--ds-size-8);
  max-width: calc(var(--max-content-width) + (var(--content-inline-padding) * 2));
  width: 100%;
  padding-inline: var(--content-inline-padding);
  margin: 0 auto;
}

.logo {
  margin-bottom: var(--ds-size-3);
  & g {
    fill: var(--ds-color-neutral-base-contrast-default);
  }
}

.title {
  margin-bottom: var(--ds-size-4);
  color: var(--ds-color-neutral-base-contrast-default);
}

.description {
  margin-bottom: var(--ds-size-4);
  max-width: 370px;
}

.logos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--ds-size-8);
  margin-top: var(--ds-size-8);

  & svg {
    & * {
      fill: var(--ds-color-neutral-text-default);
    }
  }
}

.links {
  margin: 0;
  padding: 0;
}

.links li {
  list-style: none;
  margin-bottom: var(--ds-size-5);
}

.links li:last-child {
  margin-bottom: 0;
}

.link {
  --dsc-link-color--visited: var(--ds-color-neutral-base-contrast-subtle);
  --dsc-link-color--active: var(--ds-color-neutral-base-contrast-default);
  --dsc-link-color--hover: var(--ds-color-neutral-base-contrast-default);
  --dsc-link-color: var(--ds-color-neutral-base-contrast-subtle);

  & svg {
    max-width: 24px;
    margin-right: 8px;

    & * {
      fill: var(--dsc-link-color);
    }
  }

  &:hover {
    & svg * {
      fill: var(--dsc-link-color--hover);
    }
  }

  &:active {
    & svg * {
      fill: var(--dsc-link-color--active);
    }
  }
}
