@use "@digdir/ds-tokens/build/tokens.scss" as tokens;

.ddsdocs-cdn-snippet {
  appearance: none;
  width: 100%;
  margin-bottom: tokens.$spacing-base-5;
  box-sizing: border-box;
  transition: all tokens.$duration-normal;
  padding: 0;
  border: 1px solid tokens.$color-neutral-grey-200;
  border-radius: 8px;

  pre {
    border-radius: 10px !important;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 0 tokens.$border-width-default tokens.$color-brand-third-800;
  }
}
