.link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  outline: none;
}

.link:focus {
  position: relative;
  height: auto;
  width: auto;
  padding: 10px 0;
  background-color: var(--fds-semantic-text-action-default);
  color: white;
  padding-left: 24px;
  border: none;
  text-decoration: none;
}

.link:focus span {
  text-decoration: underline;
  text-underline-offset: 3px;
}
