.body {
  --fdsc-body-long-medium: var(--fds-typography-heading-medium);
  --fdsc-body-long-small: var(--fds-typography-heading-small);
  --fdsc-body-long-spacing-medium: var(--fds-spacing-medium);
  --fdsc-body-long-spacing-small: var(--fds-spacing-small);

  margin: 0;
}

.body.medium {
  font-size: var(--fdsc-body-long-medium);
}

.body.medium.spacing {
  margin-bottom: var(--fdsc-body-long-spacing-medium);
}

.body.small {
  font-size: var(--fdsc-body-long-small);
}

.body.small.spacing {
  margin-bottom: var(--fdsc-body-long-spacing-small);
}
