.box {
  align-items: center;
  background-color: #f4f5f6;
  border: 1px solid #e9eaec;
  border-radius: 8px;
  color: inherit;
  display: flex;
  flex-direction: column;
  padding: 29px;
  text-align: center;
  text-decoration: none;
  transition: 0.15s all;
}

.box:hover {
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.25);
  transform: translateY(-8px);
}

.name {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 18px;
}

.desc {
  font-size: 16px;
  line-height: 1.55em;
}

.iconContainer {
  align-items: center;
  background-color: #a5d6fb;
  border-radius: 50%;
  display: flex;
  height: 56px;
  justify-content: center;
  width: 56px;
}

.iconContainer--red {
  background-color: #fbbfc1;
}

.iconContainer--yellow {
  background-color: #f5dda6;
}
