.title {
  font-weight: 600;
  margin-bottom: var(--ds-size-5);
}

.list {
  margin: 0;
  padding: 0;
}

.listGroup {
  margin-bottom: var(--ds-size-5);
  list-style: none;
}

.innerList {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
}

.innerTitle {
  font-weight: var(--ds-font-weight-semibold);
  margin-bottom: var(--ds-size-2);
  padding: 0 var(--ds-size-4);
  font-size: var(--ds-body-long-sm-font-size);
  color: var(--ds-color-neutral-text-subtle);
}

.listItem {
  list-style: none;
  padding: 0;
}

.link {
  --dsc-link-background--active: var(--ds-color-neutral-surface-tinted);
  color: inherit;
  text-decoration: none;
  padding: var(--ds-size-1) var(--ds-size-4);
  display: block;
  line-height: 1.3em;
  position: relative;
  border-radius: var(--ds-border-radius-md);
  text-wrap: balance;
  &:focus-visible {
    outline-offset: calc(-1 * var(--ds-border-width-focus));
  }

  &[aria-current='page']::before {
    content: '';
    width: 4px;
    background-color: var(--ds-color-neutral-border-strong);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-bottom-left-radius: var(--ds-border-radius-sm);
    border-top-left-radius: var(--ds-border-radius-sm);
  }

  &[aria-current='page'] {
    border-left-color: var(--ds-color-neutral-border-strong);
    color: inherit;
    font-weight: 500;
    background-color: var(--ds-color-neutral-background-tinted);
  }

  &[aria-current='page']:hover {
    border-left-color: var(--ds-color-accent-base-default);
  }
}

.toggleBtn {
  display: none;
}

.menu {
  /*popover resets*/
  display: block;
  position: static;
  background-color: var(--ds-color-neutral-background-default);
  border: none;
  margin: 0;
  padding: 0;
  overflow: unset;
  height: auto;
  inset: unset;
  width: auto;
  margin-bottom: var(--header-height);
}

.closeButton {
  display: none;
}

@media (max-width: 958px) {
  .menu {
    display: none;
    padding-top: var(--ds-size-7);
    height: calc(100vh - var(--header-height));
    /* biome-ignore lint/suspicious/noDuplicateProperties: fallback */
    height: calc(100dvh - var(--header-height));
    overflow-y: auto;
    position: fixed;
    width: var(--sidebar-left-width);
    left: 0;
    top: var(--header-height);
    overscroll-behavior: contain;
    border-right: 1px solid var(--ds-color-neutral-border-subtle);
    &:popover-open {
      display: block;
    }
    &::backdrop {
      /*background-color: rgb(0 0 0 / 0.5);*/
      background: linear-gradient(to bottom, transparent var(--header-height), rgb(0 0 0 / 0.5) var(--header-height), rgb(0 0 0 / 0.5) 100%);
    }
  }
  .closeButton {
    display: flex;
    position: fixed;
    left: calc(var(--sidebar-left-width) + 1rem);
    background-color: var(--ds-color-neutral-background-default);
  }

  .toggleBtn {
    display: flex;
    margin-bottom: var(--ds-size-2);
    width: fit-content;
    margin-left: var(--ds-size-4);
    background-color: var(--ds-color-neutral-background-default);
  }
}
