# Built files
dist
ignore
tsc-build

# Yarn stuff; we're not using PnP/Zero installs
.pnp.*
yarn-error.log

# Really don't want that
node_modules
.svelte-kit

# Local env variables should stay local
.env

coverage/
.eslintcache

# Visual Studio code coverage results
*.coverage
*.coveragexml

# JetBrains IntelliJ IDEA
.idea

# Hidden macOS files
.DS_Store

# Vercel connfig files
.vercel/
packages/svelte/.vscode/settings.json
packages/svelte/.vscode/launch.json
