.ds-accordion {
  --dsc-accordion-border-radius: min(1rem, var(--ds-border-radius-md));
  --dsc-accordion-border-color: var(--ds-color-neutral-border-subtle);
  --dsc-accordion-background: var(--ds-color-neutral-background-default);
  --dsc-accordion-button-background: var(--ds-color-neutral-background-default);
  --dsc-accordion-button-background-open: var(--ds-color-neutral-background-subtle);
  --dsc-accordion-icon-background-hover: var(--ds-color-neutral-surface-default);
  --dsc-accordion-icon-background-active: var(--ds-color-neutral-surface-default);

  border-bottom: 1px solid var(--dsc-accordion-border-color);
  box-sizing: border-box;
  background-color: var(--dsc-accordion-background);
}

.ds-accordion--border {
  border: 1px solid var(--dsc-accordion-border-color);
  border-radius: var(--dsc-accordion-border-radius);
}

.ds-accordion__expand-icon {
  border-radius: var(--ds-border-radius-md);
  color: var(--ds-color-neutral-text-default);
}

.ds-accordion__content {
  padding-top: var(--ds-spacing-5, 1rem);
  padding-bottom: var(--ds-spacing-5, 1rem);
  padding-left: var(--ds-spacing-5, 1rem);
  padding-right: var(--ds-spacing-5, 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: height, padding-top, padding-bottom;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}

.ds-accordion__content--closed {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
}

.ds-accordion__header {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--ds-spacing-2);
  text-align: left;
  border: none;
  border-top: 1px solid var(--dsc-accordion-border-color);
  background-color: var(--dsc-accordion-button-background);
}

.ds-accordion__button {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--ds-spacing-2);
  margin: 0;
  padding: var(--ds-spacing-4);
  background-color: transparent;
  border: none;
  font-family: inherit;
}

.ds-accordion__item--open .ds-accordion__header {
  background-color: var(--dsc-accordion-button-background-open);
}

.ds-accordion__item:focus-within {
  position: relative;
}

.ds-accordion__item:where(.ds-accordion__item--open) .ds-accordion__expand-icon {
  transform: rotateZ(180deg);
}

.ds-accordion__item:not(:first-child) .ds-accordion__header {
  border-top: 1px solid var(--dsc-accordion-border-color);
}

.ds-accordion--border .ds-accordion__item:first-child .ds-accordion__header {
  border-top: 0;
}

.ds-accordion--border .ds-accordion__item:first-of-type .ds-accordion__header:first-of-type {
  border-top-left-radius: var(--dsc-accordion-border-radius);
  border-top-right-radius: var(--dsc-accordion-border-radius);
}

.ds-accordion--border .ds-accordion__item:last-of-type:not(.ds-accordion__item--open) .ds-accordion__header:first-of-type {
  border-bottom-left-radius: var(--dsc-accordion-border-radius);
  border-bottom-right-radius: var(--dsc-accordion-border-radius);
}

@media (hover: hover) and (pointer: fine) {
  .ds-accordion__header:hover .ds-accordion__expand-icon {
    background-color: var(--dsc-accordion-icon-background-hover);
  }

  .ds-accordion__item--open .ds-accordion__header:hover .ds-accordion__expand-icon {
    background-color: var(--dsc-accordion-icon-background-active);
  }
}

.ds-accordion--neutral {
  --dsc-accordion-background: var(--ds-color-neutral-background-default);
  --dsc-accordion-button-background: var(--ds-color-neutral-background-default);
  --dsc-accordion-button-background-open: var(--ds-color-neutral-background-subtle);
  --dsc-accordion-icon-background-hover: var(--ds-color-neutral-surface-default);
}

.ds-accordion--subtle {
  --dsc-accordion-background: var(--ds-color-neutral-background-subtle);
  --dsc-accordion-border-color: var(--ds-color-neutral-border-default);
  --dsc-accordion-button-background: var(--ds-color-neutral-background-subtle);
  --dsc-accordion-button-background-open: var(--ds-color-neutral-surface-default);
  --dsc-accordion-icon-background-hover: var(--ds-color-neutral-surface-default);
  --dsc-accordion-icon-background-active: var(--ds-color-neutral-surface-active);
}

.ds-accordion--brand1 {
  --dsc-accordion-background: var(--ds-color-brand1-background-subtle);
  --dsc-accordion-border-color: var(--ds-color-brand1-border-subtle);
  --dsc-accordion-button-background: var(--ds-color-brand1-surface-default);
  --dsc-accordion-button-background-open: var(--ds-color-brand1-surface-hover);
  --dsc-accordion-icon-background-hover: var(--ds-color-brand1-surface-active);
  --dsc-accordion-icon-background-active: var(--ds-color-brand1-surface-active);
}

.ds-accordion--brand2 {
  --dsc-accordion-background: var(--ds-color-brand2-background-subtle);
  --dsc-accordion-border-color: var(--ds-color-brand2-border-subtle);
  --dsc-accordion-button-background: var(--ds-color-brand2-surface-default);
  --dsc-accordion-button-background-open: var(--ds-color-brand2-surface-hover);
  --dsc-accordion-icon-background-hover: var(--ds-color-brand2-surface-active);
  --dsc-accordion-icon-background-active: var(--ds-color-brand2-surface-active);
}

.ds-accordion--brand3 {
  --dsc-accordion-background: var(--ds-color-brand3-background-subtle);
  --dsc-accordion-border-color: var(--ds-color-brand3-border-subtle);
  --dsc-accordion-button-background: var(--ds-color-brand3-surface-default);
  --dsc-accordion-button-background-open: var(--ds-color-brand3-surface-hover);
  --dsc-accordion-icon-background-hover: var(--ds-color-brand3-surface-active);
  --dsc-accordion-icon-background-active: var(--ds-color-brand3-surface-active);
}
