.fds-alert-alert {
  --fdsc-alert-border: var(--fds-semantic-border-info-default);
  --fdsc-alert-icon-color: var(--fdsc-alert-border);
  --fdsc-alert-background: var(--fds-semantic-surface-info-subtle);
  --fdsc-alert-color: var(--fds-semantic-text-neutral-default);
  --fdsc-alert-box-shadow-left: 8px 0 0 0 var(--fdsc-alert-border) inset;

  box-shadow: var(--fdsc-alert-box-shadow-left);
  background: var(--fdsc-alert-background);
  color: var(--fdsc-alert-color);
  padding: var(--fds-spacing-4);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content auto;
  gap: var(--fds-spacing-2);
}

.fds-alert-icon {
  --icon-size: calc((4 * 6 / 16) * var(--fds-font-size-f0)); /** Fluid sizing-6 */

  height: var(--icon-size);
  width: var(--icon-size);
  color: var(--fdsc-alert-icon-color);
}

.fds-alert-content {
  display: flex;
  flex-direction: column;
}

.fds-alert-info {
  --fdsc-alert-border: var(--fds-semantic-border-info-default);
  --fdsc-alert-background: var(--fds-semantic-surface-info-subtle);
}

.fds-alert-warning {
  --fdsc-alert-border: var(--fds-semantic-border-warning-default);
  --fdsc-alert-background: var(--fds-semantic-surface-warning-subtle);
}

.fds-alert-success {
  --fdsc-alert-border: var(--fds-semantic-border-success-default);
  --fdsc-alert-background: var(--fds-semantic-surface-success-subtle);
}

.fds-alert-danger {
  --fdsc-alert-border: var(--fds-semantic-border-danger-default);
  --fdsc-alert-background: var(--fds-semantic-surface-danger-subtle);
}

.fds-alert-elevated {
  box-shadow: var(--fdsc-alert-box-shadow-left), var(--fds-shadow-small);
}
