@layer ds.alert {
  .fds-alert {
    --dsc-alert-border-color: var(--ds-color-info-border-strong);
    --dsc-alert-border-radius: var(--ds-border-radius-md);
    --dsc-alert-color: var(--ds-color-neutral-text-default);
    --dsc-alert-icon-color: var(--dsc-alert-border-color);
    --dsc-alert-icon-size: var(--ds-sizing-7);
    --dsc-alert-background: var(--ds-color-info-surface-default);
    --dsc-alert-padding: var(--ds-spacing-6);

    border: 1px solid var(--dsc-alert-border-color);
    border-radius: var(--dsc-alert-border-radius);
    background: var(--dsc-alert-background);
    color: var(--dsc-alert-color);
    padding: var(--dsc-alert-padding);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content auto;
    gap: var(--ds-spacing-2);
    font: var(--ds-typography-paragraph-md);
  }

  .fds-alert__icon {
    height: var(--dsc-alert-icon-size);
    width: var(--dsc-alert-icon-size);
    color: var(--dsc-alert-icon-color);
  }

  .fds-alert__content {
    display: flex;
    flex-direction: column;
  }

  .fds-alert--info {
    --dsc-alert-border-color: var(--ds-color-info-border-strong);
    --dsc-alert-icon-color: var(--ds-color-info-base-default);
    --dsc-alert-background: var(--ds-color-info-surface-default);
  }

  .fds-alert--warning {
    --dsc-alert-border-color: var(--ds-color-warning-border-default);
    --dsc-alert-icon-color: var(--ds-color-warning-base-default);
    --dsc-alert-background: var(--ds-color-warning-surface-default);
  }

  .fds-alert--success {
    --dsc-alert-border-color: var(--ds-color-success-border-default);
    --dsc-alert-icon-color: var(--ds-color-success-base-default);
    --dsc-alert-background: var(--ds-color-success-surface-default);
  }

  .fds-alert--danger {
    --dsc-alert-border-color: var(--ds-color-danger-border-default);
    --dsc-alert-icon-color: var(--ds-color-danger-base-default);
    --dsc-alert-background: var(--ds-color-danger-surface-default);
  }

  .fds-alert--sm {
    --dsc-alert-padding: var(--ds-spacing-5);
    --dsc-alert-icon-size: var(--ds-sizing-6);
  }

  .fds-alert--md {
    --dsc-alert-padding: var(--ds-spacing-6);
    --dsc-alert-icon-size: var(--ds-sizing-7);
  }

  .fds-alert--lg {
    --dsc-alert-padding: var(--ds-spacing-7);
    --dsc-alert-icon-size: var(--ds-sizing-8);
  }

  .fds-alert--elevated {
    box-shadow: var(--ds-shadow-sm);
  }
}
