.ds-avatar {
  --ds-avatar-background: var(--ds-color-accent-base-default);
  --ds-avatar-color: var(--ds-color-accent-contrast-default);
  --ds-avatar-size: var(--ds-spacing-12);
  --ds-avatar-padding: var(--ds-spacing-2);
  --ds-avatar-font-size: var(--ds-typography-heading-sm);
  --ds-avatar-border-radius: 50%;

  background-color: var(--ds-avatar-background);
  height: var(--ds-avatar-size);
  aspect-ratio: 1 / 1;
  color: var(--ds-avatar-color);
  font: var(--ds-avatar-font-size);
  border-radius: var(--ds-avatar-border-radius);
  overflow: hidden;
  display: inline-grid;
  place-items: center;
  user-select: none;
  text-transform: uppercase;

  &:has(> svg) {
    padding: var(--ds-avatar-padding);
  }

  & svg {
    width: 100%;
    height: 100%;
  }
}

.ds-avatar--circle {
  --ds-avatar-border-radius: 50%;
}

.ds-avatar--square {
  --ds-avatar-border-radius: var(--ds-border-radius-sm);
}

.ds-avatar--accent-strong {
  --ds-avatar-background: var(--ds-color-accent-base-default);
  --ds-avatar-color: var(--ds-color-accent-contrast-default);
}

.ds-avatar--accent-subtle {
  --ds-avatar-background: var(--ds-color-accent-surface-default);
  --ds-avatar-color: var(--ds-color-accent-text-default);
}

.ds-avatar--neutral-strong {
  --ds-avatar-background: var(--ds-color-neutral-base-default);
  --ds-avatar-color: var(--ds-color-neutral-contrast-default);
}

.ds-avatar--neutral-subtle {
  --ds-avatar-background: var(--ds-color-neutral-surface-default);
  --ds-avatar-color: var(--ds-color-neutral-text-default);
}

.ds-avatar--brand1-strong {
  --ds-avatar-background: var(--ds-color-brand1-base-default);
  --ds-avatar-color: var(--ds-color-brand1-contrast-default);
}

.ds-avatar--brand1-subtle {
  --ds-avatar-background: var(--ds-color-brand1-surface-default);
  --ds-avatar-color: var(--ds-color-brand1-text-default);
}

.ds-avatar--brand2-strong {
  --ds-avatar-background: var(--ds-color-brand2-base-default);
  --ds-avatar-color: var(--ds-color-brand2-contrast-default);
}

.ds-avatar--brand2-subtle {
  --ds-avatar-background: var(--ds-color-brand2-surface-default);
  --ds-avatar-color: var(--ds-color-brand2-text-default);
}

.ds-avatar--brand3-strong {
  --ds-avatar-background: var(--ds-color-brand3-base-default);
  --ds-avatar-color: var(--ds-color-brand3-contrast-default);
}

.ds-avatar--brand3-subtle {
  --ds-avatar-background: var(--ds-color-brand3-surface-default);
  --ds-avatar-color: var(--ds-color-brand3-text-default);
}

.ds-avatar--xs {
  --ds-avatar-size: var(--ds-spacing-6);
  --ds-avatar-padding: var(--ds-spacing-1);
  --ds-avatar-font-size: var(--ds-typography-paragraph-xs);
}

.ds-avatar--sm {
  --ds-avatar-size: var(--ds-spacing-9);
  --ds-avatar-padding: var(--ds-spacing-2);
  --ds-avatar-font-size: var(--ds-typography-heading-xs);
}

.ds-avatar--md {
  --ds-avatar-size: var(--ds-spacing-12);
  --ds-avatar-padding: var(--ds-spacing-2);
  --ds-avatar-font-size: var(--ds-typography-heading-sm);
}

.ds-avatar--lg {
  --ds-avatar-size: var(--ds-spacing-15);
  --ds-avatar-padding: var(--ds-spacing-2);
  --ds-avatar-font-size: var(--ds-typography-heading-md);
}
