@layer fds.btn {
  .fds-btn {
    --dsc-btn-padding: var(--ds-spacing-2) var(--ds-spacing-4);

    display: flex;
    align-items: center;
    border: var(--ds-border-width-default) solid transparent;
    background-color: var(--ds-color-accent-base-default);
    color: var(--ds-color-accent-contrast-default);
    min-width: 2.5em;
    padding: var(--dsc-btn-padding);
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    position: relative;
    border-radius: var(--ds-border-radius-md);
    min-height: var(--ds-sizing-10);
  }

  .fds-btn svg {
    overflow: visible;
  }

  .fds-btn:disabled,
  .fds-btn[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: var(--ds-opacity-disabled);
  }

  .fds-btn--sm {
    --dsc-btn-padding: var(--ds-spacing-2) var(--ds-spacing-3);

    gap: var(--ds-sizing-1);
    font: var(--ds-typography-paragraph-short-sm);
    font-family: inherit;
    min-height: var(--ds-sizing-10);
  }

  .fds-btn--sm::before {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-height: auto;
    content: '';
  }

  .fds-btn--sm::after {
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 44px;
    content: '';
  }

  .fds-btn--md {
    --dsc-btn-padding: var(--ds-spacing-2) var(--ds-spacing-4);

    gap: var(--ds-sizing-2);
    font: var(--ds-typography-paragraph-short-md);
    font-family: inherit;
    min-height: var(--ds-sizing-12);
  }

  .fds-btn--lg {
    --dsc-btn-padding: var(--ds-spacing-3) var(--ds-spacing-5);

    gap: var(--ds-sizing-2);
    font: var(--ds-typography-paragraph-short-lg);
    font-family: inherit;
    min-height: var(--ds-sizing-14);
  }

  .fds-btn--full-width {
    width: 100%;
  }

  .fds-btn--secondary,
  .fds-btn--tertiary {
    background-color: transparent;
  }

  .fds-btn--icon-only {
    --dsc-btn-padding: 0;
  }

  /* Primary button colors */
  .fds-btn--primary:where(.fds-btn--accent) {
    background-color: var(--ds-color-accent-base-default);
  }

  .fds-btn--primary:where(.fds-btn--neutral) {
    background-color: var(--ds-color-neutral-base-default);
  }

  .fds-btn--primary:where(.fds-btn--success) {
    background-color: var(--ds-color-success-base-default);
  }

  .fds-btn--primary:where(.fds-btn--danger) {
    background-color: var(--ds-color-danger-base-default);
  }

  /* Only use hover for non-touch devices to prevent sticky-hovering */
  @media (hover: hover) and (pointer: fine) {
    .fds-btn--primary:where(.fds-btn--accent):not([aria-disabled='true'], :disabled):hover {
      background-color: var(--ds-color-accent-base-hover);
    }

    .fds-btn--primary:where(.fds-btn--neutral):not([aria-disabled='true'], :disabled):hover {
      background-color: var(--ds-color-neutral-base-hover);
    }

    .fds-btn--primary:where(.fds-btn--success):not([aria-disabled='true'], :disabled):hover {
      background-color: var(--ds-color-success-base-hover);
    }

    .fds-btn--primary:where(.fds-btn--danger):not([aria-disabled='true'], :disabled):hover {
      background-color: var(--ds-color-danger-base-hover);
    }

    .fds-btn--secondary:where(.fds-btn--accent):not([aria-disabled='true'], :disabled):hover {
      color: var(--ds-color-accent-text-hover);
      border-color: var(--ds-color-accent-border-strong);
      background-color: var(--ds-color-accent-surface-default);
    }

    .fds-btn--secondary:where(.fds-btn--neutral):not([aria-disabled='true'], :disabled):hover {
      color: var(--ds-color-neutral-text-hover);
      border-color: var(--ds-color-neutral-border-strong);
      background-color: var(--ds-color-neutral-surface-default);
    }

    .fds-btn--secondary:where(.fds-btn--success):not([aria-disabled='true'], :disabled):hover {
      color: var(--ds-color-success-text-default);
      border-color: var(--ds-color-success-border-strong);
      background-color: var(--ds-color-success-surface-default);
    }

    .fds-btn--secondary:where(.fds-btn--danger):not([aria-disabled='true'], :disabled):hover {
      color: var(--ds-color-danger-text-default);
      border-color: var(--ds-color-danger-border-strong);
      background-color: var(--ds-color-danger-surface-default);
    }

    .fds-btn--tertiary:where(.fds-btn--accent):not([aria-disabled='true'], :disabled):hover {
      color: var(--ds-color-accent-text-default);
      background-color: var(--ds-color-accent-surface-default);
    }

    .fds-btn--tertiary:where(.fds-btn--neutral):not([aria-disabled='true'], :disabled):hover {
      color: var(--ds-color-neutral-base-hover);
      background-color: var(--ds-color-neutral-surface-default);
    }

    .fds-btn--tertiary:where(.fds-btn--success):not([aria-disabled='true'], :disabled):hover {
      color: var(--ds-color-success-base-default);
      background-color: var(--ds-color-success-surface-default);
    }

    .fds-btn--tertiary:where(.fds-btn--danger):not([aria-disabled='true'], :disabled):hover {
      color: var(--ds-color-danger-text-default);
      background-color: var(--ds-color-danger-surface-default);
    }
  }

  .fds-btn--primary:where(.fds-btn--accent):not([aria-disabled='true'], :disabled):active {
    background-color: var(--ds-color-accent-base-active);
  }

  .fds-btn--primary:where(.fds-btn--neutral):not([aria-disabled='true'], :disabled):active {
    background-color: var(--ds-color-neutral-base-active);
  }

  .fds-btn--primary:where(.fds-btn--success):not([aria-disabled='true'], :disabled):active {
    background-color: var(--ds-color-success-base-active);
  }

  .fds-btn--primary:where(.fds-btn--danger):not([aria-disabled='true'], :disabled):active {
    background-color: var(--ds-color-danger-base-active);
  }

  /* Secondary button colors */
  .fds-btn--secondary:where(.fds-btn--accent) {
    color: var(--ds-color-accent-text-subtle);
    border-color: var(--ds-color-accent-border-strong);
    background-color: transparent;
  }

  .fds-btn--secondary:where(.fds-btn--neutral) {
    color: var(--ds-color-neutral-text-subtle);
    border-color: var(--ds-color-neutral-border-strong);
    background-color: transparent;
  }

  .fds-btn--secondary:where(.fds-btn--success) {
    color: var(--ds-color-success-text-subtle);
    border-color: var(--ds-color-success-border-strong);
    background-color: transparent;
  }

  .fds-btn--secondary:where(.fds-btn--danger) {
    color: var(--ds-color-danger-text-subtle);
    border-color: var(--ds-color-danger-border-strong);
    background-color: transparent;
  }

  .fds-btn--secondary:where(.fds-btn--accent):not([aria-disabled='true'], :disabled):active {
    color: var(--ds-color-accent-text-default);
    border-color: var(--ds-color-accent-border-strong);
    background-color: var(--ds-color-accent-surface-hover);
  }

  .fds-btn--secondary:where(.fds-btn--neutral):not([aria-disabled='true'], :disabled):active {
    color: var(--ds-color-neutral-text-default);
    border-color: var(--ds-color-neutral-border-strong);
    background-color: var(--ds-color-neutral-surface-hover);
  }

  .fds-btn--secondary:where(.fds-btn--success):not([aria-disabled='true'], :disabled):active {
    color: var(--ds-color-success-text-default);
    border-color: var(--ds-color-success-border-strong);
    background-color: var(--ds-color-success-surface-hover);
  }

  .fds-btn--secondary:where(.fds-btn--danger):not([aria-disabled='true'], :disabled):active {
    color: var(--ds-color-danger-text-default);
    border-color: var(--ds-color-danger-border-strong);
    background-color: var(--ds-color-danger-surface-hover);
  }

  /* Tertiary button colors */
  .fds-btn--tertiary:where(.fds-btn--accent) {
    color: var(--ds-color-accent-text-subtle);
  }

  .fds-btn--tertiary:where(.fds-btn--neutral) {
    color: var(--ds-color-neutral-text-subtle);
  }

  .fds-btn--tertiary:where(.fds-btn--success) {
    color: var(--ds-color-success-text-subtle);
  }

  .fds-btn--tertiary:where(.fds-btn--danger) {
    color: var(--ds-color-danger-text-subtle);
  }

  .fds-btn--tertiary:where(.fds-btn--accent):not([aria-disabled='true'], :disabled):active {
    color: var(--ds-color-accent-base-active);
    background-color: var(--ds-color-accent-surface-hover);
  }

  .fds-btn--tertiary:where(.fds-btn--neutral):not([aria-disabled='true'], :disabled):active {
    color: var(--ds-color-neutral-text-active);
    background-color: var(--ds-color-neutral-surface-hover);
  }

  .fds-btn--tertiary:where(.fds-btn--success):not([aria-disabled='true'], :disabled):active {
    color: var(--ds-color-success-text-default);
    background-color: var(--ds-color-success-surface-hover);
  }

  .fds-btn--tertiary:where(.fds-btn--danger):not([aria-disabled='true'], :disabled):active {
    color: var(--ds-color-danger-text-default);
    background-color: var(--ds-color-danger-surface-hover);
  }
}
