.ds-button {
  --dsc-button-background--active: var(--ds-color-accent-base-active);
  --dsc-button-background--hover: var(--ds-color-accent-base-hover);
  --dsc-button-background: var(--ds-color-accent-base-default);
  --dsc-button-color: var(--ds-color-accent-contrast-default);
  --dsc-button-font-size: var(--ds-font-size-5);
  --dsc-button-gap: var(--ds-spacing-2);
  --dsc-button-padding-block: var(--ds-spacing-2);
  --dsc-button-padding-inline: var(--ds-spacing-4);
  --dsc-button-size: var(--ds-sizing-12);

  align-items: center;
  background: var(--dsc-button-background);
  border-radius: var(--ds-border-radius-md);
  border: var(--ds-border-width-default) solid var(--dsc-button-border-color, transparent);
  box-sizing: border-box;
  color: var(--dsc-button-color);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  gap: var(--dsc-button-gap);
  justify-content: center;
  min-height: var(--dsc-button-size);
  min-width: var(--dsc-button-size);
  outline: none;
  padding: var(--dsc-button-padding-block) var(--dsc-button-padding-inline);
  text-align: inherit;
  text-decoration: none;

  &[data-ds-size="sm"] {
    --dsc-button-gap: var(--ds-sizing-1);
    --dsc-button-padding-block: var(--ds-spacing-2);
    --dsc-button-padding-inline: var(--ds-spacing-3);
    --dsc-button-size: var(--ds-sizing-10);
  }

  &[data-ds-size="lg"] {
    --dsc-button-padding-block: var(--ds-spacing-3);
    --dsc-button-padding-inline: var(--ds-spacing-5);
    --dsc-button-size: var(--ds-sizing-14);
  }

  &[data-ds-icon] {
    padding-inline: var(--dsc-button-padding-block);
  }

  &[data-ds-fullwidth] {
    width: 100%;
    text-align: center;
  }

  /**
    * Variants
    */
  &[data-ds-variant="secondary"] {
    --dsc-button-background--active: var(--ds-color-accent-surface-hover);
    --dsc-button-background--hover: var(--ds-color-accent-surface-default);
    --dsc-button-background: transparent;
    --dsc-button-border-color: var(--ds-color-accent-border-strong);
    --dsc-button-color--active: var(--ds-color-accent-text-default);
    --dsc-button-color--hover: var(--ds-color-accent-text-default);
    --dsc-button-color: var(--ds-color-accent-text-subtle);
  }

  &[data-ds-variant="tertiary"] {
    --dsc-button-background--active: var(--ds-color-accent-surface-hover);
    --dsc-button-background--hover: var(--ds-color-accent-surface-default);
    --dsc-button-background: transparent;
    --dsc-button-border-color: var(--dsc-button-tertiary-border-color);
    --dsc-button-color--active: var(--ds-color-accent-text-default);
    --dsc-button-color--hover: var(--ds-color-accent-text-default);
    --dsc-button-color: var(--ds-color-accent-text-subtle);
  }

  /**
    * Colors
    */
  &[data-ds-color="neutral"] {
    --dsc-button-background--active: var(--ds-color-neutral-base-active);
    --dsc-button-background--hover: var(--ds-color-neutral-base-hover);
    --dsc-button-background: var(--ds-color-neutral-base-default);
    --dsc-button-color: var(--ds-color-neutral-contrast-default);
  }

  &[data-ds-color="neutral"][data-ds-variant="secondary"] {
    --dsc-button-background--active: var(--ds-color-neutral-surface-hover);
    --dsc-button-background--hover: var(--ds-color-neutral-surface-default);
    --dsc-button-background: transparent;
    --dsc-button-border-color: var(--ds-color-neutral-border-strong);
    --dsc-button-color--active: var(--ds-color-neutral-text-default);
    --dsc-button-color--hover: var(--ds-color-neutral-text-default);
    --dsc-button-color: var(--ds-color-neutral-text-subtle);
  }

  &[data-ds-color="neutral"][data-ds-variant="tertiary"] {
    --dsc-button-background--active: var(--ds-color-neutral-surface-hover);
    --dsc-button-background--hover: var(--ds-color-neutral-surface-default);
    --dsc-button-background: transparent;
    --dsc-button-color--active: var(--ds-color-neutral-text-default);
    --dsc-button-color--hover: var(--ds-color-neutral-text-default);
    --dsc-button-color: var(--ds-color-neutral-text-subtle);
  }

  &[data-ds-color="danger"] {
    --dsc-button-background--active: var(--ds-color-danger-base-active);
    --dsc-button-background--hover: var(--ds-color-danger-base-hover);
    --dsc-button-background: var(--ds-color-danger-base-default);
    --dsc-button-color: var(--ds-color-danger-contrast-default);
  }

  &[data-ds-color="danger"][data-ds-variant="secondary"] {
    --dsc-button-background--active: var(--ds-color-danger-surface-hover);
    --dsc-button-background--hover: var(--ds-color-danger-surface-default);
    --dsc-button-background: transparent;
    --dsc-button-border-color: var(--ds-color-danger-border-strong);
    --dsc-button-color--active: var(--ds-color-danger-text-default);
    --dsc-button-color--hover: var(--ds-color-danger-text-default);
    --dsc-button-color: var(--ds-color-danger-text-subtle);
  }

  &[data-ds-color="danger"][data-ds-variant="tertiary"] {
    --dsc-button-background--active: var(--ds-color-danger-surface-hover);
    --dsc-button-background--hover: var(--ds-color-danger-surface-default);
    --dsc-button-background: transparent;
    --dsc-button-color--active: var(--ds-color-danger-text-default);
    --dsc-button-color--hover: var(--ds-color-danger-text-default);
    --dsc-button-color: var(--ds-color-danger-text-subtle);
  }

  /**
    * States
    */

  @media (hover: hover) and (pointer: fine) { /* Only use hover for non-touch devices to prevent sticky-hovering */
    &:not(:disabled, [aria-disabled="true"], [aria-busy="true"]):hover {
      background: var(--dsc-button-background--hover);
    }
  }

  &[aria-busy="true"]{
    cursor: progress;
  }

  &:focus-visible {
    box-shadow: var(--dsc-focus-boxShadow);
  }

  &:is(:disabled, [aria-disabled="true"]) {
    cursor: not-allowed;
    opacity: var(--ds-disabled-opacity);
  }

  &:not(:disabled, [aria-disabled="true"], [aria-busy="true"]):active {
    background-color: var(--dsc-button-background--active);
  }
}

