.ds-card {
  --dsc-card-border-color: var(--ds-color-neutral-border-subtle);
  --dsc-card-backround: var(--ds-color-neutral-background-default);
  --dsc-card-color: var(--ds-color-neutral-text-default);

  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  color: var(--dsc-card-color);
  border-radius: min(1rem, var(--ds-border-radius-md));
  border: 1px solid var(--dsc-card-border-color);
  background: var(--dsc-card-backround);

  &[data-link] {
    --dsc-card-border-color: var(--ds-color-neutral-border-default);

    text-decoration: none;

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      color: var(--dsc-card-color);
      text-decoration: underline;
      text-decoration-thickness: max(1px, 0.0625rem, 0.1025em);
      text-underline-offset: max(6px, 0.25rem, 0.22em);
    }

    &:hover {
      --dsc-card-backround: var(--ds-color-neutral-background-subtle);
    }

    &:active {
      --dsc-card-backround: var(--ds-color-neutral-surface-default);
    }
  }

  &[data-color='subtle'] {
    --dsc-card-border-color: var(--ds-color-neutral-border-subtle);
    --dsc-card-backround: var(--ds-color-neutral-background-subtle);

    &[data-link] {
      --dsc-card-border-color: var(--ds-color-neutral-border-default);

      &:hover {
        --dsc-card-backround: var(--ds-color-neutral-surface-default);
      }

      &:active {
        --dsc-card-backround: var(--ds-color-neutral-surface-hover);
      }
    }
  }

  &[data-color='brand1'] {
    --dsc-card-border-color: var(--ds-color-brand1-border-subtle);
    --dsc-card-backround: var(--ds-color-brand1-surface-default);
    --dsc-card-color: var(--ds-color-brand1-text-default);

    &[data-link] {
      --dsc-card-border-color: var(--ds-color-brand1-border-default);

      &:hover {
        --dsc-card-backround: var(--ds-color-brand1-surface-hover);
      }

      &:active {
        --dsc-card-backround: var(--ds-color-brand1-surface-active);
      }
    }
  }

  &[data-color='brand2'] {
    --dsc-card-border-color: var(--ds-color-brand2-border-subtle);
    --dsc-card-backround: var(--ds-color-brand2-surface-default);
    --dsc-card-color: var(--ds-color-brand2-text-default);

    &[data-link] {
      --dsc-card-border-color: var(--ds-color-brand2-border-default);

      &:hover {
        --dsc-card-backround: var(--ds-color-brand2-surface-hover);
      }

      &:active {
        --dsc-card-backround: var(--ds-color-brand2-surface-active);
      }
    }
  }

  &[data-color='brand3'] {
    --dsc-card-border-color: var(--ds-color-brand3-border-subtle);
    --dsc-card-backround: var(--ds-color-brand3-surface-default);
    --dsc-card-color: var(--ds-color-brand3-text-default);

    &[data-link] {
      --dsc-card-border-color: var(--ds-color-brand3-border-default);

      &:hover {
        --dsc-card-backround: var(--ds-color-brand3-surface-hover);
      }

      &:active {
        --dsc-card-backround: var(--ds-color-brand3-surface-active);
      }
    }
  }

  .ds-card__header h1,
  .ds-card__header h2,
  .ds-card__header h3,
  .ds-card__header h4,
  .ds-card__header h5,
  .ds-card__header h6 {
    color: inherit;
  }

  .ds-card__media > * {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0;
  }

  .ds-card__media {
    width: auto;
  }

  .ds-card__media:first-child {
    padding-bottom: var(--ds-spacing-4);
  }

  .ds-card__media:last-child {
    padding-top: var(--ds-spacing-6);
  }

  .ds-card__footer,
  .ds-card__content {
    display: flex;
    justify-content: flex-start;
    gap: var(--ds-spacing-4);
    flex-wrap: wrap;
    word-wrap: break-word;
    padding: var(--ds-spacing-2) 0;
    color: inherit;
  }

  .ds-card__content {
    flex-direction: column;
  }

  .ds-card__header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-family: inherit;
    padding: var(--ds-spacing-2) 0;
  }

  & a,
  & a:visited {
    color: var(--ds-color-neutral-text-default);
  }

  & > hr {
    width: 100%;
    margin: var(--ds-spacing-3) 0;
  }

  & > *:not(.ds-card__media, hr) {
    padding-left: var(--ds-spacing-6);
    padding-right: var(--ds-spacing-6);
  }

  & > *:not(.ds-card__media):first-child {
    padding-top: var(--ds-spacing-6);
  }

  & > *:not(.ds-card__media):last-child {
    padding-bottom: var(--ds-spacing-6);
  }
}
