@layer fds.chip {
  /*
  The class is unused. There is no root chip component?
  .chip {
    display: flex;
  }
  */

  .fds-chip--button {
    --dsc-chip-height: var(--ds-sizing-7);
    --dsc-chip-padding: var(--ds-spacing-3);
    --dsc-chip-background: var(--ds-color-accent-surface-default);
    --dsc-chip-text-color: var(--ds-color-neutral-text-default);
    --dsc-chip-border: var(--ds-color-accent-border-subtle);
    --dsc-chip-border-radius: var(--ds-border-radius-full);

    background: var(--dsc-chip-background);
    padding: 0 var(--dsc-chip-padding);
    min-height: var(--dsc-chip-height);
    border-radius: var(--dsc-chip-border-radius);
    border: 1px solid var(--dsc-chip-border);
    color: var(--dsc-chip-text-color);
    text-decoration: none;
    font-family: inherit;
    display: inline-flex;
    align-items: center;
  }

  .fds-chip--button:disabled,
  .fds-chip--button[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: var(--ds-opacity-disabled);
  }

  .fds-chip--button .fds-chip__label {
    color: inherit;
    line-height: normal;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: var(--ds-spacing-2);
  }

  .fds-chip--removable {
    --dsc-removable-background: var(--ds-color-accent-base-default);
    --dsc-removable-text-color: var(--ds-color-neutral-contrast-default);
    --dsc-removable-chip-size: var(--ds-sizing-7);
    --dsc-removable-chip-xmark-color: var(--ds-color-neutral-contrast-default);
    --dsc-removable-chip-xmark-padding_right: var(--ds-spacing-1);
    --dsc-removable-chip-xmark-size: var(--ds-sizing-6);
    --dsc-removable-chip-xmark-wrapper-width: calc(var(--dsc-removable-chip-xmark-size) + var(--dsc-removable-chip-xmark-padding_right));

    color: var(--dsc-removable-text-color);
    background: var(--dsc-removable-background);
    border: 0;
    padding-right: var(--ds-spacing-2);
    min-height: var(--dsc-chip-height);
  }

  .fds-chip--removable.fds-chip--sm {
    padding-right: var(--ds-spacing-1);
  }

  .fds-chip--removable.fds-chip--lg {
    padding-right: var(--ds-spacing-2);
  }

  .fds-chip__x-mark {
    color: var(--dsc-removable-chip-xmark-color);
    height: var(--dsc-removable-chip-xmark-size);
    width: var(--dsc-removable-chip-xmark-size);
  }

  .fds-chip__x-mark .fds-chip__icon {
    height: var(--dsc-removable-chip-xmark-size);
    width: var(--dsc-removable-chip-xmark-size);
  }

  .fds-chip--spacing {
    padding-left: var(--ds-spacing-2) !important;
  }

  .fds-chip--sm .fds-chip__checkmark-icon {
    height: var(--ds-sizing-5);
    width: auto;
  }

  .fds-chip--md .fds-chip__checkmark-icon {
    height: 24px;
    width: auto;
  }

  .fds-chip--lg .fds-chip__checkmark-icon {
    height: 26px;
    width: auto;
  }

  .fds-chip--group-container {
    --dsc-chip-group-gap: var(--ds-spacing-2);

    display: flex;
    gap: var(--dsc-chip-group-gap);
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .fds-chip--group-container.fds-chip--sm {
    --dsc-chip-group-gap: var(--ds-spacing-2);
  }

  .fds-chip--group-container.fds-chip--md {
    --dsc-chip-group-gap: var(--ds-spacing-2);
  }

  .fds-chip--group-container.fds-chip--lg {
    --dsc-chip-group-gap: var(--ds-spacing-2);
  }

  /* Only use hover for non-touch devices to prevent sticky-hovering */
  @media (hover: hover) and (pointer: fine) {
    .fds-chip--button:not(:disabled, [aria-disabled='true']):hover {
      --dsc-chip-background: var(--ds-color-accent-surface-hover);
      --dsc-chip-text-color: var(--ds-color-neutral-text-default);
      --dsc-chip-border: var(--ds-color-accent-border-default);

      cursor: pointer;
    }

    .fds-chip--button:not(:disabled, [aria-disabled='true']):is([aria-pressed='true']):hover {
      --dsc-chip-background: var(--ds-color-accent-surface-hover);
      --dsc-chip-text-color: var(--ds-color-neutral-text-default);
    }

    .fds-chip--removable:not(:disabled, [aria-disabled='true']):hover,
    .fds-chip--removable:not(:disabled, [aria-disabled='true']):focus {
      --dsc-removable-background: var(--ds-color-accent-base-hover);
      --dsc-removable-chip-xmark-color: var(--ds-color-neutral-contrast-default);
    }
  }

  .fds-chip--button:is([aria-pressed='true']),
  .fds-chip--button:not(:disabled, [aria-disabled='true']):active,
  .fds-chip--removable:is([aria-pressed='true']),
  .fds-chip--removable:not(:disabled, [aria-disabled='true']):active {
    --dsc-chip-background: var(--ds-color-accent-base-active);
    --dsc-chip-text-color: var(--ds-color-neutral-contrast-default);
    --dsc-chip-border: var(--ds-color-accent-base-active);
    --dsc-removable-background: var(--ds-color-accent-base-active);
    --dsc-removable-text-color: var(--ds-color-neutral-contrast-default);
  }

  .fds-chip--sm {
    --dsc-chip-height: var(--ds-sizing-7);
    --dsc-chip-padding: var(--ds-spacing-3);
    --dsc-removable-chip-xmark-size: var(--ds-sizing-5);
    --dsc-removable-chip-xmark-padding_right: var(--ds-spacing-1);
  }

  .fds-chip--md {
    --dsc-chip-height: var(--ds-sizing-8);
    --dsc-chip-padding: var(--ds-spacing-3);
    --dsc-removable-chip-xmark-size: var(--ds-sizing-6);
    --dsc-removable-chip-xmark-padding_right: var(--ds-spacing-2);
  }

  .fds-chip--lg {
    --dsc-chip-height: var(--ds-sizing-9);
    --dsc-chip-padding: var(--ds-spacing-4);
    --dsc-removable-chip-xmark-size: var(--ds-sizing-7);
    --dsc-removable-chip-xmark-padding_right: var(--ds-spacing-3);
  }
}
