.ds-combobox2 {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-spacing-1);
  position: relative;

  /* Not using focus-within as this triggers both on keyboard and mouse focus */
  &:has(:is(option, u-option):focus-visible) input {
    @composes ds-focus--visible from './base/base.css';
  }

  /* Show focus also on click on chip to indicate ability to delete by using keyboard */
  & data:focus {
    @composes ds-focus--visible from './base/base.css';
  }

  & u-datalist {
    background: var(--ds-color-neutral-background-default);
    border-radius: var(--ds-border-radius-md);
    border: 1px solid var(--ds-color-neutral-border-default);
    box-shadow: var(--ds-shadow-md);
    box-sizing: border-box;
    color: var(--ds-color-neutral-text-default);
    inset: 100% 0 auto 0;
    overflow-y: auto;
    position: absolute;
    z-index: 1600;

    & > * {
      padding: var(--ds-spacing-2);
      border-left: var(--ds-spacing-1) solid transparent;
      outline: none;

      &:focus-visible {
        border-left-color: var(--ds-color-accent-base-default);
        background: var(--ds-color-accent-background-subtle);
      }
    }

    /* Hide Combobox.Empty when any Combobox.Option is visible */
    &:has(u-option:not([hidden])) > :not(u-option) {
      display: none;
    }
  }
}
