@layer ds.divider {
  .fds-divider {
    border: none;
    border-top: 1px solid;
  }

  .fds-divider--default {
    border-color: var(--ds-color-neutral-border-subtle);
  }

  .fds-divider--strong {
    border-color: var(--ds-color-neutral-border-default);
  }

  .fds-divider--subtle {
    border-color: var(--ds-color-neutral-border-subtle);
  }
}
