@layer ds.dropdownmenu {
  .fds-dropdownmenu {
    position: relative;
    padding: var(--ds-spacing-2);
    z-index: 1500;
    margin: 0;
    list-style: none;
    border-radius: var(--ds-border-radius-md);
    box-shadow: var(--ds-shadow-md);
    background-color: var(--ds-color-neutral-background-default);
    border: 1px solid var(--ds-color-neutral-border-subtle);
  }

  .fds-dropdownmenu--sm {
    min-width: 240px;
    padding: var(--ds-spacing-2);
  }

  .fds-dropdownmenu--md {
    min-width: 260px;
    padding: var(--ds-spacing-3) var(--ds-spacing-2);
  }

  .fds-dropdownmenu--lg {
    min-width: 280px;
    padding: var(--ds-spacing-4) var(--ds-spacing-2);
  }

  .fds-dropdownmenu > hr {
    border-color: var(--ds-color-neutral-border-subtle) !important;
  }

  .fds-dropdownmenu__item {
    justify-content: start;
    padding: 0 var(--ds-spacing-4);
  }

  .fds-dropdownmenu__section {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .fds-dropdownmenu__heading {
    padding: var(--ds-spacing-2) var(--ds-spacing-4);
  }
}
