.ds-dropdownmenu {
  --dsc-dropdownmenu-padding: var(--ds-spacing-3) var(--ds-spacing-2);
  --dsc-dropdownmenu-min-width: 16rem;
  --dsc-dropdownmenu-item-padding: 0 var(--ds-spacing-4);
  --dsc-dropdownmenu-header-padding: var(--ds-spacing-2) var(--ds-spacing-4);

  padding: var(--dsc-dropdownmenu-padding);
  list-style: none;
  border-radius: min(1rem, var(--ds-border-radius-md));
  box-shadow: var(--ds-shadow-md);
  background-color: var(--ds-color-neutral-background-default);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  min-width: var(--dsc-dropdownmenu-min-width);

  /* Remove popover arrow */
  &::before {
    display: none;
  }

  &[data-size='sm'] {
    --dsc-dropdownmenu-padding: var(--ds-spacing-2);
    --dsc-dropdownmenu-min-width: 15rem;
  }

  &[data-size='lg'] {
    --dsc-dropdownmenu-padding: var(--ds-spacing-4) var(--ds-spacing-2);
    --dsc-dropdownmenu-min-width: 18rem;
  }

  & :is(a, button, [role='button']) {
    justify-content: start;
    padding: var(--dsc-dropdownmenu-item-padding);
    width: 100%;
  }

  .ds-dropdownmenu__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .ds-dropdownmenu__heading {
    padding: var(--dsc-dropdownmenu-header-padding);
  }
}
