.ds-dropdown {
  --dsc-dropdown-padding: var(--ds-spacing-3) var(--ds-spacing-2);
  --dsc-dropdown-item-padding: var(--ds-spacing-2) var(--ds-spacing-4);
  --dsc-dropdown-item-size: var(--ds-spacing-12);

  background-color: var(--ds-color-neutral-background-default);
  border-radius: var(--ds-border-radius-md);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  box-shadow: var(--ds-shadow-md);
  box-sizing: border-box;
  list-style: none;
  min-width: 15em;
  padding: var(--dsc-dropdown-padding);

  /* Remove popover arrow */
  &::before {
    display: none;
  }

  .ds-dropdown__heading {
    align-items: center;
    box-sizing: border-box;
    color: var(--ds-color-neutral-text-subtle);
    display: flex;
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    min-height: var(--dsc-dropdown-item-size);
    padding: var(--dsc-dropdown-item-padding);
  }

  & :is(a, button, [role='button']) {
    justify-content: start;
    padding: var(--dsc-dropdown-item-padding);
    min-height: var(--dsc-dropdown-item-size);
    width: 100%;
    font-weight: var(--ds-font-weight-regular);
  }

  .ds-dropdown__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
