@layer fds.errorsummary {
  .fds-error-summary {
    padding: var(--fds-spacing-6) var(--fds-spacing-8);
    border-radius: var(--fds-border_radius-large);
    background-color: var(--fds-semantic-surface-danger-subtle);
  }

  .fds-error-summary a {
    color: var(--fds-semantic-text-neutral-default);
  }

  .fds-error-summary li:last-of-type {
    margin-bottom: 0;
  }
}
