.ds-field {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);

  & [data-field='description'] {
    color: var(--ds-color-neutral-text-subtle); /* TODO: Change to opacity or color-mix(currentColor, trasparent) to ensure contrast when parent element color changes? */
  }

  /**
   * States
   */
  &:has([aria-disabled='true'], :disabled) > * {
    cursor: not-allowed;
    opacity: var(--ds-disabled-opacity);
  }

  &:has([aria-readonly='true'], [readonly]) label {
    --dsc-label--readonly: ; /* Activate lock icon for label when readonly */
  }

  /**
   * Toggle inputs
   */
  &:has(input:is([type='radio'], [type='checkbox'])) {
    border-radius: var(--ds-border-radius-md);
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 0;
    width: fit-content; /* Rather do display: grid + width: fit-content than display: inline-grid to encourage stacked radios */

    & > * {
      grid-column: 2; /* Only allow input in column 1 */
    }

    & label {
      --dsc-label--readonly: initial; /* Never show lock icon on toggle inputs */
      font-weight: var(--ds-font-weight-regular);
    }

    & input {
      grid-column: 1; /* Always place input in column 1 */
      grid-row: 1; /* Always place input in row 1 */
    }

    &:not(:has([readonly], [aria-disabled='true'], :disabled)) label {
      cursor: pointer;
    }

    &:has(input:focus-visible) {
      @composes ds-focus--visible from './base/base.css';
    }

    &:has(input:only-child) {
      gap: 0; /* No gap only <input> with aria-label/aria-labelledby */
    }
  }
}

/**
 * Affix
 */
.ds-field-affix {
  --dsc-field-affix-border: 1px solid var(--ds-color-neutral-border-default);
  --dsc-field-affix-padding-inline: var(--ds-spacing-4);

  align-self: stretch; /* If ds-field is placed inside a flex container like ds-field, we need to fill width */
  background: var(--ds-color-neutral-background-subtle);
  border-radius: var(--ds-border-radius-md);
  box-sizing: border-box;
  color: var(--ds-color-neutral-text-subtle);
  display: inline-flex; /* Using inline-flex to match native inline-block behaviour of <input> */
  max-width: 100%;
  white-space: nowrap;

  &:has([size]) {
    width: fit-content;
  }

  &::before,
  &::after {
    align-content: center;
    border: var(--dsc-field-affix-border);
    padding-inline: var(--dsc-field-affix-padding-inline);
  }

  &[data-suffix]::after {
    border-bottom-right-radius: inherit;
    border-left: 0;
    border-top-right-radius: inherit;
    content: attr(data-suffix);
  }

  &[data-prefix]::before {
    border-bottom-left-radius: inherit;
    border-right: 0;
    border-top-left-radius: inherit;
    content: attr(data-prefix);
  }

  &[data-prefix] * {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &[data-suffix] * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
