.fds-fieldset-fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}

.fds-fieldset-spacing > :not(:first-child, :empty) {
  margin-top: var(--fds-spacing-2);
}

.fds-fieldset-description {
  color: var(--fds-semantic-text-neutral-subtle);
  font-weight: 400;
}

.fds-fieldset-readonly > .fds-fieldset-legend {
  display: inline-flex;
}

.fds-fieldset-readonly > .fds-fieldset-legend > .fds-fieldset-icon {
  height: 1.2em;
  width: 1.2em;
}

.fds-fieldset-disabled > .fds-fieldset-legend,
.fds-fieldset-disabled > .fds-fieldset-description {
  color: var(--fds-semantic-border-neutral-subtle);
}
