.fds-helptext-helpTextButton {
  background-color: transparent;
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
  display: flex;
  border: none;
}

@media print {
  .fds-helptext-helpTextButton {
    display: none;
  }
}

.fds-helptext-helpTextIconFilled {
  display: none;
}

.fds-helptext-helpTextIcon {
  color: var(--fds-semantic-text-action-default);
  width: var(--help_text-icon-width);
  height: var(--help_text-icon-height);
}

.fds-helptext-helpTextButton:where(:hover, :focus, [data-state^='open']) > .fds-helptext-helpTextIcon {
  display: none;
}

.fds-helptext-helpTextButton:where(:hover, :focus, [data-state^='open']) > .fds-helptext-helpTextIconFilled {
  display: inline-block;
}

.fds-helptext-helpTextContent {
  font: var(--fds-typography-paragraph-medium);
  width: fit-content;
  max-width: 700px;
}

.fds-helptext-helpTextIcon.fds-helptext-small {
  --help_text-icon-width: 24px;
  --help_text-icon-height: 24px;
}

.fds-helptext-helpTextIcon.fds-helptext-xsmall {
  --help_text-icon-width: 18px;
  --help_text-icon-height: 18px;
}
