@layer fds.typography.ingress {
  .fds-ingress {
    --fdsc-bottom-spacing: var(--fds-spacing-5);

    margin: 0;
    color: var(--fds-semantic-text-neutral-default);
  }

  .fds-ingress--spacing {
    margin-bottom: var(--fdsc-bottom-spacing);
  }

  .fds-ingress--md {
    --fdsc-bottom-spacing: var(--fds-spacing-5);

    font: var(--fds-typography-ingress-medium);
    font-family: inherit;
  }

  .fds-ingress--lg {
    --fdsc-bottom-spacing: var(--fds-spacing-6);

    font: var(--fds-typography-ingress-large);
    font-family: inherit;
  }

  .fds-ingress--sm {
    --fdsc-bottom-spacing: var(--fds-spacing-7);

    font: var(--fds-typography-ingress-small);
    font-family: inherit;
  }

  .fds-ingress--xs {
    --fdsc-bottom-spacing: var(--fds-spacing-8);

    font: var(--fds-typography-ingress-xsmall);
    font-family: inherit;
  }
}
