@layer ds.typography.ingress {
  .fds-ingress {
    --dsc-bottom-spacing: var(--ds-spacing-5);

    margin: 0;
    color: var(--ds-color-neutral-text-default);
  }

  .fds-ingress--spacing {
    margin-bottom: var(--dsc-bottom-spacing);
  }

  .fds-ingress--md {
    --dsc-bottom-spacing: var(--ds-spacing-5);

    font: var(--ds-typography-ingress-md);
    font-family: inherit;
  }

  .fds-ingress--lg {
    --dsc-bottom-spacing: var(--ds-spacing-6);

    font: var(--ds-typography-ingress-lg);
    font-family: inherit;
  }

  .fds-ingress--sm {
    --dsc-bottom-spacing: var(--ds-spacing-7);

    font: var(--ds-typography-ingress-sm);
    font-family: inherit;
  }

  .fds-ingress--xs {
    --dsc-bottom-spacing: var(--ds-spacing-8);

    font: var(--ds-typography-ingress-xs);
    font-family: inherit;
  }
}
