.ds-input {
  --dsc-input-background--checked: var(--ds-color-accent-base-default);
  --dsc-input-background--readonly: var(--ds-color-neutral-background-subtle);
  --dsc-input-background: var(--ds-color-neutral-background-default);
  --dsc-input-border-color--checked: var(--ds-color-accent-base-default);
  --dsc-input-border-color--hover: var(--ds-color-accent-border-strong);
  --dsc-input-border-color--invalid: var(--ds-color-danger-border-default);
  --dsc-input-border-color--readonly: var(--ds-color-neutral-border-strong);
  --dsc-input-border-color: var(--ds-color-neutral-border-default);
  --dsc-input-border-radius: var(--ds-border-radius-md);
  --dsc-input-border-width--toggle: 2px;
  --dsc-input-border-width: 1px;
  --dsc-input-box-shadow--hover: 0 0 0 var(--ds-spacing-1) var(--ds-color-accent-surface-hover);
  --dsc-input-color: var(--ds-color-neutral-background-default);
  --dsc-input-padding: 0 var(--ds-spacing-3);
  --dsc-input-size--toggle: var(--ds-sizing-6);
  --dsc-input-size: var(--ds-sizing-12);
  --dsc-input-url--checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 23 23'%3E%3Cpath d='M18.55 6.32a1 1 0 0 1 0 1.42l-7.97 7.97a1 1 0 0 1-1.41 0l-4.22-4.22a1 1 0 0 1 1.41-1.42l3.52 3.52 7.26-7.27a1 1 0 0 1 1.41 0'/%3E%3C/svg%3E");
  --dsc-input-url--indeterminate: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M4 12c0-1.1.9-2 2-2h12a2 2 0 1 1 0 4H6a2 2 0 0 1-2-2Z'/%3E%3C/svg%3E");
  --dsc-input-url--radio: radial-gradient(at center center, black 28%, transparent 30%);

  appearance: none;
  background: var(--dsc-input-background);
  border-radius: var(--dsc-input-border-radius);
  border: var(--dsc-input-addons-border, var(--dsc-input-border-width) solid var(--dsc-input-border-color)); /* Inherit from .ds-input-addons if present */
  box-sizing: border-box;
  color: var(--ds-color-neutral-text-default);
  font-family: inherit;
  height: var(--dsc-input-size);
  margin: 0; /* Reset native margin on checkbox and radio */
  padding: var(--dsc-input-padding);
  position: relative; /* Ensure foucs outline renders on top */

  @composes ds-body-text--md from './utilities.css';
  @composes ds-focus from './utilities.css';

  /**
  * States
  */
  @media (hover: hover) and (pointer: fine) {
    /* Using [readonly] since checkbox and radio is always :read-only */
    &:not(:focus-visible, :disabled, [aria-disabled='true'], [readonly]):hover {
      border-color: var(--dsc-input-border-color--hover);
      box-shadow: var(--dsc-input-box-shadow--hover);
    }
  }

  &:checked,
  &:indeterminate {
    background: var(--dsc-input-background--checked);
    border-color: var(--dsc-input-border-color--checked);
    mask:
      center/cover no-repeat var(--dsc-input-url) exclude,
      linear-gradient(black, black) no-clip;
  }

  &:disabled,
  &[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: var(--ds-disabled-opacity);
  }

  &[readonly] {
    background: var(--dsc-input-background--readonly);
    border-color: var(--dsc-input-border-color--readonly);
  }

  &[aria-invalid='true']:not(:focus-visible, :checked, :indeterminate) {
    border-color: var(--dsc-input-border-color--invalid);
    box-shadow: inset 0 0 0 calc(var(--dsc-input-border-width) + 1px) var(--dsc-input-border-color--invalid);
  }

  /**
  * Sizes
  */
  &:not([size]) {
    width: 100%;
  }

  &[data-size='sm'] {
    @composes ds-body-text--sm from './utilities.css';

    --dsc-input-size--toggle: var(--ds-sizing-5);
    --dsc-input-size: var(--ds-sizing-10);
    --dsc-input-padding: 0 var(--ds-spacing-2);
  }

  &[data-size='lg'] {
    @composes ds-body-text--lg from './utilities.css';

    --dsc-input-size--toggle: var(--ds-sizing-7);
    --dsc-input-size: var(--ds-sizing-14);
    --dsc-input-padding: 0 var(--ds-spacing-2);
  }

  /**
  * Toggle inputs
  */
  &[type='checkbox'],
  &[type='radio'] {
    border-width: var(--dsc-input-border-width--toggle);
    height: var(--dsc-input-size--toggle);
    padding: 0;
    width: var(--dsc-input-size--toggle);
  }

  &[type='radio'] {
    --dsc-input-border-radius: var(--ds-border-radius-full);
    --dsc-input-url: var(--dsc-input-url--radio);
  }

  &[type='checkbox'] {
    --dsc-input-url: var(--dsc-input-url--checkbox);
  }

  &[type='checkbox']:indeterminate {
    --dsc-input-url: var(--dsc-input-url--indeterminate);
  }

  &[switch],
  &[data-switch] {
    --dsc-input-border-radius: var(--ds-border-radius-full);

    /* background: var(--mt-color-surface-text) radial-gradient(circle at var(--mt-unit-4), currentcolor 28%, transparent 28.7%, transparent); */
    mask: none;
    width: var(--ds-spacing-11);

    /* &:checked {
      background-color: var(--builders-input-color);
      background-position-x: var(--builders-unit-30);
      color: var(--builders-input-checked-color);
    } */
  }
}

/**
  * Addons
  */
.ds-input-addons {
  --dsc-input-addons-border-radius: var(--ds-border-radius-md);
  --dsc-input-addons-border: 1px solid var(--ds-color-neutral-border-default);
  --dsc-input-addons-padding: var(--ds-spacing-4);

  align-items: center;
  background: var(--ds-color-neutral-background-subtle);
  border-radius: var(--dsc-input-addons-border-radius);
  box-sizing: border-box;
  color: var(--ds-color-neutral-text-subtle);
  display: flex;
  gap: var(--dsc-input-addons-padding);
  padding-inline: var(--dsc-input-addons-padding);
  position: relative;
  white-space: nowrap;

  /* Using ::before to make input border overlap addons border */
  &::before {
    position: absolute;
    inset: 0;
    content: '';
    border: var(--dsc-input-addons-border);
    border-radius: inherit;
  }

  @composes ds-body-text--md from './utilities.css';

  .ds-input.ds-input {
    border-radius: 0;
    flex: 0 1 auto;
  }

  &:has([data-size='sm']) {
    @composes ds-body-text--sm from './utilities.css';

    --dsc-input-addons-padding: var(--ds-spacing-3);
  }

  &:has([data-size='lg']) {
    @composes ds-body-text--lg from './utilities.css';

    --dsc-input-addons-padding: var(--ds-spacing-5);
  }
}
