.ds-input {
  /* --dsc-input-box-shadow--invalid: inset 0 0 0 var(--dsc-input-border-width) var(--dsc-input-border-color--invalid); */
  --dsc-input-background--checked-invalid: var(--ds-color-danger-border-default);
  --dsc-input-background--checked: var(--ds-color-accent-base-default);
  --dsc-input-background--invalid: var(--ds-color-neutral-background-default);
  --dsc-input-background--readonly: var(--ds-color-neutral-background-subtle);
  --dsc-input-background--switch: var(--ds-color-neutral-border-default);
  --dsc-input-background: var(--ds-color-neutral-background-default);
  --dsc-input-border-color--checked-invalid: var(--ds-color-danger-border-default);
  --dsc-input-border-color--checked: var(--ds-color-accent-base-default);
  --dsc-input-border-color--invalid: var(--ds-color-danger-border-default);
  --dsc-input-border-color--readonly: var(--ds-color-neutral-border-subtle);
  --dsc-input-border-color: var(--ds-color-neutral-border-default);
  --dsc-input-border-width--toggle: 2px;
  --dsc-input-border-width: 1px;
  --dsc-input-color--checked-invalid: var(--ds-color-danger-contrast-default);
  --dsc-input-color--checked: var(--ds-color-accent-contrast-default);
  --dsc-input-color--invalid: var(--ds-color-neutral-text-default);
  --dsc-input-color--readonly: var(--ds-color-neutral-border-default);
  --dsc-input-color--switch: var(--ds-color-neutral-background-default);
  --dsc-input-color: var(--ds-color-neutral-text-default);
  --dsc-input-icon-size: 0.75em;
  --dsc-input-icon-stroke: 0.05em;
  --dsc-input-icon-color: currentcolor;
  --dsc-input-padding: var(--ds-spacing-2) var(--ds-spacing-3);
  --dsc-input-size--switch: var(--ds-sizing-7);
  --dsc-input-size--toggle: var(--ds-sizing-6);
  --dsc-input-size: var(--ds-sizing-12);

  /* Checkmark with antialiasing is achieved by percentages 48% / 50% / 52% */
  --check-start-smooth: transparent calc(50% - var(--dsc-input-icon-stroke));
  --check-start-stroke: var(--dsc-input-icon-color) calc(48% - var(--dsc-input-icon-stroke));
  --check-end-smooth: transparent calc(52% + var(--dsc-input-icon-stroke));
  --check-end-stroke: var(--dsc-input-icon-color) calc(50% + var(--dsc-input-icon-stroke));
  --check-left-size: calc(var(--dsc-input-icon-size) / 3);
  --check-right-size: calc(var(--dsc-input-icon-size) / 3 * 2);
  --check-left: linear-gradient(45deg, var(--check-start-smooth), var(--check-start-stroke), var(--check-end-stroke), var(--check-end-smooth))
    calc(100% - var(--dsc-input-size) / 2 + var(--dsc-input-icon-stroke) / 2) calc(50% + var(--check-left-size) / 2) / var(--check-left-size)
    var(--check-left-size) no-repeat content-box;
  --check-right: linear-gradient(-45deg, var(--check-start-smooth), var(--check-start-stroke), var(--check-end-stroke), var(--check-end-smooth))
    calc(100% - var(--dsc-input-size) / 2 - var(--dsc-input-icon-stroke) / 2 + var(--check-right-size)) 50% / var(--check-right-size) var(--check-right-size)
    no-repeat content-box;

  appearance: none;
  background: var(--dsc-input-background);
  border-radius: var(--ds-border-radius-md);
  border: var(--dsc-input-affix-border, var(--dsc-input-border-width) solid var(--dsc-input-border-color)); /* Inherit from .ds-input-addons if present */
  box-shadow: var(--dsc-input-box-shadow);
  box-sizing: border-box;
  color: var(--dsc-input-color);
  font-family: inherit;
  margin: 0; /* Reset native margin on checkbox and radio */
  padding: var(--dsc-input-padding);
  position: relative; /* Ensure foucs outline renders on top */

  @composes ds-body-text--md from './base/base.css';
  @composes ds-focus from './base/base.css';

  &:where([role='switch']) {
    --dsc-input-background: var(--dsc-input-background--switch);
    --dsc-input-icon-color: transparent;
    --dsc-input-color: var(--dsc-input-color--switch);
    --dsc-input-size: var(--dsc-input-size--switch);
  }

  /* &:not(:checked, [readonly]) {
    --dsc-input-background: var(--dsc-input-background--switch);
  } */

  &:not(textarea) {
    height: var(--dsc-input-size);
  }

  &:not([size]) {
    width: 100%;
  }

  /**
  * States
  */
  &[aria-invalid='true'] {
    /* --dsc-input-box-shadow: var(--dsc-input-box-shadow--invalid); */
    --dsc-input-background: var(--dsc-input-background--invalid);
    --dsc-input-border-color: var(--dsc-input-border-color--invalid);
    --dsc-input-color: var(--dsc-input-color--invalid);
  }

  &:checked,
  &:indeterminate {
    --dsc-input-background: var(--dsc-input-background--checked);
    --dsc-input-border-color: var(--dsc-input-border-color--checked);
    --dsc-input-color: var(--dsc-input-color--checked);

    /* Using :where to allow [readonly] to overwrite */
    &:where([aria-invalid='true']) {
      --dsc-input-background: var(--dsc-input-background--checked-invalid);
      --dsc-input-border-color: var(--dsc-input-border-color--checked-invalid);
      --dsc-input-color: var(--dsc-input-color--checked-invalid);
    }
  }

  &:disabled,
  &[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: var(--ds-disabled-opacity);
  }

  /* Using attribute [readonly] since pseudo selector :read-only is always true for checkbox, radio and select */
  &[readonly] {
    --dsc-input-background: var(--dsc-input-background--readonly);
    --dsc-input-border-color: var(--dsc-input-border-color--readonly);
    --dsc-input-color: var(--dsc-input-color--readonly);
  }

  /**
  * Sizes
  */
  &[data-size='sm'] {
    @composes ds-body-text--sm from './base/base.css';

    --dsc-input-padding: var(--ds-spacing-1) var(--ds-spacing-2);
    --dsc-input-size--switch: var(--ds-sizing-6);
    --dsc-input-size--toggle: var(--ds-sizing-5);
    --dsc-input-size: var(--ds-sizing-10);
  }

  &[data-size='lg'] {
    @composes ds-body-text--lg from './base/base.css';

    --dsc-input-padding: var(--ds-spacing-3) var(--ds-spacing-4);
    --dsc-input-size--switch: var(--ds-sizing-8);
    --dsc-input-size--toggle: var(--ds-sizing-7);
    --dsc-input-size: var(--ds-sizing-14);
  }

  /**
  * Toggle inputs
  */
  &:read-only:not([readonly], [aria-disabled='true'], :disabled) {
    cursor: pointer;
  }

  &[type='checkbox'],
  &[type='radio'] {
    --dsc-input-size: var(--dsc-input-size--toggle);
    --dsc-input-border-width: var(--dsc-input-border-width--toggle);

    flex-shrink: 0; /* Never shrink a toggle input */
    padding: 0;
    width: var(--dsc-input-size);
  }

  &[type='radio'] {
    border-radius: var(--ds-border-radius-full);
  }

  &[type='radio']:checked {
    background: radial-gradient(circle closest-side, var(--dsc-input-icon-color) 45%, transparent 50%), var(--dsc-input-background);
  }

  &[type='checkbox']:checked {
    background: var(--check-left), var(--check-right), var(--dsc-input-background);
  }

  &[type='checkbox']:indeterminate {
    background:
      linear-gradient(
          transparent calc(48% - var(--dsc-input-icon-stroke)),
          var(--dsc-input-icon-color) calc(50% - var(--dsc-input-icon-stroke)),
          var(--dsc-input-icon-color) calc(50% + var(--dsc-input-icon-stroke)),
          transparent calc(52% + var(--dsc-input-icon-stroke))
        )
        center / var(--dsc-input-icon-size) no-repeat content-box,
      var(--dsc-input-background);
  }

  &[role='switch']:is([type='radio'], [type='checkbox']) {
    --dsc-input-size: var(--dsc-input-size--switch);
    --circle-size: calc(var(--dsc-input-size) - var(--dsc-input-border-width--toggle) * 2);
    --circle-position: left;

    border-radius: var(--ds-border-radius-full);
    transition: 0.2s background-position;
    width: calc(var(--dsc-input-size) * 2);
    will-change: background-position; /* Enhance animation rendering */
    background:
      var(--check-left),
      var(--check-right),
      radial-gradient(circle closest-side, currentcolor 95%, transparent 100%) var(--circle-position) / var(--circle-size) 100% no-repeat content-box,
      var(--dsc-input-background);

    /* --dsc-input-icon-color: var(--dsc-input-border-color); */
    &:checked {
      --dsc-input-icon-color: var(--dsc-input-border-color);
      --circle-position: right;
    }
  }
}

/* Change cursor on wrapping <label> */
label:has(input:is([type='checkbox'], [type='radio']):not(:disabled, [aria-disabled], [readonly])) {
  cursor: pointer;
}

/**
  * Affix
  */
.ds-input-affix {
  --dsc-input-affix-border-radius: var(--ds-border-radius-md);
  --dsc-input-affix-border: 1px solid var(--ds-color-neutral-border-default);
  --dsc-input-affix-padding: var(--ds-spacing-4);

  align-items: center;
  background: var(--ds-color-neutral-background-subtle);
  border-radius: var(--dsc-input-affix-border-radius);
  box-sizing: border-box;
  color: var(--ds-color-neutral-text-subtle);
  display: inline-flex; /* Using inline-flex to match native inline-block behaviour of <input> */
  gap: var(--dsc-input-affix-padding);
  padding-inline: var(--dsc-input-affix-padding);
  position: relative;
  white-space: nowrap;
  width: fit-content;

  /* Using ::before to make input border overlap addons border */
  &::before {
    border-radius: inherit;
    border: var(--dsc-input-affix-border);
    content: '';
    inset: 0;
    pointer-events: none;
    position: absolute;
  }

  @composes ds-body-text--md from './base/base.css';

  /* Using double selector to ensure we win specificity */
  .ds-input.ds-input {
    border-radius: 0;
    flex: 1 1 auto;
  }

  &:has([data-size='sm']) {
    @composes ds-body-text--sm from './base/base.css';

    --dsc-input-affix-padding: var(--ds-spacing-3);
  }

  &:has([data-size='lg']) {
    @composes ds-body-text--lg from './base/base.css';

    --dsc-input-affix-padding: var(--ds-spacing-5);
  }
}
