@layer ds.typography.label {
  .fds-label {
    --dsc-bottom-spacing: var(--ds-spacing-1);

    display: inline-block;
    margin: 0;
    padding: 0;
    color: var(--ds-color-neutral-text-default);
  }

  .fds-label--spacing {
    margin-bottom: var(--dsc-bottom-spacing);
  }

  .fds-label--lg {
    font: var(--ds-typography-label-lg);
    font-family: inherit;
  }

  .fds-label--md {
    font: var(--ds-typography-label-md);
    font-family: inherit;
  }

  .fds-label--sm {
    font: var(--ds-typography-label-sm);
    font-family: inherit;
  }

  .fds-label--xs {
    font: var(--ds-typography-label-xs);
    font-family: inherit;
  }

  .fds-label--regular-weight {
    font-weight: 400;
  }

  .fds-label--medium-weight {
    font-weight: 500;
  }

  .fds-label--semibold-weight {
    font-weight: 600;
  }
}
