.ds-label {
  /* We set these three styles when label is used in `legend` */
  display: inline-block;
  margin: 0;
  padding: 0;
  font-weight: var(--ds-font-weight-medium);

  &[data-weight='semibold'] {
    font-weight: var(--ds-font-weight-semibold);
  }

  &[data-weight='regular'] {
    font-weight: var(--ds-font-weight-regular);
  }
}
