@layer ds.link {
  .fds-link {
    position: relative;
    color: var(--ds-color-accent-text-subtle);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: max(5px, 0.25rem);
    display: inline-flex;
    align-items: center;
    gap: var(--ds-spacing-1);
  }

  .fds-link:visited {
    color: var(--ds-global-purple-12);
    text-decoration: none;
  }

  .fds-link:hover {
    color: var(--ds-color-accent-text-default);
    text-decoration-thickness: max(2px, 0.125rem, 0.12em);
  }

  .fds-link:focus-visible {
    color: var(--ds-color-accent-text-default);
    background: var(--ds-color-neutral-surface-default);
    outline: none;
  }

  .fds-link:active {
    color: var(--ds-color-accent-text-default);
    background: var(--ds-color-accent-surface-default);
    border-radius: var(--ds-border-radius-md);
    outline: none;
  }
}
