@layer fds.link {
  .fds-link {
    color: var(--ds-color-accent-text-subtle);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: max(1px, 0.0625rem);
    text-underline-offset: max(5px, 0.25rem);
    display: inline-flex;
    align-items: center;
    gap: var(--ds-spacing-1);
  }

  .fds-link:visited {
    color: var(--ds-global-purple-12);
    text-decoration: none;
  }

  .fds-link:hover {
    color: var(--ds-color-accent-text-default);
    text-decoration-thickness: max(2px, 0.125rem, 0.12em);
  }

  .fds-link:focus-visible {
    background: var(--ds-color-accent-surface-default);
    box-shadow: 0 max(3px, 0.1875rem, 0.18em) var(--ds-color-accent-text-default);
    color: var(--ds-color-accent-text-default);
    outline: none;
    text-decoration: none;
  }
}
