.ds-link {
  --dsc-link-background--active: var(--ds-color-accent-surface-default);
  --dsc-link-background--focus: var(--ds-color-focus-outer);
  --dsc-link-color--active: var(--ds-color-accent-text-default);
  --dsc-link-color--focus: var(--ds-color-focus-inner);
  --dsc-link-color--hover: var(--ds-color-accent-text-default);
  --dsc-link-color--visited: var(--ds-global-purple-12);
  --dsc-link-color: var(--ds-color-accent-text-subtle);
  --dsc-link-text-decoration-thickness--hover: max(2px, 0.125rem, 0.12em);
  --dsc-link-text-decoration-thickness: max(1px, 0.0625rem);

  color: var(--dsc-link-color);
  outline: none;
  text-decoration-style: solid;
  text-decoration-thickness: var(--dsc-link-text-decoration-thickness);
  text-underline-offset: max(5px, 0.25rem);

  & svg {
    vertical-align: middle; /* If adding SVG icon - align it to the text */
  }

  /**
    * Colors
    */
  &[data-ds-color="neutral"] {
    --dsc-link-background--active: var(--ds-color-neutral-surface-default);
    --dsc-link-color--active: var(--ds-color-neutral-text-subtle);
    --dsc-link-color--hover: var(--ds-color-neutral-text-subtle);
    --dsc-link-color--visited: var(--ds-global-purple-12);
    --dsc-link-color: var(--ds-color-neutral-text-default);
  }

  /**
    * States
    */
  &:visited {
    color: var(--dsc-link-color--visited);
  }

  @media (hover: hover) and (pointer: fine) { /* Only use hover for non-touch devices to prevent sticky-hovering */
    &:hover {
      color: var(--dsc-link-color--hover);
      text-decoration-thickness: var(--dsc-link-text-decoration-thickness--hover);
    }
  }

  &:focus-visible {
    background: var(--dsc-link-background--focus);
    color: var(--dsc-link-color--focus);
  }

  &:active {
    background: var(--dsc-link-background--active);
    color: var(--dsc-link-color--active);
  }
}
