@layer ds.list {
  .fds-list--sm {
    padding-left: var(--ds-spacing-4);
  }

  .fds-list--md,
  .fds-list--lg {
    padding-left: var(--ds-spacing-6);
  }

  .fds-list__item {
    margin-bottom: var(--ds-spacing-2);
  }

  .fds-list__item > .fds-list {
    margin-top: var(--ds-spacing-2);
  }
}
