@layer ds.modal {
  .fds-modal {
    padding: 0;
    width: 100%;
    max-width: 650px;
    border: none;
    border-radius: var(--ds-border-radius-md);
    box-shadow: var(--ds-shadow-xl);
    background-color: var(--ds-color-neutral-background-default);
    color: var(--ds-color-neutral-text-default);
  }

  .fds-modal::backdrop {
    background-color: rgb(0 0 0 / 0.5);
    animation: fade-in 300ms ease-in-out;
  }

  .fds-modal[open] {
    animation:
      slide-in 300ms ease-in-out,
      fade-in 300ms ease-in-out;
  }

  .fds-modal > hr {
    margin: var(--ds-spacing-3) 0 !important;
    border-color: var(--ds-color-neutral-border-subtle);
  }

  .fds-modal--lock-scroll {
    overflow: hidden;
  }

  @media (max-width: 650px) {
    .fds-modal {
      min-width: 100%;
      max-width: 100%;
      border-radius: 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .fds-modal[open] {
      animation: none;
    }

    .fds-modal::backdrop {
      animation: none;
    }
  }

  @keyframes slide-in {
    0% {
      transform: translateY(50px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .fds-modal__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: var(--ds-spacing-6);
    padding-bottom: var(--ds-spacing-2);
    padding-left: var(--ds-spacing-6);
    padding-right: var(--ds-spacing-18);
    gap: var(--ds-spacing-1);
    color: var(--ds-color-neutral-text-default);
  }

  .fds-modal__header--no-button {
    padding-right: var(--ds-spacing-6);
  }

  .fds-modal__header__button {
    position: absolute;
    top: var(--ds-spacing-3);
    right: var(--ds-spacing-3);
  }

  .fds-modal__footer {
    display: flex;
    align-items: center;
    gap: var(--ds-spacing-4);
    padding-top: var(--ds-spacing-3);
    padding-bottom: var(--ds-spacing-6);
    padding-left: var(--ds-spacing-6);
    padding-right: var(--ds-spacing-6);
  }

  .fds-modal__content {
    padding: var(--ds-spacing-2) var(--ds-spacing-6);
    max-height: 80vh;
    overflow-y: auto;
  }
}
