.ds-modal {
  --dsc-modal-max-width: 650px;
  --dsc-modal-background: var(--ds-color-neutral-background-default);
  --dsc-modal-color: var(--ds-color-neutral-text-default);
  --dsc-modal-backdrop-background: rgb(0 0 0 / 0.5);
  --dsc-modal-header-padding: var(--ds-spacing-6) var(--ds-spacing-18) var(--ds-spacing-2) var(--ds-spacing-6);
  --dsc-modal-footer-padding: var(--ds-spacing-3) var(--ds-spacing-6) var(--ds-spacing-6) var(--ds-spacing-6);
  --dsc-modal-content-padding: var(--ds-spacing-2) var(--ds-spacing-6);
  --dsc-modal-content-max-height: 80vh;

  padding: 0;
  width: 100%;
  max-width: var(--dsc-modal-max-width);
  border: none;
  border-radius: min(1rem, var(--ds-border-radius-lg));
  box-shadow: var(--ds-shadow-xl);
  background-color: var(--dsc-modal-background);
  color: var(--dsc-modal-color);

  &::backdrop {
    background-color: var(--dsc-modal-backdrop-background);
    animation: fade-in 300ms ease-in-out;
  }

  &[open] {
    animation:
      slide-in 300ms ease-in-out,
      fade-in 300ms ease-in-out;
  }

  & > hr {
    margin: var(--ds-spacing-3) 0 !important;
  }

  @media (max-width: 650px) {
    & {
      min-width: 100%;
      max-width: 100%;
      border-radius: 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    &[open] {
      animation: none;
    }

    &::backdrop {
      animation: none;
    }
  }
}

.ds-modal--lock-scroll {
  overflow: hidden;
}

.ds-modal__header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: var(--dsc-modal-header-padding);
  gap: var(--ds-spacing-1);
  color: var(--dsc-modal-color);
}

.ds-modal__header--no-button {
  --dsc-modal-header-padding: var(--ds-spacing-6) var(--ds-spacing-6) var(--ds-spacing-2) var(--ds-spacing-6);
}

.ds-modal__header__button {
  position: absolute;
  top: var(--ds-spacing-3);
  right: var(--ds-spacing-3);
}

.ds-modal__footer {
  display: flex;
  align-items: center;
  gap: var(--ds-spacing-4);
  padding: var(--dsc-modal-footer-padding);
}

.ds-modal__content {
  padding: var(--dsc-modal-content-padding);
  max-height: var(--dsc-modal-content-max-height);
  overflow-y: auto;
}

@keyframes slide-in {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
