@layer fds.nativeselect {
  .fds-native-select {
    position: relative;
    font: inherit;
    font-family: inherit;
    box-sizing: border-box;
    flex: 0 1 auto;
    padding: 0 var(--ds-spacing-2);
    border: solid 1px var(--ds-color-neutral-border-default);
    border-radius: var(--ds-border-radius-md);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMWVtJyBoZWlnaHQ9JzFlbScgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZvY3VzYWJsZT0nZmFsc2UnIHJvbGU9J2ltZyc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J001Ljk3IDkuNDdhLjc1Ljc1IDAgMCAxIDEuMDYgMEwxMiAxNC40NGw0Ljk3LTQuOTdhLjc1Ljc1IDAgMSAxIDEuMDYgMS4wNmwtNS41IDUuNWEuNzUuNzUgMCAwIDEtMS4wNiAwbC01LjUtNS41YS43NS43NSAwIDAgMSAwLTEuMDZaJyBmaWxsPSdjdXJyZW50Q29sb3InPjwvcGF0aD48L3N2Zz4=');
    background-color: var(--ds-color-neutral-background-default);
    color: var(--ds-color-neutral-text-default);
    background-repeat: no-repeat;
    background-position: right var(--ds-spacing-2) center;
    background-size: 1.5em 1.5em;
    appearance: none;
  }

  @media (hover: hover) and (pointer: fine) {
    .fds-native-select:not(:focus-visible, :disabled, [aria-disabled]):hover {
      border-color: var(--ds-color-accent-border-strong);
      box-shadow: inset 0 0 0 1px var(--ds-color-accent-border-strong);
    }
  }

  .fds-native-select.fds-native-select--multiple {
    background-image: none;
  }

  .fds-native-select--sm {
    padding: 0 var(--ds-spacing-2);
    padding-right: var(--ds-spacing-8);
    height: var(--ds-sizing-10);
  }

  .fds-native-select--md {
    padding: 0 var(--ds-spacing-3);
    padding-right: var(--ds-spacing-10);
    height: var(--ds-sizing-12);
  }

  .fds-native-select--lg {
    padding: 0 var(--ds-spacing-4);
    padding-right: var(--ds-spacing-12);
    height: var(--ds-sizing-14);
  }

  .fds-native-select--container {
    display: grid;
    gap: var(--ds-spacing-2);
  }

  .fds-native-select--disabled {
    opacity: var(--ds-opacity-disabled);
  }

  .fds-native-select--disabled .fds-native-select {
    cursor: not-allowed;
  }

  .fds-native-select--readonly .fds-native-select {
    background: var(--ds-color-neutral-background-subtle);
    border-color: var(--ds-color-neutral-border-strong);
  }

  .fds-native-select--error > .fds-native-select:not(:focus-visible) {
    border-color: var(--ds-color-danger-border-default);
    box-shadow: inset 0 0 0 1px var(--ds-color-danger-border-default);
  }

  .fds-native-select__readonly__icon {
    height: 1.2em;
    width: 1.2em;
  }

  .fds-native-select__error-message:empty {
    display: none;
  }

  .fds-native-select__label {
    min-width: min-content;
    display: inline-flex;
    flex-direction: row;
    gap: var(--ds-spacing-1);
    align-items: center;
  }

  .fds-native-select__description {
    color: var(--ds-color-neutral-text-subtle);
    margin-top: calc(var(--ds-spacing-2) * -1);
  }
}
