.fds-pagination-pagination {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
}

.fds-pagination-hidden {
  visibility: hidden;
}

.fds-pagination-pagination.fds-pagination-small {
  --fdsc-pagination-chevron-margin: var(--fds-spacing-2);
}

.fds-pagination-pagination.fds-pagination-medium {
  --fdsc-pagination-chevron-margin: var(--fds-spacing-6);
}

.fds-pagination-pagination li:first-child {
  margin-right: var(--fdsc-pagination-chevron-margin);
}

.fds-pagination-pagination li:last-child {
  margin-left: var(--fdsc-pagination-chevron-margin);
}

.fds-pagination-listitem {
  flex: 1;
  margin-right: var(--fsdc-pagination-listitem-margin);
}

.fds-pagination-listitem.fds-pagination-small {
  --fsdc-pagination-listitem-margin: var(--fds-spacing-2);
  --fdsc-pagination-ellipsis-width: var(--fds-sizing-8);
}

.fds-pagination-listitem.fds-pagination-medium {
  --fsdc-pagination-listitem-margin: var(--fds-spacing-4);
  --fdsc-pagination-ellipsis-width: var(--fds-sizing-10);
}

.fds-pagination-listitem.fds-pagination-compact {
  --fsdc-pagination-listitem-margin: var(--fds-spacing-1);
}

.fds-pagination-ellipsis {
  margin-top: 0.5em;
  text-align: center;
  width: var(--fdsc-pagination-ellipsis-width);
}
