@layer fds.typography.paragraph {
  .fds-paragraph {
    --fdsc-bottom-spacing: var(--fds-spacing-5);

    color: var(--fds-semantic-text-neutral-default);
    margin: 0;
  }

  .fds-paragraph--spacing {
    margin-bottom: var(--fdsc-bottom-spacing);
  }

  .fds-paragraph--large {
    --fdsc-bottom-spacing: var(--fds-spacing-6);

    font: var(--fds-typography-paragraph-large);
    font-family: inherit;
  }

  .fds-paragraph--large.fds-paragraph--short {
    font: var(--fds-typography-paragraph-short-large);
    font-family: inherit;
  }

  .fds-paragraph--large.fds-paragraph--long {
    line-height: var(--fds-typography-paragraph-long-large);
  }

  .fds-paragraph--medium {
    --fdsc-bottom-spacing: var(--fds-spacing-5);

    font: var(--fds-typography-paragraph-medium);
    font-family: inherit;
  }

  .fds-paragraph--medium.fds-paragraph--short {
    --fdsc-bottom-spacing: var(--fds-spacing-5);

    font: var(--fds-typography-paragraph-short-medium);
    font-family: inherit;
  }

  .fds-paragraph--medium.fds-paragraph--long {
    line-height: var(--fds-typography-paragraph-long-medium);
  }

  .fds-paragraph--small {
    --fdsc-bottom-spacing: var(--fds-spacing-4);

    font: var(--fds-typography-paragraph-small);
    font-family: inherit;
  }

  .fds-paragraph--small.fds-paragraph--short {
    --fdsc-bottom-spacing: var(--fds-spacing-4);

    font: var(--fds-typography-paragraph-short-small);
    font-family: inherit;
  }

  .fds-paragraph--small.fds-paragraph--long {
    line-height: var(--fds-typography-paragraph-long-small);
  }

  .fds-paragraph--xsmall {
    --fdsc-bottom-spacing: var(--fds-spacing-3);

    font: var(--fds-typography-paragraph-xsmall);
    font-family: inherit;
  }

  .fds-paragraph--xsmall.fds-paragraph--short {
    --fdsc-bottom-spacing: var(--fds-spacing-3);

    font: var(--fds-typography-paragraph-short-xsmall);
    font-family: inherit;
  }

  .fds-paragraph--xsmall.fds-paragraph--long {
    line-height: var(--fds-typography-paragraph-long-xsmall);
  }
}
