@layer fds.fds-popover {
  .fds-popover {
    --dsc-popover-border: 1px solid;
    --dsc-popover-background: var(--ds-color-neutral-background-default);

    z-index: 1500;
    background: var(--dsc-popover-background);
    padding: var(--ds-spacing-3);
    border: var(--dsc-popover-border);
    border-radius: var(--ds-border-radius-md);
    max-width: 300px;
  }

  .fds-popover--sm {
    padding: var(--ds-spacing-2) var(--ds-spacing-3);
  }

  .fds-popover--md {
    padding: var(--ds-spacing-3) var(--ds-spacing-4);
  }

  .fds-popover--lg {
    padding: var(--ds-spacing-3) var(--ds-spacing-5);
  }

  .fds-popover--default {
    --dsc-popover-background: var(--ds-color-neutral-background-default);

    border-color: var(--ds-color-neutral-border-default);
  }

  .fds-popover--info {
    --dsc-popover-background: var(--ds-color-info-surface-default);

    border-color: var(--ds-color-info-border-default);
    color: var(--ds-color-info-text-default);
  }

  .fds-popover--warning {
    --dsc-popover-background: var(--ds-color-warning-surface-default);

    border-color: var(--ds-color-warning-border-default);
    color: var(--ds-color-warning-text-default);
  }

  .fds-popover--danger {
    --dsc-popover-background: var(--ds-color-danger-surface-default);

    border-color: var(--ds-color-danger-border-default);
    color: var(--ds-color-danger-text-default);
  }

  .fds-popover__arrow {
    position: absolute;
    background: var(--dsc-popover-background);
    transform: rotate(45deg);
  }

  .fds-popover__arrow.fds-popover__arrow--top {
    border-top: var(--dsc-popover-border);
    border-left: var(--dsc-popover-border);
    border-color: inherit;
  }

  .fds-popover__arrow.fds-popover__arrow--bottom {
    border-bottom: var(--dsc-popover-border);
    border-right: var(--dsc-popover-border);
    border-color: inherit;
  }

  .fds-popover__arrow.fds-popover__arrow--right {
    border-top: var(--dsc-popover-border);
    border-right: var(--dsc-popover-border);
    border-color: inherit;
  }

  .fds-popover__arrow.fds-popover__arrow--left {
    border-bottom: var(--dsc-popover-border);
    border-left: var(--dsc-popover-border);
    border-color: inherit;
  }
}
