.ds-popover {
  --dsc-popover-arrow-size: var(--ds-spacing-2);
  --dsc-popover-background: var(--ds-color-neutral-background-default);
  --dsc-popover-border-radius: min(1rem, var(--ds-border-radius-md));
  --dsc-popover-border: 1px solid var(--ds-color-neutral-border-default);
  --dsc-popover-color: var(--ds-color-neutral-text-default);
  --dsc-popover-max-width: 300px;
  --dsc-popover-padding: var(--ds-spacing-3) var(--ds-spacing-4);

  background: var(--dsc-popover-background);
  border-radius: var(--dsc-popover-border-radius);
  border: var(--dsc-popover-border);
  box-sizing: border-box;
  color: var(--dsc-popover-color);
  inset: 0 auto auto 0;
  max-width: var(--dsc-popover-max-width);
  overflow: visible;
  padding: var(--dsc-popover-padding);
  position: fixed;

  @composes ds-body-text--md from './utilities.css';

  &::before {
    background: var(--dsc-popover-background);
    border: inherit;
    border-left-color: transparent;
    border-top-color: transparent;
    box-sizing: border-box;
    content: '';
    height: var(--dsc-popover-arrow-size);
    left: var(--ds-popover-arrow-x);
    position: absolute;
    top: var(--ds-popover-arrow-y);
    translate: -50% -50%;
    width: var(--dsc-popover-arrow-size);
  }

  &[data-size='sm'] {
    --dsc-popover-padding: var(--ds-spacing-2) var(--ds-spacing-3);

    @composes ds-body-text--sm from './utilities.css';
  }

  &[data-size='lg'] {
    --dsc-popover-padding: var(--ds-spacing-3) var(--ds-spacing-5);

    @composes ds-body-text--lg from './utilities.css';
  }

  &[data-placement='top']::before {
    top: 100%;
    rotate: 45deg;
  }

  &[data-placement='left']::before {
    left: 100%;
    rotate: -45deg;
  }

  &[data-placement='right']::before {
    left: 0;
    rotate: 135deg;
  }

  &[data-placement='bottom']::before {
    top: 0;
    rotate: -135deg;
  }

  &[data-variant='info'] {
    --dsc-popover-background: var(--ds-color-info-surface-default);
    --dsc-popover-border: 1px solid var(--ds-color-info-border-default);
    --dsc-popover-color: var(--ds-color-info-text-default);
  }

  &[data-variant='warning'] {
    --dsc-popover-background: var(--ds-color-warning-surface-default);
    --dsc-popover-border: 1px solid var(--ds-color-warning-border-default);
    --dsc-popover-color: var(--ds-color-warning-text-default);
  }

  &[data-variant='danger'] {
    --dsc-popover-background: var(--ds-color-danger-surface-default);
    --dsc-popover-border: 1px solid var(--ds-color-danger-border-default);
    --dsc-popover-color: var(--ds-color-danger-text-default);
  }
}
