.ds-radio {
  border-radius: var(--ds-border-radius-md);
  display: grid;
  gap: var(--ds-spacing-2);
  grid-template-columns: auto 1fr;
  width: fit-content; /* Rather do display: grid + width: fit-content than display: inline-grid to encourage stacked radios */

  @composes ds-body-text--md from './base/base.css';

  &[data-size='sm'] {
    @composes ds-body-text--sm from './base/base.css';
  }

  &[data-size='lg'] {
    @composes ds-body-text--lg from './base/base.css';
  }

  & > :not(input) {
    grid-column: 2; /* Only allow input in column 1 */
  }

  /* &:has([aria-disabled='true'], :disabled) > * {
    opacity: var(--ds-disabled-opacity);
  } */

  /* &:not([readonly], [aria-disabled='true'], :disabled) > label {
    cursor: pointer;
  } */

  &:has(input:focus-visible) {
    @composes ds-focus--visible from './base/base.css';
  }

  & > input:focus-visible {
    outline: none;
    box-shadow: none;
  }

  /* & label {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    gap: var(--ds-spacing-1);
    min-width: min-content;
  } */
}

/* .ds-radio__description {
  margin-top: calc(var(--ds-spacing-2) * -1);
  color: var(--ds-color-neutral-text-subtle);
  grid-column: 2;
} */

/*.ds-radio__group {
  --dsc-radio-group-gap: var(--ds-spacing-4);

  display: flex;
  flex-direction: column;
  gap: var(--dsc-radio-group-gap);
  width: fit-content;

  &[data-size='sm'] {
    --dsc-radio-group-gap: var(--ds-spacing-3);

    margin-top: calc(var(--ds-spacing-2) * -1);
  }

  &[data-size='lg'] {
    --dsc-radio-group-gap: var(--ds-spacing-5);

    margin-top: calc(var(--ds-spacing-2) * 1);
  }
} */
