@layer fds.combobox-option {
  .fds-option-option-e45d3bd6 {
    width: 100%;
    display: grid;
    grid-template-columns: 1.2em 1fr;
    padding: var(--fds-spacing-2) var(--fds-spacing-3);
    padding-left: var(--fds-spacing-1);
    border: none;
    border-left: 5px solid transparent;
    border-radius: var(--fds-border_radius-interactive);
    justify-content: start;
    background: none;
    text-align: left;
    height: auto;
    cursor: pointer;
    font: var(--fds-typography-label-medium);
    font-family: inherit;
  }

  .fds-option-option-e45d3bd6.fds-option-active-e45d3bd6 {
    background: var(--fds-semantic-surface-action-first-no_fill-hover);
    border-left: 5px solid var(--fds-semantic-border-input-hover);
  }

  .fds-option-option-e45d3bd6 > div {
    align-self: flex-start;
  }

  .fds-option-option-e45d3bd6.fds-option-multiple-e45d3bd6 {
    grid-template-columns: auto 1fr;
    gap: var(--fds-spacing-2);
  }

  .fds-option-optionText-e45d3bd6 {
    margin: auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    gap: var(--fds-spacing-1);
    color: var(--fds-semantic-text-neutral-default);
  }

  .fds-option-active-e45d3bd6 .fds-option-optionText-e45d3bd6 {
    color: var(--fds-semantic-text-action-hover);
  }

  .fds-option-checkbox-e45d3bd6 {
    min-width: unset;
    min-height: unset;
    aspect-ratio: 1 / 1;
    line-height: 0 !important;
  }

  .fds-option-checkbox-e45d3bd6 input {
    min-width: unset;
    min-height: unset;
  }

  .fds-option-checkbox-e45d3bd6 > span {
    position: relative;
    min-width: unset;
    min-height: unset;
    height: unset;
    width: unset;
  }

  .fds-option-selectIconWrapper-e45d3bd6 {
    width: var(--fds-spacing-6);
    aspect-ratio: 1 / 1;
    border: 2px solid var(--fds-semantic-border-input-default);
    border-radius: var(--fds-border_radius-interactive);
    background-color: white;
    display: grid;
    place-items: center;
  }

  .fds-option-small-e45d3bd6 .fds-option-selectIconWrapper-e45d3bd6 {
    width: var(--fds-spacing-5);
  }

  .fds-option-medium-e45d3bd6 .fds-option-selectIconWrapper-e45d3bd6 {
    width: var(--fds-spacing-6);
  }

  .fds-option-large-e45d3bd6 .fds-option-selectIconWrapper-e45d3bd6 {
    width: var(--fds-spacing-7);
  }

  .fds-option-selectIconWrapper-e45d3bd6.fds-option-selected-e45d3bd6 {
    border-color: var(--fds-semantic-border-input-hover);
    background-color: var(--fds-semantic-border-input-hover);
  }

  .fds-option-selectIcon-e45d3bd6 {
    box-sizing: border-box;
    padding-top: 0.2em;
    transform: scale(1.4);
    stroke: var(--fds-semantic-text-neutral-default);
    color: var(--fds-semantic-text-neutral-default);
  }

  .fds-option-selectIconWrapper-e45d3bd6 .fds-option-selectIcon-e45d3bd6 {
    padding-top: 0;
  }

  .fds-option-active-e45d3bd6 .fds-option-selectIcon-e45d3bd6 {
    stroke: var(--fds-semantic-text-action-hover);
    color: var(--fds-semantic-text-action-hover);
  }

  .fds-option-active-e45d3bd6 .fds-option-selectIconWrapper-e45d3bd6 {
    border-color: var(--fds-semantic-border-input-hover);
  }

  .fds-option-selectIconWrapper-e45d3bd6.fds-option-selected-e45d3bd6 .fds-option-selectIcon-e45d3bd6 {
    color: white;
    stroke: white;
  }
}

@layer fds.combobox-option-description {
  .fds-description-description-2f709a8a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: var(--fds-spacing-1);
    color: var(--fds-semantic-text-neutral-subtle);
    font: inherit;
    font-family: inherit;
  }
}

@layer fds.combobox-custom {
  .fds-custom-custom-b0827f56 {
    padding: var(--fds-spacing-2) var(--fds-spacing-3);
  }

  .fds-custom-large-b0827f56 {
    font: var(--fds-typography-label-large);
    font-family: inherit;
    font-weight: 400;
  }

  .fds-custom-medium-b0827f56 {
    font: var(--fds-typography-label-medium);
    font-family: inherit;
    font-weight: 400;
  }

  .fds-custom-small-b0827f56 {
    font: var(--fds-typography-label-small);
    font-family: inherit;
    font-weight: 400;
  }
}

@layer fds.combobox {
  .fds-combobox-combobox-249a725c {
    display: grid;
    background-color: transparent;
    gap: var(--fds-spacing-2);
  }

  .fds-combobox-optionsWrapper-249a725c {
    padding: var(--fds-spacing-2);
    background: var(--fds-semantic-background-default);
    overflow-y: auto;
    z-index: 1600;
  }

  .fds-combobox-readOnly-249a725c input {
    pointer-events: none;
  }

  .fds-combobox-inputWrapper-249a725c {
    display: flex;
    align-items: center;
    position: relative;
    gap: var(--fds-spacing-1);
    cursor: text;
    padding: var(--fds-spacing-2);
    width: 100%;
    height: auto;
    justify-content: space-between;
    font: var(--fds-typography-paragraph-medium);
    font-family: inherit;
  }

  .fds-combobox-inputWrapper-249a725c input {
    height: 100%;
    min-width: 50px;
    flex-grow: 1;
    appearance: none;
    border: none;
    background-color: transparent;
  }

  .fds-combobox-inputWrapper-249a725c.fds-combobox-small-249a725c {
    min-height: var(--fds-sizing-10);
    font: var(--fds-typography-paragraph-small);
    font-family: inherit;
    padding: 5px var(--fds-spacing-2);
  }

  .fds-combobox-inputWrapper-249a725c.fds-combobox-small-249a725c input {
    font: var(--fds-typography-paragraph-small);
    font-family: inherit;
  }

  .fds-combobox-inputWrapper-249a725c.fds-combobox-medium-249a725c {
    min-height: var(--fds-sizing-12);
    font: var(--fds-typography-paragraph-medium);
    font-family: inherit;
    padding: 7px var(--fds-spacing-3);
  }

  .fds-combobox-inputWrapper-249a725c.fds-combobox-medium-249a725c input {
    font: var(--fds-typography-paragraph-medium);
    font-family: inherit;
  }

  .fds-combobox-inputWrapper-249a725c.fds-combobox-large-249a725c {
    min-height: var(--fds-sizing-14);
    font: var(--fds-typography-paragraph-large);
    font-family: inherit;
    padding: 7px var(--fds-spacing-4);
  }

  .fds-combobox-inputWrapper-249a725c.fds-combobox-large-249a725c input {
    font: var(--fds-typography-paragraph-large);
    font-family: inherit;
  }

  .fds-combobox-inputWrapper-249a725c input:focus {
    outline: none;
  }

  .fds-combobox-inputWrapper-249a725c.fds-combobox-error-249a725c {
    border-color: var(--fds-semantic-border-danger-default);
    border-width: 2px;
  }

  .fds-combobox-chipAndInput-249a725c {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: var(--fds-spacing-2);
    align-items: center;
    background-color: transparent;
  }

  .fds-combobox-chips-249a725c {
    display: flex;
    flex-wrap: wrap;
    gap: var(--fds-spacing-1);
    align-items: center;
    background-color: transparent;
  }

  .fds-combobox-arrow-249a725c {
    display: grid;
    place-items: center;
    cursor: pointer;
  }

  .fds-combobox-inputWrapper-249a725c.fds-combobox-readonly-249a725c {
    background: var(--fds-semantic-surface-neutral-subtle);
    border-color: var(--fds-semantic-border-neutral-default);
  }

  .fds-combobox-label-249a725c {
    min-width: min-content;
    display: inline-flex;
    flex-direction: row;
    gap: var(--fds-spacing-1);
    align-items: center;
  }

  .fds-combobox-description-249a725c {
    color: var(--fds-semantic-text-neutral-subtle);
    margin-top: calc(var(--fds-spacing-2) * -1);
  }

  .fds-combobox-clearButton-249a725c {
    display: grid;
    place-items: center;
    cursor: pointer;
    background-color: transparent;
    color: var(--fds-semantic-text-neutral-default);
    border: none;
    padding: 0;
    border-radius: var(--fds-spacing-1);
    height: 29px;
    width: 29px;
    aspect-ratio: 1;
  }

  .fds-combobox-clearButton-249a725c.fds-combobox-small-249a725c {
    height: 25px;
    width: 25px;
  }

  .fds-combobox-clearButton-249a725c.fds-combobox-medium-249a725c {
    height: 29px;
    width: 29px;
  }

  .fds-combobox-clearButton-249a725c.fds-combobox-large-249a725c {
    height: 31px;
    width: 31px;
  }

  .fds-combobox-clearButton-249a725c:not(.fds-combobox-disabled-249a725c):hover {
    background-color: var(--fds-semantic-surface-info-subtle-hover);
  }

  .fds-combobox-disabled-249a725c {
    opacity: var(--fds-opacity-disabled);
  }

  .fds-combobox-disabled-249a725c * {
    cursor: not-allowed;
  }

  .fds-combobox-padlock-249a725c {
    height: 1.2em;
    width: 1.2em;
  }

  .fds-combobox-errorMessage-249a725c {
    margin-top: var(--fds-spacing-2);
  }

  .fds-combobox-errorMessage-249a725c:empty {
    display: none;
  }

  .fds-combobox-loading-249a725c {
    display: flex;
    gap: var(--fds-spacing-2);
    align-content: center;
  }

  /**
   * Apply a focus outline on an element when it is focused with keyboard
   */
  .fds-combobox-inFocus-249a725c {
    --fds-focus-border-width: 3px;

    outline: var(--fds-focus-border-width) solid var(--fds-semantic-border-focus-outline);
    outline-offset: var(--fds-focus-border-width);
    box-shadow: 0 0 0 var(--fds-focus-border-width) var(--fds-semantic-border-focus-boxshadow) !important;
  }

  .fds-combobox-showChecked-249a725c path {
    display: inline !important;
  }

  .fds-combobox-showChecked-249a725c rect {
    stroke: var(--fds-semantic-border-input-hover) !important;
    fill: var(--fds-semantic-border-input-hover) !important;
  }
}

@layer fds.combobox-empty {
  .fds-empty-empty-81c5195a {
    padding: var(--fds-spacing-2) var(--fds-spacing-3);
  }

  .fds-empty-large-81c5195a {
    font: var(--fds-typography-label-large);
    font-family: inherit;
    font-weight: 400;
  }

  .fds-empty-medium-81c5195a {
    font: var(--fds-typography-label-medium);
    font-family: inherit;
    font-weight: 400;
  }

  .fds-empty-small-81c5195a {
    font: var(--fds-typography-label-small);
    font-family: inherit;
    font-weight: 400;
  }
}
