@layer fds.search {
  .fds-search {
    display: inline-grid;
    width: 100%;
    gap: var(--ds-spacing-2);
  }

  .fds-search--sm {
    --dsc-search-button-clear-size: var(--ds-sizing-5);
  }

  .fds-search--md {
    --dsc-search-button-clear-size: var(--ds-sizing-6);
  }

  .fds-search--lg {
    --dsc-search-button-clear-size: var(--ds-sizing-8);
  }

  .fds-search__error:empty {
    display: none;
  }

  .fds-search__label {
    min-width: min-content;
    display: inline-flex;
    flex-direction: row;
    gap: var(--ds-spacing-1);
    align-items: center;
  }

  .fds-search__field {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-radius: var(--ds-border-radius-md);
    position: relative;
  }

  .fds-search__icon {
    position: absolute;
    height: 100%;
    z-index: 2;
    left: var(--ds-spacing-4);
    transform: scale(1.5);
    pointer-events: none;
  }

  [type='search']::-webkit-search-decoration,
  [type='search']::-webkit-search-cancel-button {
    appearance: none;
  }

  .fds-search__input {
    font: inherit;
    font-family: inherit;
    position: relative;
    box-sizing: border-box;
    flex: 0 1 auto;
    height: var(--ds-sizing-10);
    width: 100%;
    appearance: none;
    padding: 0 var(--ds-spacing-3);
    background: var(--ds-color-neutral-background-default);
    color: var(--ds-color-neutral-text-default);
    border: solid 1px var(--ds-color-neutral-border-default);
    border-radius: var(--ds-border-radius-md);
  }

  .fds-search__input.fds-search__input--with-search-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .fds-search__input:disabled {
    cursor: not-allowed;
  }

  .fds-search__input[type='search']:focus-visible {
    z-index: 1;
  }


  .fds-search:has(.fds-search__input:disabled) {
    opacity: var(--ds-opacity-disabled);
  }

  .fds-search__search-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .fds-search__search-button:not(:focus-visible) {
    border-left: 0;
  }

  .fds-search__search-button:focus-visible {
    z-index: 1;
  }

  .fds-search__clear-button {
    color: var(--ds-color-neutral-text-default);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: none;
    border: none;
    right: 0.6em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: var(--dsc-search-button-clear-size);
    width: var(--dsc-search-button-clear-size);
    border-radius: var(--ds-border-radius-md);
    font-size: 1.25rem;
    padding: 0;
    z-index: 2;
  }

  .fds-search--sm .fds-search__input {
    --dsc-search-button-clear-size: var(--ds-sizing-4);

    height: var(--ds-sizing-10);
    padding: 0 var(--ds-spacing-3);
    padding-right: 2.5em;
  }

  .fds-search--sm .fds-search__icon {
    left: var(--ds-spacing-3);
  }

  .fds-search--md .fds-search__input {
    --dsc-search-button-clear-size: var(--ds-sizing-6);

    height: var(--ds-sizing-12);
    padding: 0 var(--ds-spacing-4);
    padding-right: 2.2em;
  }

  .fds-search--md .fds-search__icon {
    left: var(--ds-spacing-4);
  }

  .fds-search--lg .fds-search__input {
    --dsc-search-button-clear-size: var(--ds-sizing-12);

    height: var(--ds-sizing-14);
    padding: 0 var(--ds-spacing-5);
    padding-right: 2em;
  }

  .fds-search--lg .fds-search__icon {
    left: var(--ds-spacing-5);
  }

  .fds-search__input.fds-search__input--simple {
    padding-left: 2.4em;
  }

  .fds-search__error-message > .input:not(:focus-visible) {
    border-color: var(--ds-color-danger-border-default);
    box-shadow: inset 0 0 0 1px var(--ds-color-danger-border-default);
  }

  @media (hover: hover) and (pointer: fine) {
    .fds-search__input:not(:focus-visible, :disabled, [aria-disabled]):hover {
      border-color: var(--ds-color-accent-border-strong);
      box-shadow: inset 0 0 0 1px var(--ds-color-accent-border-strong);
    }

    .fds-search__clear-button:not(:focus-visible, :disabled, [aria-disabled]):hover {
      background: var(--ds-color-accent-surface-hover);
    }
  }
}
