.ds-select__wrapper {
  position: relative;
  display: grid;
  flex: 0 1 auto;

  /* chevron for native select */
  &::after {
    content: '';
    position: absolute;
    background-color: var(--ds-color-neutral-text-default);
    pointer-events: none;
    top: 50%;
    right: var(--ds-spacing-2);
    transform: translateY(-50%);
    width: 1.5em;
    height: 1.5em;
    mask-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMWVtJyBoZWlnaHQ9JzFlbScgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZvY3VzYWJsZT0nZmFsc2UnIHJvbGU9J2ltZyc+PHBhdGggZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnIGQ9J001Ljk3IDkuNDdhLjc1Ljc1IDAgMCAxIDEuMDYgMEwxMiAxNC40NGw0Ljk3LTQuOTdhLjc1Ljc1IDAgMSAxIDEuMDYgMS4wNmwtNS41IDUuNWEuNzUuNzUgMCAwIDEtMS4wNiAwbC01LjUtNS41YS43NS43NSAwIDAgMSAwLTEuMDZaJyBmaWxsPSdjdXJyZW50Q29sb3InPjwvcGF0aD48L3N2Zz4=');
    mask-size: contain;
  }
}

.ds-select {
  position: relative;
  font-family: inherit;
  box-sizing: border-box;
  padding: 0 var(--ds-spacing-2);
  border: solid 1px var(--ds-color-neutral-border-default);
  border-radius: var(--ds-border-radius-md);
  background-color: var(--ds-color-neutral-background-default);
  color: var(--ds-color-neutral-text-default);
  appearance: none;
}

@media (hover: hover) and (pointer: fine) {
  .ds-select:not(:focus-visible, :disabled, [aria-disabled]):hover {
    border-color: var(--ds-color-accent-border-strong);
    box-shadow: inset 0 0 0 1px var(--ds-color-accent-border-strong);
  }
}

.ds-select.ds-select--multiple {
  background-image: none;
}

.ds-select--sm {
  padding: 0 var(--ds-spacing-2);
  padding-right: var(--ds-spacing-8);
  height: var(--ds-sizing-10);
}

.ds-select--md {
  padding: 0 var(--ds-spacing-3);
  padding-right: var(--ds-spacing-10);
  height: var(--ds-sizing-12);
}

.ds-select--lg {
  padding: 0 var(--ds-spacing-4);
  padding-right: var(--ds-spacing-12);
  height: var(--ds-sizing-14);
}

.ds-select--container {
  display: grid;
  gap: var(--ds-spacing-2);
}

.ds-select--container:has(.ds-select:disabled) {
  opacity: var(--ds-disabled-opacity);
}

.ds-select:disabled {
  cursor: not-allowed;
}

.ds-select--readonly .ds-select {
  background: var(--ds-color-neutral-background-subtle);
  border-color: var(--ds-color-neutral-border-strong);
}

.ds-select--error > .ds-select:not(:focus-visible) {
  border-color: var(--ds-color-danger-border-default);
  box-shadow: inset 0 0 0 1px var(--ds-color-danger-border-default);
}

.ds-select__readonly__icon {
  height: 1.2em;
  width: 1.2em;
}

.ds-select__error-message:empty {
  display: none;
}

.ds-select__label {
  min-width: min-content;
  display: inline-flex;
  flex-direction: row;
  gap: var(--ds-spacing-1);
  align-items: center;
}

.ds-select__description {
  color: var(--ds-color-neutral-text-subtle);
  margin-top: calc(var(--ds-spacing-2) * -1);
}
