.ds-skeleton {
  --dsc-skeleton-animation-duration: 0.8s;
  --dsc-skeleton-animation: ds-skeleton-opacity-fade var(--dsc-skeleton-animation-duration) linear infinite alternate;
  --dsc-skeleton-background: var(--ds-color-neutral-surface-default);

  animation: var(--dsc-skeleton-animation);
  border-radius: var(--ds-border-radius-lg);
  box-sizing: border-box;
  display: block;
  height: 1.3em;
  pointer-events: none;
  user-select: none;
  width: 100%;

  &[data-variant='circle'] {
    aspect-ratio: 1 / 1;
    border-radius: var(--ds-border-radius-full);
    width: 1.3em;
  }

  &[data-variant='text'] {
    border-radius: var(--ds-border-radius-full);
    box-decoration-break: clone;
    color: transparent;
    display: inline;
    font-size: 0.8em; /* Scale down font to have larger gap between lines */
    letter-spacing: 0.1em; /* But scale up letter-spacing to have circa same line-length */
    user-select: none; /* Prevent text selection */

    &:empty::before {
      content: attr(data-text); /* Only fill with fallback text if empty */
      word-break: break-word; /* Enable text wrapping */
    }
  }

  /* When having children, let them define size */
  &:not(:empty) {
    width: fit-content;
    height: fit-content;
    color: transparent;

    & > * {
      visibility: hidden;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    --dsc-skeleton-animation-duration: 1.6s;
  }
}

/* Animates background instead of opacity to make Axe Accessibility tests understand color: transparent is intentionally set */
@keyframes ds-skeleton-opacity-fade {
  from {
    background: var(--dsc-skeleton-background);
  }

  to {
    background: rgb(from var(--dsc-skeleton-background) r g b / 0.4);
  }
}
