.ds-skeleton {
  --dsc-skeleton-animation-duration: 0.8s;
  --dsc-skeleton-background: var(--ds-color-neutral-surface-default);

  animation: ds-skeleton-opacity-fade var(--dsc-skeleton-animation-duration) linear infinite alternate;
  background: var(--dsc-skeleton-background);
  border-radius: min(1rem, var(--ds-border-radius-lg));
  box-sizing: border-box;
  display: block;
  height: 1.3em;
  pointer-events: none;
  user-select: none;
  width: 100%;

  &[data-variant='circle'] {
    aspect-ratio: 1 / 1;
    border-radius: var(--ds-border-radius-full);
    width: 1.3em;
  }

  &[data-variant='text'] {
    border-radius: var(--ds-border-radius-full);
    height: auto;
    margin-block: calc(1lh - 1em);

    &:empty::before {
      content: '\00a0';
    }
  }

  /* When having children, let them define size */
  &:not(:empty) {
    width: fit-content;
    height: fit-content;
    color: transparent !important;

    & > * {
      visibility: hidden;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    --dsc-skeleton-animation-duration: 1.6s;
  }
}

@keyframes ds-skeleton-opacity-fade {
  to {
    background: rgb(from var(--dsc-skeleton-background) r g b / 0.4);
  }
}
