.ds-skiplink {
  --dsc-skiplink-padding: var(--ds-spacing-4);
  --dsc-skiplink-background-color: var(--ds-color-accent-surface-hover);
  --dsc-skiplink-color: var(--ds-color-accent-text-default);

  @composes ds-sr-only from './base/base.css';
}

.ds-skiplink:focus {
  display: grid;
  place-items: center;
  outline: 0;
  position: static;
  width: auto;
  height: auto;
  margin: inherit;
  overflow: visible;
  clip: auto;
  clip-path: none;
  white-space: inherit;
  padding: var(--dsc-skiplink-padding);
  color: var(--dsc-skiplink-color);
  background: var(--dsc-skiplink-background-color);
  box-sizing: border-box;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: max(5px, 0.25rem);
}
