@layer ds.spinner {
  .ds-spinner {
    animation: ds-spinner-rotate-animation linear infinite;
    animation-duration: 2s;
  }

  .ds-spinner__circle {
    stroke-dasharray: 1px, 200px;
    transform-origin: center;
    animation: ds-spinner-stroke-animation ease-in-out infinite;
    animation-duration: 2s;
  }

  /* Prefers reduced motion needs longer animation,
    but don't remove it since it is not decorative.
   */
  @media (prefers-reduced-motion: reduce) {
    .ds-spinner {
      animation-duration: 6s;
    }

    .ds-spinner__circle {
      animation-duration: 6s;
    }
  }

  .ds-spinner--neutral .ds-spinner__circle {
    stroke: var(--ds-color-neutral-border-default);
  }

  .ds-spinner--accent .ds-spinner__circle {
    stroke: var(--ds-color-accent-base-default);
  }

  .ds-spinner__background {
    stroke: var(--ds-color-neutral-surface-default);
  }

  @keyframes ds-spinner-rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes ds-spinner-stroke-animation {
    0% {
      stroke-dasharray: 1px, 200px;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 100px, 200px;
      stroke-dashoffset: -15px;
      transform: rotate(0deg);
    }

    100% {
      stroke-dasharray: 1px, 200px;
      stroke-dashoffset: -120px;
      transform: rotate(15deg);
    }
  }
}
