.ds-spinner {
  --dsc-spinner-background: var(--ds-color-neutral-surface-default);
  --dsc-spinner-stroke: var(--ds-color-neutral-border-default);
  --dsc-spinner-size: 40px;

  width: var(--dsc-spinner-size);
  height: var(--dsc-spinner-size);
  animation: ds-spinner-rotate-animation linear infinite;
  animation-duration: 2s;

  &[data-color='accent'] {
    --dsc-spinner-stroke: var(--ds-color-accent-base-default);
  }

  &[data-size='2xs'] {
    --dsc-spinner-size: 13px;
  }

  &[data-size='xs'] {
    --dsc-spinner-size: 20px;
  }

  &[data-size='sm'] {
    --dsc-spinner-size: 27px;
  }

  &[data-size='lg'] {
    --dsc-spinner-size: 56px;
  }

  &[data-size='xl'] {
    --dsc-spinner-size: 79px;
  }
}

.ds-spinner__circle {
  stroke: var(--dsc-spinner-stroke);
  stroke-dasharray: 1px, 200px;
  transform-origin: center;
  animation: ds-spinner-stroke-animation ease-in-out infinite;
  animation-duration: 2s;
}

/* Prefers reduced motion needs longer animation,
but don't remove it since it is not decorative.
*/
@media (prefers-reduced-motion: reduce) {
  .ds-spinner {
    animation-duration: 6s;
  }

  .ds-spinner__circle {
    animation-duration: 6s;
  }
}

.ds-spinner__background {
  stroke: var(--dsc-spinner-background);
}

@keyframes ds-spinner-rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ds-spinner-stroke-animation {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
    transform: rotate(0deg);
  }

  100% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: -120px;
    transform: rotate(15deg);
  }
}
