.ds-switch {
  --dsc-switch--transition: 200ms;
  --dsc-switch-height: 1.75rem;
  --dsc-switch-focus-border-width: 3px;
  --dsc-switch-check_color: transparent;
  --dsc-switch-thumb-background-color: var(--ds-color-neutral-background-default);

  position: relative;
}

@media (prefers-reduced-motion) {
  .switch {
    --dsc-switch--transition: 0;
  }
}

.ds-switch__label {
  min-height: var(--ds-sizing-10);
  min-width: min-content;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--ds-spacing-1);
  align-items: center;
  cursor: pointer;
}

.ds-switch__track {
  position: relative;
  display: inline-block;
  pointer-events: none;
  width: var(--dsc-switch-width);
  height: var(--dsc-switch-height);
  margin: auto;
  overflow: visible;
  border-radius: var(--ds-border-radius-full);
  background-color: var(--ds-color-neutral-border-default);
  transition: background-color var(--dsc-switch--transition) ease;
  margin-right: var(--ds-spacing-1);
}

.ds-switch__description {
  padding-left: calc(var(--dsc-switch-width) + var(--ds-spacing-2));
  margin-top: var(--ds-spacing-1);
  color: var(--ds-color-neutral-text-subtle);
  width: fit-content;
}

.ds-switch__readonly__icon {
  height: 1.2em;
  width: 1.2em;
}

.ds-switch__label--right {
  grid-template-columns: 1fr auto;
  grid-auto-flow: dense;
}

.ds-switch__label--right .ds-switch__track {
  order: 1;
  margin-right: 0;
}

.ds-switch__label--right + .ds-switch__description {
  padding-left: 0;
}

.ds-switch__input {
  position: absolute;
  width: 2.75rem;
  height: 2.75rem;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.ds-switch--readonly > .ds-switch__label {
  grid-template-columns: auto min-content 1fr;
}

.ds-switch--readonly > .ds-switch__label:where(.ds-switch__label--right) {
  grid-template-columns: min-content 1fr auto;
}

.ds-switch--readonly > .ds-switch__input,
.ds-switch--readonly > .ds-switch__label {
  cursor: default;
}

.ds-switch--readonly > .ds-switch__description {
  margin-left: var(--ds-spacing-1);
}

.ds-switch--sm,
.ds-switch--sm .ds-switch__label {
  min-height: var(--ds-sizing-6);
}

.ds-switch--md,
.ds-switch--md .ds-switch__label {
  min-height: var(--ds-sizing-7);
}

.ds-switch--lg,
.ds-switch--lg .ds-switch__label {
  min-height: var(--ds-sizing-8);
}

.ds-switch--sm {
  --dsc-switch-height: var(--ds-sizing-6);
  --dsc-switch-width: var(--ds-sizing-11);
}

.ds-switch--sm .ds-switch__input {
  left: -0.25rem;
  top: -0.25rem;
}

.ds-switch--md {
  --dsc-switch-height: var(--ds-sizing-7);
  --dsc-switch-width: var(--ds-sizing-13);
}

.ds-switch--md .ds-switch__input {
  left: 0;
  top: 0;
}

.ds-switch--lg {
  --dsc-switch-height: var(--ds-sizing-8);
  --dsc-switch-width: var(--ds-sizing-15);
}

.ds-switch--lg .ds-switch__input {
  left: 0;
  top: 0.25rem;
}

.ds-switch__label:has(.ds-switch__track:only-child) {
  grid-template-columns: auto;
}

.ds-switch__label:has(.ds-switch__track:only-child) .ds-switch__track {
  margin-right: 0;
}

.ds-switch__input:disabled,
.ds-switch:has(.ds-switch__input:disabled) > .ds-switch__label {
  cursor: not-allowed;
}

.ds-switch:has(.ds-switch__input:disabled) > .ds-switch__label,
.ds-switch:has(.ds-switch__input:disabled) > .ds-switch__description {
  opacity: var(--ds-disabled-opacity);
}

/*   .ds-switch__input:focus-visible + .ds-switch__label .ds-switch__track {
    outline: var(--dsc-switch-focus-border-width) solid var(--ds-color-focus-outer);
    outline-offset: var(--dsc-switch-focus-border-width);
    box-shadow: 0 0 0 var(--dsc-switch-focus-border-width) var(--ds-color-focus-inner);
  } */

/**
 * Apply a focus outline on an element when it is focused with keyboard
 */
.ds-switch:has(.ds-switch__input:focus-visible) {
  --dsc-focus-border-width: 3px;

  outline: var(--dsc-focus-border-width) solid var(--ds-color-focus-outer);
  outline-offset: var(--dsc-focus-border-width);
  box-shadow: 0 0 0 var(--dsc-focus-border-width) var(--ds-color-focus-inner);
  border-radius: var(--ds-border-radius-md);
}

.ds-switch__input:not([readonly]):checked + .ds-switch__label .ds-switch__track {
  background-color: var(--ds-color-accent-base-default);
}

.ds-switch__thumb {
  scale: 0.8;
  position: absolute;
  height: var(--dsc-switch-height);
  width: var(--dsc-switch-height);
  border-radius: var(--ds-border-radius-full);
  background-color: var(--dsc-switch-thumb-background-color);
  transition: transform var(--dsc-switch--transition) ease;
}

.ds-switch__input:checked + .ds-switch__label .ds-switch__track .ds-switch__thumb {
  --dsc-switch-check_color: var(--ds-color-accent-base-default);
  --dsc-switch-thumb-background-color: var(--ds-color-accent-contrast-default);

  transform: translateX(calc((var(--dsc-switch-width) - var(--dsc-switch-height)) * 1.2));
}

.ds-switch__thumb::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--dsc-switch-check_color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='-3 -3 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.1339 2.86612C10.622 3.35427 10.622 4.14573 10.1339 4.63388L5.88388 8.88388C5.39573 9.37204 4.60427 9.37204 4.11612 8.88388L1.86612 6.63388C1.37796 6.14573 1.37796 5.35427 1.86612 4.86612C2.35427 4.37796 3.14573 4.37796 3.63388 4.86612L5 6.23223L8.36612 2.86612C8.85427 2.37796 9.64573 2.37796 10.1339 2.86612Z' fill='%23118849' /%3E%3C/svg%3E");
  transition: background-color var(--dsc-switch--transition) ease;
}

.ds-switch--readonly .ds-switch__input[readonly] + .ds-switch__label .ds-switch__track {
  box-shadow: inset 0 0 0 2px var(--ds-color-neutral-border-subtle);
  background-color: var(--ds-color-neutral-background-subtle);
}

.ds-switch--readonly .ds-switch__input[readonly] + .ds-switch__label .ds-switch__track > .ds-switch__thumb {
  --dsc-switch-check_color: var(--ds-color-neutral-background-subtle);

  background-color: var(--ds-color-neutral-border-strong);
}

@media (hover: hover) and (pointer: fine) {
  .ds-switch__input:not([readonly], :disabled):hover + .ds-switch__label .ds-switch__track > .ds-switch__thumb {
    transform: translateX(calc((var(--dsc-switch-width) - var(--dsc-switch-height)) * 0.2));
  }

  .ds-switch__input:not([readonly], :disabled):hover + .ds-switch__label {
    color: var(--ds-color-accent-text-subtle);
  }

  .ds-switch__input:not(:disabled, [readonly]):checked:hover + .ds-switch__label .ds-switch__track > .ds-switch__thumb {
    --dsc-switch-check_color: var(--ds-color-accent-base-hover);

    transform: translateX(calc((var(--dsc-switch-width) - var(--dsc-switch-height))));
  }

  .ds-switch__input:not(:checked, :disabled, [readonly]):hover + .ds-switch__label .ds-switch__track {
    background-color: var(--ds-color-neutral-border-strong);
  }

  .ds-switch__input:not(:disabled, [readonly]):checked:hover + .ds-switch__label .ds-switch__track {
    background-color: var(--ds-color-accent-base-hover);
  }
}
