.ds-table {
  --dsc-table-padding: 0;
  --dsc-table-border-radius: min(1rem, var(--ds-border-radius-md));
  --dsc-table-border-color: var(--ds-color-neutral-border-subtle);
  --dsc-table-color: var(--ds-color-neutral-text-default);
  --dsc-table-header-cell-background: var(--ds-color-neutral-background-default);
  --dsc-table-header-sorted-background: var(--ds-color-neutral-background-subtle);
  --dsc-table-header-sorted-hover: var(--ds-color-neutral-surface-default);
  --dsc-table-cell-backround: var(--ds-color-neutral-background-default);
  --dsc-table-cell-zebra-background: var(--ds-color-neutral-background-subtle);
  --dsc-table-cell-hover-backround: var(--ds-color-neutral-surface-default);

  position: relative;
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  color: var(--dsc-table-color);
  width: 100%;
}

.ds-table--sticky-header {
  overflow: auto;
}

.ds-table--border .ds-table__row:last-of-type td {
  border-bottom: 0;
}

.ds-table--sm {
  --dsc-table-padding: var(--ds-spacing-1) var(--ds-spacing-3);
}

.ds-table--md {
  --dsc-table-padding: var(--ds-spacing-2) var(--ds-spacing-3);
}

.ds-table--lg {
  --dsc-table-padding: var(--ds-spacing-3) var(--ds-spacing-3);
}

.ds-table__head {
  z-index: 0;
  box-sizing: border-box;
  font-family: inherit;
  border-spacing: 0;
  border-bottom: 2px solid var(--dsc-table-border-color);
}

.ds-table__header__cell {
  padding: var(--dsc-table-padding);
  font-family: inherit;
  background-color: var(--dsc-table-header-cell-background);
  border-spacing: 0;
  border-bottom: 2px solid var(--dsc-table-border-color);
}

.ds-table--sticky-header .ds-table__head .ds-table__header__cell {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ds-table__header__cell--sortable {
  padding: 0;
}

.ds-table__header__cell--sortable button {
  position: relative;
  width: 100%;
  border: none;
  font-family: inherit;
  display: flex;
  cursor: pointer;
  gap: var(--ds-spacing-1);
  align-items: center;
  padding: var(--dsc-table-padding);
  background-color: transparent;
  color: var(--dsc-table-color);
  z-index: 2;
}

.ds-table__header__cell--sorted button {
  background-color: var(--dsc-table-header-sorted-background);
}

.ds-table__header__cell--sortable button:focus-visible {
  z-index: 3;
  outline-offset: -3px;
  box-shadow: unset;
}

.ds-table__header__cell--sortable button svg {
  font-size: 1.2em;
}

.ds-table__cell {
  padding: var(--dsc-table-padding);
  border-bottom: 1px solid var(--dsc-table-border-color);
  background-color: var(--dsc-table-cell-backround);
}

.ds-table--zebra .ds-table__row {
  border-bottom: 0;
}

.ds-table--zebra tr:nth-child(even) .ds-table__cell {
  background-color: var(--dsc-table-cell-zebra-background);
}

.ds-table--border {
  border-radius: var(--dsc-table-border-radius);
  border: 1px solid var(--dsc-table-border-color);
}

.ds-table--border .ds-table__head .ds-table__header__cell:first-of-type {
  border-top-left-radius: var(--dsc-table-border-radius);
  overflow: hidden;
}

.ds-table--border .ds-table__head .ds-table__header__cell:last-of-type {
  border-top-right-radius: var(--dsc-table-border-radius);
  overflow: hidden;
}

.ds-table--border .ds-table__row:last-of-type .ds-table__cell:first-of-type {
  border-bottom-left-radius: var(--dsc-table-border-radius);
  overflow: hidden;
}

.ds-table--border .ds-table__row:last-of-type .ds-table__cell:last-of-type {
  border-bottom-right-radius: var(--dsc-table-border-radius);
  overflow: hidden;
}

@media (hover: hover) and (pointer: fine) {
  .ds-table--hover .ds-table__row:hover .ds-table__cell {
    background-color: var(--dsc-table-cell-hover-backround);
  }

  .ds-table__header__cell--sortable button:hover {
    background-color: var(--dsc-table-header-sorted-hover);
  }
}
