@layer ds.tabs {
  .ds-tabs__tab {
    --dsc-tabs__tab-bottom-border-color: transparent;

    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: var(--ds-spacing-1);
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: var(--ds-spacing-2) var(--ds-spacing-3);
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--ds-color-neutral-text-subtle);
    position: relative;
  }

  .ds-tabs__content {
    padding: var(--ds-spacing-5);
    color: var(--ds-color-neutral-text-default);
  }

  .ds-tabs--sm .ds-tabs__tab,
  .ds-tabs--sm .ds-tabs__content {
    font: var(--ds-typography-paragraph-short-sm);
  }

  .ds-tabs--md .ds-tabs__tab,
  .ds-tabs--md .ds-tabs__content {
    font: var(--ds-typography-paragraph-short-md);
  }

  .ds-tabs--lg .ds-tabs__tab,
  .ds-tabs--lg .ds-tabs__content {
    font: var(--ds-typography-paragraph-short-lg);
  }

  .ds-tabs--sm .ds-tabs__tab {
    padding: var(--ds-spacing-2) var(--ds-spacing-4);
  }

  .ds-tabs--md .ds-tabs__tab {
    padding: var(--ds-spacing-3) var(--ds-spacing-5);
  }

  .ds-tabs--lg .ds-tabs__tab {
    padding: var(--ds-spacing-4) var(--ds-spacing-6);
  }

  .ds-tabs--sm .ds-tabs__content {
    padding: var(--ds-spacing-4);
  }

  .ds-tabs--md .ds-tabs__content {
    padding: var(--ds-spacing-5);
  }

  .ds-tabs--lg .ds-tabs__content {
    padding: var(--ds-spacing-6);
  }

  @media (hover: hover) and (pointer: fine) {
    .ds-tabs__tab:hover:not([aria-selected='true']) {
      --dsc-tabs__tab-bottom-border-color: var(--ds-color-neutral-border-subtle);

      color: var(--ds-color-neutral-text-default);
    }
  }

  .ds-tabs__tab[aria-selected='true'] {
    --dsc-tabs__tab-bottom-border-color: var(--ds-color-accent-base-default);

    color: var(--ds-color-accent-text-subtle);
  }

  .ds-tabs__tab:focus {
    z-index: 2;
  }

  .ds-tabs__tab::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    border-radius: var(--ds-border-radius-full);
    background-color: var(--dsc-tabs__tab-bottom-border-color);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .ds-tabs__tablist {
    display: flex;
    flex-direction: row;
    border-bottom: var(--ds-border-width-default) solid var(--ds-color-neutral-border-subtle);
    position: relative;
  }
}
