@layer fds.tag {
  .fds-tag {
    --dsc-tag-background: var(--ds-color-neutral-background-subtle);
    --dsc-tag-color: var(--ds-color-neutral-text-default);

    color: var(--dsc-tag-color);
    padding: 0 var(--ds-spacing-2);
    min-height: var(--ds-sizing-8);
    background-color: var(--dsc-tag-background);
    border-radius: var(--ds-border-radius-sm);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    word-break: break-word;
    width: max-content;
  }

  .fds-tag--sm {
    padding: 0 var(--ds-spacing-2);
    min-height: var(--ds-sizing-7);
  }

  .fds-tag--md {
    padding: 0 var(--ds-spacing-2);
    min-height: var(--ds-sizing-8);
  }

  .fds-tag--lg {
    padding: 0 var(--ds-spacing-3);
    min-height: var(--ds-sizing-9);
  }

  .fds-tag--neutral {
    --dsc-tag-background: var(--ds-color-neutral-surface-default);
    --dsc-tag-color: var(--ds-color-neutral-text-default);
  }

  .fds-tag--info {
    --dsc-tag-background: var(--ds-color-info-surface-default);
    --dsc-tag-color: var(--ds-color-info-text-default);
  }

  .fds-tag--success {
    --dsc-tag-background: var(--ds-color-success-surface-default);
    --dsc-tag-color: var(--ds-color-success-text-default);
  }

  .fds-tag--warning {
    --dsc-tag-background: var(--ds-color-warning-surface-default);
    --dsc-tag-color: var(--ds-color-warning-text-default);
  }

  .fds-tag--danger {
    --dsc-tag-background: var(--ds-color-danger-surface-default);
    --dsc-tag-color: var(--ds-color-danger-text-default);
  }

  .fds-tag--brand1 {
    --dsc-tag-background: var(--ds-color-brand1-surface-default);
    --dsc-tag-color: var(--ds-color-brand1-text-default);
  }

  .fds-tag--brand2 {
    --dsc-tag-background: var(--ds-color-brand2-surface-default);
    --dsc-tag-color: var(--ds-color-brand2-text-default);
  }

  .fds-tag--brand3 {
    --dsc-tag-background: var(--ds-color-brand3-surface-default);
    --dsc-tag-color: var(--ds-color-brand3-text-default);
  }
}
