@layer fds.tag {
  .fds-tag {
    --fds-tag-background: var(--fds-semantic-surface-neutral-subtle);
    --fds-tag-color: var(--fds-semantic-text-neutral-default);

    color: var(--fds-tag-color);
    padding: 0 var(--fds-spacing-2);
    min-height: var(--fds-sizing-8);
    background-color: var(--fds-tag-background);
    border-radius: var(--fds-border_radius-small);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    word-break: break-word;
    width: max-content;
  }

  .fds-tag--sm {
    padding: 0 var(--fds-spacing-2);
    min-height: var(--fds-sizing-7);
  }

  .fds-tag--md {
    padding: 0 var(--fds-spacing-2);
    min-height: var(--fds-sizing-8);
  }

  .fds-tag--lg {
    padding: 0 var(--fds-spacing-3);
    min-height: var(--fds-sizing-9);
  }

  .fds-tag--neutral {
    --fds-tag-background: var(--fds-semantic-surface-neutral-subtle);
    --fds-tag-color: var(--fds-semantic-text-neutral-default);
  }

  .fds-tag--info {
    --fds-tag-background: var(--fds-semantic-surface-info-subtle);
    --fds-tag-color: var(--fds-semantic-text-neutral-default);
  }

  .fds-tag--success {
    --fds-tag-background: var(--fds-semantic-surface-success-subtle);
    --fds-tag-color: var(--fds-semantic-text-success-on_success_subtle);
  }

  .fds-tag--warning {
    --fds-tag-background: var(--fds-semantic-surface-warning-default);
    --fds-tag-color: var(--fds-semantic-text-neutral-default);
  }

  .fds-tag--danger {
    --fds-tag-background: var(--fds-semantic-surface-danger-subtle);
    --fds-tag-color: var(--fds-semantic-text-danger-on_danger_subtle);
  }

  .fds-tag--first {
    --fds-tag-background: var(--fds-semantic-surface-first-subtle);
    --fds-tag-color: var(--fds-semantic-text-neutral-default);
  }

  .fds-tag--second {
    --fds-tag-background: var(--fds-semantic-surface-second-subtle);
    --fds-tag-color: var(--fds-semantic-text-neutral-default);
  }

  .fds-tag--third {
    --fds-tag-background: var(--fds-semantic-surface-third-subtle);
    --fds-tag-color: var(--fds-semantic-text-neutral-default);
  }
}
