.ds-tag {
  --dsc-tag-background: var(--ds-color-neutral-surface-default);
  --dsc-tag-color: var(--ds-color-neutral-text-default);
  --dsc-tag-min-height: var(--ds-sizing-8);
  --dsc-tag-padding: 0 var(--ds-spacing-2);

  align-items: center;
  background: var(--dsc-tag-background);
  border-radius: var(--ds-border-radius-sm);
  box-sizing: border-box;
  color: var(--dsc-tag-color);
  display: inline-flex;
  line-height: var(--ds-line-height-sm);
  min-height: var(--dsc-tag-min-height);
  padding: var(--dsc-tag-padding);
  width: max-content;
  word-break: break-word;

  &[data-color='info'] {
    --dsc-tag-background: var(--ds-color-info-surface-default);
    --dsc-tag-color: var(--ds-color-info-text-default);
  }

  &[data-color='success'] {
    --dsc-tag-background: var(--ds-color-success-surface-default);
    --dsc-tag-color: var(--ds-color-success-text-default);
  }

  &[data-color='warning'] {
    --dsc-tag-background: var(--ds-color-warning-surface-default);
    --dsc-tag-color: var(--ds-color-warning-text-default);
  }

  &[data-color='danger'] {
    --dsc-tag-background: var(--ds-color-danger-surface-default);
    --dsc-tag-color: var(--ds-color-danger-text-default);
  }

  &[data-color='brand1'] {
    --dsc-tag-background: var(--ds-color-brand1-surface-default);
    --dsc-tag-color: var(--ds-color-brand1-text-default);
  }

  &[data-color='brand2'] {
    --dsc-tag-background: var(--ds-color-brand2-surface-default);
    --dsc-tag-color: var(--ds-color-brand2-text-default);
  }

  &[data-color='brand3'] {
    --dsc-tag-background: var(--ds-color-brand3-surface-default);
    --dsc-tag-color: var(--ds-color-brand3-text-default);
  }
}
