@layer ds.textarea {
  .fds-textarea {
    display: grid;
    gap: var(--ds-spacing-2);
  }

  .fds-textarea__readonly-icon {
    height: 1.2em;
    width: 1.2em;
  }

  .fds-textarea__error-message:empty {
    display: none;
  }

  .fds-textarea__label {
    min-width: min-content;
    display: inline-flex;
    flex-direction: row;
    gap: var(--ds-spacing-1);
    align-items: center;
  }

  .fds-textarea__description {
    color: var(--ds-color-neutral-text-subtle);
    margin-top: calc(var(--ds-spacing-2) * -1);
  }

  .fds-textarea__input {
    font: inherit;
    font-family: inherit;
    position: relative;
    box-sizing: border-box;
    flex: 0 1 auto;
    min-height: 2.5em;
    width: 100%;
    appearance: none;
    padding: var(--ds-spacing-3);
    border: solid 1px var(--ds-color-neutral-border-default);
    border-radius: var(--ds-border-radius-md);
    resize: vertical;
  }

  .fds-textarea--sm .fds-textarea__input {
    padding: var(--ds-spacing-2);
  }

  .fds-textarea--md .fds-textarea__input {
    padding: var(--ds-spacing-3);
  }

  .fds-textarea--lg .fds-textarea__input {
    padding: var(--ds-spacing-4);
  }

  .fds-textarea:has(.fds-textarea__input:disabled) {
    opacity: var(--ds-opacity-disabled);
  }

  .fds-textarea__input:disabled {
    cursor: not-allowed;
  }

  .fds-textarea__input:read-only {
    background: var(--ds-color-neutral-background-subtle);
    border-color: var(--ds-color-neutral-border-strong);
  }

  .fds-textarea--error > .fds-textarea__input:not(:focus-visible) {
    border-color: var(--ds-color-danger-border-default);
    box-shadow: inset 0 0 0 1px var(--ds-color-danger-border-default);
  }

  @media (hover: hover) and (pointer: fine) {
    .fds-textarea__input:not(:focus-visible, :disabled, [aria-disabled]):hover {
      border-color: var(--ds-color-accent-border-strong);
      box-shadow: inset 0 0 0 1px var(--ds-color-accent-border-strong);
    }
  }
}
