@layer fds.togglegroup {
  .fds-togglegroup {
    background-color: var(--ds-color-neutral-background-default);
    border: var(--ds-color-neutral-border-default) solid var(--ds-border-width-default);
    border-radius: var(--ds-border-radius-lg);
    width: fit-content;
    height: fit-content;
  }

  .fds-togglegroup__content {
    display: inline-grid;
    gap: var(--ds-spacing-1);
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    padding: var(--ds-spacing-1);
  }

  .fds-togglegroup__input {
    display: none;
  }

  .fds-togglegroup__item:focus-visible {
    z-index: 1;
  }
}
