@layer fds.tooltip {
  .fds-tooltip {
    --dsc-tooltip-background: var(--ds-color-neutral-background-default);

    background: var(--dsc-tooltip-background);
    padding: var(--ds-spacing-1) var(--ds-spacing-2);
    color: var(--ds-color-neutral-text-default);
    border-radius: var(--ds-border-radius-md);
    font: var(--ds-typography-paragraph-xs);
    font-family: inherit;
  }

  .fds-tooltip--inverted {
    background: var(--ds-color-neutral-background-subtle);
    color: var(--ds-color-neutral-text-default);
  }

  .fds-tooltip__arrow {
    fill: var(--dsc-tooltip-background);
  }

  .fds-tooltip--inverted .fds-tooltip__arrow {
    fill: var(--ds-color-neutral-background-subtle);
  }
}
