.ds-tooltip {
  --dsc-tooltip-background: var(--ds-color-neutral-text-default);
  --dsc-tooltip-color: var(--ds-color-neutral-background-default);
  --dsc-tooltip-border-radius: var(--ds-border-radius-default);
  --dsc-tooltip-padding: var(--ds-spacing-1) var(--ds-spacing-2);
  --dsc-tooltip-arrow-size: var(--ds-spacing-2);

  background: var(--dsc-tooltip-background);
  border-radius: var(--dsc-tooltip-border-radius);
  box-sizing: border-box;
  color: var(--dsc-tooltip-color);
  line-height: var(--ds-line-height-sm);
  padding: var(--dsc-tooltip-padding);

  &::before {
    content: '';
    background: var(--dsc-tooltip-background);
    box-sizing: border-box;
    height: var(--dsc-tooltip-arrow-size);
    width: var(--dsc-tooltip-arrow-size);
    position: absolute;
    left: var(--ds-tooltip-arrow-x);
    top: var(--ds-tooltip-arrow-y);
    translate: -50% -50%;
    rotate: 45deg;
  }

  &[data-placement='top']::before {
    top: 100%;
  }

  &[data-placement='left']::before {
    left: 100%;
  }

  &[data-placement='right']::before {
    left: 0;
  }

  &[data-placement='bottom']::before {
    top: 0;
  }
}
