@layer fds.tooltip {
  .fds-tooltip {
    --dsc-tooltip-background: var(--ds-color-neutral-background-default);

    background: var(--dsc-tooltip-background);
    padding: var(--fds-spacing-1) var(--fds-spacing-2);
    color: var(--ds-color-neutral-text-default);
    border-radius: var(--fds-border_radius-medium);
    font: var(--fds-typography-paragraph-xsmall);
    font-family: inherit;
  }

  .fds-tooltip--inverted {
    background: var(--fds-semantic-surface-neutral-subtle);
    color: var(--fds-semantic-text-neutral-default);
  }

  .fds-tooltip__arrow {
    fill: var(--dsc-tooltip-background);
  }

  .fds-tooltip--inverted .fds-tooltip__arrow {
    fill: var(--fds-semantic-surface-neutral-subtle);
  }
}
