/**
 * Visually hide an element, but leave it available for screen readers
 */
.ds-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

:root {
  --dsc-focus-border-width: 3px; /* Default focus border width */
  --dsc-focus-boxShadow: 0 0 0 var(--dsc-focus-border-width) var(--ds-color-focus-inner),
    0 0 0 calc(var(--dsc-focus-border-width) * 2) var(--ds-color-focus-outer);
}

/**
 * Apply a focus outline on an element when it is focused with keyboard
 */
.ds-focus:focus-visible {
  outline: none;
  box-shadow: var(--dsc-focus-boxShadow);
}

.ds-animate-height--openingOrClosing,
.ds-animate-height--closed {
  overflow: hidden;
}

.ds-animate-height--open .ds-animate-height__content {
  height: auto;
}

.ds-animate-height--closed .ds-animate-height__content {
  height: 0;
  display: none;
}

/** Body typography */
.ds-body-text--xs {
  --dsc-bottom-spacing: var(--ds-spacing-3);

  font-weight: var(--ds-paragraph-xs-font-weight);
  line-height: var(--ds-paragraph-xs-line-height);
  font-size: var(--ds-paragraph-xs-font-size);
  letter-spacing: var(--ds-paragraph-xs-letter-spacing);
  margin: 0;
}

.ds-body-text--sm {
  --dsc-bottom-spacing: var(--ds-spacing-4);

  font-weight: var(--ds-paragraph-sm-font-weight);
  line-height: var(--ds-paragraph-sm-line-height);
  font-size: var(--ds-paragraph-sm-font-size);
  letter-spacing: var(--ds-paragraph-sm-letter-spacing);
  margin: 0;
}

.ds-body-text--md {
  --dsc-bottom-spacing: var(--ds-spacing-5);

  font-weight: var(--ds-paragraph-md-font-weight);
  line-height: var(--ds-paragraph-md-line-height);
  font-size: var(--ds-paragraph-md-font-size);
  letter-spacing: var(--ds-paragraph-md-letter-spacing);
  margin: 0;
}

.ds-body-text--lg {
  --dsc-bottom-spacing: var(--ds-spacing-6);

  font-weight: var(--ds-paragraph-lg-font-weight);
  line-height: var(--ds-paragraph-lg-line-height);
  font-size: var(--ds-paragraph-lg-font-size);
  letter-spacing: var(--ds-paragraph-lg-letter-spacing);
  margin: 0;
}

.ds-body-text--long-xs {
  --dsc-bottom-spacing: var(--ds-spacing-3);

  font-weight: var(--ds-paragraph-long-xs-font-weight);
  line-height: var(--ds-paragraph-long-xs-line-height);
  font-size: var(--ds-paragraph-long-xs-font-size);
  letter-spacing: var(--ds-paragraph-long-xs-letter-spacing);
  margin: 0;
}

.ds-body-text--long-sm {
  --dsc-bottom-spacing: var(--ds-spacing-4);

  font-weight: var(--ds-paragraph-long-sm-font-weight);
  line-height: var(--ds-paragraph-long-sm-line-height);
  font-size: var(--ds-paragraph-long-sm-font-size);
  letter-spacing: var(--ds-paragraph-long-sm-letter-spacing);
  margin: 0;
}

.ds-body-text--long-md {
  --dsc-bottom-spacing: var(--ds-spacing-5);

  font-weight: var(--ds-paragraph-long-md-font-weight);
  line-height: var(--ds-paragraph-long-md-line-height);
  font-size: var(--ds-paragraph-long-md-font-size);
  letter-spacing: var(--ds-paragraph-long-md-letter-spacing);
  margin: 0;
}

.ds-body-text--long-lg {
  --dsc-bottom-spacing: var(--ds-spacing-6);

  font-weight: var(--ds-paragraph-long-lg-font-weight);
  line-height: var(--ds-paragraph-long-lg-line-height);
  font-size: var(--ds-paragraph-long-lg-font-size);
  letter-spacing: var(--ds-paragraph-long-lg-letter-spacing);
  margin: 0;
}

.ds-body-text--short-xs {
  --dsc-bottom-spacing: var(--ds-spacing-3);

  font-weight: var(--ds-paragraph-short-xs-font-weight);
  line-height: var(--ds-paragraph-short-xs-line-height);
  font-size: var(--ds-paragraph-short-xs-font-size);
  letter-spacing: var(--ds-paragraph-short-xs-letter-spacing);
  margin: 0;
}

.ds-body-text--short-sm {
  --dsc-bottom-spacing: var(--ds-spacing-4);

  font-weight: var(--ds-paragraph-short-sm-font-weight);
  line-height: var(--ds-paragraph-short-sm-line-height);
  font-size: var(--ds-paragraph-short-sm-font-size);
  letter-spacing: var(--ds-paragraph-short-sm-letter-spacing);
  margin: 0;
}

.ds-body-text--short-md {
  --dsc-bottom-spacing: var(--ds-spacing-5);

  font-weight: var(--ds-paragraph-short-md-font-weight);
  line-height: var(--ds-paragraph-short-md-line-height);
  font-size: var(--ds-paragraph-short-md-font-size);
  letter-spacing: var(--ds-paragraph-short-md-letter-spacing);
  margin: 0;
}

.ds-body-text--short-lg {
  --dsc-bottom-spacing: var(--ds-spacing-6);

  font-weight: var(--ds-paragraph-short-lg-font-weight);
  line-height: var(--ds-paragraph-short-lg-line-height);
  font-size: var(--ds-paragraph-short-lg-font-size);
  letter-spacing: var(--ds-paragraph-short-lg-letter-spacing);
  margin: 0;
}
