/**
 * Visually hide an element, but leave it available for screen readers
 */
.ds-sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/**
 * Apply a focus outline on an element when it is focused with keyboard
 */
.ds-focus:focus-visible {
  --dsc-focus-border-width: 3px;

  outline: var(--dsc-focus-border-width) solid var(--ds-color-focus-outer);
  outline-offset: var(--dsc-focus-border-width);
  box-shadow: 0 0 0 var(--dsc-focus-border-width) var(--ds-color-focus-inner);
}

.ds-animate-height--openingOrClosing,
.ds-animate-height--closed {
  overflow: hidden;
}

.ds-animate-height--open .ds-animate-height__content {
  height: auto;
}

.ds-animate-height--closed .ds-animate-height__content {
  height: 0;
}
