@layer fds.utils {
  /**
 * Visually hide an element, but leave it available for screen readers
 */
  .fds-sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  /**
 * Apply a focus outline on an element when it is focused with keyboard
 */
  .fds-focus:focus-visible {
    --dsc-focus-border-width: 3px;

    outline: var(--dsc-focus-border-width) solid var(--ds-focus-outer);
    outline-offset: var(--dsc-focus-border-width);
    box-shadow: 0 0 0 var(--dsc-focus-border-width) var(--ds-focus-inner);
  }

  @layer animate-height {
    .fds-animate-height--openingOrClosing,
    .fds-animate-height--closed {
      overflow: hidden;
    }

    .fds-animate-height--open .fds-animate-height__content {
      height: auto;
    }

    .fds-animate-height--closed .fds-animate-height__content {
      height: 0;
      display: none;
    }
  }
}
