.section {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-7);
  justify-content: space-between;
  padding-bottom: var(--spacing-8);
  padding-top: var(--spacing-8);
}

.left {
  flex-basis: calc(35% - (var(--spacing-8) / 2));
  flex-grow: 1;
}

.right {
  flex-basis: calc(65% - (var(--spacing-8) / 2));
  flex-grow: 1;
}

.title {
  font-size: var(--font-700);
  font-weight: 500;
  line-height: 1.3rem;
  margin-bottom: 28px;
}

.desc {
  font-size: var(--font-300);
  line-height: 1.7rem;
}

.img {
  width: 360px;
}
