.ds-error-message {
  --dsc-bottom-spacing: var(--ds-spacing-5);

  margin: 0;
  color: var(--ds-color-danger-text-subtle);

  &[data-spacing] {
    margin-bottom: var(--dsc-bottom-spacing);
  }

  &[data-size='xs'] {
    --dsc-bottom-spacing: var(--ds-spacing-3);
  }

  &[data-size='sm'] {
    --dsc-bottom-spacing: var(--ds-spacing-4);
  }

  &[data-size='lg'] {
    --dsc-bottom-spacing: var(--ds-spacing-5);
  }
}
