.ds-heading {
  --dsc-bottom-spacing: var(--ds-spacing-4);

  margin: 0;
  color: var(--ds-color-neutral-text-default);

  &[data-spacing] {
    margin-bottom: var(--dsc-bottom-spacing);
  }

  &[data-size='2xs'] {
    --dsc-bottom-spacing: var(--ds-spacing-1);
  }

  &[data-size='xs'] {
    --dsc-bottom-spacing: var(--ds-spacing-2);
  }

  &[data-size='sm'] {
    --dsc-bottom-spacing: var(--ds-spacing-3);
  }

  &[data-size='lg'] {
    --dsc-bottom-spacing: var(--ds-spacing-5);
  }

  &[data-size='xl'] {
    --dsc-bottom-spacing: var(--ds-spacing-6);
  }

  &[data-size='2xl'] {
    --dsc-bottom-spacing: var(--ds-spacing-7);
  }
}
