.ds-ingress {
  --dsc-bottom-spacing: var(--ds-spacing-5);

  margin: 0;
  color: var(--ds-color-neutral-text-default);

  &[data-spacing] {
    margin-bottom: var(--dsc-bottom-spacing);
  }

  &[data-size='xs'] {
    --dsc-bottom-spacing: var(--ds-spacing-8);
  }

  &[data-size='sm'] {
    --dsc-bottom-spacing: var(--ds-spacing-7);
  }

  &[data-size='lg'] {
    --dsc-bottom-spacing: var(--ds-spacing-6);
  }
}
