.ds-ingress {
  --dsc-bottom-spacing: var(--ds-spacing-5);

  margin: 0;
  color: var(--ds-color-neutral-text-default);
}

.ds-ingress--spacing {
  margin-bottom: var(--dsc-bottom-spacing);
}

.ds-ingress--lg {
  --dsc-bottom-spacing: var(--ds-spacing-6);
}

.ds-ingress--md {
  --dsc-bottom-spacing: var(--ds-spacing-5);
}

.ds-ingress--sm {
  --dsc-bottom-spacing: var(--ds-spacing-7);
}

.ds-ingress--xs {
  --dsc-bottom-spacing: var(--ds-spacing-8);
}
