.container {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 380px;
  padding: 28px;
  border-right: 1px solid var(--ds-color-neutral-border-subtle);
  position: relative;
}

.right {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: min-content;
  width: 100%;
  gap: 16px;
  padding: 28px;
  background-color: var(--ds-color-neutral-background-subtle);
}

.grid {
  grid-template-columns: repeat(3, 1fr);
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: auto;
  padding: 16px;
  border: 1px solid var(--ds-color-accent-border-subtle);
  background-color: var(--ds-color-accent-surface-default);
}

.title {
  margin-bottom: 8px;
  color: var(--ds-color-accent-text-default);
  width: 200px;
}

.desc {
  color: var(--ds-color-accent-text-subtle);
}

.checkGroup {
  margin-top: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btnGroup {
  display: flex;
  gap: 16px;
}

.bottom {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 28px;
  position: absolute;
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
}

.label {
  font-weight: 500;
  margin-bottom: 8px;
  font-size: 16px;
}
