.page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--ds-size-8);
  padding-top: var(--ds-size-18) !important;
  padding-bottom: var(--page-spacing-bottom) !important;

  [data-color-scheme='dark'] &,
  [data-color-scheme='auto'] & {
    background-color: var(--ds-color-neutral-background-default);
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--ds-size-18);
  column-gap: var(--ds-size-12);
}

.main [data-featured='true'] {
  grid-column: span 3;
}

@media screen and (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .main [data-featured='true'] {
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }

  .main [data-featured='true'] {
    grid-column: span 1;
  }
}
