.page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--ds-spacing-8);
  margin-top: var(--ds-spacing-18) !important;
  margin-bottom: var(--page-spacing-bottom) !important;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--ds-spacing-18);
  column-gap: var(--ds-spacing-12);
}

.main [data-featured='true'] {
  grid-column: span 3;
}

@media screen and (max-width: 1024px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }

  .main [data-featured='true'] {
    grid-column: span 2;
  }
}

@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }

  .main [data-featured='true'] {
    grid-column: span 1;
  }
}
