@layer fds.search {
  .formField {
    display: inline-grid;
    width: 100%;
    gap: var(--fds-spacing-2);
  }

  .formField.small {
    --f-search-button-clear-size: var(--fds-sizing-5);
  }

  .formField.medium {
    --f-search-button-clear-size: var(--fds-sizing-6);
  }

  .formField.large {
    --f-search-button-clear-size: var(--fds-sizing-8);
  }

  .errorMessage:empty {
    display: none;
  }

  .label {
    min-width: min-content;
    display: inline-flex;
    flex-direction: row;
    gap: var(--fds-spacing-1);
    align-items: center;
  }

  .field {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-radius: var(--fds-border_radius-medium);
    position: relative;
  }

  .icon {
    position: absolute;
    height: 100%;
    z-index: 2;
    left: var(--fds-spacing-4);
    transform: scale(1.5);
    pointer-events: none;
  }

  [type='search']::-webkit-search-decoration,
  [type='search']::-webkit-search-cancel-button {
    appearance: none;
  }

  .input {
    font: inherit;
    font-family: inherit;
    position: relative;
    box-sizing: border-box;
    flex: 0 1 auto;
    height: var(--fds-sizing-10);
    width: 100%;
    appearance: none;
    padding: 0 var(--fds-spacing-3);
    border: solid 1px var(--fds-semantic-border-input-default);
    border-radius: var(--fds-border_radius-medium);
  }

  .input.withSearchButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .input:disabled {
    cursor: not-allowed;
  }

  .input[type='search']:focus-visible {
    z-index: 1;
  }

  .disabled {
    opacity: var(--fds-opacity-disabled);
  }

  .searchButton {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .searchButton:focus-visible {
    z-index: 1;
  }

  .clearButton {
    color: var(--fds-semantic-text-neutral-default);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: none;
    border: none;
    right: 0.6em;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    height: var(--f-search-button-clear-size);
    width: var(--f-search-button-clear-size);
    border-radius: var(--fds-border_radius-medium);
    font-size: 1.25rem;
    padding: 0;
    z-index: 2;
  }

  .small .input {
    --f-search-button-clear-size: var(--fds-sizing-4);

    height: var(--fds-sizing-10);
    padding: 0 var(--fds-spacing-3);
    padding-right: 2.5em;
  }

  .small .icon {
    left: var(--fds-spacing-3);
  }

  .medium .input {
    --f-search-button-clear-size: var(--fds-sizing-6);

    height: var(--fds-sizing-12);
    padding: 0 var(--fds-spacing-4);
    padding-right: 2.2em;
  }

  .medium .icon {
    left: var(--fds-spacing-4);
  }

  .large .input {
    --f-search-button-clear-size: var(--fds-sizing-12);

    height: var(--fds-sizing-14);
    padding: 0 var(--fds-spacing-5);
    padding-right: 2em;
  }

  .large .icon {
    left: var(--fds-spacing-5);
  }

  .input.simple {
    padding-left: 2.4em;
  }

  .error > .input:not(:focus-visible) {
    border-color: var(--fds-semantic-border-danger-default);
    box-shadow: inset 0 0 0 1px var(--fds-semantic-border-danger-default);
  }

  @media (hover: hover) and (pointer: fine) {
    .input:not(:focus-visible, :disabled, [aria-disabled]):hover {
      border-color: var(--fds-semantic-border-input-hover);
      box-shadow: inset 0 0 0 1px var(--fds-semantic-border-input-hover);
    }

    .clearButton:not(:focus-visible, :disabled, [aria-disabled]):hover {
      background: var(--fds-semantic-surface-action-subtle-hover);
    }
  }
}
