.components-container {
  /*margin-top: var(--page-spacing-top);*/
  padding-bottom: var(--page-spacing-bottom);
}

.sidebar {
  width: 100%;
}

.content {
  margin-top: var(--ds-size-13);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr var(--sidebar-right-width, 300px);
  grid-column-gap: var(--ds-size-12);
  max-width: 1300px;
  grid-template-areas:
    'header header'
    'content aside'
    'content aside';

  > h2 {
    margin-bottom: var(--ds-size-3);
  }
  > p {
    margin-bottom: var(--ds-size-4);
  }
  @media screen and (max-width: 1279px) {
    grid-template-areas:
      'header header'
      'content content';
  }
}
