.page {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 48px;
  margin-top: var(--fds-spacing-10);
  margin-bottom: var(--page-spacing-bottom);
}

.left {
  flex-basis: 220px;
  flex-grow: 1;
}

.right {
  flex-basis: 600px;
  flex-grow: 500;
  max-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: var(--fds-spacing-6);
  padding: var(--fds-spacing-10);
  width: 100%;
  border-radius: var(--fds-border_radius-xlarge);
  background-color: var(--fds-brand-alt2-200);
}

.headerAnchor::after {
  content: '';
  position: absolute;
  right: -66px;
  bottom: -66px;
  transform: rotate(45deg);
  height: 200px;
  width: 200px;
  border-radius: var(--fds-border_radius-large);
  border: 7px solid var(--fds-brand-alt2-500);
}

.headerText {
  color: inherit;
}

.headerAnchor {
  position: relative;
  margin-right: 110px;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerAnchor svg {
  color: var(--fds-brand-alt2-600);
  transform: scale(1.6);
  position: relative;
  z-index: 54;
}

.headerFigure {
}

.title {
  margin-bottom: 0;
  font: var(--fds-typography-heading-xlarge);
}

.date {
  margin-top: var(--fds-spacing-3);
}

.content {
  padding: var(--fds-spacing-4) var(--fds-spacing-10) 0 var(--fds-spacing-10);
}

.githubLink {
  margin-top: var(--fds-spacing-6);
}

@media (max-width: 576px) {
  .content {
    padding: 0;
  }
}
