.formField {
  display: grid;
  gap: var(--fds-spacing-2);
}

.adornment {
  color: var(--fds-semantic-border-neutral-default);
  background: var(--fds-semantic-surface-neutral-subtle);
  padding: var(--fds-spacing-3);
  border-radius: var(--fds-border_radius-medium);
  border: solid 1px var(--fds-semantic-border-neutral-default);
  box-sizing: border-box;
  display: inline-block;
}

.label {
  min-width: min-content;
  display: inline-flex;
  flex-direction: row;
  gap: var(--fds-spacing-1);
  align-items: center;
}

.description {
  color: var(--fds-semantic-text-neutral-subtle);
  margin-top: calc(var(--fds-spacing-2) * -1);
}

.input {
  font: inherit;
  position: relative;
  box-sizing: border-box;
  flex: 0 1 auto;
  min-height: 44px;
  width: 100%;
  appearance: none;
  padding: 0 var(--fds-spacing-3);
  border: solid 1px var(--fds-semantic-border-action-dark);
  border-radius: var(--fds-border_radius-medium);
}

.input.small {
  padding: 0 var(--fds-spacing-2);
}

.input.medium {
  padding: 0 var(--fds-spacing-3);
}

.input.large {
  padding: 0 var(--fds-spacing-4);
}

.disabled {
  opacity: 0.3;
}

.disabled .input {
  cursor: not-allowed;
}

.readonly .input {
  background: var(--fds-semantic-surface-neutral-subtle);
  border-color: var(--fds-semantic-border-neutral-default);
}

.error > .input:not(:focus-visible) {
  border-color: var(--fds-semantic-border-danger-default);
  box-shadow: inset 0 0 0 1px var(--fds-semantic-border-danger-default);
}

@media (hover: hover) and (pointer: fine) {
  .input:not(:focus-visible, :disabled):hover {
    border-color: var(--fds-semantic-border-action-hover);
    box-shadow: inset 0 0 0 1px var(--fds-semantic-border-action-hover);
  }
}

.inputPrefix {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.inputSuffix {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.prefix {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.suffix {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.field {
  display: flex;
  align-items: stretch;
  border-radius: var(--fds-border_radius-medium);
}

.field > *:first-child {
  border-top-left-radius: var(--fds-border_radius-medium);
  border-bottom-left-radius: var(--fds-border_radius-medium);
}

.field > *:last-child {
  border-top-right-radius: var(--fds-border_radius-medium);
  border-bottom-right-radius: var(--fds-border_radius-medium);
}

.padlock {
  height: 1.2em;
  width: 1.2em;
}

.errorMessage:empty {
  display: none;
}
