.textfield {
  --fds-inner-focus-border-color: var(--fds-semantic-border-focus-boxshadow);
  --fds-outer-focus-border-color: var(--fds-semantic-border-focus-outline);
  --fds-focus-border-width: 3px;

  display: grid;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
}

.input {
}

.label {
}

.description {
}

.disabled {
}

.readonly {
}

.padlock {
}
