.table-cell-color {
  border: 1px solid #d5d5d5;
  border-radius: 4px;
  height: 24px;
  width: 88px;
}

.table-cell-space {
  background-color: #f1d6a4;
  border-radius: 2px;
  height: 24px;
  width: 88px;
}

.table-cell-space--inner {
  background-color: #e3c096;
  border-radius: 2px 2px 0 0;
  height: 12px;
  width: 100%;
}

.table-cell-tag {
  align-items: center;
  border-radius: 4px;
  display: flex;
  font-weight: 500;
  height: 26px;
  justify-content: center;
  padding: 0 8px;
  width: fit-content;
}
