.table-cell-color {
  height: 24px;
  width: 88px;
  border-radius: 4px;
  border: 1px solid #d5d5d5;
}

.table-cell-space {
  height: 24px;
  width: 88px;
  background-color: #f1d6a4;
  border-radius: 2px;
}

.table-cell-space--inner {
  height: 12px;
  width: 100%;
  background-color: #e3c096;
  border-radius: 2px 2px 0 0;
}

.table-cell-tag {
  height: 26px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 0 8px;
  font-weight: 500;
}
