.select {
  font: inherit;
  position: relative;
  box-sizing: border-box;
  flex: 0 1 auto;
  min-height: 2.5em;
  width: 100%;
  padding: 0 var(--fds-spacing-2);
  border: solid 1px var(--fds-semantic-border-action-dark);
  border-radius: var(--fds-border_radius-medium);
}

.select.xsmall,
.select.small {
  padding: 0 var(--fds-spacing-2);
}

.select.medium {
  padding: 0 var(--fds-spacing-3);
}

.select.large {
  padding: 0 var(--fds-spacing-4);
}

.formField {
  display: grid;
  gap: var(--fds-spacing-2);
}

.disabled {
  opacity: 0.3;
}

.disabled .select {
  cursor: not-allowed;
}

.readOnly .select {
  background: var(--fds-semantic-surface-neutral-subtle);
  border-color: var(--fds-semantic-border-neutral-default);
}

.error > .select:not(:focus-visible) {
  border-color: var(--fds-semantic-border-danger-default);
  box-shadow: inset 0 0 0 1px var(--fds-semantic-border-danger-default);
}

.padlock {
  height: 1.2rem;
  width: 1.2rem;
}

.errorMessage:empty {
  display: none;
}

.label {
  min-width: min-content;
  display: inline-flex;
  flex-direction: row;
  gap: var(--fds-spacing-1);
  align-items: center;
}
