.section {
  background-color: #f4f5f6;
  padding: var(--spacing-7) 0 var(--spacing-8) 0;
  text-align: center;
}

.white {
  background-color: white;
}

.title {
  font-size: var(--font-700);
  font-weight: 500;
}

.header {
  margin-bottom: var(--spacing-5);
}

.content {
  display: grid;
  grid-gap: var(--grid-gap) var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
}

.detail {
  height: 32px;
  margin-top: 16px;
}
