.removable {
  --fdsc-removable-background: var(--fds-semantic-surface-action-primary-active);
  --fdsc-removable-text-color: var(--fds-semantic-text-neutral-on_inverted);
  --fdsc-removable-chip-size: var(--fds-sizing-7);

  color: var(--fdsc-removable-text-color);
  background: var(--fdsc-removable-background);
  border: 0;
  padding-right: 0;
  min-height: var(--fdsc-removable-chip-size);
}

.removable:focus {
  box-shadow: inset 0 0 0 2px var(--fds-semantic-border-neutral-strong);
}

.container {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-1);
}

.xMark {
  --fdsc-xmark-background: transparent;
  --fdsc-xmark-color: var(--fds-semantic-text-neutral-on_inverted);

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fdsc-xmark-color);
  padding: 0 4px;
  background: var(--fdsc-xmark-background);
  border-radius: 0 var(--fds-border_radius-full) var(--fds-border_radius-full) 0;
  height: var(--fdsc-removable-chip-size);
}

.removable:focus .xMark {
  box-shadow: inset 0 0 0 2px var(--fds-semantic-border-neutral-strong);
}

.removable.xsmall {
  --fdsc-removable-chip-size: var(--fds-sizing-6);
}

.removable.small {
  --fdsc-removable-chip-size: var(--fds-sizing-7);
}

.removable:hover .xMark,
.removable:focus .xMark {
  --fdsc-xmark-background: var(--fds-semantic-surface-danger-default);
  --fdsc-xmark-color: var(--fds-semantic-text-neutral-on_inverted);
}

.iconSize {
  height: var(--fds-sizing-5);
  width: var(--fds-sizing-5);
}
