/**
 * Visually hide an element, but leave it available for screen readers
 */
.visuallyHidden {
	width: 1px;
	height: 1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	opacity: 0;
}
