.main {
  color: var(--color-text);
  margin-bottom: 70px;
  margin-top: 60px;
}

.empty {
  color: var(--color-text-subtle);
  margin-top: -8px;
}

.mainTitle {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 52px;
  font-size: 28px;
  display: flex;
  align-items: center;
}

.subTitle {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 24px;
}

.logo {
  height: 32px;
  margin-right: 14px;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
