.toggleGroupItem.small {
  padding: var(--fds-spacing-1) var(--fds-spacing-2);
}

.toggleGroupItem.medium {
  padding: var(--fds-spacing-2) var(--fds-spacing-3);
}

.toggleGroupItem.large {
  padding: var(--fds-spacing-2) var(--fds-spacing-3);
}

.toggleGroupItem:focus-visible {
  z-index: 1;
}

.toggleGroupItem:focus:not(:focus-visible) {
  outline: unset;
  box-shadow: unset;
}
