.text {
  margin: 0;
}

.text.medium {
  font: var(--fds-typography-body-medium);
}

.text.medium.short{
  font: var(--fds-typography-body-short-medium);
}

.text.medium.spacing {
  margin-bottom: var(--fds-spacing-medium);
}

.text.small {
  font: var(--fds-typography-body-small);
}

.text.small.short {
  font: var(--fds-typography-body-short-small);
}

.text.small.spacing {
  margin-bottom:var(--fds-spacing-small);
}
