@import url('https://altinncdn.no/fonts/inter/inter.css');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important;
  color: var(--ds-color-neutral-text-default);
  margin: 0;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 20px 0 #c5c5c5;
  background-color: #fff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.is-sticky .ColorPicker_label__kYLHj {
  display: #b4b4b4;
}

code {
  background-color: #e9e9e9;
  padding: 1px 5px;
  border-radius: 2px;
}

[data-theme='two'] {
  --ds-color-accent-base-default: #740c7e;
  --ds-color-accent-text-subtle: #93429b;
  --ds-color-base-default: #740c7e;
  --ds-color-base-hover: #872d90;
  --ds-color-base-active: #97499f;
  --ds-color-accent-surface-default: #ecdded;
  --ds-color-accent-surface-hover: #e0cae3;
  --ds-color-accent-surface-active: #d6b7d9;
  --ds-color-accent-border-subtle: #d2b0d5;
  --ds-color-accent-border-default: #a867af;
  --ds-color-accent-text-default: #4f0856;
}

[data-color-scheme='dark'][data-theme='two'] {
  --ds-color-accent-base-default: #c79dcb;
  --ds-color-accent-text-subtle: #c294c6;
  --ds-color-base-default: #c79dcb;
  --ds-color-base-hover: #b884be;
  --ds-color-base-active: #aa6ab0;
  --ds-color-accent-surface-default: #56095e;
  --ds-color-accent-surface-hover: #6c0b75;
  --ds-color-accent-surface-active: #7e1e87;
  --ds-color-accent-border-subtle: #84298d;
  --ds-color-accent-border-default: #a664ad;
  --ds-color-accent-text-default: #ecdded;
}

.panelContainer {
  display: flex;
}

.panelLeft {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 420px;
  padding: 28px;
  border-right: 1px solid var(--ds-color-neutral-border-subtle);
  position: relative;
}

.panelRight {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: min-content;
  width: 100%;
  gap: 12px;
  padding: 28px;
  background-color: var(--ds-color-neutral-background-subtle);
  border-radius: 0 8px 8px 0;
}

.panelBottom {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 28px;
  position: absolute;
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
}

.content {
  min-height: 100svh;
}
