@import url('https://altinncdn.no/fonts/inter/inter.css');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important;
  color: #1e2b3c;
  margin: 0;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 20px 0 #c5c5c5;
  background-color: #fff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

.is-sticky .ColorPicker_label__kYLHj {
  display: #b4b4b4;
}

code {
  background-color: #e9e9e9;
  padding: 1px 5px;
  border-radius: 2px;
}

.content {
  min-height: 100vh;
}
