.main {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 20.33%, rgba(30, 152, 245, 0.2) 57.04%);
}

.header {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: var(--ds-spacing-5);
}

.heading {
  margin-top: var(--ds-spacing-1);
}

.desc {
  margin-top: var(--ds-spacing-5);
}

.btnGroup {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: var(--ds-spacing-7);
}

.headerText {
  color: var(--ds-color-accent-base-default);
  font-weight: 600;
}
