.codeSnippet {
  position: relative;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;
  border-radius: var(--ds-border-radius-md);
}

.copyContainer {
  position: sticky;
  top: 0;
  left: 0;
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  float: left;
  margin-right: -100%;
  pointer-events: none;
}

.icon {
  position: absolute;
  top: 24px;
  right: 24px;
  height: 40px;
  width: 40px;
}
