.codeSnippet {
  position: relative;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;
  border-radius: var(--ds-border-radius-md);
  height: fit-content;
}

.copyContainer {
  position: sticky;
  top: 0;
  left: 0;
  height: calc(100% - 1px);
  width: calc(100% - 1px);
  float: left;
  margin-right: -100%;
  pointer-events: none;
}

.icon {
  position: absolute;
  top: var(--ds-spacing-4);
  right: var(--ds-spacing-4);
}
