.size {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
}

.bar {
  height: 36px;
  background-color: var(--ds-color-accent-base-default);
  border-radius: 2px;
  max-width: 300px;
}
