.code-snippet {
    position: relative;
}

.code-snippet pre {
    /*border-radius: 4px;*/
}

.code-snippet__icon {
    position: absolute;
    top: 6px;
    right: 6px;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    border-radius: 4px;
    border: none;
    transition: 0.15s all;
    cursor: pointer;
}

.code-snippet__icon:hover {
    background-color: #464646;
}
