.code-snippet {
  position: relative;
}

.code-snippet pre {
  /* border-radius: 4px; */
}

.code-snippet__icon {
  align-items: center;
  background-color: #1a1a1a;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 6px;
  top: 6px;
  transition: 0.15s all;
  width: 40px;
}

.code-snippet__icon:hover {
  background-color: #464646;
}
