.tokens {
  margin-top: 32px;
  margin-bottom: 32px;
}

.cards {
  display: grid;
  grid-column-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 620px), 1fr));
  margin-top: var(--spacing-4);
  margin-top: -8px;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  border-bottom: 1px solid #dcdcdc;
  align-items: flex-start;
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing-5);
}

.card:first-child {
  padding-top: 0;
  border-top: none;
}

.preview {
  height: 81px;
  width: 160px;
  border-radius: 4px;
  flex-basis: 160px;
}

.text {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-basis: 300px;
  flex-grow: 500;
}

.title {
  font-weight: 500;
  font-size: 18px !important;
  margin-top: -5px !important;
  margin-bottom: 2px !important;
  display: flex;
  align-items: center;
}

.value {
  margin-left: 12px;
  font-size: 15px;
  color: #636363;
}

.copy {
  background-color: #eee;
  height: 50px;
  padding: 11px 7px 11px 15px;
  border-radius: 4px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 470px;
  margin: 10px 0;
}

@media (max-width: 576px) {
  .copy {
    width: 100%;
  }
}
