.changelog {
  margin-top: 40px;
}

.changelog h1,
.changelog h2 {
  border-bottom: 1px solid #e0e0e0;
  margin-top: 36px !important;
  padding-bottom: 10px;
  margin-bottom: 24px;
}

.changelog h1 {
  border-bottom-width: 3px;
}

.changelog h1::before,
.changelog h2::before {
  content: 'Release ';
}

.changelog h3::before {
  /* content: "🐛 ✨ 💣 "; */
}

.changelog > div h1:first-of-type,
.changelog > div p:first-of-type {
  display: none;
}

.changelog h2[data-bug]::before,
.changelog h3[data-bug]::before {
  content: '🐛 ';
}

.changelog h2[data-feat]::before,
.changelog h3[data-feat]::before {
  content: '✨ ';
}
