.card {
  background-color: var(--ds-color-neutral-surface-default);
  padding: var(--ds-size-7);
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
  color: inherit;
  text-decoration: none;
  border-radius: var(--ds-border-radius-xl);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  outline: 1px solid transparent;
  transition: 0.2s ease;
  transition-property: border-color, outline;
  &:hover {
    border-color: var(--ds-color-neutral-border-strong);
    outline: 1px solid var(--ds-color-neutral-border-strong);
  }
  &:has(:focus-visible) {
    box-shadow: var(--dsc-focus-boxShadow);
    outline: var(--dsc-focus-outline);
    outline-offset: var(--ds-border-width-focus);
  }
  :has(:focus-visible) & {
    transition: none;
  }
}
.title {
  margin-block: 0;
  a {
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
  }
}

.desc {
  margin-block: 0;
  color: var(--ds-color-neutral-text-subtle);
}
.seperator {
  font-size: 2rem;
  line-height: 1rem;
}

.meta {
  font-size: 1rem;
  margin-top: auto;
  color: var(--ds-color-neutral-text-subtle);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ds-size-3);
}
