.card {
  background-color: var(--ds-color-neutral-surface-default);
  padding: var(--ds-size-7);
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-3);
  color: inherit;
  text-decoration: none;
  border-radius: var(--ds-border-radius-xl);
  border: 1px solid var(--ds-color-neutral-border-subtle);

  &:not(:has(:focus-visible)) {
    transition: 0.2s all;
  }
}

.card:hover {
  border-color: var(--ds-color-neutral-border-strong);
  cursor: pointer;
}
.title {
  margin-block: 0;
}

.desc {
  margin-block: 0;
  color: var(--ds-color-neutral-text-subtle);
}
.seperator {
  font-size: 2rem;
  line-height: 1rem;
}

.meta {
  font-size: 1rem;
  margin-top: auto;
  color: var(--ds-color-neutral-text-subtle);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ds-size-3);
}
