:root {
  --bs-body-color: #1e2b3c;
  --color-beta: #eceaff;
  --color-beta-strong: #d6d4ff;
  --color-decprecated: #ffd4d4;

  --spacing-1: clamp(
    0.38rem,
    calc(0.33rem + 0.23vw),
    0.5rem
  ); /* 8-6 1200px-320px */
  --spacing-2: clamp(
    0.5rem,
    calc(0.41rem + 0.45vw),
    0.75rem
  ); /* 12-8 1200px-320px */
  --spacing-3: clamp(
    0.75rem,
    calc(0.66rem + 0.45vw),
    1rem
  ); /* 16-12 1200px-320px */
  --spacing-4: clamp(
    1rem,
    calc(0.82rem + 0.91vw),
    1.5rem
  ); /* 24-16 1200px-320px */
  --spacing-5: clamp(
    1.5rem,
    calc(1.32rem + 0.91vw),
    2rem
  ); /* 32-24 1200px-320px */
  --spacing-6: clamp(
    2rem,
    calc(1.64rem + 1.82vw),
    3rem
  ); /* 48-32 1200px-320px */
  --spacing-7: clamp(
    3rem,
    calc(2.64rem + 1.82vw),
    4rem
  ); /* 64-48 1200px-320px */
  --spacing-8: clamp(
    4rem,
    calc(3.64rem + 1.82vw),
    5rem
  ); /* 80-64 1200px-320px */

  --font-900: clamp(
    2.25rem,
    calc(2.07rem + 0.91vw),
    2.75rem
  ); /* 44-36 1200px-320px */
  --font-800: clamp(
    2rem,
    calc(1.91rem + 0.45vw),
    2.25rem
  ); /* 36-32 1200px-320px */
  --font-700: clamp(
    1.75rem,
    calc(1.66rem + 0.45vw),
    2rem
  ); /* 32-28 1200px-320px */
  --font-600: clamp(
    1.5rem,
    calc(1.41rem + 0.45vw),
    1.75rem
  ); /* 28-24 1200px-320px */
  --font-500: clamp(
    1.25rem,
    calc(1.16rem + 0.45vw),
    1.5rem
  ); /* 24-20 1200px-320px */
  --font-400: clamp(
    1.13rem,
    calc(1.08rem + 0.23vw),
    1.25rem
  ); /* 20-18 1200px-320px */
  --font-300: clamp(
    1rem,
    calc(0.95rem + 0.23vw),
    1.13rem
  ); /* 18-16 1200px-320px */

  --grid-max-width: 1380px;
  --grid-padding: clamp(
    1rem,
    calc(0.27rem + 3.64vw),
    3rem
  ); /* 48-16 1200px-320px */
  --grid-gap: var(--spacing-5);

  --page-spacing-top: var(--spacing-7);
}

* {
  box-sizing: border-box;
}

h1 {
  margin-top: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh);
  overflow: hidden;
  position: relative;
}
