.pickers {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: var(--ds-spacing-5);
  padding: 12px 0;
  flex-wrap: wrap;
}

.pickersContainer {
  height: 140px;
}

.contrastSelect {
  width: 150px;
}
