.pickers {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
  padding: 12px 0;
}

.pickersContainer {
  height: 140px;
}

.contrastSelect {
  border-color: #c2c2c2;
  width: 150px;
}
