.pickers {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: var(--ds-spacing-6);
  padding: 12px 0;
  flex-wrap: wrap;
}

.pickersContainer {
  height: 140px;
}

.contrastSelect {
  width: 150px;
}

.select {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);
}

.shareBtn {
  margin-left: 24px;
  font-weight: 500;
}
