.header {
    height: 102px;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 31px;
    margin-left: -1px;
}

.toggle {
    display: none;
    border: none;
    background-color: transparent;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.item {
    list-style: none;
    margin-left: 32px;
}

.item a {
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    border-bottom: 3px solid transparent;
    padding-bottom: 8px;
    transition: 0.25s all ease-out;
}

.item a:hover,
.item a:focus,
.item .active {
    border-color: #6db6ea;
}

@media (max-width: 991.98px) {

    .toggle {
        display: block;
    }

   .menu {
       border-top: 1px solid #e2e2e2;
       position: absolute;
       left: 0;
       right: 0;
       top: 100px;
       background-color: white;
       box-shadow: 0 2px 6px rgba(0,0,0,0.15);
       display: flex;
       flex-direction: column;
       display: none;
       padding: 20px 0 20px 0;
   }

    .item {
        padding: 20px 0;
        margin-left: 16px;
    }

    .active {
        display: block;
    }

    .logo {
        height: 32px;
    }

}