.container {
  margin-top: var(--page-spacing-top);
  margin-bottom: var(--page-spacing-bottom);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacing-5);
}

.header {
  background-color: #c2e4fe;
  padding-top: 32px;
}

.headerContent {
  max-width: 780px;
  margin: 0 auto;
  padding-bottom: 72px;
}

.title {
  font-size: 36px;
  margin-bottom: 0;
  line-height: 1.3em;
  text-align: center;
}

.back {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  color: inherit;
  text-underline-offset: 5px;
}

.back:hover {
  text-decoration-thickness: 2px;
}

.back svg {
  margin-right: 8px;
}

.date {
  font-size: 18px;
  text-align: center;
}

.separator {
  margin: 0 8px;
}

.meta {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 14px;
}

.content {
  max-width: 780px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .content {
    padding: 0;
  }
}
