.helpTextButton {
  all: initial;
  background-color: transparent;
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
  display: flex;
  border: none;
}

.helpTextButton:focus-visible {
  outline: var(--semantic-tab_focus-outline-color) solid
    var(--semantic-tab_focus-outline-width);
  outline-offset: var(--semantic-tab_focus-outline-offset);
  color: var(--colors-blue-700);
}

.helpTextButton:focus:not(:focus-visible) {
  outline: none;
}

.helpTextIconFilled {
  display: none;
}

.helpTextButton:where(:hover, :focus-visible, [data-state^="open"]) > .helpTextIcon {
  display: none;
}

.helpTextButton:where(:hover, :focus-visible, [data-state^="open"]) > .helpTextIconFilled {
  display: inline-block;
}

.helpTextIcon {
  color: var(--colors-blue-700);
  width: 24px;
  height: 24px;
}

.helpTextContent {
  font-size: var(--font_size-300);
  line-height: var(--typography-default-line-height);
}
