.helpTextButton {
  composes: focusable from '../../utilities/Utility.module.css';
  background-color: transparent;
  border-radius: 50px;
  padding: 0;
  cursor: pointer;
  display: flex;
  border: none;
}

@media print {
  .helpTextButton {
    display: none;
  }
}

.helpTextIconFilled {
  display: none;
}

.helpTextIcon {
  color: var(--colors-blue-700);
  width: var(--help_text-icon-width);
  height: var(--help_text-icon-height);
}

.helpTextButton:where(:hover, :focus, [data-state^='open']) > .helpTextIcon {
  display: none;
}

.helpTextButton:where(:hover, :focus, [data-state^='open']) > .helpTextIconFilled {
  display: inline-block;
}

.helpTextContent {
  font-size: var(--font_size-300);
  line-height: var(--typography-default-line-height);
  width: fit-content;
  max-width: 700px;
}

.helpTextIcon.small {
  --help_text-icon-width: 24px;
  --help_text-icon-height: 24px;
}

.helpTextIcon.xsmall {
  --help_text-icon-width: 18px;
  --help_text-icon-height: 18px;
}
