.skeleton {
  height: 1em;
  background-color: var(--fds-semantic-surface-neutral-subtle-hover);
  animation: opacity-fade 0.8s linear infinite alternate;
}

.circle {
  width: 1em;
  border-radius: 50%;
}

.rectangle {
  width: 100%;
  border-radius: 0.2em;
}

.text {
  width: 100%;
  border-radius: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

.hasChildren {
  width: fit-content;
  height: auto;
}

.hasChildren > * {
  visibility: hidden;
}

@keyframes opacity-fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
