.skeleton {
  height: 1em;
  background-color: var(--fds-semantic-surface-neutral-subtle-hover);
  animation: opacity-animation 0.8s linear infinite alternate;

  /* 
  background: linear-gradient(90deg, #ddd, #e8e8e8, #ddd 80px);
  animation: gradient-animation 1.6s linear infinite;
  background-size: 200%; */
}

.circle {
  width: 1em;
  border-radius: 50%;
}

.rectangle {
  width: 100%;
  border-radius: 0.2em;
}

.text {
  width: 100%;
  border-radius: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.3em;
}

.hasChildren {
  width: fit-content;
  height: auto;
}

.hasChildren > * {
  visibility: hidden;
}

@keyframes opacity-animation {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 150% 50%;
  }

  100% {
    background-position: -50% 50%;
  }
}
