.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 330px;
}

.card.neutral {
  background-color: var(--fds-semantic-surface-neutral-default);
}

.card.subtle {
  background-color: var(--fds-semantic-surface-neutral-subtle);
}

.card.first {
  background-color: var(--fds-semantic-surface-first-light);
}

.card.second {
  background-color: var(--fds-semantic-surface-second-light);
}

.card.third {
  background-color: var(--fds-semantic-surface-third-light);
}

.card .content {
  justify-content: flex-start;
  align-items: stretch;
}

.card .footer,
.card .header {
  justify-content: space-between;
  align-items: center;
}

.card > hr {
  margin: 0;
}

.media > * {
  border: 0;
}

.section {
  display: flex;
  padding: var(--fds-spacing-4);
  flex-wrap: wrap;
  word-wrap: break-word;
}

.section.column {
  flex-direction: column;
}

.section.row {
  flex-direction: row;
}

.section.column > * + * {
  margin-top: var(--fds-spacing-4);
}

.section.row > * + * {
  margin-left: var(--fds-spacing-4);
}

.group {
  display: flex;
  gap: var(--fds-spacing-2);
  list-style-type: none;
  padding: 0;
  margin: 0;
}
