.table {
  border-spacing: 0;

  --table-padding: var(--fds-spacing-2) var(--fds-spacing-3);
}

.headerCell {
  padding: var(--table-padding);
  border-bottom: 2px solid var(--fds-semantic-border-divider-default);
}

.head {
}

.cell {
  padding: var(--table-padding);
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
}

.zebra tr:nth-child(even) .cell {
  background-color: var(--fds-semantic-background-subtle);
}
