.table {
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  text-align: left;

  --table-padding: 0;
}

.table.stickyHeader {
  overflow: auto;
}

.small {
  --table-padding: var(--fds-spacing-1) var(--fds-spacing-3);
}

.medium {
  --table-padding: var(--fds-spacing-2) var(--fds-spacing-3);
}

.large {
  --table-padding: var(--fds-spacing-3) var(--fds-spacing-3);
}

.head {
  z-index: 0;
  box-sizing: border-box;
  font: inherit;
  border-spacing: 0;
  border-bottom: 2px solid var(--fds-semantic-border-divider-default);
}

.headerCell {
  padding: var(--table-padding);
  font: inherit;
  background-color: var(--fds-semantic-surface-neutral-default);
  border-spacing: 0;
  border-collapse: separate;
  border-bottom: 2px solid var(--fds-semantic-border-divider-default);
}

.stickyHeader .head .headerCell {
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerCell.sortable {
  padding: 0;
}

.headerCell.sortable button {
  position: relative;
  width: 100%;
  border: none;
  font: inherit;
  display: flex;
  cursor: pointer;
  gap: var(--fds-spacing-1);
  align-items: center;
  padding: var(--table-padding);
  background-color: transparent;
  z-index: 2;
}

.headerCell.sorted button {
  background-color: var(--fds-semantic-surface-neutral-subtle);
}

.headerCell.sortable button:focus {
  z-index: 3;
}

.headerCell.sortable button:hover {
  background-color: var(--fds-semantic-surface-neutral-subtle-hover);
}

.headerCell.sortable button svg {
  font-size: 1.2em;
}

.row {
  border-bottom: 1px solid var(--fds-semantic-border-divider-default);
  box-sizing: border-box;
}

.cell {
  padding: var(--table-padding);
}

.zebra .row {
  border-bottom: 0;
}

.zebra tr:nth-child(even) .cell {
  background-color: var(--fds-semantic-background-subtle);
}
