.wrapper {
  background: var(--ds-color-neutral-background-default);
  padding: var(--ds-size-4);
  border-radius: var(--ds-border-radius-md);
}
.controls {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  gap: var(--ds-size-4);
  padding-bottom: var(--ds-size-2);
  align-items: baseline;
}

.controls code {
  background: var(--ds-color-neutral-background-tinted);
  padding: var(--ds-size-1);
}
