.pagination {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  position: relative;
}

.hidden {
  visibility: hidden;
}

.pagination.small {
  --fdsc-pagination-chevron-margin: var(--fds-spacing-2);
}

.pagination.medium {
  --fdsc-pagination-chevron-margin: var(--fds-spacing-6);
}

.pagination li:first-child {
  margin-right: var(--fdsc-pagination-chevron-margin);
}

.pagination li:last-child {
  margin-left: var(--fdsc-pagination-chevron-margin);
}

.listitem {
  flex: 1;
  margin-right: var(--fsdc-pagination-listitem-margin);
}

.listitem.small {
  --fsdc-pagination-listitem-margin: var(--fds-spacing-2);
  --fdsc-pagination-ellipsis-width: var(--fds-component-mode-height-small);
}

.listitem.medium {
  --fsdc-pagination-listitem-margin: var(--fds-spacing-4);
  --fdsc-pagination-ellipsis-width: var(--fds-component-mode-height-medium);
}

.listitem.compact {
  --fsdc-pagination-listitem-margin: var(--fds-spacing-1);
}

.ellipsis {
  margin-top: 0.5em;
  text-align: center;
  width: var(--fdsc-pagination-ellipsis-width);
}
