.header {
  grid-area: header;
  width: 100%;
  max-width: var(--short-content-width);
  margin-bottom: var(--ds-size-10);
}

.headerText {
  color: inherit;
}

.date {
  margin-top: var(--ds-size-6);
  background-color: var(--ds-color-neutral-background-tinted);
  border-radius: var(--ds-border-radius-md);
  padding: var(--ds-size-4);
}

.content {
  grid-area: content;
}

.githubLink {
  display: inline-block;
  margin-top: var(--ds-size-12);
}

.tableOfContents {
  grid-area: aside;
  align-self: start;
}

@media (max-width: 1100px) {
  .tableOfContents {
    display: none;
  }
}
