.tag {
  border-radius: 3px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
  font-size: 14px;
  font-weight: 500;
  margin-left: 4px;
  padding: 3px 6px;
  text-transform: capitalize;
}

.purple {
  background-color: var(--color-beta-strong);
}

.deprecated {
  background-color: var(--color-decprecated);
}

.large {
  font-size: 20px;
  padding: 5px 11px;
}
