.svg-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.svg-modal h3 {
    margin-top: 0;
    margin-bottom: 12px;
}

.svg-modal__svg-title {
    margin-top: 24px !important;

}

.svg-modal__opacity {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.svg-modal__box {
    width: 1050px;
    background-color: white;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    top: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.2);
}

.svg-modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px 0 30px;
}

.svg-modal__header-left {

}

.svg-modal__header-right {
    display: flex;
    align-items: center;
}

.svg-modal__content {
    display: flex;
    padding: 0px 30px 30px 30px;
}

.svg-modal__content-left {
    width: 42%;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.svg-modal__content-right {
    width: 58%;
    margin-left: 15px;
}

.svg-modal__svg-btn {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 20px;
    font-weight: 500;
    transition: 0.15s all;
    cursor: pointer;
    border-radius: 40px;
    padding: 6px 16px;
}

.svg-modal__svg-btn:hover {
    background-color: #e3e3e3;
}

.svg-modal__svg-btn svg {
    margin-right: 8px;
}

.svg-modal__close-btn {
    background-color: white;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s all;
    cursor: pointer;
}

.svg-modal__close-btn:hover {
    background-color: #e3e3e3;
}

.svg-modal__close-btn:hover svg {
    stroke: #1E2B3C;
}