.popover {
  background: white;
  font: var(--fds-typography-paragraph-small);
  padding: var(--fds-spacing-3);
  border: 2px solid black;
  border-radius: var(--fds-border_radius-medium);
}

.hidden {
  display: none;
}

.arrow {
  position: absolute;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  background: white;
  transform: rotate(45deg) translate(50%, 50%);
}
