.popover {
  --border: 2px solid black;

  background: white;
  font: var(--fds-typography-paragraph-small);
  padding: var(--fds-spacing-3);
  border: var(--border);
  border-radius: var(--fds-border_radius-medium);
}

.hidden {
  display: none;
}

.arrow {
  position: absolute;
  background: white;
  transform: rotate(45deg);
}

.arrow.bottom {
  border-top: var(--border);
  border-left: var(--border);
}

.arrow.top {
  border-bottom: var(--border);
  border-right: var(--border);
}

.arrow.left {
  border-top: var(--border);
  border-right: var(--border);
}

.arrow.right {
  border-bottom: var(--border);
  border-left: var(--border);
}
