.wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: var(--ds-color-neutral-background-subtle);
  padding: 24px;
  width: calc(50% - (var(--ds-spacing-4) / 2));
  height: 100%;
  border-bottom: 10px solid var(--color);
  border-radius: var(--ds-spacing-1);
  box-shadow: var(--ds-shadow-md);
  margin: 0;
}

@media (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}

.wrapper.landscape {
  width: 100%;
  max-width: 100%;
}

.dont {
  --color: var(--ds-color-danger-base-default);
}

.do {
  --color: var(--ds-color-success-base-default);
}

.header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.icon {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--color);
  display: grid;
  place-items: center;
  color: white;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.description {
  color: var(--ds-color-neutral-text-default);
  margin: var(--ds-spacing-4) 0;
}

.imageWrapper {
  margin-top: auto;
  display: grid;
  place-items: start;
}
