.box {
  background-color: var(--color-beta);
  border-radius: 4px;
  margin: 28px 0 32px;
  padding: 24px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-top: 0;
}

.desc {
  font-size: 16px;
  line-height: 1.55em;
  margin-bottom: 0;
  padding: 0 !important;
}
