.size {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);

  .bar {
    height: 36px;
    background-color: var(--ds-color-accent-base-default);
    border-radius: 2px;
    max-width: 300px;
  }
}

.shadow {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);
  background-color: #fff;
  padding: var(--ds-size-2);
  border-radius: var(--ds-border-radius-md);
  height: 60px;
  width: 60px;

  .color {
    height: 40px;
    width: 40px;
    border-radius: var(--ds-border-radius-md);
    border: 1px solid #ebebeb;
  }
}

.radius {
  display: flex;
  align-items: center;
  gap: var(--ds-size-2);

  .bar {
    height: 36px;
    width: 72px;
    background-color: var(--ds-color-accent-base-default);
  }
}
