.section {
  background-color: var(--ds-color-neutral-background-tinted);
  padding: calc(var(--ds-size-14) + var(--ds-size-2)) 0 var(--ds-size-18) 0;
}

.white {
  background-color: white;
}

.grey {
  background-color: var(--ds-color-neutral-background-tinted);
}

.header {
  margin-bottom: 0;
  text-align: center;
}

.content {
  display: grid;
  grid-row-gap: var(--grid-gap);
  grid-column-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
}

.detail {
  margin-top: var(--ds-size-4);
  height: var(--ds-size-7);
}

.separator {
  width: 214px;
  margin: 0 auto;
  margin-block: var(--ds-size-8);
}

.separatorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    margin-inline: var(--ds-size-6);
    aspect-ratio: 1;
    width: 24px;
  }

  &::before,
  &::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: var(--ds-color-neutral-border-subtle);
  }
}
