.scales {
  display: flex;
  flex-direction: column;
}

.scale {
  display: flex;
  margin-bottom: 12px;
  border: 1px solid rgb(206, 206, 206);
}

.color {
  flex: 1;
  height: 50px;
}

.title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 24px;
}
