.page {
  width: 100%;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
}

.headerLeft svg path:first-child {
  fill: var(--accent-9);
}

.headerLeft svg path:last-child {
  fill: var(--accent-6);
}

.headerLeft svg {
  height: 24px;
  width: auto;
  margin-bottom: -1px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background-color: var(--accent-1);
}

.headerLeft {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  font-size: 21px;
  color: var(--neutral-12);
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 0;
}

.headerMiddle {
  margin-right: auto;
  margin-left: 72px;
  color: var(--neutral-12);
}

.menu {
  display: flex;
  align-items: center;
  gap: 28px;
}

.banner {
  background-color: var(--accent-2);
  padding: 72px 0;
}

.bannerLeft {
  width: 50%;
}

.bannerRight {
  width: 50%;
}

.bannerTitle {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 28px;
}

.bannerIngress {
  margin-bottom: 32px;
  font-size: 18px;
}

.bannerSub {
  color: var(--accent-11);
  font-weight: 500;
  font-size: 21px;
}

.bannerBox {
  height: 220px;
  width: 220px;
  margin-left: 250px;
  border-radius: 50%;
  background-color: var(--accent-7);
}
