.items {
  column-gap: 24px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 40px;
  row-gap: 24px;
}

.box {
  align-items: center;
  background-color: #f4f5f6;
  border: 1px solid #e9eaec;
  border-radius: 8px;
  color: inherit;
  display: flex;
  flex-direction: column;
  padding: 24px;
  text-decoration: none;
  transition: 0.15s all;
}

.box:hover {
  box-shadow: 0 2px 6px rgb(0 0 0 / 0.25);
  transform: translateY(-8px);
}

.name {
  font-size: 20px;
  font-weight: 500;
  margin-top: 16px;
  text-align: center;
}

.container {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 180px;
}
