.paragraph {
  --fdsc-typography-font-family: inherit;
  --fdsc-bottom-spacing: var(--fds-spacing-5);

  color: var(--fds-semantic-text-neutral-default);
  margin: 0;
}

.paragraph.spacing {
  margin-bottom: var(--fdsc-bottom-spacing);
}

.paragraph.large {
  --fdsc-bottom-spacing: var(--fds-spacing-6);

  font: var(--fds-typography-paragraph-large);
  font-family: var(--fdsc-typography-font-family);
}

.paragraph.large.short {
  font: var(--fds-typography-paragraph-short-large);
  font-family: var(--fdsc-typography-font-family);
}

.paragraph.medium {
  --fdsc-bottom-spacing: var(--fds-spacing-5);

  font: var(--fds-typography-paragraph-medium);
  font-family: var(--fdsc-typography-font-family);
}

.paragraph.medium.short {
  --fdsc-bottom-spacing: var(--fds-spacing-5);

  font: var(--fds-typography-paragraph-short-medium);
  font-family: var(--fdsc-typography-font-family);
}

.paragraph.small {
  --fdsc-bottom-spacing: var(--fds-spacing-4);

  font: var(--fds-typography-paragraph-small);
  font-family: var(--fdsc-typography-font-family);
}

.paragraph.small.short {
  --fdsc-bottom-spacing: var(--fds-spacing-4);

  font: var(--fds-typography-paragraph-short-small);
  font-family: var(--fdsc-typography-font-family);
}

.paragraph.xsmall {
  --fdsc-bottom-spacing: var(--fds-spacing-3);

  font: var(--fds-typography-paragraph-xsmall);
  font-family: var(--fdsc-typography-font-family);
}

.paragraph.xsmall.short {
  --fdsc-bottom-spacing: var(--fds-spacing-3);

  font: var(--fds-typography-paragraph-short-xsmall);
  font-family: var(--fdsc-typography-font-family);
}
