.paragraph {
  --fdsc-typography-font-family: inherit;
  --fdsc-bottom-spacing: var(--fds-spacing-5);

  color: var(--fds-semantic-text-neutral-default);
  margin: 0;
}

.spacing {
  margin-bottom: var(--fdsc-bottom-spacing);
}

.large {
  --fdsc-bottom-spacing: var(--fds-spacing-6);

  font: var(--fds-typography-paragraph-large);
  font-family: var(--fdsc-typography-font-family);
}

.large:where(.short) {
  font: var(--fds-typography-paragraph-short-large);
  font-family: var(--fdsc-typography-font-family);
}

.medium {
  --fdsc-bottom-spacing: var(--fds-spacing-5);

  font: var(--fds-typography-paragraph-medium);
  font-family: var(--fdsc-typography-font-family);
}

.medium:where(.short) {
  --fdsc-bottom-spacing: var(--fds-spacing-5);

  font: var(--fds-typography-paragraph-short-medium);
  font-family: var(--fdsc-typography-font-family);
}

.small {
  --fdsc-bottom-spacing: var(--fds-spacing-4);

  font: var(--fds-typography-paragraph-small);
  font-family: var(--fdsc-typography-font-family);
}

.small:where(.short) {
  --fdsc-bottom-spacing: var(--fds-spacing-4);

  font: var(--fds-typography-paragraph-short-small);
  font-family: var(--fdsc-typography-font-family);
}

.xsmall {
  --fdsc-bottom-spacing: var(--fds-spacing-3);

  font: var(--fds-typography-paragraph-xsmall);
  font-family: var(--fdsc-typography-font-family);
}

.xsmall:where(.short) {
  --fdsc-bottom-spacing: var(--fds-spacing-3);

  font: var(--fds-typography-paragraph-short-xsmall);
  font-family: var(--fdsc-typography-font-family);
}
