.paragraph {
  margin: 0;
}

.paragraph.medium {
  font: var(--fds-typography-body-medium);
}

.paragraph.medium.short{
  font: var(--fds-typography-body-short-medium);
}

.paragraph.medium.spacing {
  margin-bottom: var(--fds-spacing-medium);
}

.paragraph.small {
  font: var(--fds-typography-body-small);
}

.paragraph.small.short {
  font: var(--fds-typography-body-short-small);
}

.paragraph.small.spacing {
  margin-bottom:var(--fds-spacing-small);
}
