.consentBanner {
  background-color: var(--ds-color-accent-background-tinted);
  padding-block: var(--ds-size-7);
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  position: relative; /*firefox fix*/
  z-index: 1; /*firefox fix*/
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-page-width);
  padding: 0 var(--content-inline-padding);
  h2 {
    font-weight: 600;
    margin-bottom: var(--ds-size-3);
    text-wrap: pretty;
  }
  p {
    max-width: 56rem;
    text-wrap: pretty;
  }
}
.buttons {
  display: flex;
  gap: var(--ds-size-4);
  margin-block: var(--ds-size-6);
}
.necessaryInfo {
  margin: 0;
}
