.label {
  --fdsc-typography-font-family: inherit;

  display: inline-block;
  margin: 0;
  color: var(--fds-semantic-text-neutral-default);
}

.spacing {
  margin-bottom: var(--fds-spacing-5);
}

.label.large {
  font: var(--fds-typography-label-large);
  font-family: var(--fdsc-typography-font-family);
}

.label.medium {
  font: var(--fds-typography-label-medium);
  font-family: var(--fdsc-typography-font-family);
}

.label.small {
  font: var(--fds-typography-label-small);
  font-family: var(--fdsc-typography-font-family);
}

.label.xsmall {
  font: var(--fds-typography-label-xsmall);
  font-family: var(--fdsc-typography-font-family);
}
