.label {
  margin: 0;
}

.spacing {
  margin-bottom: var(--fds-spacing-medium);
}

.label.large {
   font: var(--fds-typography-label-large);
}

.label.medium {
   font: var(--fds-typography-label-medium);
}

.label.small {
   font: var(--fds-typography-label-small);
}

.label.xsmall {
   font: var(--fds-typography-label-xsmall);
}
