.page {
  margin-top: 64px;
}

.row {
  margin-top: 32px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.columns {
  flex-grow: 1;
  width: 100%;
}

.colors {
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-grow: 1;
}

.card {
  padding: 32px;
  flex-grow: 1;
  min-height: 160px;
  border-radius: 8px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
