.fieldSet {
  --color: var(--component-checkbox-color-text-default);
  --content-margin_top: var(--component-fieldset-space-gap-y-small);
  --description-color: var(--component-field_description-color-text-default);
  --description-margin_top: var(--component-field_description-space-top-small);
  --error_message-margin_top: var(--component-fieldset-space-gap-y-small);
  --help_text-gap: var(--component-field_description-space-top-small);
  --font_size: var(--component-checkbox-font_size-sm);

  color: var(--color);
  border: 0;
  font-size: var(--font_size);
  line-height: var(--typography-default-line-height);
  margin: 0;
  padding: 0;
}

.small {
  --content-margin_top: var(--component-fieldset-space-gap-y-small);
  --description-margin_top: var(--component-field_description-space-top-small);
  --error_message-margin_top: var(--component-fieldset-space-gap-y-small);
  --help_text-gap: var(--component-field_description-space-top-small);
  --font_size: var(--component-checkbox-font_size-sm);
}

.xsmall {
  --content-margin_top: var(--component-fieldset-space-gap-y-xsmall);
  --description-margin_top: var(--component-field_description-space-top-xsmall);
  --error_message-margin_top: var(--component-fieldset-space-gap-y-xsmall);
  --help_text-gap: var(--component-field_description-space-top-xsmall);
  --font_size: var(--component-checkbox-font_size-xs);
}

.fieldSet:disabled {
  opacity: var(--fds-opacity-disabled);
}

.fieldSet:disabled * {
  opacity: 1;
}

.legendAndHelpText {
  display: flex;
  gap: var(--help_text-gap);
  padding: 0;
}

.legend {
  padding: 0;
}

.legendContent {
  font-weight: bold;
}

.description {
  color: var(--description-color);
  margin: 0;
}

.legend + .description {
  margin-top: var(--description-margin_top);
}

.content:not(:first-child) {
  margin-top: var(--content-margin_top);
}

.errorMessage {
  margin-top: var(--error_message-margin_top);
}
