* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif !important;
  color: #1e2b3c;
}

.fds-switch-input-9a6b03bc:checked
  + .fds-switch-label-9a6b03bc
  .fds-switch-track-9a6b03bc
  .fds-switch-thumb-9a6b03bc {
  background-image: none;
}

:root {
  --background: white;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 25%);
  background-color: #ffffff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0px;
  padding-bottom: 0px;
}

.is-sticky .ColorPicker_label__kYLHj {
  display: none;
}
