.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 100px;
  font-size: 18px;
}

.preview {
  --back: var(--grey2);
  --fore: var(--grey1);
}

.preview.dark,
.preview.contrast {
  --back: var(--grey1);
  --fore: var(--grey2);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.colors {
  display: flex;
}

.top {
  display: flex;
}

.swatchContainer {
  border: 1px solid #c0c0c0;
  height: 260px;
  width: 495px;
  padding: 20px;
  margin-right: 32px;
  border-radius: 4px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.tom {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.swatch {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.swatch:hover {
  cursor: pointer;
}

.swatches {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 32px;
  padding: 12px 80px 40px;
  border-radius: 8px;
}

.title {
  text-align: center;
  margin-bottom: 28px;
  font-size: 32px;
  font-weight: 500;
  margin-top: 0;
}

.toggles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
  padding: 9px 16px;
  font-size: 15px;
  border-radius: 500px;
}

.toggle:hover {
  cursor: pointer;
  background-color: #dae7ff;
}

.active {
  background-color: #d8e6ff;
}

.toggle img {
  height: 16px;
}

.tokens {
  margin-top: 40px;
}

.tokens h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

.tokens h2 {
  font-size: 22px;
  margin-bottom: 0;
}

.token {
  font-size: 16px;
}

.token div {
  margin-bottom: 6px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 48px 0 24px;
}

.rows {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.row {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 24px;
}

.brandRow {
  margin-top: 24px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 4px;
}

.menuItem {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 9px 20px;
  border-radius: 500px;
  border: none;
  background-color: transparent;
}

.menuItem:hover {
  cursor: pointer;
  background-color: #e1ecff;
}

.menuItemActive {
  background-color: #e1ecff;
}

.menuItemDisabled,
.menuItemDisabled:hover {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: transparent !important;
}

.preview {
  border: 1px solid #ebebeb;
  width: 100%;
  border-radius: 12px;
  display: flex;
  gap: 32px;
  box-shadow: 0 0 20px 2px #ebebeb;
}

.contrastSection {
  display: flex;
  align-items: center;
  gap: 2px;
  height: 52px;
  width: 85px;
  font-size: 16px;
}

.contrastSection svg {
  color: #c90000;
}

.contrastSectionSuccess svg {
  color: #090;
}

.pickers {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 32px;
  padding: 12px 0;
}

.pickersContainer {
  height: 140px;
}

.scaleLabel {
  height: 54px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #505050;
}

.contrastSelect {
  border-color: #c2c2c2;
  width: 150px;
}
