.toolbar {
  display: flex;
  gap: var(--ds-size-4);
  margin: var(--ds-size-4) 0;
  margin-top: var(--ds-size-18);

  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: var(--ds-size-4);

    & * {
      width: 100%;
    }
  }
}

.preview {
  background-color: var(--ds-color-neutral-background-tinted);
  padding: var(--ds-size-6);
  border-radius: var(--ds-border-radius-lg);
  box-shadow: var(--ds-shadow-md);
}
