.card {
  text-decoration: none;
  box-shadow: var(--ds-shadow-sm);
  border: none;
  border-radius: 8px;
  transition: 0.2s transform, 0.2s box-shadow;
  position: relative;
  z-index: 2;
  height: 100%;
}

.card:hover {
  color: inherit;
  box-shadow: var(--ds-shadow-md);
  transform: translateY(-4px);
}

.card:focus-visible {
  transition: none;
  box-shadow: var(--dsc-focus-boxShadow);
  outline: var(--dsc-focus-outline);
  outline-offset: var(--dsc-focus-border-width);
}

.iconContainer {
  height: 54px;
  width: 54px;
  border-radius: var(--ds-border-radius-sm);
  transform: rotate(45deg);
  margin: 0 auto;
  margin-bottom: calc(var(--ds-spacing-3) + 11px);
  margin-top: var(--ds-spacing-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer svg,
.iconContainer img {
  transform: rotate(-45deg);
}

.red {
  background-color: var(--ds-color-brand1-5);
  color: var(--ds-color-brand1-text-default);
}

.blue {
  background-color: var(--ds-color-brand3-4);
  color: var(--ds-color-brand3-text-default);
}

.yellow {
  background-color: var(--ds-color-brand2-4);
  color: var(--ds-color-brand2-text-default);
}

.grey {
  background-color: var(--ds-color-neutral-background-subtle);
  box-shadow: none;
}

.white {
  background-color: var(--ds-color-neutral-background-default);
}

.title {
  margin-top: var(--ds-spacing-4);
  margin-bottom: var(--ds-spacing-4);
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 7px;
  line-height: 1.4em;
}

.desc {
  text-align: center;
}
