.icon {
  align-items: center;
  background: var(--icon-background);
  display: flex;
  flex: none;
  padding-left: var(--component-input-border_width-default);
  padding-right: var(--component-input-border_width-focus);
}

.icon.disabled {
  opacity: 0.6;
}
