.section {
  background-color: var(--fds-semantic-background-subtle);
  padding: var(--fds-spacing-14) 0 var(--fds-spacing-18) 0;
}

.white {
  background-color: white;
}

.title {
  font: var(--fds-typography-heading-large);
}

.header {
  margin-bottom: var(--fds-spacing-8);
  text-align: center;
}

.content {
  display: grid;
  grid-row-gap: var(--grid-gap);
  grid-column-gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 320px), 1fr));
}

.detail {
  margin-top: var(--fds-spacing-4);
  height: var(--fds-spacing-7);
}
