.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.04);
  color: inherit;
  display: block;
  padding: 40px;
  text-align: left;
  text-decoration: none;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}

.desc {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 16px;
  -webkit-line-clamp: 6;
  line-height: 1.5em;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: 12px;
}
