.color {
  height: 100%;
  width: 100%;
  border-radius: var(--ds-border-radius-md);
  display: inline-block;
  border: 1px solid var(--ds-color-neutral-border-default); /* Dark --ds-color-neutral-background-default  */
}

.colorBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--ds-size-1);
  height: 70px;
  width: 10rem;
}

.colorVariable {
  display: flex;
  align-items: center;
  gap: var(--ds-size-1);
}
