.box {
  border: 1px solid rgb(235, 235, 235);
  /* background-color: var(--fds-semantic-background-default); */
  width: 100%;

  padding: 32px;
  border-radius: 8px;
  display: flex;
  gap: 32px;
  box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.1);
}

.input {
  margin-bottom: 30px;
}

.input input::placeholder,
.search input::placeholder {
  color: var(--input-placeholder);
}

.input input {
  background-color: var(--fds-semantic-background-subtle);
}

.login {
  padding: 32px;
  border-radius: 8px;
  background-color: var(--fds-semantic-background-subtle);
  width: 365px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 32px;
  margin-top: 0;
}

.btn {
  margin-top: 36px;
}

.link {
  align-self: flex-end;
  font-size: 16px;
}

.checkList {
  background-color: var(--fds-semantic-background-subtle);
  padding: 16px 24px;
  margin-top: 24px;
  border-radius: 4px;
}

.chips {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.search {
  width: 335px;
}

.search input {
  background-color: var(--fds-semantic-background-subtle);
}

.buttons {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 32px;
}

.switches {
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: var(--fds-semantic-background-subtle);
  padding: 24px;
  margin-top: 24px;
  border-radius: 4px;
}

.pagination {
  margin-top: 32px;
}

.radios {
  display: flex;
  align-items: center;
  gap: 32px;
  background-color: var(--fds-semantic-background-subtle);
  padding: 24px;
  margin-top: 24px;
  border-radius: 4px;
}

.radio {
  margin: -10px 0;
}

.spinners {
  display: flex;
  align-items: center;
  gap: 32px;
}
