.chips {
  display: flex;
  list-style: none;
  gap: var(--fds-sizing-xsmall);
  height: var(--fds-sizing-medium);
}

.chip {
  border-radius: 50px;
  height: var(--fds-sizing-medium);
  width: fit-content;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}

.chips.xsmall > li > .chip {
  height: var(--fds-sizing-medium);
  padding-left: var(--fds-sizing-xxsmall);
  padding-right: var(--fds-sizing-xxsmall);
}

.chips.small > li > .chip {
  height: var(--fds-sizing-large);
  padding-left: var(--fds-sizing-xsmall);
  padding-right: var(--fds-sizing-xsmall);
}

.toggle {
  border: solid;
  background-color: var(--fds-semantic-surface-neutral-default);
  border-color: var(--fds-semantic-border-neutral-default);
  box-sizing: border-box;
  color: --fds-semantic-text-neutral-default;
}

.toggle.active {
  background-color: var(--fds-semantic-surface-action-active);
  border-color: var(--fds-semantic-surface-action-active);
  color: var(--fds-semantic-text-action-on_action);
  padding-left: 0;
}

.toggle.active:hover {
  background-color: var(--fds-semantic-surface-action-no_fill-active);
  border-color: --fds-semantic-border-action-active;
  border: solid 2px;
  color: var(--fds-semantic-text-neutral-default);
}

.removable {
  background-color: var(--fds-semantic-surface-action-active);
  color: var(--fds-semantic-text-action-on_action);
  height: var(--fds-sizing-medium);
  border: 0;
  padding-right: 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  padding-right: 4px;
}

.xmark {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  height: var(--fds-sizing-medium);
  width: var(--fds-sizing-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkmarkContainer {
  width: var(--fds-sizing-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}

.removable:hover .xmarkContainer {
  background-color: var(--fds-semantic-surface-danger-default);
}

.toggle:hover {
  background-color: var(--fds-semantic-border-neutral-subtle);
}

.toggle:hover .active {
  background-color: pink;
}
