.colorPage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--ds-color-neutral-background-default);
  padding: 24px;
  border-radius: 8px;
  display: none;
  z-index: 5;
}

.title {
  margin-top: 12px;
  margin-bottom: 16px;
}

.name {
  margin-bottom: 24px;
}

.label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.topBtnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -4px;
}

.btnGroup {
  display: flex;
  margin-top: 24px;
  gap: 16px;
}

.removeBtn {
  margin-right: -8px;
  margin-top: -4px;
}

.colorPreviewContainer {
  border: 1px solid var(--ds-color-neutral-border-subtle);
  margin-bottom: 16px;
  border-radius: 8px;
}

.colorPreview {
  height: 120px;
  width: 100%;
  border-radius: 8px;
}

.back {
  margin-left: -16px;
  margin-top: -4px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.desc {
  color: var(--ds-color-neutral-text-subtle);
  margin-bottom: 16px;
}
