.modalContent {
  margin-bottom: 16px;
}

.container {
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: 8px;
  min-height: 275px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.left {
  width: 50%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
}

.right {
  width: 50%;
  border-left: 1px solid var(--ds-color-neutral-border-subtle);
}

.field {
  display: flex;
  align-items: center;
  height: 24px;
}

.field:last-child {
  margin-bottom: 0;
}

.label {
  font-weight: 500;
  margin-right: 12px;
}

.value {
  margin-right: 8px;
}
