.font {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #dcdcdc; */
  background-color: rgb(207, 234, 255);
}
