@layer ds.typography.label {
  .ds-label {
    --dsc-bottom-spacing: var(--ds-spacing-1);

    display: inline-block;
    margin: 0;
    padding: 0;
    color: var(--ds-color-neutral-text-default);
  }

  .ds-label--spacing {
    margin-bottom: var(--dsc-bottom-spacing);
  }

  .ds-label--regular-weight {
    font-weight: 400;
  }

  .ds-label--medium-weight {
    font-weight: 500;
  }

  .ds-label--semibold-weight {
    font-weight: 600;
  }
}
