@layer ds.typography.paragraph {
  .ds-paragraph {
    --dsc-bottom-spacing: var(--ds-spacing-5);

    color: var(--ds-color-neutral-text-default);
    margin: 0;
  }

  .ds-paragraph--spacing {
    margin-bottom: var(--dsc-bottom-spacing);
  }

  .ds-paragraph--lg {
    --dsc-bottom-spacing: var(--ds-spacing-6);
  }

  .ds-paragraph--md {
    --dsc-bottom-spacing: var(--ds-spacing-5);
  }

  .ds-paragraph--sm {
    --dsc-bottom-spacing: var(--ds-spacing-4);
  }

  .ds-paragraph--xs {
    --dsc-bottom-spacing: var(--ds-spacing-3);
  }
}
