.color {
  height: 66px;
  width: 66px;
  border-radius: 50%;
  padding: 2px;
  margin-left: -1px;
  margin-top: -1px;
}

.test {
  --color: #cfcfcf;

  background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-linear-gradient(45deg, var(--color) 25%, transparent 25%, transparent 75%, var(--color) 75%, var(--color)),
    repeating-linear-gradient(45deg, var(--color) 25%, #e5e5f7 25%, #e5e5f7 75%, var(--color) 75%, var(--color));
  background-position:
    0 0,
    10px 10px;
  background-size: 20px 20px;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  overflow: hidden;
  box-shadow: 0 2px 4px #0000001a;
}
