.page {
  height: calc(100vh - 100px);
}

.card {
  width: 550px;
  padding: 0 40px;
  flex-direction: column;
}

.heading {
  margin-top: 32px;
  margin-bottom: 12px;
}

.paragraph {
  margin-bottom: 24px;
}

.btn {
  display: inline-flex;
}

.textfield {
  margin-bottom: 32px;
  width: 320px;
}

.tabs {
  padding: 46px 40px 0 40px;
}
