.page {
  height: calc(100vh - 100px);
}

.card {
  width: 620px;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 32px;
  border-radius: 8px;
}

.heading {
  margin-bottom: 12px;
}

.paragraph {
  margin-bottom: 20px;
}

.btn {
  display: inline-flex;
}

.textfield {
  margin-bottom: 32px;
  width: 320px;
}

.tabs {
  padding: 40px 40px 0 40px;
}
