.container {
  background-color: var(--fds-semantic-surface-warning-subtle);
  border-left: 8px solid var(--fds-semantic-border-warning-default);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 2rem !important;
}

.desc > * p {
  font: var(--fds-typography-paragraph-short-small) !important;
}
