.heading {
  position: relative;

  &:hover {
    & a {
      opacity: 1;
    }
  }
  & a {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    color: inherit;

    & span {
      display: block;
      width: 100%;
      height: 100%;
      &::after {
        --link-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M14.909 5.152a2.25 2.25 0 0 1 3.182 0l.757.757a2.25 2.25 0 0 1 0 3.182l-4.964 4.965a1.25 1.25 0 0 1-1.768 0L11.03 12.97a.75.75 0 1 0-1.06 1.06l1.085 1.086a2.75 2.75 0 0 0 3.89 0l4.964-4.964a3.75 3.75 0 0 0 0-5.304l-.757-.757-.53.53.53-.53a3.75 3.75 0 0 0-5.304 0l-.878.879a.75.75 0 0 0 1.06 1.06zm-1.964 3.732a2.75 2.75 0 0 0-3.89 0l-4.964 4.964a3.75 3.75 0 0 0 0 5.304l.513-.514-.513.514.757.757a3.75 3.75 0 0 0 5.304 0l.878-.879a.75.75 0 0 0-1.06-1.06l-.879.878a2.25 2.25 0 0 1-3.182 0l-.757-.757a2.25 2.25 0 0 1 0-3.182l4.964-4.965a1.25 1.25 0 0 1 1.768 0l1.086 1.086a.75.75 0 0 0 1.06-1.06z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");

        content: '';
        width: 100%;
        height: 100%;
        display: block;
        mask: center / contain no-repeat var(--link-icon);
        background: currentcolor;
      }
    }
  }
}
