.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--ds-spacing-14);
  padding-top: var(--ds-spacing-4);
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  gap: var(--ds-spacing-4);
}

.ingress {
  text-align: center;
  max-width: 780px;
  text-wrap: balance;
}

.icon {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  transform: rotate(45deg);
  background-color: var(--ds-color-brand2-6);
  border-radius: 3px;
  margin-top: var(--ds-spacing-2);
  margin-bottom: var(--ds-spacing-2);
}

.icon > svg {
  transform: rotate(-45deg);
  fill: white;
  color: white;
}

.red {
  background-color: var(--ds-color-brand1-7);
}

.yellow {
  background-color: var(--ds-color-brand2-6);
}

.blue {
  background-color: var(--ds-color-brand3-7);
}

.logo {
  position: absolute;
  left: 5%;
  height: 200%;
  bottom: -100%;
  fill: transparent;
}

@media (max-width: 768px) {
  .banner {
    padding: var(--grid-padding);
    align-items: flex-start;
  }

  .icon {
    margin-left: var(--ds-spacing-2);
  }

  .logo {
    display: none;
  }

  .ingress {
    text-align: left;
  }
}

.logo.svg-red path {
  fill: var(--ds-color-brand1-6);
}

.logo.svg-yellow path {
  fill: var(--ds-color-brand2-6);
}

.logo.svg-blue path {
  fill: var(--ds-color-brand3-6);
}
