.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--ds-spacing-6);
  min-height: 460px;
  padding-top: var(--ds-spacing-5);
  padding-bottom: var(--ds-spacing-12);
}

.left {
  flex-basis: calc(53% - (var(--ds-spacing-6) / 2));
  flex-grow: 1;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(47% - (var(--ds-spacing-6) / 2));
  flex-grow: 1;
  height: 275px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: var(--ds-spacing-3);
  font: var(--ds-typography-heading-lg);
}

.title > span {
  margin-left: var(--ds-spacing-4);
}

.desc {
  padding-right: var(--ds-spacing-7);
  margin-bottom: 0;
  font: var(--ds-typography-ingress-sm);
}

.shapes {
  height: 200px;
  width: 200px;
  position: relative;
  animation: test 1.55s forwards ease-out;
}

.shape {
  height: 92px;
  width: 92px;
  border-radius: 8px;
  border: 5px solid transparent;
  position: absolute;
}

.one {
  top: 0;
  left: 0;
  border-color: var(--fds-brand-alt1-600);
  animation: one 1.5s forwards ease-out;
}

.two {
  top: 0;
  right: 0;
  border-color: var(--fds-brand-alt3-600);
  animation: two 1.5s forwards ease-out;
}

.three {
  right: 0;
  bottom: 0;
  border-color: var(--ds-color-neutral-border-strong);
  animation: three 1.5s forwards ease-out;
}

.four {
  left: 0;
  bottom: 0;
  border-color: var(--fds-brand-alt2-600);
  animation: four 1.5s forwards ease-out;
}

@keyframes one {
  0% {
    top: -100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes two {
  0% {
    right: -100px;
    opacity: 0;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes three {
  0% {
    bottom: -100px;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes four {
  0% {
    left: -100px;
    opacity: 0;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes test {
  0% {
    transform: rotate(0deg) scale(1);
  }

  88% {
    transform: rotate(45deg) scale(0.95);
  }

  94% {
    transform: rotate(45deg) scale(1.05);
  }

  100% {
    transform: rotate(45deg) scale(1);
  }
}

@media (max-width: 991.98px) {
  .imgContainer {
    height: 300px;
    width: 300px;
    margin: 0 auto;
  }
}
