.components {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--ds-spacing-8);
}

.cardTitle {
  margin-bottom: 16px;
}

.checkbox {
  padding-bottom: 16px;
}

.userLink {
  display: block;
  text-align: right;
  margin-top: 20px;
  font-size: 16px;
}

.userTitle {
  text-align: center;
}

.userField {
  margin-top: 24px;
}

.userBtn {
  margin-top: 32px;
}

.userPar {
  margin-bottom: -4px;
  margin-top: -7px;
}

.table {
  width: 100%;
  margin-bottom: 24px;
  margin-top: 16px;
}

.tableContainer {
  grid-column: 1 / 3;
}

.table thead button {
  padding-top: 8px;
  padding-bottom: 8px;
}

.tableCell {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 13px 12px;
}

.tableImg {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.tableAction {
  display: flex;
  align-items: center;
}

.tableSelect {
  width: 160px;
}

.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.tableSearch {
  width: 260px;
}

.tableBtn {
  margin-left: 20px;
}

.help {
  grid-column: 1 / 3;
}

.faq {
  grid-column: 1 / 3;
}

.helpCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.helpHeader {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  margin-bottom: -10px;
}

.helpHeading {
  margin-bottom: 20px;
}

.helpContent {
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 16px;
}

.tagList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.tabs {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.accordion > div button {
  border-top: 1px solid var(--brandThree6);
  border-radius: 0;
}

.accordion > div:first-child button {
  border: none;
  border-radius: 4px 4px 0 0;
}

.footerOne {
  background-color: var(--brandOne9);
}

.footerOne h1 {
  color: var(--brandOne14);
}

.footerOne a {
  color: var(--brandOne15);
}

.footerTwo {
  background-color: var(--brandTwo9);
}

.footerTwo h1 {
  color: var(--brandTwo14);
}

.footerTwo a {
  color: var(--brandTwo15);
}

.footerThree {
  background-color: var(--brandThree9);
}

.footerThree h1 {
  color: var(--brandThree14);
}

.footerThree a {
  color: var(--brandThree15);
}

.footerHeading {
  margin-bottom: 14px;
}

.footerList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.switchGroup {
  display: flex;
  gap: 26px;
  flex-direction: column;
}

.switchHeading {
  margin-bottom: 12px;
}

.switchParagraph {
  margin-bottom: 20px;
}
