.chipButton {
  --fdsc-chip-height: var(--fds-sizing-7);
  --fdsc-chip-padding: var(--fds-spacing-3);
  --fdsc-chip-background: var(--fds-semantic-surface-action-primary-subtle);
  --fdsc-chip-text-color: var(--fds-semantic-text-neutral-default);
  --fdsc-chip-border: var(--fds-semantic-border-action-primary-subtle);
  --fdsc-chip-border-radius: var(--fds-border_radius-full);

  background: var(--fdsc-chip-background);
  padding: 0 var(--fdsc-chip-padding);
  min-height: var(--fdsc-chip-height);
  border-radius: var(--fdsc-chip-border-radius);
  border: 1px solid var(--fdsc-chip-border);
  color: var(--fdsc-chip-text-color);
  display: block;
  text-decoration: none;
  font-family: inherit;
}

.chipButton:hover {
  --fdsc-chip-background: var(--fds-semantic-surface-action-primary-subtle-hover);
  --fdsc-chip-text-color: var(--fds-semantic-text-neutral-default);
  --fdsc-chip-border: var(--fds-semantic-border-action-primary-subtle-hover);

  cursor: pointer;
}

.chipButton:focus {
  --fdsc-chip-background: var(--fds-semantic-surface-action-primary-subtle);
  --fdsc-chip-text-color: var(--fds-semantic-text-neutral-default);
  --fdsc-chip-border: var(--fds-semantic-border-neutral-strong);

  box-shadow: inset 0 0 0 2px var(--fdsc-chip-border);
  outline: 2px solid var(--fds-semantic-border-focus-outline);
}

.chipButton:is([aria-pressed='true']),
.chipButton:active {
  --fdsc-chip-background: var(--fds-semantic-surface-action-primary-active);
  --fdsc-chip-text-color: var(--fds-semantic-text-neutral-on_inverted);
  --fdsc-chip-border: var(--fds-semantic-surface-action-primary-active);
}

.chipButton:is([aria-pressed='true']):hover {
  --fdsc-chip-background: var(--fds-semantic-surface-action-primary-no_fill-active);
  --fdsc-chip-text-color: var(--fds-semantic-text-neutral-default);
}

.chipButton .label {
  color: inherit;
  line-height: normal;
}

.xsmall {
  --fdsc-chip-height: var(--fds-sizing-6);
  --fdsc-chip-padding: var(--fds-spacing-2);
}

.small {
  --fdsc-chip-height: var(--fds-sizing-7);
  --fdsc-chip-padding: var(--fds-spacing-3);
}
