.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  border-radius: 32px;
  padding: 0 8px;
  transition: 0.1s all;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  background-color: #cfcfcf;
}

.btn:hover svg {
  color: black;
}

.tippy {
  font-family: 'Inter', sans-serif;
}

.text {
  margin-left: 2px;
}
