.btn {
  border: none;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  transition: 0.1s all;
  cursor: pointer;
  background-color: transparent;
}

.btn:hover {
  background-color: #cfcfcf;
}

.btn:hover svg {
  color: black;
}

.tippy {
  font-family: 'Inter', sans-serif;
}
