.component {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 0 calc(50% - 8px);
}

.box {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
}

.leftContent {
  display: flex;
  align-items: center;
  gap: 12px;
}

.color {
  height: 24px;
  width: 24px;
  background-color: red;
  border-radius: 4px;
}

.name {
  font-size: 16px;
}

.hex {
  font-size: 16px;
}
