.rows {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.column {
  width: calc(33.33% - 32px);
  flex-basis: 555;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 24px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 16px;
}

.box {
  height: 100px;
  width: 100%;
  border-radius: 4px;
}
