.codeSnippet {
  position: relative;
  max-width: 100%;
  overflow-x: auto;
}

.icon {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ds-color-neutral-text-default);
  color: white;
  border-radius: var(--ds-border-radius-md);
  border: none;
  transition: 0.15s all;
  cursor: pointer;
}

.icon:hover {
  background-color: var(--ds-color-neutral-text-subtle);
}
