.content {
  min-width: 0;
  grid-area: content;
}

.tableOfContents {
  grid-area: aside;
  align-self: start;
}
.feedback {
  font-weight: var(--ds-font-weight-medium);
  margin-top: var(--ds-size-4);
  padding-top: var(--ds-size-4);
  padding-inline: var(--ds-size-4);
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
  > p {
    margin-bottom: var(--ds-size-4);
  }
  a {
    width: fit-content;
  }
}

.header {
  container: header-container / inline-size;
  grid-area: header;
  position: relative;
  overflow: hidden;
  margin-bottom: var(--ds-size-6);
  padding-block: var(--ds-size-10);
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-6);

  & code:not(pre > code) {
    padding: 3px 5px;
    margin: 1px;
    font-size: 0.9em;
    line-height: 1;
    white-space: break-spaces;
    background-color: var(--ds-color-neutral-background-tinted);
    border-radius: var(--ds-border-radius-md);
    display: inline;
    border: 1px solid var(--ds-color-neutral-border-subtle);
  }
}

.headerUpper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: var(--ds-size-8);
}

.headerText {
  max-width: var(--short-content-width);
  p {
    text-wrap: pretty;
  }
}

.headerBottom {
  display: flex;

  & a {
    border-radius: 0;
    font-weight: var(--ds-font-weight-regular);

    &[aria-current='page'] {
      border-bottom: 3px solid currentColor;
      color: var(--ds-color-accent-text-subtle);
      font-weight: var(--ds-font-weight-semibold);
      &:hover {
        --dsc-button-background--hover: var(--ds-color-accent-surface-hover);
      }
    }
  }
}

@media (max-width: 1279px) {
  .tableOfContents {
    display: none;
  }
}
@container header-container (max-width: 800px) {
  .headerUpper {
    display: block;
  }
  .iconFrame {
    width: 100%;
    max-width: var(--short-content-width);
    margin-top: var(--ds-size-8);
  }
}
