.content {
  min-width: 0;
  grid-area: content;
}

.tableOfContents {
  grid-area: aside;
  align-self: start;
}

.header {
  container: header-container / inline-size;
  grid-area: header;
  position: relative;
  overflow: hidden;
  margin-bottom: var(--ds-size-6);
  padding-block: var(--ds-size-10);
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  padding-bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-6);
}

.headerUpper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: center;
  gap: var(--ds-size-8);
}
.imageContainer {
  container: image-container / size;
  background-color: var(--ds-color-accent-surface-tinted);
  border-radius: 16px;
  /*width: 520px;*/
  /*width: 30cqi;*/
  width: 100%;
  aspect-ratio: 52 / 19;
  display: grid;
  place-items: center;
}

.headerText {
  max-width: var(--short-content-width);
}

.headerBottom {
  display: flex;

  & a {
    border-radius: 0;
    font-weight: var(--ds-font-weight-regular);

    &[aria-current='page'] {
      border-bottom: 3px solid currentColor;
      color: var(--ds-color-accent-text-subtle);
      font-weight: var(--ds-font-weight-semibold);
      &:hover {
        --dsc-button-background--hover: var(--ds-color-accent-surface-hover);
      }
    }
  }
}

@media (max-width: 1279px) {
  .tableOfContents {
    display: none;
  }
}
@media (max-width: 958px) {
  .headerUpper {
    display: block;
  }
  .imageContainer {
    width: 100%;
    max-width: var(--short-content-width);
    margin-top: var(--ds-size-8);
  }
}
