.tabContent {
  --fdsc-typography-font-family: inherit;

  font-family: var(--fdsc-typography-font-family);
}

.tabContent.small {
  padding: var(--fds-spacing-4);
}

.tabContent.medium {
  padding: var(--fds-spacing-5);
}

.tabContent.large {
  padding: var(--fds-spacing-6);
}

.tabContent.onlyText.small {
  font: var(--fds-typography-interactive-small);
  font-family: var(--fdsc-typography-font-family);
}

.tabContent.onlyText.medium {
  font: var(--fds-typography-interactive-medium);
  font-family: var(--fdsc-typography-font-family);
}

.tabContent.onlyText.large {
  font: var(--fds-typography-interactive-large);
  font-family: var(--fdsc-typography-font-family);
}
