.codeSnippet {
  position: relative;
  max-width: 100%;
  overflow-x: auto;
  width: 100%;
  border-radius: var(--ds-border-radius-md);
  height: fit-content;
}

.codeSnippet > pre {
  padding-right: var(--ds-size-18) !important;
  background-color: var(--ds-color-neutral-background-tinted) !important;
}

.codeSnippet > pre > code {
  padding: 0;
}

.codeSnippet > pre > code span:empty {
  display: none;
}

.copyButton {
  position: absolute;
  top: var(--ds-size-2);
  right: var(--ds-size-2);
}
