.alert {
  --fdsc-alert-border: var(--fds-semantic-border-info-default);
  --fdsc-alert-icon-color: var(--fdsc-alert-border);
  --fdsc-alert-background: var(--fds-semantic-surface-info-subtle);
  --fdsc-alert-color: var(--fds-semantic-text-neutral-default);

  /* Negative drop-shadow to place it on the left side of the element */
  filter: drop-shadow(-8px 0 0 var(--fdsc-alert-border));
  background: var(--fdsc-alert-background);
  color: var(--fdsc-alert-color);
  padding: var(--fds-spacing-4);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content auto;
  gap: var(--fds-spacing-2);
}

.icon {
  --icon-size: calc((4 * 6 / 16) * var(--fds-font-size-f0)); /** Fluid sizing-6 */

  height: var(--icon-size);
  width: var(--icon-size);
  color: var(--fdsc-alert-icon-color);
}

.content {
  display: flex;
  flex-direction: column;
}

.info {
  --fdsc-alert-border: var(--fds-semantic-border-info-default);
  --fdsc-alert-background: var(--fds-semantic-surface-info-subtle);
}

.warning {
  --fdsc-alert-border: var(--fds-semantic-border-warning-default);
  --fdsc-alert-background: var(--fds-semantic-surface-warning-subtle);
}

.success {
  --fdsc-alert-border: var(--fds-semantic-border-success-default);
  --fdsc-alert-background: var(--fds-semantic-surface-success-subtle);
}

.danger {
  --fdsc-alert-border: var(--fds-semantic-border-danger-default);
  --fdsc-alert-background: var(--fds-semantic-surface-danger-subtle);
}

.elevated {
  box-shadow: var(--fds-shadow-small);
}
