.ComponentUsage {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.ComponentUsage--danger .box {
  border-bottom-color: #e00000;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 0;
}

.desc {
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 16px;
}

.textContainer {
  margin-right: 10px;
  width: 80%;
}

.box {
  align-items: center;
  background-color: var(--colors-neutral-100);
  border: 1px solid #eee;
  border-bottom: 6px solid #2a8d00;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 160px;
  position: relative;
}

.content {
  margin-top: 24px !important;
}

.content > * {
  margin-bottom: 24px !important;
}

.iconContainer {
  align-items: center;
  background-color: #2a8d00;
  border-radius: 50%;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 24px;
}

.iconContainer--danger {
  background-color: #e00000;
}
