.link {
  align-items: center;
  color: inherit;
  display: flex;
  font-weight: 500;
  margin-top: 24px;
  text-decoration: none;
  transition: 0.15s all;
}

.link:hover {
  cursor: pointer;
}

.link span {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.link svg {
  margin-right: 16px;
}
