.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--ds-spacing-6);
}

.leftSection,
.rightSection {
  flex-grow: 1;
  flex-basis: 0;
}

.leftSection {
  border-right: 1px solid var(--ds-color-neutral-border-subtle);
  padding-right: var(--ds-spacing-8);
}

.rightSection {
  padding: var(--ds-spacing-4) 0 var(--ds-spacing-4) var(--ds-spacing-8);
}

.infoBoxes {
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
  margin-top: var(--ds-spacing-8);
  padding-top: var(--ds-spacing-8);
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-8);
}

.infoBox {
  display: flex;
  gap: var(--ds-spacing-3);
}

.infoBox__container {
  gap: var(--ds-spacing-1);
  display: flex;
  flex-direction: column;
}

.infoBox__icon {
  height: 32px;
  width: 32px;
  background-color: black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: -2px;
}

.infoBox__icon img {
  height: 16px;
}

.infoBox__icon--code {
  background: linear-gradient(137deg, #4ebbff 4.89%, #1c49ff 95.99%);
}

.contact {
  margin-top: var(--ds-spacing-6);
  gap: 8px;
  display: flex;
}

.contact__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.snippet code {
  background-color: transparent;
  height: 290px;
  display: block;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerText {
  margin-right: auto;
  font-size: var(--ds-spacing-6);
}

.emblem {
  height: 26px;
  margin-right: var(--ds-spacing-2);
}

@media (max-width: 1150px) {
  .content {
    flex-direction: column;
  }

  .leftSection {
    border: none;
    padding: 0;
  }

  .rightSection {
    padding: 0;
    margin-top: 32px;
    width: 100%;
  }
}
