.toggle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menuItem {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 9px 14px;
  border-radius: 500px;
  border: none;
  background-color: transparent;
  color: var(--ds-color-accent-text-default);
}

.menuItem:hover {
  cursor: pointer;
  background-color: var(--ds-color-accent-surface-hover);
}

.menuItemActive {
  background-color: var(--ds-color-accent-surface-hover);
}

.menuItem[aria-disabled] {
  cursor: not-allowed;
  opacity: 0.6;
  background-color: transparent !important;
}
