[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
}

.radio {
  display: inline-grid;
  grid: [input] 1fr / [input] 1fr;
  gap: var(--fds-spacing-2);
  position: relative;
  grid-auto-flow: column;
  width: 44px;
  height: 44px;
  border-radius: var(--fds-border_radius-full);
}

.radio:hover {
  background: var(--fds-semantic-surface-info-subtle-hover);
}

/* .radio::before {
  content: '';
  position: absolute;
  width: 48px;
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
} */

.radio input {
  height: 100%;
  width: 100%;
  opacity: 0;
  margin: 0;
  cursor: pointer;
  grid-area: input;
}

.radio svg {
  border-radius: var(--fds-border_radius-full);
  z-index: 1;
  margin: auto;
}

.radio input:focus-visible ~ svg {
  --fds-inner-focus-border-color: #1e2b3c;
  --fds-outer-focus-border-color: #fadf4b;
  --fds-focus-border-width: 3px;

  outline: var(--fds-focus-border-width) solid var(--fds-outer-focus-border-color);
  outline-offset: 0;

  /* box-shadow: 0 0 0 var(--fds-focus-border-width) var(--fds-inner-focus-border-color); */
}

.radio input:not(:checked) ~ svg circle[name='checked'] {
  display: none;
}

.radio input:checked ~ svg circle[name='checked'] {
  display: inline;
  fill: var(--fds-semantic-border-input-hover);
}

.radio input:not(:checked) ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-input-default);
}

.radio input:checked ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-input-hover);
}

.radio input:disabled ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-neutral-subtle);
}

.radio input:hover ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-input-hover);
  fill: var(--fds-semantic-surface-info-subtle-hover);
}

.radio input:focus-visible ~ svg circle[name='circle'] {
  stroke: #1e2b3c;
  stroke-width: 3px;
}

.icon {
  grid-area: input;
  pointer-events: none;
  height: 1.25em;
  width: 1.25em;
}

.label {
  display: inline-flex;
  flex-direction: column;
  gap: var(--fds-spacing-1);
  cursor: pointer;
  /* padding: var(--fds-spacing-2) 0; */
}

.description {
  color: var(--fds-semantic-text-neutral-subtle);
}
