.container {
  position: relative;
  padding-left: calc(var(--fds-spacing-6) + 20px);
}

.icon {
  grid-area: input;
  pointer-events: none;
  height: 1.75em;
  width: 1.75em;
}

.label {
  min-height: 44px;
  min-width: min-content;
  display: inline-flex;
  flex-direction: row;
  gap: var(--fds-spacing-1);
  align-items: center;
  cursor: pointer;
}

.description {
  color: var(--fds-semantic-text-neutral-subtle);
}

.radio {
  --fds-inner-focus-border-color: var(--fds-semantic-border-focus-boxshadow);
  --fds-outer-focus-border-color: var(--fds-semantic-border-focus-outline);
  --fds-focus-border-width: 3px;

  position: absolute;
  left: 0;
  top: 0;
  min-width: 44px;
  min-height: 44px;
  display: inline-grid;
  grid: [input] 1fr / [input] 1fr;
  gap: var(--fds-spacing-2);
  grid-auto-flow: column;
  border-radius: var(--fds-border_radius-full);
}

.radio input {
  height: 100%;
  width: 100%;
  opacity: 0;
  margin: 0;
  grid-area: input;
  cursor: pointer;
}

.error > .radio input,
.error > .label,
.readOnly > .radio input,
.readOnly > .label {
  cursor: default;
}

.disabled > .radio input,
.disabled > .label {
  cursor: not-allowed;
  color: var(--fds-semantic-border-neutral-subtle);
}

.disabled > .description {
  color: var(--fds-semantic-border-neutral-subtle);
}

.radio svg {
  border-radius: var(--fds-border_radius-full);
  z-index: 1;
  margin: auto;
}

.radio:hover {
  background: var(--fds-semantic-surface-info-subtle-hover);
}

.radio:hover input:not(:disabled, :read-only) {
  background: var(--fds-semantic-surface-info-subtle-hover);
}

.label:hover:not(input:disabled, :read-only),
.radio:hover:not(input:disabled, :read-only) ~ .label {
  color: var(--fds-semantic-border-input-hover);
}

.radio input:not(:checked) ~ svg circle[name='checked'] {
  display: none;
}

.radio input:checked ~ svg circle[name='checked'] {
  display: inline;
  fill: var(--fds-semantic-border-input-hover);
}

.radio input:not(:checked) ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-input-default);
}

.radio input:checked ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-input-hover);
}

.radio input:disabled ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-neutral-subtle);
}

.radio input:disabled ~ svg circle[name='checked'] {
  fill: var(--fds-semantic-border-neutral-subtle);
}

.radio input:focus-visible ~ svg {
  outline: var(--fds-focus-border-width) solid var(--fds-outer-focus-border-color);
  outline-offset: 0;
}

.radio input:focus-visible ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-focus-boxshadow);
  stroke-width: var(--fds-focus-border-width);
}

.container.error .radio > svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-danger-default);
}

.container.error .radio > svg circle[name='checked'] {
  fill: var(--fds-semantic-border-danger-default);
}

.readOnly .radio input:read-only ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-neutral-default);
}

.readOnly .radio input:read-only ~ svg circle[name='checked'] {
  fill: var(--fds-semantic-border-neutral-subtle);
}

.radio input:hover:not(:disabled, :read-only) ~ svg circle[name='circle'] {
  stroke: var(--fds-semantic-border-input-hover);
}
