.content > p,
.content > h2,
.content > h3,
.content > h4 {
  max-width: 800px;
}

.content p {
  font-size: 18px;
  line-height: 1.55em;
  margin-bottom: 20px;
}

.content h1 + p {
  font-size: 24px;
  line-height: 1.7em;
  margin-bottom: 36px;
}

.content h2 {
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.3em;
  font-size: 28px;
}

.content h3 {
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.3em;
  font-size: 24px;
}

.content h4 {
  margin-top: 40px;
  margin-bottom: 16px;
  line-height: 1.3em;
  font-size: 20px;
}

/* Heading styling with anchor link */
.content > h2,
.content > h3,
.content > h4 {
  position: relative;
  padding-left: 25px;
  margin-left: -25px;
}

.content > h2 a,
.content > h3 a,
.content > h4 a {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  display: none;
  transition: 0.1s all;
}

.content > h2:hover a,
.content > h3:hover a,
.content > h4:hover a {
  display: block;
}

.content img {
  width: 100%;
  margin: 24px 0;
  border-radius: 2px;
}

.content strong {
  margin-top: 8px;
  display: inline-block;
  font-weight: 500;
}

.content > div {
  box-shadow: 0 2px 4px rgba(0 0 0 / 0.1);
  border-radius: 4px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.content > ul > li {
  font-size: 18px;
  line-height: 1.7em;
}

.content > p > a,
.content > ul > li > a {
  color: #0062ba;
  text-underline-offset: 4px;
}

.content > p > a:hover,
.content > ul > li > a:hover {
  text-decoration-thickness: 2px;
}

.content pre {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 4px;
  margin: 32px 0;
}

.content > iframe {
  box-shadow: 0 2px 4px rgba(0 0 0 / 0.2);
  border-radius: 4px;
  margin: 24px 0;
}

.content > table {
  border-collapse: collapse;
  width: 100%;
  margin: 32px 0;
}

.content > table td,
.content > table th {
  border: 1px solid #ddd;
  padding: 16px;
}

.content > table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f4f4f4;
  font-weight: 600;
}

.content > *:first-child {
  margin-top: 0;
}

.content > *:last-child {
  margin-bottom: 0;
}
