.container {
  display: flex;
  max-width: var(--media-max-width);
  margin: var(--ds-spacing-7) 0;
  border-radius: var(--ds-border-radius-md);
  flex-wrap: wrap;
  gap: var(--ds-spacing-4);
}

.container .img {
  box-shadow: none;
  margin: 0;
}

.boxShadow .img {
  box-shadow: var(--ds-shadow-md);
}
