.img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.page {
  margin-top: 40px;
}

.panel {
  background-color: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: var(--ds-shadow-xs);
  margin-top: 16px;
  display: inline-block;
}

.title {
  margin-bottom: 12px;
}

.desc {
  margin-bottom: 12px;
}
