.triggerButton {
  border-radius: 1e4px;
  margin-inline-end: var(--ds-size-2);
}

@media (max-width: 668px) {
  /*   .triggerButton {
    --dsc-button-padding: var(--ds-size-2) var(--ds-size-2);
    border-radius: var(--ds-border-radius-default);
  } */
  .triggerText {
    display: none;
  }
}
