.sbdocs-content {
  code {
    display: inline;
    border: none;
    border-radius: var(--ds-border-radius-sm);
    background: var(--ds-color-neutral-background-tinted);
  }

  code,
  kbd {
    color: var(--ds-color-neutral-text-default);
    font-size: round(down, 0.8em, 0.0625rem);

    // If the kbd element is used for an icon, add data-icon attribute
    &[data-icon] {
      font-size: 1.2em;
      padding: 0 0.3em 2px 0.3em;
      bottom: 0px;
    }
  }

  :where(h1,h2,h3,h4,h5,h6) code {
    font-weight: var(--ds-font-weight-semibold);
  }

  kbd {
    font-family:
      ui-monospace, Menlo, Monaco, 'Roboto Mono', 'Oxygen Mono',
      'Ubuntu Monospace', 'Source Code Pro', 'Droid Sans Mono', 'Courier New',
      monospace;
    background: var(--ds-color-neutral-background-tinted);
    padding: var(--ds-size-1);
    border-radius: var(--ds-border-radius-md);
    border: solid 1px var(--ds-color-neutral-border-subtle);
    position: relative;
    bottom: 2px;
    box-shadow: 0.5px 1px 0 0 var(--ds-color-neutral-border-strong);
  }

  a {
    // Hack to properly render the link underline across regular text and code
    &:not([data-single-child]) > code {
      position: relative;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
      margin-top: 4px;

      &::before,
      &::after {
        font-size: 8px;
        display: inline;
        content: "\00a0";
        position: relative;
      }
    }

    /* Only use hover for non-touch devices to prevent sticky-hovering */
    @media (hover: hover) and (pointer: fine) {
      &:hover > code {
        color: var(--ds-color-text-default);
        text-decoration-thickness: 0.125em;
      }
    }

    &:active > code {
      background-color: var(--ds-color-surface-tinted);
      color: var(--ds-color-text-default);
    }
  }
}
