.card {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--ds-color-neutral-surface-default);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  color: var(--ds-color-neutral-text-default);
  border-radius: var(--ds-border-radius-lg);
  padding: var(--ds-size-4);
  gap: var(--ds-size-4);
  @media (prefers-reduced-motion: no-preference) {
    transition: 0.2s border-color;
  }
}

.card:hover {
  border-color: var(--ds-color-neutral-border-strong);
}

.card:focus-visible {
  transition: none;
  box-shadow: var(--dsc-focus-boxShadow);
  outline: var(--dsc-focus-outline);
  outline-offset: var(--ds-border-width-focus);
}

.iconContainer {
  width: 60px;
  aspect-ratio: 1;
}
.iconContainer svg {
  width: 100%;
  height: auto;
}
.iconContainer path {
  fill: var(--ds-color-border-default);
}

.title {
  margin-top: 0px;
  margin-bottom: var(--ds-size-3);
}

.desc {
  color: var(--ds-color-neutral-text-subtle);
  text-wrap: pretty;
}
