.iconSearch {
  margin-top: 32px;
}

.icons {
  margin-top: 42px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin: -16px;
}

.icons-tabs {
  margin-top: 24px;
}

.icons-tabs__btn {
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #d9d9d9;
  color: #555;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  padding: 16px 28px;
}

.icons-tabs__btn:hover {
  border-bottom: 4px solid #8ea6bf;
  color: black;
}

.icons-tabs__btn--active {
  border-bottom: 4px solid #0060bf !important;
  color: black;
  font-weight: 500;
}

.item {
  align-items: center;
  background-color: #f6f6f6;
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: center;
  margin: 16px;
  position: relative;
  transition: 0.25s all;
  width: calc(25% - 34px);
}

.item:hover {
  box-shadow: 0 0 0 1px #00397e;
}

svg {
  transition: 0.25s all;
}

.item:hover svg {
  transform: scale(1.25);
}

.heading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

.group {
  margin-top: 44px;
}

.name {
  font-size: 14px;
  margin-top: 16px;
}

.new {
  background-color: #ffdea8;
  border-bottom-left-radius: 4px;
  font-weight: 500;
  padding: 9px 14px;
  position: absolute;
  right: 0;
  top: 0;
}

.searchContainer {
  position: relative;
}

.iconContainer {
  left: 13px;
  position: absolute;
  top: 13px;
}

.inputContainer {
  position: relative;
  width: 548px;
}

.input {
  border: 1px solid #8d8d8d;
  border-radius: 4px;
  font-size: 18px;
  height: 49px;
  padding-left: 48px;
  width: 500px;
}

.clearBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 15px;
}

.clearBtn svg {
  stroke: #898989;
}

.clearBtn:hover svg {
  stroke: #000;
}
