.container {
  background-color: #f1ecff;
  border-left: 8px solid #6544c5;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: auto;
  margin-bottom: 2rem !important;
}

.title {
  font: var(--fds-typography-heading-xxsmall) !important;
}

.desc > * p {
  font: var(--fds-typography-paragraph-short-small) !important;
}
