.box {
  background-color: #f1ecff;
  border-left: 5px solid #6544c5;
  padding: 24px;
  display: flex;
  margin: 24px 0 !important;
  width: 80%;
  border-radius: 2px;
}

@media screen and (max-width: 1400px) {
  .box {
    width: auto;
  }
}

.iconContainer {
  margin-right: 16px;
  display: none;
}

.title {
  font-size: 20px !important;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 8px !important;
}

.desc {
  line-height: 1.5em;
  font-size: 16px;
}
