.preview {
  background-color: var(--ds-color-neutral-background-default);
  padding: var(--ds-size-8);
  padding-bottom: var(--ds-size-12);
  border-top-left-radius: var(--ds-border-radius-md);
  border-top-right-radius: var(--ds-border-radius-md);
  border: 2px solid var(--ds-color-neutral-border-subtle);
  position: relative;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--ds-size-2);
  }

  & .codeButton {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: var(--ds-font-size-2);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.editorWrapper {
  position: relative;
  border-bottom-left-radius: var(--ds-border-radius-md);
  border-bottom-right-radius: var(--ds-border-radius-md);
  &:focus-within {
    outline: 2px solid white;
    outline-offset: -4px;
  }
}
.editor {
  font-family: monospace;
  border-bottom-left-radius: var(--ds-border-radius-md);
  border-bottom-right-radius: var(--ds-border-radius-md);
  overflow: hidden;

  & > pre {
    background-color: var(--ds-color-neutral-background-tinted) !important;
    font-size: min(0.8em, 14px);
    padding: var(--ds-size-5) !important;
  }

  & [class~='plain-text'] {
    color: var(--ds-color-neutral-text-default);
  }
}
.reset {
  right: 8px;
  top: 8px;
  position: absolute;
}
