.toggleButtonGroup {
  align-items: stretch;
  border-color: var(--component-toggle_button-color-border-inactive);
  border-radius: var(--interactive_components-border_radius-normal);
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  display: inline-flex;
  height: var(--component-button-size-height-small);
  width: 100%;
}

.toggleButton {
  background-color: var(--component-toggle_button-color-background-inactive);
  border-radius: 0;
  border: none;
  color: var(--component-toggle_button-color-text-inactive);
  cursor: pointer;
  flex: 1;
  font-family: inherit;
  font-size: var(--component-toggle_button-font_size-sm);
  padding-left: var(--component-toggle_button-space-padding-x);
  padding-right: var(--component-toggle_button-space-padding-x);
}

.toggleButton.pressed {
  background-color: var(--component-toggle_button-color-background-active);
  color: var(--component-toggle_button-color-text-active);
}

.toggleButton:focus-visible,
.toggleButton:focus {
  --fdsc-focus-border-width: 3px;

  outline: var(--fdsc-focus-border-width) solid var(--fds-semantic-border-focus-outline);
  outline-offset: var(--fdsc-focus-border-width);
  box-shadow: 0 0 0 var(--fdsc-focus-border-width) var(--fds-semantic-border-neutral-strong);
  border-radius: var(--fds-border_radius-interactive);
  z-index: 1;
}

.toggleButton:not(.pressed):hover {
  background-color: #cff0ff;
}
