.container {
  max-width: var(--grid-max-width, 1500px);
  margin: 0 auto;
  width: 100%;
  padding-left: var(--grid-padding, 16px);
  padding-right: var(--grid-padding, 16px);
}

.content {
  padding-bottom: var(--ds-size-12);
  padding-top: var(--ds-size-12);

  [data-color-scheme='dark'] &,
  [data-color-scheme='auto'] & {
    background-color: var(--ds-color-neutral-background-default);
  }
}
