@property --captured-length {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

.ds-avatar-stack {
  --dsc-avatar-stack-size: var(--ds-size-12);
  --dsc-avatar-stack-gap: 2;
  --dsc-avatar-stack-overlap: 50;
  /*--dsc-avatar-count<number> is only needed when the stack is expandable="fixed", to calculate a fixed width.*/
  --dsc-avatar-count: initial;

  --_gap: calc(var(--dsc-avatar-stack-gap) * 1px);
  --_overlap: calc(((var(--dsc-avatar-stack-size) / 100) * var(--dsc-avatar-stack-overlap)) * -1);

  --captured-length: var(--_overlap);
  display: flex;
  align-items: center;
  isolation: isolate;
  padding-block: 1px;
  width: max-content;
  transition: --captured-length 0.2s ease;

  &:focus-visible {
    @composes ds-focus--visible from './base.css';
  }

  &[data-expandable] {
    &:hover,
    &:focus-visible {
      --captured-length: var(--_gap);
    }
  }

  &[data-expandable='fixed'] {
    width: calc(var(--dsc-avatar-stack-size) * var(--dsc-avatar-count) + var(--_overlap) * (var(--dsc-avatar-count) - 1));
  }

  &:empty {
    display: none;
  }

  &[data-suffix]::after {
    content: attr(data-suffix);
    place-self: center;
    margin-left: 1ch;
    font-size: max(1rem, calc(var(--dsc-avatar-stack-size) * 0.4));
  }

  .ds-avatar {
    --dsc-avatar-size: var(--dsc-avatar-stack-size);
    --_font-size: max(0.75rem, calc(var(--dsc-avatar-stack-size) * 0.5));
    mask: radial-gradient(50% 50% at calc(150% + var(--captured-length)), transparent calc(100% - 1px + var(--_gap)), #000 calc(100% + var(--_gap)));
    &[data-variant='square'] {
      mask: linear-gradient(to right, #000 calc(100% + var(--captured-length) - var(--_gap)), transparent calc(100% + var(--captured-length) - var(--_gap)));
    }

    &:not(:first-child) {
      margin-left: var(--captured-length);
    }

    &:nth-last-child(1 of .ds-avatar) {
      mask: none;
    }

    @supports not selector(:nth-last-child(1 of .ds-avatar)) {
      /*Note: This selector will remove all masks if there are tooltips on avatars but will only apply to chromium browsers older than 2023*/
      &:not(:has(+ .ds-avatar)) {
        mask: none;
      }
    }

    /*we have to override the default font-size for the two ways you can add initials to avatar */
    &[data-initials]:empty::before {
      font-size: var(--_font-size);
    }

    > span {
      font-size: var(--_font-size);
    }
    &:has(:focus-visible),
    &:focus-visible {
      mask: none;
      @composes ds-focus--visible from './base.css';
      z-index: 1;
    }
  }
}
