@property --captured-length {
  syntax: '<length>';
  inherits: true;
  initial-value: 0px;
}

.ds-avatar-stack {
  /*The following variables are defined in the style attribute on .ds-avatar-stack:
  * --size<length>, --gap<length>, --overlap<number>, --n<number>
  */
  --dsc-avatar-stack-size: var(--size, 2.625em);
  --dsc-avatar-stack-gap: var(--gap, 4px);
  --dsc-avatar-stack-overlap: calc(((var(--dsc-avatar-stack-size) / 100) * var(--overlap, 50)) * -1);

  --captured-length: var(--dsc-avatar-stack-overlap); /*overlap*/
  container-type: inline-size;
  display: flex;
  isolation: isolate;
  padding-block: 1px;
  transition: --captured-length 0.2s ease;
  width: calc(var(--dsc-avatar-stack-size) * var(--n) + var(--dsc-avatar-stack-overlap) * (var(--n) - 1));

  &[data-expandable='true'] {
    &:hover {
      --captured-length: var(--dsc-avatar-stack-gap);
    }
  }

  &:empty {
    display: none;
  }

  .ds-avatar {
    --dsc-avatar-size: var(--dsc-avatar-stack-size);
    --font-size: max(0.75rem, calc(var(--dsc-avatar-stack-size) * 0.5));
    mask: radial-gradient(
      50% 50% at calc(150% + var(--captured-length)),
      transparent calc(100% - 1px + var(--dsc-avatar-stack-gap)),
      #000 calc(100% + var(--dsc-avatar-stack-gap))
    );
    &[data-variant='square'] {
      mask: linear-gradient(
        to right,
        #000 calc(100% + var(--captured-length) - var(--dsc-avatar-stack-gap)),
        transparent calc(100% + var(--captured-length) - var(--dsc-avatar-stack-gap))
      );
    }

    &:not(:first-child) {
      margin-left: var(--captured-length);
    }
    &:nth-last-child(1 of .ds-avatar) {
      mask: none;
    }

    &[data-initials]:empty::before {
      font-size: var(--font-size);
    }

    > span {
      font-size: var(--font-size);
    }
    > a {
      line-height: 0;
    }
    &:has(:focus-visible) {
      mask: none;
      @composes ds-focus--visible from './base.css';
      z-index: 1;
    }
  }

  &[data-additionals]::after {
    content: '+' attr(data-additionals);
    place-self: center;
    margin-left: 1ch;
    font-size: max(1rem, calc(var(--dsc-avatar-stack-size) * 0.4));
  }
}
