.ds-badge {
  --dsc-badge-background: var(--ds-color-base-default);
  --dsc-badge-color: var(--ds-color-base-contrast-default);
  --dsc-badge-padding: 0 calc(var(--ds-size-1) + calc(var(--ds-size-1) / 2));
  --dsc-badge-size: calc(var(--ds-size-3) + calc(var(--ds-size-1) / 2));

  &::before {
    content: attr(data-count);
    background: var(--dsc-badge-background);
    border-radius: var(--ds-border-radius-full);
    box-sizing: border-box;
    color: var(--dsc-badge-color);
    display: inline-grid;
    font-size: var(--ds-font-size-minus-1); /* Default to small when size is not defined */
    min-height: var(--dsc-badge-size);
    min-width: var(--dsc-badge-size);
    padding: var(--dsc-badge-padding);
    place-items: center;
    box-sizing: border-box;
    line-height: var(--ds-line-height-sm);
    width: fit-content;

    @supports (content: attr(data-count, '')) {
      content: attr(data-count, '');
    }
  }

  &[data-variant='base'] {
    --dsc-badge-background: var(--ds-color-base-default);
    --dsc-badge-color: var(--ds-color-base-contrast-default);
  }

  &[data-variant='tinted'] {
    --dsc-badge-background: var(--ds-color-surface-tinted);
    --dsc-badge-color: var(--ds-color-text-default);
  }
}

.ds-badge--position {
  box-sizing: border-box;
  position: relative;
  height: fit-content;
  width: fit-content;

  &:not([hidden]) {
    display: inline-flex;
  }

  & .ds-badge::before {
    position: absolute;
  }

  & :where(img, svg) {
    flex-shrink: 0; /* Never shrink icon */
    font-size: 1.25em; /* Auto scale icon based on font-size */
  }

  &[data-placement='top-right'] .ds-badge::before {
    top: 0;
    right: 0;
    translate: 50% -50%;
  }

  &[data-placement='top-left'] .ds-badge::before {
    top: 0;
    left: 0;
    translate: -50% -50%;
  }

  &[data-placement='bottom-right'] .ds-badge::before {
    bottom: 0;
    right: 0;
    translate: 50% 50%;
  }

  &[data-placement='bottom-left'] .ds-badge::before {
    bottom: 0;
    left: 0;
    translate: -50% 50%;
  }

  &[data-placement='top-right'][data-overlap='circle'] .ds-badge::before {
    top: 14%;
    right: 14%;
    translate: 50% -50%;
  }

  &[data-placement='top-left'][data-overlap='circle'] .ds-badge::before {
    top: 14%;
    left: 14%;
    translate: -50% -50%;
  }

  &[data-placement='bottom-right'][data-overlap='circle'] .ds-badge::before {
    bottom: 14%;
    right: 14%;
    translate: 50% 50%;
  }

  &[data-placement='bottom-left'][data-overlap='circle'] .ds-badge::before {
    bottom: 14%;
    left: 14%;
    translate: -50% 50%;
  }
}
