/*  TEXTFIELD IS HERE SINCE IT IS ONLY USED IN COMBOBOX */
.ds-textfield {
  display: grid;
  gap: var(--ds-size-2);
}

.ds-textfield__adornment {
  color: var(--ds-color-neutral-text-subtle);
  background: var(--ds-color-neutral-surface-tinted);
  padding: 9px var(--ds-size-4);
  border-radius: var(--ds-border-radius-md);
  border: solid 1px var(--ds-color-neutral-border-default);
  box-sizing: border-box;
  display: inline-block;
}

.ds-textfield__input {
  font-family: inherit;
  position: relative;
  box-sizing: border-box;
  flex: 0 1 auto;
  width: 100%;
  appearance: none;
  padding: 0 var(--ds-size-3);
  border: solid 1px var(--ds-color-neutral-border-default);
  background: var(--ds-color-neutral-surface-default);
  color: var(--ds-color-neutral-text-default);
  border-radius: var(--ds-border-radius-md);
}

.ds-textfield__input:disabled {
  cursor: not-allowed;
}

.ds-textfield--readonly .ds-textfield__input {
  background: var(--ds-color-neutral-surface-tinted);
  border-color: var(--ds-color-neutral-border-strong);
}

.ds-textfield__field {
  display: flex;
  align-items: stretch;
  border-radius: var(--ds-border-radius-md);
}

.ds-textfield__field > *:first-child {
  border-top-left-radius: var(--ds-border-radius-md);
  border-bottom-left-radius: var(--ds-border-radius-md);
}

.ds-textfield__field > *:last-child {
  border-top-right-radius: var(--ds-border-radius-md);
  border-bottom-right-radius: var(--ds-border-radius-md);
}

.ds-textfield--sm .ds-textfield__adornment {
  padding: var(--ds-size-2) var(--ds-size-3);
}

.ds-textfield--md .ds-textfield__adornment {
  padding: 0.65rem var(--ds-size-4);
}

.ds-textfield--lg .ds-textfield__adornment {
  padding: 0.85rem var(--ds-size-5);
}

.ds-textfield--sm .ds-textfield__field {
  height: var(--ds-size-10);
}

.ds-textfield--md .ds-textfield__field {
  height: var(--ds-size-12);
}

.ds-textfield--lg .ds-textfield__field {
  height: var(--ds-size-14);
}

.ds-textfield--sm .ds-textfield__input {
  padding: 0 var(--ds-size-2);
}

.ds-textfield--md .ds-textfield__input {
  padding: 0 var(--ds-size-3);
}

.ds-textfield--lg .ds-textfield__input {
  padding: 0 var(--ds-size-4);
}

.ds-textfield__label {
  min-width: min-content;
  display: inline-flex;
  flex-direction: row;
  gap: var(--ds-size-1);
  align-items: center;
}

.ds-textfield__description {
  color: var(--ds-color-neutral-text-subtle);
  margin-top: calc(var(--ds-size-2) * -1);
}

.ds-textfield:has(.ds-textfield__input:disabled) {
  opacity: var(--ds-opacity-disabled);
}

.ds-textfield--error .ds-textfield__input:not(:focus-visible) {
  border-color: var(--ds-color-danger-border-default);
  box-shadow: inset 0 0 0 1px var(--ds-color-danger-border-default);
}

@media (hover: hover) and (pointer: fine) {
  .ds-textfield__input:not(:focus-visible, :disabled, [aria-disabled]):hover {
    border-color: var(--ds-color-border-strong);
    box-shadow: inset 0 0 0 1px var(--ds-color-border-strong);
  }
}

.ds-textfield__input--with-prefix {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.ds-textfield__input--with-suffix {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ds-textfield__prefix {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  white-space: nowrap;
}

.ds-textfield__suffix {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  white-space: nowrap;
}

.ds-textfield__readonly__icon {
  height: 1.2em;
  width: 1.2em;
}

.ds-textfield__error-message:empty {
  display: none;
}

/* COMBOBOX */

.ds-combobox {
  display: grid;
  background-color: transparent;
  gap: var(--ds-size-2);
}

.ds-combobox [data-floating-ui-portal] {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.ds-combobox__options-wrapper {
  padding: var(--ds-size-2);
  background: var(--ds-color-neutral-surface-default);
  color: var(--ds-color-neutral-text-default);
  overflow-y: auto;
  z-index: 1600;
  border-radius: var(--ds-border-radius-md);
  box-shadow: var(--ds-shadow-md);
  border: 1px solid var(--ds-color-neutral-border-default);
}

.ds-combobox--readonly .ds-combobox__input {
  pointer-events: none;
}

.ds-combobox__input__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  gap: var(--ds-size-1);
  cursor: text;
  padding: var(--ds-size-2);
  border-radius: var(--ds-border-radius-md);
  width: 100%;
  height: auto;
  justify-content: space-between;
}

.ds-combobox__input__wrapper .ds-combobox__input {
  height: 100%;
  min-width: 50px;
  width: 100%;
  flex-grow: 1;
  appearance: none;
  border: none;
  background-color: transparent;
  color: var(--ds-color-neutral-text-default);
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

.ds-combobox--sm .ds-combobox__input__wrapper {
  min-height: var(--ds-size-10);
  padding: 5px var(--ds-size-2);
}

.ds-combobox--md .ds-combobox__input__wrapper {
  min-height: var(--ds-size-12);
  padding: 7px var(--ds-size-3);
}

.ds-combobox--lg .ds-combobox__input__wrapper {
  min-height: var(--ds-size-14);
  padding: 7px var(--ds-size-4);
}

.ds-combobox__input__wrapper .ds-combobox__input:focus {
  outline: none;
}

.ds-combobox__input__wrapper.ds-combobox--error {
  border-color: var(--ds-color-danger-border-default);
  border-width: 2px;
}

.ds-combobox__chip-and-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--ds-size-2);
  align-items: center;
  background-color: transparent;
}

.ds-combobox__arrow {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.ds-combobox__input__wrapper.ds-combobox--readonly {
  background: var(--ds-color-base-default);
  border-color: var(--ds-color-base-default);
}

.ds-combobox__label {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  min-width: min-content;
  display: inline-flex;
  flex-direction: row;
  gap: var(--ds-size-1);
  align-items: center;
}

.ds-combobox__description {
  color: var(--ds-color-neutral-text-subtle);
  margin-top: calc(var(--ds-size-2) * -1);
}

.ds-combobox__clear-button {
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--ds-color-neutral-text-default);
  border: none;
  padding: 0;
  border-radius: var(--ds-border-radius-sm);
  height: 29px;
  width: 29px;
  aspect-ratio: 1;
}

.ds-combobox--sm .ds-combobox__clear-button {
  height: 25px;
  width: 25px;
}

.ds-combobox--md .ds-combobox__clear-button {
  height: 29px;
  width: 29px;
}

.ds-combobox--lg .ds-combobox__clear-button {
  height: 31px;
  width: 31px;
}

.ds-combobox__clear-button:not(:disabled):hover {
  background-color: var(--ds-color-neutral-surface-tinted);
}

.ds-combobox__disabled {
  opacity: var(--ds-opacity-disabled);
}

.ds-combobox__disabled * {
  cursor: not-allowed;
}

.ds-combobox__readonly__icon {
  height: 1.2em;
  width: 1.2em;
}

.ds-combobox__error-message {
  margin-top: var(--ds-size-2);
}

.ds-combobox__error-message:empty {
  display: none;
}

.ds-combobox__loading {
  display: flex;
  gap: var(--ds-size-2);
  align-content: center;
}

/**
 * Apply a focus outline on an element when it is focused with keyboard
 */
.ds-combobox__input__wrapper:has(input:focus) {
  --dsc-focus-border-width: 3px;

  outline: var(--dsc-focus-border-width) solid var(--ds-color-focus-outer);
  outline-offset: var(--dsc-focus-border-width);
  box-shadow: 0 0 0 var(--dsc-focus-border-width) var(--ds-color-focus-inner);
}

.ds-combobox__input__wrapper:focus-within:hover {
  border-color: var(--ds-color-neutral-border-default);
}

.ds-combobox__empty {
  font-weight: 400;
  padding: var(--ds-size-2) var(--ds-size-3);
}

.ds-combobox__custom {
  font-weight: 400;
  padding: var(--ds-size-2) var(--ds-size-3);
}

.ds-combobox__option {
  width: 100%;
  display: grid;
  grid-template-columns: 1.2em 1fr;
  padding: var(--ds-size-2) var(--ds-size-3);
  padding-left: var(--ds-size-1);
  border: none;
  border-left: 5px solid transparent;
  border-radius: var(--ds-border-radius-sm);
  justify-content: start;
  background: none;
  text-align: left;
  height: auto;
  cursor: pointer;
  font-family: inherit;
  font-weight: 400;
}

.ds-combobox__option.ds-combobox__option--active {
  background: var(--ds-color-surface-tinted);
  border-left: 5px solid var(--ds-color-base-default);
}

.ds-combobox__option > div {
  align-self: flex-start;
}

.ds-combobox__option.ds-combobox__option--multiple {
  grid-template-columns: auto 1fr;
  gap: var(--ds-size-2);
}

.ds-combobox__option__label {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  gap: var(--ds-size-1);
  color: var(--ds-color-neutral-text-default);
}

.ds-combobox__option--active .ds-combobox__option__label {
  color: var(--ds-color-text-default);
}

.ds-combobox__option__icon-wrapper {
  width: var(--ds-size-6);
  aspect-ratio: 1 / 1;
  border: 2px solid var(--ds-color-neutral-border-default);
  border-radius: var(--ds-border-radius-sm);
  background-color: var(--ds-color-neutral-surface-default);
  display: grid;
  place-items: center;
}

.ds-combobox__option--active .ds-combobox__option__icon-wrapper {
  border-color: var(--ds-color-base-default);
}

.ds-combobox--sm .ds-combobox__option .ds-combobox__option__icon-wrapper {
  width: var(--ds-size-5);
}

.ds-combobox--md .ds-combobox__option .ds-combobox__option__icon-wrapper {
  width: var(--ds-size-6);
}

.ds-combobox--lg .ds-combobox__option .ds-combobox__option__icon-wrapper {
  width: var(--ds-size-7);
}

.ds-combobox__option__icon-wrapper.ds-combobox__option__icon-wrapper--selected {
  border-color: var(--ds-color-base-default);
  background-color: var(--ds-color-base-default);
}

.ds-combobox__option__icon-wrapper__icon {
  box-sizing: border-box;
  padding-top: 0.2em;
  transform: scale(1.4);
  stroke: var(--ds-color-neutral-text-default);
  color: var(--ds-color-neutral-text-default);
}

.ds-combobox__option__icon-wrapper .ds-combobox__option__icon-wrapper__icon {
  padding-top: 0;
}

.ds-combobox__option--active .ds-combobox__option__icon-wrapper__icon {
  stroke: var(--ds-color-text-default);
  color: var(--ds-color-text-default);
}

.ds-combobox__option__icon-wrapper.ds-combobox__option__icon-wrapper--selected .ds-combobox__option__icon-wrapper__icon {
  color: white;
  stroke: white;
}

.ds-combobox__option__description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--ds-size-1);
  color: var(--ds-color-neutral-text-subtle);
  font-weight: 400;
}
