/*
Workaround for data-size meaning both "change size mode" and "set font size"
As long as data-size is overloaded in this way, this workaround is needed for
the component to scale based on the surrounding data-size.
*/
/* Default to medium no matter what size is set on the element */
[data-size]:is(.ds-avatar, .ds-heading, .ds-paragraph, .ds-spinner) {
  --ds-size: var(--ds-size--md);
}
/* Hack: Preserve --ds-size-mode-font-size on ancestor so we can look it up at the descendant */
[data-size]:has(.ds-avatar, .ds-heading, .ds-paragraph, .ds-spinner) {
  --_ds-size-mode__hack: var(--ds-size--sm, var(--ds-size-mode-font-size--sm)) var(--ds-size--md, var(--ds-size-mode-font-size--md))
    var(--ds-size--lg, var(--ds-size-mode-font-size--lg));
}
/* Hack: use the nearest ancestor size mode */
[data-size] :not([data-size]) :is(.ds-avatar, .ds-heading, .ds-paragraph, .ds-spinner),
[data-size] > :is(.ds-avatar, .ds-heading, .ds-paragraph, .ds-spinner) {
  --ds-size-mode-font-size: var(--_ds-size-mode__hack);
}
