.ds-error-summary {
  --dsc-errorsummary-background: var(--ds-color-danger-surface-tinted);
  --dsc-errorsummary-border-radius: var(--ds-border-radius-md);
  --dsc-errorsummary-padding: var(--ds-size-6) var(--ds-size-8);
  --dsc-errorsummary-link-color: var(--ds-color-neutral-text-default);
  --dsc-errorsummary-heading-color: var(--ds-color-danger-text-default);

  background: var(--dsc-errorsummary-background);
  border-radius: var(--dsc-errorsummary-border-radius);
  box-sizing: border-box;
  padding: var(--dsc-errorsummary-padding);

  & :is(h1, h2, h3, h4, h5, h6) {
    color: var(--dsc-errorsummary-heading-color);
    font-size: var(--ds-font-size-plus-1);
    margin-bottom: var(--ds-size-2);
  }

  &:focus-visible {
    outline: initial;
  }

  & a {
    color: var(--dsc-errorsummary-link-color);
  }

  & li:last-of-type {
    margin-bottom: 0;
  }
}
