:where(.ds-input) {
  margin: 0;
}

/* Root class with shared variables and base input styles */
.ds-input {
  /* Core variables */
  --dsc-input-background-color: var(--ds-color-neutral-background-default);
  --dsc-input-background-color--readonly: var(--ds-color-neutral-background-tinted);
  --dsc-input-color: var(--ds-color-neutral-text-default);
  --dsc-input-color--readonly: var(--ds-color-neutral-text-subtle);
  --dsc-input-border-color: var(--ds-color-neutral-border-default);
  --dsc-input-border-color--readonly: var(--ds-color-neutral-border-subtle);
  --dsc-input-border-color--invalid: var(--ds-color-danger-border-strong);
  --dsc-input-border-style: solid;
  --dsc-input-border-width: 1px;
  --dsc-input-padding: var(--ds-size-2) var(--ds-size-3);
  --dsc-input-size: var(--ds-size-12);

  /* Base styles */
  appearance: none;
  background-color: var(--dsc-input-background-color);
  border-radius: var(--ds-border-radius-md);
  border-width: var(--dsc-input-border-width);
  border-style: var(--dsc-input-border-style);
  border-color: var(--dsc-input-border-color);
  box-shadow: var(--dsc-input-box-shadow);
  box-sizing: border-box;
  color: var(--dsc-input-color);
  font-family: inherit;
  height: var(--dsc-input-size);
  line-height: inherit;
  max-width: 100%;
  min-width: 0;
  padding: var(--dsc-input-padding);
  position: relative;
  vertical-align: middle;

  @composes ds-focus from './base.css';

  @media (forced-colors: active) {
    border-color: ButtonText;
    background-color: Canvas;

    &:disabled,
    &[aria-disabled='true'],
    &[readonly] {
      border-color: GrayText;
    }
  }

  /* Round border-width up to nearest 1px if supported */
  @supports (width: round(down, .1em, 1px)) {
    border-width: round(up, var(--dsc-input-border-width), 0.0625rem);
  }

  &:not([data-size]) {
    font-size: inherit;
  }

  /* Width handling */
  &:not([size], [cols], select:where([data-width='auto'])) {
    width: 100%;
  }

  /* States */
  &:disabled,
  &[aria-disabled='true'] {
    cursor: not-allowed;
    opacity: var(--ds-disabled-opacity);
  }

  &[aria-invalid='true'] {
    border-color: var(--dsc-input-border-color--invalid);
  }

  &[readonly] {
    background-color: var(--dsc-input-background-color--readonly);
    border-color: var(--dsc-input-border-color--readonly);
    color: var(--dsc-input-color--readonly);

    @media (forced-colors: active) {
      border-color: GrayText;
    }
  }
}

/* Select specific styles */
.ds-input:is(select) {
  padding-right: 2.4em;
  background-image: linear-gradient(
      45deg,
      transparent calc(48% - 0.05em),
      currentcolor calc(50% - 0.05em),
      currentcolor calc(50% + 0.05em),
      transparent calc(52% + 0.05em)
    ), linear-gradient(-45deg, transparent calc(48% - 0.05em), currentcolor calc(50% - 0.05em), currentcolor calc(50% + 0.05em), transparent calc(52% + 0.05em));
  background-position: calc(100% - 1.2em + 0.05em), calc(100% - 0.8em);
  background-size: .4em .4em;
  background-repeat: no-repeat;

  @media (forced-colors: active) {
    appearance: auto;
  }
}

/* Textarea specific styles */
.ds-input:is(textarea) {
  height: auto;
  min-height: calc(var(--dsc-input-size) * 1.5);
  resize: vertical;

  &:not([rows]) {
    field-sizing: content;
  }
}

/* Toggle inputs (checkbox/radio) shared styles */
.ds-input:is([type='checkbox'], [type='radio']) {
  --dsc-input-border-width--toggle: max(1px, calc(var(--ds-size-1) / 2));
  --dsc-input-size--toggle: var(--ds-size-6);
  --dsc-input-stroke-color--checked: var(--ds-color-base-contrast-default);
  --dsc-input-stroke-color--invalid: var(--ds-color-danger-base-contrast-default);
  --dsc-input-stroke-width: 0.05em;
  --dsc-input-background-color--checked: var(--ds-color-base-default);
  --dsc-input-background-color--invalid: var(--ds-color-danger-text-subtle);
  --_dsc-input-spacing--toggle: calc(var(--ds-size-1) / 2);

  border-width: var(--dsc-input-border-width--toggle);
  padding: var(--_dsc-input-spacing--toggle);
  flex-shrink: 0;
  line-height: inherit;
  height: var(--dsc-input-size--toggle);
  width: var(--dsc-input-size--toggle);
  cursor: pointer;

  &:checked {
    background-color: var(--dsc-input-background-color--checked);
    border-color: var(--dsc-input-background-color--checked);
    color: var(--dsc-input-stroke-color--checked);
  }

  &[aria-invalid='true']:where(:checked, :indeterminate) {
    background-color: var(--dsc-input-background-color--invalid);
    color: var(--dsc-input-stroke-color--invalid);
    border-color: var(--dsc-input-border-color--invalid);
  }

  &[readonly] {
    background-color: var(--dsc-input-background-color--readonly);
    border-color: var(--dsc-input-border-color--readonly);
    color: var(--dsc-input-color--readonly);

    @media (forced-colors: active) {
      border-color: GrayText;
    }
  }

  @media (forced-colors: active) {
    color: Canvas;

    &:disabled,
    &[aria-disabled='true'],
    &[readonly] {
      border-color: GrayText;
    }
  }
}

/* Radio specific styles */
.ds-input:is([type='radio']) {
  border-radius: var(--ds-border-radius-full);

  &:checked {
    background-image: radial-gradient(circle closest-side, currentcolor 45%, transparent 50%);

    @media (forced-colors: active) {
      background-color: LinkText;
      border-color: LinkText;
      color: Canvas;
      forced-color-adjust: none;
    }
  }
}

/* Checkbox specific styles */
.ds-input:is([type='checkbox']) {
  &:checked {
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: 10% 73%, 90% 50%;
    background-size: 35% 35%, 65% 65%;
    background-image: linear-gradient(
        45deg,
        transparent calc(48% - 0.05em),
        currentcolor calc(50% - 0.05em),
        currentcolor calc(50% + 0.05em),
        transparent calc(52% + 0.05em)
      ),
      linear-gradient(-45deg, transparent calc(48% - 0.05em), currentcolor calc(50% - 0.05em), currentcolor calc(50% + 0.05em), transparent calc(52% + 0.05em));

    @media (forced-colors: active) {
      background-color: LinkText;
      border-color: LinkText;
      color: Canvas;
      forced-color-adjust: none;
    }
  }

  &:indeterminate {
    background-color: var(--dsc-input-background-color--checked);
    border-color: var(--dsc-input-background-color--checked);
    color: var(--dsc-input-stroke-color--checked);
    background-origin: content-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: linear-gradient(
      transparent calc(48% - var(--dsc-input-stroke-width)),
      currentcolor calc(50% - var(--dsc-input-stroke-width)),
      currentcolor calc(50% + var(--dsc-input-stroke-width)),
      transparent calc(52% + var(--dsc-input-stroke-width))
    );

    &[readonly] {
      color: var(--dsc-input-color--readonly);
      border-color: var(--dsc-input-border-color--readonly);
      background-color: var(--dsc-input-background-color--readonly);
    }

    &[aria-invalid='true'] {
      border-color: var(--dsc-input-border-color--invalid);
      background-color: var(--dsc-input-background-color--invalid);
    }

    @media (forced-colors: active) {
      background-color: LinkText;
      border-color: LinkText;
      color: Canvas;
      forced-color-adjust: none;

      &[aria-invalid='true'],
      &[readonly] {
        background-color: LinkText;
        border-color: LinkText;
        color: Canvas;
      }
    }
  }
}

/* Switch specific styles */
.ds-input:is([role='switch']):is([type='radio'], [type='checkbox']) {
  --_dsc-input-circle-position: left;

  background-image: radial-gradient(circle closest-side, currentcolor 95%, transparent 100%);
  background-origin: content-box;
  background-position: var(--_dsc-input-circle-position);
  background-repeat: no-repeat;
  background-size: calc(var(--dsc-input-size--toggle) - var(--_dsc-input-spacing--toggle) * 2) 100%;
  border-radius: var(--ds-border-radius-full);
  padding-inline: 0;
  transition: 0.2s background-position;
  width: calc(var(--dsc-input-size--toggle) * 2);

  &:checked {
    --_dsc-input-circle-position: right;

    @media (forced-colors: active) {
      color: CanvasText;
    }
  }

  @media (forced-colors: active) {
    color: GrayText;
    forced-color-adjust: none;

    &[readonly] {
      color: GrayText;
    }

    &:disabled,
    &[aria-disabled='true'],
    &[readonly] {
      border-color: GrayText;
    }
  }
}
