/* Intentionally styling <a> since the browser agent CSS anyway has opinionated styling for linke */
a,
.ds-link {
  --dsc-link-background--active: var(--ds-color-surface-tinted);
  --dsc-link-color--active: var(--ds-color-text-default);
  --dsc-link-color--hover: var(--ds-color-text-default);
  --dsc-link-color: var(--ds-color-text-subtle);
  --dsc-link-color--visited: var(--ds-link-color-visited);
  --dsc-link-text-decoration-thickness--hover: 0.125em; /* 2px ish */
  --dsc-link-text-decoration-thickness: 0.0625em; /* 1px ish */
  --dsc-link-border-radius: var(--ds-border-radius-md);

  color: var(--dsc-link-color);
  outline: none;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: var(--dsc-link-text-decoration-thickness);
  text-underline-offset: 0.27em; /* 5px ish */
  border-radius: var(--dsc-link-border-radius);

  /* Revert <button> styling */
  &:is(button) {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
  }

  & :is(img, svg) {
    vertical-align: middle; /* Align img or svg icon with text */
  }

  /*
   * Ensure proper spacing if there are any svg or img.
   */
  &:has(> span) {
    & > :is(img, svg) {
      margin-inline: var(--ds-size-1);
      &:first-child {
        margin-inline-start: 0;
      }
      &:last-child {
        margin-inline-end: 0;
      }
    }
  }

  /* What do we do here? */
  &[data-color='neutral'] {
    --dsc-link-color--active: var(--ds-color-neutral-text-subtle);
    --dsc-link-color--hover: var(--ds-color-neutral-text-subtle);
    --dsc-link-color: var(--ds-color-neutral-text-default);
  }

  /**
   * States
   */
  &:where(:visited) {
    color: var(--dsc-link-color--visited);
  }

  /* Only use hover for non-touch devices to prevent sticky-hovering */
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--dsc-link-color--hover);
      text-decoration-thickness: var(--dsc-link-text-decoration-thickness--hover);
    }
  }

  @composes ds-focus from './base.css';

  &:active {
    background: var(--dsc-link-background--active);
    color: var(--dsc-link-color--active);
  }
}
