.ds-link {
  /* TODO: Changeset for visited color and active background and border-radius styling */
  --dsc-link-color: var(--ds-color-text-subtle);
  --dsc-link-color--hover: var(--ds-color-text-default);
  --dsc-link-color--active: var(--ds-color-text-default);
  --dsc-link-color--visited: var(--dsc-link-color);
  --dsc-link-background--active: transparent; /* Kept for backwards compatibility */
  --dsc-link-text-decoration-thickness--hover: 0.125em; /* 2px ish */
  --dsc-link-text-decoration-thickness: 0.0625em; /* 1px ish */
  --dsc-link-border-radius: 0;

  color: var(--dsc-link-color);
  outline: none;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: var(--dsc-link-text-decoration-thickness);
  text-underline-offset: 0.27em; /* 5px ish */
  border-radius: var(--dsc-link-border-radius);

  /* Revert <button> styling */
  &:is(button) {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
  }

  & > :is(img, svg) {
    vertical-align: middle; /* Align img or svg icon with text */
  }

  /*
   * Ensure proper spacing if there is svg or img and span.
   */
  &:has(> span):has(> :is(img, svg)) {
    &:first-child {
      margin-inline-start: var(--ds-size-1);
    }
    &:last-child {
      margin-inline-end: var(--ds-size-1);
    }
  }

  /* What do we do here? */
  &[data-color='neutral'] {
    --dsc-link-color--active: var(--ds-color-neutral-text-subtle);
    --dsc-link-color--hover: var(--ds-color-neutral-text-subtle);
    --dsc-link-color: var(--ds-color-neutral-text-default);
  }

  /**
   * States (using :where to allow all components to easily overwrite)
   */
  &:where(:visited) {
    color: var(--dsc-link-color--visited);
  }

  /* Only use hover for non-touch devices to prevent sticky-hovering */
  @media (hover: hover) and (pointer: fine) {
    &:where(:hover) {
      color: var(--dsc-link-color--hover);
      text-decoration-thickness: var(--dsc-link-text-decoration-thickness--hover);
    }
  }

  @composes ds-focus from './base.css';

  &:where(:active) {
    background: var(--dsc-link-background--active);
    color: var(--dsc-link-color--active);
  }
}
