.ds-list {
  --dsc-list-padding-inline: var(--ds-size-6) 0;
  --dsc-list-margin-top: var(--ds-size-3);
  --dsc-list-margin-top-nested: var(--ds-size-2);

  margin: 0;
  padding-inline: var(--dsc-list-padding-inline);

  & > li + li {
    margin-top: var(--dsc-list-margin-top);
  }

  & > li > :is(ol, ul) > li + li {
    margin-top: var(--dsc-list-margin-top-nested); /* Shrink spacing a bit when nested */
  }
}
