.ds-popover {
  --dsc-popover-background: var(--ds-color-surface-default);
  --dsc-popover-border-width: var(--ds-border-width-default);
  --dsc-popover-border-style: solid;
  --dsc-popover-border-color: var(--ds-color-border-default);
  --dsc-popover-color: var(--ds-color-text-default);
  --dsc-popover-arrow-size: var(--ds-size-3);
  --dsc-popover-border-radius: var(--ds-border-radius-md);
  --dsc-popover-max-width: 300px;
  --dsc-popover-padding: var(--ds-size-3) var(--ds-size-4);
  --dsc-popover-box-shadow: var(--ds-shadow-md);

  background: var(--dsc-popover-background);
  border-radius: var(--dsc-popover-border-radius);
  border-width: var(--dsc-popover-border-width);
  border-style: var(--dsc-popover-border-style);
  border-color: var(--dsc-popover-border-color);
  box-shadow: var(--dsc-popover-box-shadow);
  box-sizing: border-box;
  color: var(--dsc-popover-color);
  inset: 0 auto auto 0;
  max-width: var(--dsc-popover-max-width);
  overflow: visible;
  padding: var(--dsc-popover-padding);
  position: fixed;

  &::before {
    background: var(--dsc-popover-background);
    border: inherit;
    border-left-color: transparent;
    border-top-color: transparent;
    box-sizing: border-box;
    content: '';
    height: var(--dsc-popover-arrow-size);
    left: var(--ds-popover-arrow-x);
    position: absolute;
    top: var(--ds-popover-arrow-y);
    translate: -50% -50%;
    width: var(--dsc-popover-arrow-size);
  }

  &[data-placement='top']::before {
    rotate: 45deg;
  }

  &[data-placement='left']::before {
    rotate: -45deg;
  }

  &[data-placement='right']::before {
    rotate: 135deg;
  }

  &[data-placement='bottom']::before {
    rotate: -135deg;
  }

  &[data-variant='default'] {
    --dsc-popover-background: var(--ds-color-surface-default);
  }

  &[data-variant='tinted'] {
    --dsc-popover-background: var(--ds-color-surface-tinted);
  }
}

[data-popover='inline'] {
  all: unset;
  cursor: pointer;
  text-decoration: underline dotted;
  text-underline-offset: 0.27em;
  font-size: inherit;

  &:not([hidden]) {
    display: inline;
  }

  @composes ds-focus from './base.css';
}
