.ds-spinner {
  --dsc-spinner-background: var(--ds-color-surface-tinted);
  --dsc-spinner-stroke: var(--ds-color-border-default);

  --dsc-spinner-animation-duration: 2s;

  animation: ds-spinner-rotate-animation linear infinite var(--dsc-spinner-animation-duration);
  box-sizing: border-box;
  height: 1em;
  width: 1em;

  /* Using font-size to ensure consistent size when explicitly setting data-spinner-size */
  &[data-spinner-size='2xs'] {
    font-size: var(--ds-size-3);
  }

  &[data-spinner-size='xs'] {
    font-size: var(--ds-size-5);
  }

  &[data-spinner-size='sm'] {
    font-size: var(--ds-size-7);
  }

  & /* this is the default */,
  &[data-spinner-size='md'] {
    font-size: var(--ds-size-11);
  }

  &[data-spinner-size='lg'] {
    font-size: var(--ds-size-15);
  }

  &[data-spinner-size='xl'] {
    font-size: var(--ds-size-22);
  }
}

.ds-spinner__background {
  stroke: var(--dsc-spinner-background);
}

.ds-spinner__circle {
  animation: ds-spinner-stroke-animation ease-in-out infinite var(--dsc-spinner-animation-duration);
  stroke-dasharray: 1px, 200px;
  stroke: var(--dsc-spinner-stroke);
  transform-origin: center;
}

/* Prefers reduced motion needs longer animation,
but don't remove it since it is not decorative.
*/
@media (prefers-reduced-motion: reduce) {
  .ds-spinner {
    animation-duration: 6s;
  }
}

@keyframes ds-spinner-rotate-animation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ds-spinner-stroke-animation {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: -120px;
  }
}
