.ds-tag {
  --dsc-tag-background: var(--ds-color-surface-tinted);
  --dsc-tag-color: var(--ds-color-text-default);
  --dsc-tag-min-height: var(--ds-size-8);
  --dsc-tag-padding: 0 var(--ds-size-2);

  align-items: center;
  background: var(--dsc-tag-background);
  border-radius: var(--ds-border-radius-sm);
  box-sizing: border-box;
  color: var(--dsc-tag-color);
  height: fit-content; /* In case placed in display: flex */
  line-height: var(--ds-line-height-sm);
  min-height: var(--dsc-tag-min-height);
  padding: var(--dsc-tag-padding);
  width: max-content;
  word-break: break-word;

  & :where(img, svg) {
    flex-shrink: 0;
    font-size: 1.25em;
  }

  &:not([hidden]) {
    display: inline-flex;
  }

  @media (forced-colors: active) {
    border-width: var(--ds-border-width-default);
    border-style: solid;
    border-color: CanvasText;
  }
}
