.ds-togglegroup,
.ds-toggle-group {
  --dsc-togglegroup-background: var(--ds-color-surface-default);
  --dsc-togglegroup-border-width: var(--ds-border-width-default);
  --dsc-togglegroup-border-style: solid;
  --dsc-togglegroup-border-color: var(--ds-color-border-default);
  --dsc-togglegroup-color: var(--ds-color-text-default);
  --dsc-togglegroup-spacing: 0;
  --dsc-togglegroup-border-radius: var(--ds-border-radius-default);
  --dsc-togglegroup-button-size: var(--ds-size-12);
  --dsc-togglegroup-label: '';
  --_ds-data-toggle-group: var(--dsc-togglegroup-label); /* "proxy" so attrOrCSS works even if changing --ds- prefix */

  background: var(--dsc-togglegroup-background);
  border-radius: var(--dsc-togglegroup-border-radius);
  border: none; /* Remove default fieldset border */
  box-sizing: border-box;
  color: var(--dsc-togglegroup-color);
  gap: var(--dsc-togglegroup-spacing);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: var(--dsc-togglegroup-button-size);
  margin-inline: 0;
  max-width: fit-content;
  min-width: 0;
  outline-offset: calc(var(--dsc-togglegroup-border-width) * -1);
  outline: var(--dsc-togglegroup-border-width) var(--dsc-togglegroup-border-style) var(--dsc-togglegroup-border-color);
  overflow-x: auto;
  padding: var(--dsc-togglegroup-spacing);
  width: auto;

  &:not([hidden]) {
    display: flex;
  }

  & > :is(a, label, button) {
    isolation: isolate; /* Creates a new stacking context so button shows above the parent's overlapping outline */
    border-radius: inherit;
    height: 100%;
    min-height: unset;
    white-space: nowrap;
    min-width: fit-content;

    &[data-icon] {
      width: var(--dsc-togglegroup-button-size);
    }
  }
  @media (forced-colors: active) {
    & > :is(label:has(input:checked), button[aria-checked='true'], a[aria-current='true']) {
      background: ButtonText;
      color: CanvasText;

      & svg {
        color: CanvasText;
      }
    }
  }

  & > label > input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  /* Recreates button data-variant="tertiary" when not selected */
  & > :is(label:not(:has(input:checked)), button:not([aria-checked='true']), a:not([aria-current='true'])) {
    --dsc-button-background--active: var(--ds-color-surface-active);
    --dsc-button-background--hover: var(--ds-color-surface-hover);
    --dsc-button-background: transparent;
    --dsc-button-color--hover: var(--ds-color-text-default);
    --dsc-button-color: inherit; /* NB: This does not align with data-variant="tertiary" */
    isolation: auto; /* Undo stacking context */
  }

  /* Style active element when primary ToggleGroup with manually set data-variant="tertiary" children - deprecated but kept for compatibility */
  &:not([data-variant='secondary']) > [data-variant='tertiary']:is(label:has(input:checked), button[aria-checked='true'], a[aria-current='true']) {
    --dsc-button-background--active: var(--ds-color-base-active);
    --dsc-button-background--hover: var(--ds-color-base-hover);
    --dsc-button-background: var(--ds-color-base-default);
    --dsc-button-color--active: var(--dsc-button-color);
    --dsc-button-color--hover: var(--dsc-button-color);
    --dsc-button-color: var(--ds-color-base-contrast-default);
  }

  /* Move focusring inside to avoid clipping */
  & :is(a:focus-visible, button:focus-visible, label:has(input:focus-visible)) {
    @composes ds-focus--visible--inset from './base.css';
  }

  &[data-variant='secondary'] {
    --dsc-togglegroup-background: var(--ds-color-surface-tinted);
    --dsc-togglegroup-border-color: var(--ds-color-border-subtle);

    & > :is(label:has(input:checked), button[aria-checked='true'], a[aria-current='true']) {
      --dsc-button-background--active: var(--dsc-button-background);
      --dsc-button-background--hover: var(--dsc-button-background);
      --dsc-button-background: var(--ds-color-surface-default);
      --dsc-button-border-color: var(--ds-color-border-default);
      --dsc-button-color--active: var(--dsc-button-color);
      --dsc-button-color--hover: var(--dsc-button-color);
      --dsc-button-color: var(--ds-color-text-default);
    }
  }
}
