.ds-togglegroup {
  --dsc-togglegroup-background: var(--ds-color-background-default);
  /* Todo: Explore the border color here */
  --dsc-togglegroup-border: var(--ds-border-width-default) solid var(--ds-color-neutral-border-default);
  --dsc-togglegroup-padding: var(--ds-spacing-1);
  --dsc-togglegroup-border-radius: var(--ds-border-radius-default);

  background: var(--dsc-togglegroup-background);
  border-radius: calc(var(--dsc-togglegroup-border-radius) + var(--dsc-togglegroup-padding));
  border: var(--dsc-togglegroup-border);
  display: grid;
  gap: var(--dsc-togglegroup-padding);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  height: fit-content;
  padding: var(--dsc-togglegroup-padding);
  width: fit-content;

  button {
    border-radius: var(--dsc-togglegroup-border-radius);
  }

  /* Get [data-color] from either .ds-togglegroup or an ancestor */
  [data-color] &,
  &[data-color] {
    & button {
      --dsc-button-background--active: var(--ds-color-base-active);
      --dsc-button-background--hover: var(--ds-color-base-hover);
      --dsc-button-background: var(--ds-color-base-default);
      --dsc-button-color: var(--ds-color-contrast-default);
      --dsc-button-color--hover: var(--ds-color-contrast-default);

      &[data-variant='secondary'],
      &[data-variant='tertiary'] {
        --dsc-button-background: transparent;
        --dsc-button-background--active: var(--ds-color-surface-active);
        --dsc-button-background--hover: var(--ds-color-surface-hover);
        --dsc-button-color: var(--ds-color-text-subtle);
        --dsc-button-color--hover: var(--ds-color-text-default);
      }
      &[data-variant='secondary'] {
        --dsc-button-border-color: var(--ds-color-border-strong);
      }
      /* TODO: Add support for composing like this */
      /* @composes ds-button[data-color] from './button.css'; */
    }
  }
}
