.ds-tooltip {
  --dsc-tooltip-background: var(--ds-color-neutral-text-default);
  --dsc-tooltip-color: var(--ds-color-neutral-background-default);
  --dsc-tooltip-border-radius: var(--ds-border-radius-default);
  --dsc-tooltip-padding: var(--ds-size-1) var(--ds-size-2);
  --dsc-tooltip-arrow-size: var(--ds-size-2);
  --dsc-tooltip-transition-duration: 0.2s;
  --dsc-tooltip-transition-delay: 150ms;

  background: var(--dsc-tooltip-background);
  border: none;
  border-radius: var(--dsc-tooltip-border-radius);
  border-width: 0;
  box-sizing: border-box;
  color: var(--dsc-tooltip-color);
  line-height: var(--ds-line-height-sm);
  padding: var(--dsc-tooltip-padding);
  view-transition-name: ds-tooltip; /* Prevent being part of other view-transitions */

  @composes ds-floating from './base.css';
  --_ds-floating-arrow-size: var(--dsc-tooltip-arrow-size);

  /* Transparent box to make tooltip stay open when mouse is over it */
  &::after {
    content: '';
    box-sizing: border-box;
    height: var(--_dsc-tooltip-safearea-height, 0px);
    width: var(--_dsc-tooltip-safearea-width, 0px);
    translate: var(--_dsc-tooltip-safearea-translate);
    position: absolute;
    left: var(--_ds-floating-arrow-x, 50%);
    top: var(--_ds-floating-arrow-y, 100%);
  }
  &[data-floating='top']::after,
  &[data-floating='bottom']::after {
    top: 100%;
    left: 0;
    width: 100%;
    height: var(--dsc-tooltip-arrow-size);
  }
  &[data-floating='left']::after,
  &[data-floating='right']::after {
    top: 0;
    left: 100%;
    width: var(--dsc-tooltip-arrow-size);
    height: 100%;
  }
  &[data-floating='bottom']::after {
    top: calc(var(--dsc-tooltip-arrow-size) * -1);
  }
  &[data-floating='right']::after {
    left: calc(var(--dsc-tooltip-arrow-size) * -1);
  }

  @media (forced-colors: active) {
    background: CanvasText;
  }
}
