[data-selection-tile],
.ds-selection-tile {
  --dsc-tile-border-width: var(--ds-border-width-default);
  --dsc-tile-border-width--checked: max(2px, 0.125rem);
  --dsc-tile-border-width--hover: max(2px, 0.125rem);
  --dsc-tile-border-color--readonly: var(--ds-color-neutral-border-subtle);
  --dsc-tile-color--readonly: var(--ds-color-neutral-text-default);
  --dsc-tile-background--hover: transparent;
  --dsc-tile-background--checked: transparent;
  --dsc-tile-background--readonly: var(--ds-color-neutral-surface-tinted);
  --dsc-tile-accent-color--invalid: var(--ds-color-danger-text-subtle);

  /*selects only the outermost data-clickdelegatefor, for input in card*/
  & [data-clickdelegatefor]:not([data-clickdelegatefor] *),
  /*case: data-selection-tile on Checkbox/Radio/switch directly*/
    &[data-clickdelegatefor] {
    /*only target clickdelegatefor containing checkbox/radio*/
    &:has(:where(input[type='checkbox'], input[type='radio'])) {
      --_border-color: var(--ds-color-neutral-border-default);
      border: var(--dsc-tile-border-width) solid var(--_border-color);

      /*overrides for simple variant (not in card)*/
      &ds-field,
      &.ds-field {
        padding: var(--ds-size-4);
        border-radius: var(--ds-border-radius-lg);
        width: auto;
      }
      /*overrides for card*/
      &.ds-card {
        --dsc-card-background--active: var(--ds-color-surface-default);
        --dsc-card-background--hover: var(--ds-color-surface-default);
      }

      &:has(:focus-visible) {
        @composes ds-focus--visible from './base.css';
      }

      /*hover styles*/
      &:not(:has(:where(:disabled, [readonly], [aria-readonly='true'], [aria-disabled='true']))):hover {
        box-shadow: inset 0 0 0 calc(var(--dsc-tile-border-width--hover) - var(--dsc-tile-border-width)) var(--_border-color);
        background-color: var(--dsc-tile-background--hover);
      }
      /*checked styles*/
      &:has(:is(input:checked)) {
        --_border-color: var(--ds-color-border-default);
        box-shadow: inset 0 0 0 calc(var(--dsc-tile-border-width--checked) - var(--dsc-tile-border-width)) var(--_border-color);
        background-color: var(--dsc-tile-background--checked);

        @media (forced-colors: active) {
          border-color: LinkText;
        }
      }

      /*readonly styles*/
      &:has([aria-readonly='true'], [readonly]) {
        background-color: var(--dsc-tile-background--readonly);
        border-color: var(--dsc-tile-border-color--readonly);
        cursor: default;
        --_border-color: var(--dsc-tile-color--readonly);

        @media (forced-colors: active) {
          border-color: GrayText;
        }
      }
      /*invalid styles*/
      &:has([aria-invalid='true']) {
        --_border-color: var(--dsc-tile-accent-color--invalid);
      }
      /*disabled styles*/
      &:has(:disabled, [aria-disabled='true']) {
        cursor: not-allowed;
        opacity: var(--ds-opacity-disabled);
        /*undo default opacity for these children so we can move it out on the tile */
        :is(.ds-input, .ds-label, [data-field]) {
          opacity: 1;
        }
      }
    }
  }
}
