.header {
  height: 106px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 5;
  background-color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 var(--fds-spacing-8);
}

.logo {
  height: 34px;
  width: auto;
}

.logoLink {
  display: flex;
  align-items: center;
}

.toggle {
  display: none;
  border: none;
  background-color: transparent;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
  margin-left: var(--fds-spacing-7);
}

.link {
  color: inherit;
  text-decoration: none;
  font: var(--fds-typography-paragraph-medium);
  border-bottom: 3px solid transparent;
  padding-bottom: var(--fds-spacing-2);
  transition: 0.1s all ease-out;
}

.link:hover {
  border-color: var(--fds-semantic-border-neutral-subtle);
}

.itemIcon {
  margin-left: var(--fds-spacing-1);
}

.firstIcon {
  margin-left: var(--fds-spacing-8);
}

.linkIcon {
  display: grid;
  place-items: center;
  padding: 0 var(--fds-spacing-2);
}

.linkIcon > svg {
  height: 26px;
  width: 26px;
}

.linkIcon.figma path {
  stroke: var(--fds-colors-grey-800);
}

.linkIcon.github path {
  fill: var(--fds-colors-grey-800);
}

.linkIcon.figma:hover path {
  stroke: var(--fds-semantic-border-neutral-default);
}

.linkIcon.github:hover path {
  fill: var(--fds-semantic-border-neutral-default);
}

.item .active {
  border-color: var(--fds-semantic-border-neutral-default);
  font-weight: 500;
}

.item .active.link:hover {
  border-color: var(--fds-semantic-border-neutral-default);
}

@media (max-width: 991.98px) {
  .header {
    height: 72px;
  }

  .toggle {
    display: block;
  }

  .menu {
    border-top: 1px solid #e2e2e2;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 71px;
    background-color: white;
    box-shadow: var(--fds-shadow-large);
    flex-direction: column;
    display: none;
    padding: 20px 0;
  }

  .item {
    padding: 20px 0;
    margin-left: 16px;
  }

  .active {
    display: block;
  }

  .item .active {
    display: inline-block;
  }

  .linkIcon {
    place-items: start;
  }

  .logo {
    height: 26px;
  }
}
