.ComponentUsage {
  display: flex;
  margin-top: 48px;
}

.ComponentUsage--danger .box {
  border-color: #e00000;
}

.title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
  margin-bottom: 16px;
}

.desc {
  font-size: 16px;
  line-height: 1.5em;
}

.textContainer {
  margin-right: 40px;
  width: 50%;
}

.box {
  align-items: center;
  background-color: var(--colors-grey-100);
  border-left: 6px solid #2a8d00;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  min-height: 200px;
  position: relative;
  width: 50%;
}

.content {
  margin-top: 24px !important;
}

.content > * {
  margin-bottom: 24px !important;
}

.iconContainer {
  align-items: center;
  background-color: #2a8d00;
  border-radius: 50%;
  display: flex;
  height: 32px;
  justify-content: center;
  left: 18px;
  position: absolute;
  top: 18px;
  width: 32px;
}

.iconContainer--danger {
  background-color: #e00000;
}
