.ComponentUsage {
    display: flex;
    margin-top: 48px;
}

.ComponentUsage--danger .box {
    border-color: #e00000;
}

.title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 1.3em;
}

.desc {
    font-size: 16px;
    line-height: 1.5em;
}

.textContainer {
    width: 50%;
    margin-right: 40px;
}

.box {
    margin-left: 40px;
    width: 50%;
    background-color: var(--colors-neutral-100);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 6px solid #2a8d00;
    position: relative;
    border-radius: 2px;
}

.content {
    margin-top: 24px !important;
}

.content > * {
    margin-bottom: 24px !important;
}

.iconContainer {
    position: absolute;
    left: 18px;
    top: 18px;
    background-color: #2a8d00;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconContainer--danger {
    background-color: #e00000;
}