.component {

}

.preview {
    min-height: 200px;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    flex: 1;
}

.controls {
    padding: 24px;
    background-color: #F4F5F6;
    border: 1px solid #e0e0e0;
    border-left: none;
    min-width: 256px;
}

.container {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-bottom: 0;
}

.component legend {
    font-size: 16px;
    font-weight: 600;
}

.item {
    margin-bottom: 20px;
}

.item:last-child {
    margin-bottom: 0;
}

.code {
    margin-top: 16px;
}

.code pre {
    border-radius: 4px;
}