* {
  font-feature-settings: 'cv05' 1;
}

html {
  font-family: 'Inter', sans-serif;
}

.docblock-code-toggle {
  background-color: var(--ds-color-neutral-background-tinted) !important;
  color: var(--ds-color-neutral-text-default) !important;
}

.sbdocs {
  & p {
    font-size: var(--ds-body-md-font-size);
  }
}

.custom-docs-wrapper {
  background-color: var(--ds-color-neutral-background-default);
}
