@layer fds.modal {
  .modal {
    padding: 0;
    width: 100%;
    max-width: 650px;
    border: none;
    border-radius: var(--fds-border_radius-medium);
    box-shadow: var(--fds-shadow-xlarge);
  }

  .modal::backdrop {
    background-color: rgb(0 0 0 / 0.5);
    animation: fade-in 300ms ease-in-out;
  }

  .modal[open] {
    animation: slide-in 300ms ease-in-out, fade-in 300ms ease-in-out;
  }

  .modal > hr {
    margin: var(--fds-spacing-3) 0 !important;
    border-color: var(--fds-semantic-border-divider-subtle);
  }

  @media (max-width: 650px) {
    .modal {
      min-width: 100%;
      max-width: 100%;
      border-radius: 0;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .modal[open] {
      animation: none;
    }

    .modal::backdrop {
      animation: none;
    }
  }

  .lockScroll {
    overflow: hidden;
  }

  @keyframes slide-in {
    0% {
      transform: translateY(50px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}
