.modal {
  transform: translateY(-50%);
  width: 500px;
  padding: 0;
  border: none;
  border-radius: var(--fds-border_radius-medium);
  box-shadow: var(--fds-shadow-medium);
}

.modal::backdrop {
  background-color: #00000040;
  animation: fade-in 300ms ease-in-out;
}

.modal[open] {
  animation: slide-in 300ms ease-in-out, fade-in 300ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .modal[open] {
    animation: none;
  }

  .modal::backdrop {
    animation: none;
  }
}

.modalHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: var(--fds-spacing-6);
  padding-bottom: var(--fds-spacing-4);
  padding-left: var(--fds-spacing-6);
  padding-right: var(--fds-spacing-18);
  color: var(--fds-semantic-text-neutral-default);
}

.modalHeader button {
  position: absolute;
  top: var(--fds-spacing-4);
  right: var(--fds-spacing-4);
}

.divider .modalHeader {
  border-bottom: 1px solid var(--fds-semantic-border-neutral-divider);
  padding-bottom: var(--fds-spacing-6);
}

.modalContent {
  padding: var(--fds-spacing-6);
  padding-top: var(--fds-spacing-2);
  max-height: 600px;
}

.divider .modalContent {
  padding-top: var(--fds-spacing-7);
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--fds-spacing-5);
  padding: var(--fds-spacing-6);
  padding-top: 0;
}

.lockScroll {
  overflow: hidden;
}

@keyframes slide-in {
  0% {
    transform: translateY(calc(-50% + 50px));
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
