.modal {
  min-width: 650px;
  max-width: min(650px, calc(100% - 6px - 2em));
  padding: 0;
  border: none;
  border-radius: var(--fds-border_radius-medium);
  box-shadow: var(--fds-shadow-xlarge);
}

.modal::backdrop {
  background-color: #00000040;
  animation: fade-in 300ms ease-in-out;
}

.modal[open] {
  animation: slide-in 300ms ease-in-out, fade-in 300ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .modal[open] {
    animation: none;
  }

  .modal::backdrop {
    animation: none;
  }
}

.lockScroll {
  overflow: hidden;
}

@keyframes slide-in {
  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
