.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: var(--media-max-width);
  padding-top: 56.25%;
  box-shadow: var(--fds-shadow-medium);
  border-radius: 4px;
  margin-top: var(--fds-spacing-10);
  margin-bottom: var(--fds-spacing-10);
}

.aspectFourThree {
  padding-top: 75%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
