.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;
  margin-top: var(--ds-spacing-10);
  margin-bottom: var(--ds-spacing-10);
  aspect-ratio: 16 / 9;
}

.aspectFourThree {
  aspect-ratio: 4 / 3;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
