.header {
  background: linear-gradient(90deg, rgba(240, 86, 90, 0.9) 0.5%, rgba(229, 170, 32, 0.9) 99.96%);
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.snippet code {
  background-color: transparent;
  height: 290px;
  display: block;
}

.snippet {
  border-radius: 8px;
  overflow: hidden;
}

.content {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: masonry;
  grid-auto-flow: dense;
  margin-top: 32px;
  gap: 24px;
  margin-bottom: 64px;
}

.small {
  grid-column: span 6;
}

.big {
  grid-column: span 10;
}

.card {
  background-color: var(--ds-color-neutral-background-default);
  padding: 24px;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: 8px;
}
