.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.card {
  padding: 20px 16px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  transition: 0.1s all;
  position: relative;
}

.card:hover {
  border-color: var(--ds-color-neutral-border-default);
  background-color: var(--ds-color-neutral-background-tinted);
  cursor: pointer;
}

.icon {
  display: flex;
  align-items: center;
}

.tokenContainer {
  margin-top: 32px;
}

.title {
  margin-bottom: 12px;
}

.blurry:after {
  background-color: var(--ds-color-neutral-surface-default);
  opacity: 0.75;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blurry {
  pointer-events: none;
}
