.header {
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  height: 96px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--spacing-5);
  width: 100%;
}

.logo {
  height: 29px;
}

.logo-link {
  align-items: center;
  display: flex;
}

.toggle {
  background-color: transparent;
  border: none;
  display: none;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
  margin-left: 32px;
}

.item a {
  border-bottom: 3px solid transparent;
  color: inherit;
  font-size: 18px;
  padding-bottom: 8px;
  text-decoration: none;
  transition: 0.1s all ease-out;
}

.item a:focus,
.item .active {
  border-color: #6db6ea;
}

.item a:hover {
  border-color: #c3c3c3;
}

.item .active.link:hover {
  border-color: #6db6ea;
}

@media (max-width: 991.98px) {
  .header {
    height: 72px;
  }

  .toggle {
    display: block;
  }

  .menu {
    background-color: white;
    border-top: 1px solid #e2e2e2;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.15);
    display: flex;
    display: none;
    flex-direction: column;
    left: 0;
    padding: 20px 0;
    position: absolute;
    right: 0;
    top: 71px;
  }

  .item {
    margin-left: 16px;
    padding: 20px 0;
  }

  .active {
    display: block;
  }

  .logo {
    height: 26px;
    width: 230px;
  }
}
