.items {
  display: flex;
  gap: 16px;

  flex-wrap: wrap;
}

.item {
  width: calc(50% - 8px);
}

.active .inner {
  border-color: var(--ds-color-accent-border-default);
  background-color: var(--ds-color-accent-surface-default);
}

.active .box {
  outline: 1px solid var(--ds-color-neutral-border-default);
  border-color: var(--ds-color-neutral-border-default);
}

.box {
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: 4px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  overflow: hidden;
  font-size: 16px;
  cursor: pointer;
}

.box:hover {
  background-color: var(--ds-color-neutral-background-subtle);
}

.inner {
  background-color: var(--ds-color-neutral-surface-default);
  border: 5px solid var(--ds-color-neutral-border-default);
  height: 35px;
  width: 68px;
  margin-right: -34px;
}
