.option {
  width: 100%;
  display: flex;
  align-items: fle;

  /* gap: 10px; */
  padding: var(--fds-spacing-2) var(--fds-spacing-3);
  padding-left: var(--fds-spacing-5);
  border: none;
  border-left: 5px solid transparent;
  border-radius: var(--fds-border_radius-interactive);
  justify-content: start;
  background: none;
  text-align: left;
  height: auto;
  cursor: pointer;
  font: var(--fds-typography-label-medium);
}

.option.active {
  background: var(--fds-semantic-surface-action-first-no_fill-hover);
  border-left: 5px solid var(--fds-semantic-border-action-hover);
}

.option > div {
  align-self: flex-start;
}

.optionText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  gap: var(--fds-spacing-1);
  color: var(--fds-semantic-text-neutral-default);
}

.active .optionText {
  color: var(--fds-semantic-text-action-hover);
}

.checkbox {
  min-width: unset;
  min-height: unset;
  aspect-ratio: 1 / 1;
  line-height: 0 !important;
}

.checkbox input {
  min-width: unset;
  min-height: unset;
}

.checkbox > span {
  position: relative;
  min-width: unset;
  min-height: unset;
  height: unset;
  width: unset;
}

.selectIcon {
  margin-left: calc(-1 * var(--fds-spacing-4) + -5px);
  stroke: var(--fds-semantic-border-action-hover);
  stroke-width: 2px;
  margin-right: 4px;
}
