.github-releases-changelog {
}

.github-releases-changelog code {
  background-color: #f8f8f8;
  border: 1px solid #eee;
  padding: 3px 5px;
  border-radius: 2px;
}

.github-releases-changelog li {
  line-height: 34px;
}

.github-releases-changelog hr {
  height: 1px;
  background-color: #e7e7e7;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

.github-releases-changelog h2:first-child {
  font-size: 28px;
}

p.date {
  color: #646464;
  margin-top: -6px;
  font-size: 18px !important;
}
