.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.04);
  color: inherit;
  display: block;
  height: 100%;
  padding: 40px;
  position: relative;
  text-decoration: none;
  transition: 0.2s all;
  z-index: 2;
}

.card:hover {
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.2);
  color: inherit;
  cursor: pointer;
  transform: translateY(-8px);
}

.iconContainer {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 0 auto;
  width: 60px;
}

.red {
  background-color: #fbbfc1;
}

.blue {
  background-color: #a5d6fb;
}

.yellow {
  background-color: #f5dda6;
}

.grey {
  background-color: #f4f5f6;
  border: 1px solid #eee;
  box-shadow: none;
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 17px;
  margin-top: 17px;
  text-align: center;
}

.desc {
  font-size: 16px;
  text-align: center;
}
