.previewColor {
  height: 40px;
  width: 40px;
  border-radius: 3px 0 0 3px;
  margin-right: 12px;
}

.row {
  display: flex;
  margin-top: 64px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}

.icon svg {
  font-size: 24px;
}

.red {
  color: #d40000;
}

.contrast {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 8px;
}

.tt {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 16px;
  border: 1px solid #cecece;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
}

.tt:hover {
  cursor: pointer;
}

.tomato {
  position: relative;
}

.selectedColor {
  height: 150px;
  width: 170px;
  margin-top: 2px;
  margin-right: 48px;
  border-radius: 4px;
  font-size: 16px;
}

.name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 16px;
}

.pickerTool {
  display: none;
  position: absolute;
  left: 0;
  top: 46px;
}

.showPickerTool {
  display: block;
}
