.radio {
  /* Internal variables */
  --radio-background_color: var(--component-checkbox-color-background-default);
  --radio-border_color: var(--component-checkbox-color-border-default);
  --radio-border_width: var(--component-checkbox-border_width-small);
  --radio-checkmark-color: var(--colors-blue-700);
  --radio-checkmark-display: none;
  --radio-size: var(--component-checkbox-size-width-small);

  /* Variables used by CheckboxRadioTemplate */
  --input_box-border_radius: calc(var(--radio-size) / 2);
  --input_box-size: var(--radio-size);
}

.radio.small {
  --radio-size: var(--component-checkbox-size-width-small);
}

.radio.xsmall {
  --radio-size: var(--component-checkbox-size-width-xsmall);
}

.radio.error {
  --radio-background_color: var(--component-checkbox-color-background-error);
  --radio-border_color: var(--component-checkbox-color-border-error);
}

.radio.checked {
  --radio-checkmark-display: inline-block;
}

.radio.checked:not(.error) {
  --radio-border_color: var(--component-checkbox-color-border-checked);
}

.radio:not(.disabled, .checked):hover {
  --radio-background_color: var(--component-checkbox-color-background-hover);
}

.radio:not(.disabled, .error, .checked):hover {
  --radio-border_color: var(--component-checkbox-color-border-hover);
}

.visibleButton {
  background-color: var(--radio-background_color);
  border-radius: 50%;
  outline-color: var(--radio-border_color);
  outline-style: solid;
  outline-offset: calc(-1 * var(--radio-border_width));
  outline-width: var(--radio-border_width);
  box-sizing: border-box;
  display: inline-block;
  height: var(--radio-size);
  width: var(--radio-size);
}

.checkmark {
  box-shadow: 0 0 0 calc(2 * var(--radio-border_width)) var(--radio-background_color) inset, 0 0 0 var(--radio-size) var(--radio-checkmark-color) inset;
  border-radius: 50%;
  display: var(--radio-checkmark-display);
  height: 100%;
  width: 100%;
}
