.panel {
  background-color: var(--ds-color-neutral-background-tinted);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: 8px;
  margin-top: 28px;
  width: 100%;
  max-width: 1390px;
  overflow: hidden;
}

.basicPanel {
  background-color: var(--ds-color-neutral-background-tinted);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  border-radius: 8px;
  margin-top: 28px;
  width: 100%;
  max-width: 1390px;
  padding: var(--ds-size-6);
  align-self: flex-start;
}

.colorsContainer {
  overflow: auto;
}

.variablesPanel {
  display: grid;
  gap: var(--ds-size-4);
  justify-content: center;

  > .basicPanel {
    max-width: 800px;
  }
}

.rainbow-box {
  width: 80vw;
  height: 200px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
  );
}
