.header {
  grid-area: header;
  width: 100%;
  max-width: var(--short-content-width);
  margin-bottom: var(--ds-size-10);
  [data-size='xs'] {
    margin-bottom: var(--ds-size-3);
    color: var(--ds-color-neutral-text-subtle);
  }
}

.headerText {
  color: inherit;
}

.partners {
  margin-right: calc(var(--_column-gap) + var(--_square-size));
}

.date {
  display: flex;
  align-items: center;
  margin-left: calc(-1 * (var(--_column-gap) + var(--_square-size)));
  &::before {
    content: '';
    width: var(--_square-size);
    aspect-ratio: 1;
    transform: rotate(45deg);
    border-radius: 1px;
    background-color: var(--logo-red);
    margin-right: var(--_column-gap);
  }
}
.meta {
  --_column-gap: 10px;
  --_square-size: 7px;
  justify-content: start;
  overflow: clip;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--_column-gap);
  margin-top: var(--ds-size-6);
  font-size: var(--ds-body-long-sm-font-size);
  color: var(--ds-color-neutral-text-subtle);
  padding-block: 2px;
  & a {
    padding: 2px 2px 2px 0;
    border-radius: 4px;
  }
  & a:focus-visible {
    outline: 2px solid var(--ds-color-focus-outer);
    outline-offset: -2px;
  }
}
.content {
  grid-area: content;
}
