.box {
    padding: 24px;
    background-color: var(--color-beta);
    border-radius: 4px;
    margin: 28px 0 32px 0;
}

.title {
    margin-top: 0;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}

.desc {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.55em;
    padding: 0 !important;
}