.page {
  background-color: var(--ds-color-neutral-background-subtle);
  margin-top: -120px;
  z-index: 99;
  position: relative;
  padding-top: 48px;
}

.content {
  position: relative;
  padding-left: 32px;
  padding-right: 470px;
}

.heading {
  margin-top: 32px;
  margin-bottom: 18px;
}
