.box {
  height: 50px;
  width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 400;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  cursor: pointer;
}

.box:hover:not(:focus-visible) {
  border-color: #fff;
  outline: 2px solid #535353;
  outline-offset: 1px;
}

.featured {
  border: 5px solid black;
  font-weight: 600;
}

.whiteText {
  color: white !important;
}

.colorTest {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #a0a0a0;
}

.contrast {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 6px;
  margin-top: 12px;
}

.lightness {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 6px;
  margin-left: -2px;
  margin-top: 12px;
}

.hex {
  font-size: 15px;
  margin-top: 12px;
}

@media (max-width: 1632px) {
  .box {
    width: 80px;
    height: 50px;
  }
}
