.textArea {
  font-family: inherit;
  font-size: var(--component-textarea-font_size-sm);
}

.textArea.resize-none {
  resize: none;
}

.textArea.resize-both {
  resize: both;
}

.textArea.resize-horizontal {
  resize: horizontal;
}

.textArea.resize-vertical {
  resize: vertical;
}
