.ddsdocs-table {
  border-collapse: collapse;
  border-radius: 4px;
  margin-top: 24px;
  margin-left: -15px;
  width: calc(100% + 15px);
}

.ddsdocs-table__row {
  border-bottom: 1px solid #d2d5d8;
}

.ddsdocs-table__header-cell {
  padding: 16px 24px 16px 16px;
  font-size: 13px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: left;
  min-width: 210px;
}

.ddsdocs-table__data-cell {
  padding: 16px;
  font-size: 14px;
}
