.box {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 20px;
}

.xsmallShadow {
  box-shadow: var(--fds-shadow-xsmall);
}

.smallShadow {
  box-shadow: var(--fds-shadow-small);
}

.mediumShadow {
  box-shadow: var(--fds-shadow-medium);
}

.largeShadow {
  box-shadow: var(--fds-shadow-large);
}

.xlargeShadow {
  box-shadow: var(--fds-shadow-xlarge);
}

.xsmallPadding {
  padding: var(--fds-spacing-2);
}

.smallPadding {
  padding: var(--fds-spacing-4);
}

.mediumPadding {
  padding: var(--fds-spacing-6);
}

.largePadding {
  padding: var(--fds-spacing-8);
}

.xlargePadding {
  padding: var(--fds-spacing-10);
}

.defaultBorderColor {
  border-color: var(--fds-semantic-border-neutral-default);
}

.subtleBorderColor {
  border-color: var(--fds-semantic-border-neutral-subtle);
}

.smallBorderRadius {
  border-radius: var(--interactive_components-border_radius-small);
}

.mediumBorderRadius {
  border-radius: var(--interactive_components-border_radius-normal);
}

.largeBorderRadius {
  border-radius: var(--interactive_components-border_radius-large);
}

.defaultBackground {
  background-color: var(--fds-semantic-background-default);
}

.subtleBackground {
  background-color: var(--fds-semantic-background-subtle);
}
