.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.column {
  border: 1px solid #c0c0c0;
  padding: 20px;
  border-radius: 8px;
  width: 50%;
  background-color: var(--ds-color-neutral-background-default);
}
.item {
  border-radius: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.circleText {
  font-weight: 500;
  font-size: 15px;
}

.items {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin-top: 16px;
}

.title {
  font-weight: 500;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-weight: 500;
}

.btn {
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
}

.circle {
  background-color: #b0e7b0;
  height: 38px;
  width: 38px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
}

.failed {
  background-color: #f8b4b4;
}
