.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--fds-spacing-14);
  padding-top: var(--fds-spacing-14);
  padding-bottom: var(--fds-spacing-14);
}

.blue {
  background-color: var(--fds-brand-alt3-300);
}

.red {
  background-color: var(--fds-brand-alt1-300);
}

.yellow {
  background-color: var(--fds-brand-alt2-300);
}

.grey {
  background-color: var(--fds-semantic-background-subtle);
}

.imgContainer {
  flex-basis: calc(35% - (var(--fds-spacing-18) / 2));
  flex-grow: 1;
}

.textContainer {
  flex-basis: calc(65% - (var(--fds-spacing-18) / 2));
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title {
  font: var(--fds-typography-heading-large);
  margin-bottom: var(--fds-spacing-4);
}

.desc {
  font: var(--fds-typography-paragraph-medium);
  margin-top: 0;
  margin-bottom: 0;
}

.img {
  width: 360px;
  display: block;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--fds-spacing-5);
  margin-top: var(--fds-spacing-5);
}

.button {
  height: 48px;
  padding: 0 var(--fds-spacing-4);
  border: 1px solid #c0c0c0;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.1s all;
  color: var(--fds-semantic-text-neutral-default);
  text-decoration: none;
}

@media (max-width: 480px) {
  .button {
    width: 100%;
  }
}

.button:hover {
  background-color: #dbedff;
}

.button svg {
  margin-right: var(--fds-spacing-2);
  color: #1e2b3c;
}

.button img {
  height: 20px;
  margin-right: var(--fds-spacing-2);
  border-radius: 50%;
}

.link {
  text-underline-offset: 5px;
  color: var(--fds-semantic-text-neutral-default);
  display: flex;
  align-items: center;
  margin-top: var(--fds-spacing-5);
}

.link:hover {
  text-decoration-thickness: 2px;
}

.link svg {
  margin-right: var(--fds-spacing-2);
  color: var(--fds-semantic-text-neutral-default);
}
