.links {
  display: flex;
  align-items: center;
}

.header img {
  height: 34px;
}

.item {
  list-style: none;
  margin-left: var(--ds-spacing-7);
}

.link {
  color: inherit;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding-bottom: var(--ds-spacing-2);
  transition: 0.1s border-color ease-out;
}

.link:hover,
.link:focus-visible {
  border-color: var(--ds-color-neutral-border-subtle);
}

.container {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active {
  border-color: inherit !important;
  font-weight: 500;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tag {
  background-color: #f2d6ff;
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 18px;
  font-weight: 500;
}
