.headerTableCell {
  background: #f5f5f5;
  margin: 20px 0;
  text-align: left;
  user-select: none;
}

.headerTableCellRadiobutton {
  background: #f5f5f5;
  margin: 10px 0;
  padding: 8px;
  text-align: left;
  user-select: none;
}

.bodyTableCell {
  border-bottom: 1px solid #dde3e5;
  border-top: 1px solid #dde3e5;
  margin: 20px 0;
  max-width: 300px;
  text-align: left;
}

.bodyTableCellRadiobutton {
  border-bottom: 1px solid #dde3e5;
  border-top: 1px solid #dde3e5;
  text-align: left;
}

.image {
  max-height: 45px;
  max-width: 45px;
}

.input {
  margin: 0 15px;
}

.radioButton {
  margin: 0 0 0 15px;
}

.containerSortable {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.icon {
  fill: rgb(0 0 0 / 0.4);
  margin-left: -5px;
}

.iconDesc {
  fill: rgb(0 0 0);
  margin-left: -5px;
}

.iconAsc {
  fill: rgb(0 0 0);
  margin-left: -5px;
  transform: rotate(180deg);
}

.header {
  color: #4b5563;
  font-weight: 600;
  margin: 10px 10px 10px 0;
}

.property {
  margin: 10px 10px 10px 0;
}
