.sidebar-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ds-size-10);
  margin-top: var(--page-spacing-top);
  padding-bottom: var(--page-spacing-bottom);
  flex-direction: unset;
}

.sidebar {
  flex-basis: 220px;
}

.content {
  flex-basis: 600px;
  flex-grow: 500;
  max-width: 100%;

  > h2 {
    margin-bottom: var(--ds-size-3);
  }
  > p {
    margin-bottom: var(--ds-size-4);
  }
}
