.colorBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 32px;
  width: 32px;
  border-radius: 4px;
  border: 1px solid rgb(158, 158, 158);
}

.input {
  height: 46px;
  border-radius: 4px;
  border: 1px solid rgb(158, 158, 158);
  width: 100%;
  padding-left: 14px;
  font-size: 16px;
}

.item {
  position: relative;
  width: 100%;
}

.picker {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.hidePicker {
  display: none;
}
