.colorBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  border: 1px solid rgb(158, 158, 158);
}

.input {
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgb(158, 158, 158);
  width: 100%;
  padding-left: 14px;
  font-size: 16px;
}

.item {
  position: relative;
  width: 100%;
}

.picker {
  position: absolute;
  width: 100%;
  z-index: 5;
}

.hidePicker {
  display: none;
}

.loopBtn {
  position: absolute;
  top: 9px;
  right: 42px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
