.links {
  display: flex;
  align-items: center;
}

.header img {
  height: 34px;
}

.links a {
  text-decoration: none;
  color: inherit;
  display: block;
  margin-left: 32px;
  border-bottom: 3px solid transparent;
  padding-bottom: 10px;
  font-size: 18px;
}

.links a:hover {
  border-color: rgb(212 212 212);
}

.container {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active {
  border-color: rgb(185 185 185) !important;
  font-weight: 500;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tag {
  background-color: #f2d6ff;
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 18px;
  font-weight: 500;
}
