:root {
  --color-background-darkest: #121212;
  --color-background-darker: #1f1f1f;
  --color-background-dark: #2c2c2c;
  --color-text: #d1d1d1;
  --color-text-subtle: #9c9c9c;
}

body {
  background-color: var(--color-background-darkest);
  max-width: 1100px;
  margin: 0 auto;
}
