.ingress {
  --fdsc-typography-font-family: inherit;

  margin: 0;
}

.spacing {
  margin-bottom: var(--fds-spacing-5);
}

.ingress.medium {
  font: var(--fds-typography-ingress-medium);
  font-family: var(--fdsc-typography-font-family);
}

.ingress.large {
  font: var(--fds-typography-ingress-large);
  font-family: var(--fdsc-typography-font-family);
}
