.ingress {
  --fdsc-typography-font-family: inherit;

  margin: 0;
  color: var(--fds-semantic-text-neutral-default);
}

.spacing {
  margin-bottom: var(--fds-spacing-5);
}

.ingress.medium {
  font: var(--fds-typography-ingress-medium);
  font-family: var(--fdsc-typography-font-family);
}
