.chip {
  display: flex;
}

.chipButton {
  --fdsc-chip-height: var(--fds-sizing-7);
  --fdsc-chip-padding: var(--fds-spacing-3);
  --fdsc-chip-background: var(--fds-semantic-surface-action-first-subtle);
  --fdsc-chip-text-color: var(--fds-semantic-text-neutral-default);
  --fdsc-chip-border: var(--fds-semantic-border-action-first-subtle);
  --fdsc-chip-border-radius: var(--fds-border_radius-full);

  background: var(--fdsc-chip-background);
  padding: 0 var(--fdsc-chip-padding);
  min-height: var(--fdsc-chip-height);
  border-radius: var(--fdsc-chip-border-radius);
  border: 1px solid var(--fdsc-chip-border);
  color: var(--fdsc-chip-text-color);
  text-decoration: none;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
}

.chipButton:disabled,
.chipButton[aria-disabled='true'] {
  cursor: not-allowed;
  opacity: var(--fds-opacity-disabled);
}

.chipButton .label {
  color: inherit;
  line-height: normal;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: var(--fds-spacing-2);
}

.removable {
  --fdsc-removable-background: var(--fds-semantic-surface-action-default);
  --fdsc-removable-text-color: var(--fds-semantic-text-neutral-on_inverted);
  --fdsc-removable-chip-size: var(--fds-sizing-7);
  --fdsc-removable-chip-xmark-color: var(--fds-semantic-text-neutral-on_inverted);
  --fdsc-removable-chip-xmark-padding_right: var(--fds-spacing-1);
  --fdsc-removable-chip-xmark-size: var(--fds-sizing-6);
  --fdsc-removable-chip-xmark-wrapper-width: calc(var(--fdsc-removable-chip-xmark-size) + var(--fdsc-removable-chip-xmark-padding_right));

  color: var(--fdsc-removable-text-color);
  background: var(--fdsc-removable-background);
  border: 0;
  padding-right: var(--fds-spacing-2);
  min-height: var(--fdsc-chip-height);
}

.removable.small {
  padding-right: var(--fds-spacing-1);
}

.removable.large {
  padding-right: var(--fds-spacing-2);
}

.xMark {
  color: var(--fdsc-removable-chip-xmark-color);
  height: var(--fdsc-removable-chip-xmark-size);
  width: var(--fdsc-removable-chip-xmark-size);
}

.xMark .icon {
  height: var(--fdsc-removable-chip-xmark-size);
  width: var(--fdsc-removable-chip-xmark-size);
}

.spacing {
  padding-left: var(--fds-spacing-1) !important;
}

.small .checkmarkIcon {
  height: var(--fds-sizing-5);
  width: auto;
}

.medium .checkmarkIcon {
  height: 24px;
  width: auto;
}

.large .checkmarkIcon {
  height: 26px;
  width: auto;
}

.groupContainer {
  --fdsc-gap: var(--fds-spacing-2);

  display: flex;
  gap: var(--fdsc-gap);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.groupContainer.small {
  --fdsc-gap: var(--fds-spacing-2);
}

.groupContainer.medium {
  --fdsc-gap: var(--fds-spacing-2);
}

.groupContainer.large {
  --fdsc-gap: var(--fds-spacing-2);
}

/* Only use hover for non-touch devices to prevent sticky-hovering */
@media (hover: hover) and (pointer: fine) {
  .chipButton:not(:disabled, [aria-disabled='true']):hover {
    --fdsc-chip-background: var(--fds-semantic-surface-action-first-subtle-hover);
    --fdsc-chip-text-color: var(--fds-semantic-text-neutral-default);
    --fdsc-chip-border: var(--fds-semantic-border-action-first-subtle-hover);

    cursor: pointer;
  }

  .chipButton:not(:disabled, [aria-disabled='true']):is([aria-pressed='true']):hover {
    --fdsc-chip-background: var(--fds-semantic-surface-action-first-no_fill-active);
    --fdsc-chip-text-color: var(--fds-semantic-text-neutral-default);
  }

  .removable:not(:disabled, [aria-disabled='true']):hover,
  .removable:not(:disabled, [aria-disabled='true']):focus {
    --fdsc-removable-background: var(--fds-semantic-surface-action-hover);
    --fdsc-removable-chip-xmark-color: var(--fds-semantic-text-neutral-on_inverted);
  }
}

.chipButton:is([aria-pressed='true']),
.chipButton:not(:disabled, [aria-disabled='true']):active,
.removable:is([aria-pressed='true']),
.removable:not(:disabled, [aria-disabled='true']):active {
  --fdsc-chip-background: var(--fds-semantic-surface-action-first-active);
  --fdsc-chip-text-color: var(--fds-semantic-text-neutral-on_inverted);
  --fdsc-chip-border: var(--fds-semantic-surface-action-first-active);
  --fdsc-removable-background: var(--fds-semantic-surface-action-first-active);
  --fdsc-removable-text-color: var(--fds-semantic-text-neutral-on_inverted);
}

.small {
  --fdsc-chip-height: var(--fds-sizing-7);
  --fdsc-chip-padding: var(--fds-spacing-3);
  --fdsc-removable-chip-xmark-size: var(--fds-sizing-5);
}

.medium {
  --fdsc-chip-height: var(--fds-sizing-8);
  --fdsc-chip-padding: var(--fds-spacing-3);
  --fdsc-removable-chip-xmark-size: var(--fds-sizing-6);
}

.large {
  --fdsc-chip-height: var(--fds-sizing-9);
  --fdsc-chip-padding: var(--fds-spacing-4);
  --fdsc-removable-chip-xmark-size: var(--fds-sizing-7);
}
