.container {
  --sidebar-right-width: clamp(240px, 75px + 15vi, 300px); /*from screen 1100px to 1500px*/
  padding-top: clamp(var(--ds-size-8), -6.929rem + 9.524vi, var(--ds-size-18)); /*from screen 1500px to 1920px*/
  padding-bottom: var(--page-spacing-bottom);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr var(--sidebar-right-width);
  grid-column-gap: var(--ds-size-12);
  grid-template-areas:
    'header aside'
    'content aside'
    'content aside';
}

.header {
  max-width: var(--short-content-width);
  padding-bottom: var(--ds-size-11);
  grid-area: header;
  [data-size='xs'] {
    margin-bottom: var(--ds-size-3);
    color: var(--ds-color-neutral-text-subtle);
  }

  p {
    text-wrap: pretty;
  }
}

.title {
  margin-bottom: 0;
}

.separator {
  font-size: 2rem;
  line-height: 1rem;
}

.meta {
  color: var(--ds-color-neutral-text-subtle);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ds-size-3);
  margin-bottom: var(--ds-size-3);
  margin-top: var(--ds-size-8);
  font-size: var(--ds-body-long-sm-font-size);
  & a {
    border-radius: 4px;
    outline: 2px solid transparent;
    outline-offset: -2px;
  }
  & a:focus-visible {
    outline-color: var(--ds-color-focus-outer);
  }
}

[data-toc] {
  grid-area: aside;
  align-self: start;
}

.content {
  grid-area: content;
}

@media (max-width: 950px) {
  .container {
    display: block;
  }
  [data-toc] {
    display: none;
  }
}
