.container {
  padding-top: var(--ds-size-18);
  padding-bottom: var(--page-spacing-bottom);
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr var(--sidebar-right-width, 300px);
  grid-column-gap: var(--ds-size-12);
  grid-template-areas:
    'header aside'
    'content aside'
    'content aside';

  @media screen and (max-width: 1500px) {
    --sidebar-right-width: 300px;
    padding-top: var(--ds-size-8);
  }

  @media (max-width: 1100px) {
    --sidebar-right-width: 200px;
  }
}

.header {
  max-width: var(--short-content-width);
  padding-bottom: var(--ds-size-11);
  grid-area: header;
  [data-size='xs'] {
    margin-bottom: var(--ds-size-3);
    color: var(--ds-color-neutral-text-subtle);
  }

  p {
    text-wrap: pretty;
  }
}

.title {
  margin-bottom: 0;
}

.separator {
  font-size: 2rem;
  line-height: 1rem;
}

.meta {
  color: var(--ds-color-neutral-text-subtle);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--ds-size-3);
  margin-bottom: var(--ds-size-3);
  margin-top: var(--ds-size-8);
}

.tableOfContents {
  grid-area: aside;
  align-self: start;
}

.content {
  grid-area: content;
}

@media (max-width: 950px) {
  .container {
    display: block;
  }
  .tableOfContents {
    display: none;
  }
}
