.gradientBox {
  border-radius: 8px;
  height: 50px;
  border: 1px solid var(--ds-color-neutral-border-subtle);
}

.svg {
  background-blend-mode: multiply;
  border-radius: 8px;
  margin-bottom: 12px;
  overflow: unset;
  border: 1px solid var(--ds-color-neutral-border-subtle);
}

.dot {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  box-shadow: var(--ds-shadow-xs);
}

.items {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.heading {
  margin-bottom: 12px;
}
