.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  gap: var(--fds-spacing-4);
  margin: 0 auto;
  margin-top: var(--fds-spacing-18);
  padding: var(--fds-spacing-10);
  border-radius: var(--fds-border_radius-xxlarge);
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.container p,
.container h3 {
  margin: 0;
}

.logo {
  --height: 70px;

  position: absolute;
  display: grid;
  place-items: center;
  width: var(--height);
  height: var(--height);
  top: calc(var(--height) / -2);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
}

.logo img {
  box-shadow: none;
  width: 50%;
  height: 50%;
  margin: 0 !important;
  background-color: transparent;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  text-wrap: nowrap;
  justify-content: center;
  gap: var(--fds-spacing-3);
  color: var(--fds-semantic-text-neutral-subtle) !important;
}

.metaSquare {
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border-radius: 1px;
  background-color: var(--fds-brand-alt1-600);
  margin: auto 0;
  break-after: avoid;
}
