@use "@digdir/ds-tokens/build/tokens.scss" as tokens;

.ddsdocs-info-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 460px;
  height: 59px;
  padding: 16px;
  background: tokens.$color-brand-third-200;
  border: 2px solid tokens.$color-brand-third-800;
  box-sizing: border-box;

  &__icon {
    flex-grow: 0;
    margin-right: 8px;
    & svg {
      fill: tokens.$color-neutral-grey-800;
    }
  }

  &__text {
    font-family: tokens.$font-family;
    font-size: 18px;
    line-height: 150%;
    color: tokens.$color-neutral-grey-800;
  }
}
