.errorMessage {
  --fdsc-typography-font-family: inherit;
  --fdsc-bottom-spacing: var(--fds-spacing-5);

  margin: 0;
  color: var(--fds-semantic-text-danger-default);
}

.errorMessage.spacing {
  margin-bottom: var(--fdsc-bottom-spacing);
}

.errorMessage.medium {
  --fdsc-bottom-spacing: var(--fds-spacing-5);

  font: var(--fds-typography-error_message-medium);
  font-family: var(--fdsc-typography-font-family);
}

.errorMessage.small {
  --fdsc-bottom-spacing: var(--fds-spacing-4);

  font: var(--fds-typography-error_message-small);
  font-family: var(--fdsc-typography-font-family);
}

.errorMessage.xsmall {
  --fdsc-bottom-spacing: var(--fds-spacing-3);

  font: var(--fds-typography-error_message-xsmall);
  font-family: var(--fdsc-typography-font-family);
}
