.errorMessage {
  margin: 0;
  color: var(--fds-semantic-text-danger-default);
}

.errorMessage.spacing {
  margin-bottom: var(--fds-spacing-medium);
}

.errorMessage.medium {
  font: var(--fds-typography-error_message-medium);
}

.errorMessage.small {
  font: var(--fds-typography-error_message-small);
}

