.colors {
  display: flex;
  gap: 4px;
  border-radius: 0;
}

.header {
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  margin-bottom: 16px;
  padding-bottom: 16px;
  text-align: center;
  width: 100%;
  position: relative;
  font-size: 16px;
}

.names {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 17px;
  gap: 8px;
}

.names div {
  font-size: 14px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 45px;
}

@media (max-width: 1632px) {
  .names div {
    font-size: 15px;
  }
}
