.tableRow {
  height: 60px;
  width: 1056px;
}

.tableRow.selected {
  background-color: #e0daf7;
  border-bottom: 1px solid #dde3e5;
  border-left: 2px solid #011728;
  border-top: 1px solid #dde3e5;
}

.tableRow.body:hover {
  background-color: #e3f7ff;
  cursor: pointer;
}
