.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--ds-size-3);
  margin-top: var(--ds-size-10);
  padding: var(--ds-size-6);
  border-radius: var(--ds-border-radius-xl);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  max-width: var(--short-content-width);

  & span {
    word-break: break-word;
    text-wrap: balance;
  }

  @media screen and (max-width: 860px) {
    & {
      padding: var(--ds-size-5);
      margin-top: var(--ds-size-8);
    }
  }
}

.container p,
.container h3 {
  margin: 0;
}
.container h3 {
  margin-bottom: 4px;
}

.logo {
  width: 24px;
  aspect-ratio: 1;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  text-wrap: nowrap;
  column-gap: 10px;
  row-gap: 8px;
  color: var(--ds-color-neutral-text-subtle);
}

.metaSquare {
  width: 7px;
  height: 7px;
  transform: rotate(45deg);
  border-radius: 1px;
  background-color: var(--ds-color-brand1-border-default);
  margin: auto 0;
  break-after: avoid;
}
