.card {
  display: block;
  text-align: center;
  background-color: white;
  padding: var(--ds-spacing-10);
  border-radius: var(--ds-border-radius-md);
  box-shadow: var(--ds-shadow-xs);
  text-decoration: none;
  transition: 0.2s transform ease-in-out, 0.2s box-shadow ease-in-out;
}

.card:hover {
  box-shadow: var(--ds-shadow-md);
  transform: translateY(-4px);
}

.title {
  margin-top: var(--ds-spacing-3);
  text-decoration: underline;
  text-underline-offset: 7px;
}

.image {
  width: 100%;
}
