.card {
  display: block;
  text-align: center;
  background-color: white;
  padding: var(--ds-spacing-10);
  border-radius: var(--ds-border-radius-md);
  box-shadow: var(--ds-shadow-xs);
  text-decoration: none;
  transition: 0.2s all;
}

.card:hover {
  box-shadow: var(--ds-shadow-md);
  transform: translateY(-4px);
}

.title {
  margin-top: var(--ds-spacing-3);
  text-decoration: underline;
  text-underline-offset: 7px;
}

.card:focus-visible {
  --dsc-focus-border-width: 3px;

  box-shadow: 0 0 0 var(--dsc-focus-border-width) var(--ds-color-neutral-background-default);
  outline: var(--dsc-focus-border-width) solid var(--ds-color-neutral-text-default);
  outline-offset: var(--dsc-focus-border-width);
}

.image {
  width: 100%;
}
