.title {
  margin-top: 12px;
  margin-bottom: 16px;
}

.name {
  margin-bottom: 24px;
}

.label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.btnGroup {
  display: flex;
  margin-top: 24px;
  gap: 16px;
}

.colorPreview {
  height: 130px;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.back {
  margin-left: -16px;
}
