.sidebar {
  position: relative;
  z-index: 100;
  right: 20px;
  top: 20px;
  height: calc(100vh - 40px);
  background-color: var(--ds-color-neutral-background-default);
  border: 1px solid var(--ds-color-neutral-border-subtle);
  box-shadow: 0px 0px 60px 10px rgba(0, 0, 0, 0.1);
  width: 410px;
  flex-basis: 410px;
  flex-grow: 1;
  border-radius: 8px;
  min-height: calc(100vh - 40px);
  margin-top: -170px;
}

.scrollContainer {
  overflow: auto;
  height: calc(100% - 90px);
  padding: 24px;
}

.sticky {
  position: fixed;
  margin-top: 0;
}

.title {
  margin-bottom: 20px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.separator {
  margin-bottom: 20px;
  height: 1px;
  width: 100%;
  background-color: var(--ds-color-neutral-border-subtle);
}

.group {
  margin-bottom: 24px;
  margin-top: -8px;
}

.group:last-child {
  margin-bottom: 0;
}

.groupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  height: 42px;
}

.AddBtn {
  margin-right: -8px;
}

.error {
  font-weight: 400;
  font-size: 16px;
  color: var(--ds-color-neutral-text-subtle);
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 24px;
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: var(--ds-color-info-background-default);
  border-radius: 0 0 8px 8px;
}

.label {
  font-size: 16px;
  margin-bottom: 8px;
}

.themeMode {
  margin-bottom: 24px;
  margin-top: 24px;
}

.sizes {
  display: flex;
  gap: 8px;
  margin-top: -4px;
}
