.sidebar {
  position: relative;
  z-index: 100;
  padding: 24px 24px 24px 24px;
  background-color: var(--ds-color-neutral-surface-default);
  flex-grow: 1;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: var(--ds-shadow-xs);
  width: 100%;

  & > div:first-child {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }
}

.sticky {
  position: fixed;
  top: 24px;
  width: 441px;
}

.tabContent {
  flex: 1;
  min-height: 0;
}

.tabPanel {
  height: 100%;
  padding: 0;
  margin-top: 24px;
}

.showSidebar {
  display: block !important;
  top: 12px;
  margin-top: 0;
  right: 12px;
  bottom: 12px;
  position: fixed;
}

.bottom {
  border-top: 1px solid var(--ds-color-neutral-border-subtle);
  flex-shrink: 0;
  bottom: 16px;
  right: 28px;
  margin-top: 24px;
  padding-top: 32px;
}

.appearance {
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  background-color: var(--ds-color-neutral-background-tinted);

  & h4 {
    margin-bottom: var(--ds-size-2);
  }
}

.toggle {
  position: fixed;
  top: 120px;
  right: 20px;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  display: none;
  z-index: 5;
  background-color: var(--ds-color-neutral-background-default);
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .sidebar {
    display: none;
  }
  .toggle {
    display: block;
  }
  .toggleOpen {
    right: 440px;
  }
}

.modal {
  /* --dsc-dialog-spacing: var(--ds-size-2); */

  min-height: 90vh;
  flex-direction: column;

  & .modalBottom {
    margin-top: auto;
    padding: var(--ds-size-7);
  }

  & .tabsWrapper {
    display: flex;
    flex-direction: column;
    height: 80vh;
    padding: 0;
  }

  & .tabContent {
    overflow-x: none;
    overflow-y: none;
  }

  /* & .tabPanel {
    padding: var(--ds-size-4) 0;
  } */
}
