.sidebar {
  position: fixed;
  z-index: 100;
  right: 24px;
  top: 24px;
  bottom: 24px;
  height: auto;
  background-color: white;
  border: 1px solid var(--ds-color-neutral-border-subtle);
  box-shadow: 0px 0px 60px 8px rgba(0, 0, 0, 0.08);
  width: 450px;
  border-radius: 8px;
  min-height: 75vh;
  padding: 24px;
}

.title {
  margin-bottom: 16px;
}

.colors {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.separator {
  margin-bottom: 16px;
  height: 1px;
  width: 100%;
  background-color: var(--ds-color-neutral-border-subtle);
}

.group {
  margin-bottom: 24px;
}

.groupHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  height: 42px;
}

.AddBtn {
  margin-right: -8px;
}

.error {
  font-weight: 400;
  font-size: 16px;
  color: var(--ds-color-neutral-text-subtle);
}
