.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin: 24px;
}

@media screen and (min-width: 600px) {
  .stack {
    flex-direction: row;
  }
}
