@import url('https://altinncdn.no/fonts/inter/inter.css');

:root {
  --color-beta: #d6d4ff;
  --color-text-on_inverted-subtle: #dbdbdb;
  --color-surface-neutral-inverted-darker: #17202e;

  /* Spacing for page and grid */
  --grid-max-width: 1400px;
  --grid-padding: clamp(1rem, calc(0.27rem + 3.64vw), 3rem); /* 48px-16px */
  --grid-gap: var(--fds-spacing-8);
  --page-spacing-top: var(--fds-spacing-14);
  --page-spacing-bottom: var(--fds-spacing-14);
}

body {
  color: var(--fds-semantic-text-neutral-default);
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  font-feature-settings: 'cv05' 1 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-top: 0;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh);
  position: relative;
  font-family: 'Inter', sans-serif;
}

.root > main {
  margin-bottom: auto;
}

/* Utility classes */
.greyBackground {
  background: var(--fds-semantic-background-subtle);
}
