@import url('https://altinncdn.no/fonts/inter/inter.css');

@layer normalize, ds;

:root {
  --color-beta: #d6d4ff;

  /* Spacing for page and grid */
  --grid-max-width: 1400px;
  --grid-padding: clamp(1rem, calc(0.27rem + 3.64vw), 3rem); /* 48px-16px */
  --grid-gap: var(--ds-spacing-8);
  --page-spacing-top: var(--ds-spacing-14);
  --page-spacing-bottom: var(--ds-spacing-14);
  --media-max-width: 800px;
}

body {
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;

  /* Still need important here, since we are using `font:` outside of a layer */
  font-feature-settings: 'cv05' 1 !important;
}

.ds-link > :is(img, svg) {
  height: 70%;
  margin-right: var(--ds-spacing-1);
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh);
  position: relative;
  font-family: 'Inter', sans-serif;
}

.root > main {
  margin-bottom: auto;
}

/* Utility classes */
.greyBackground {
  background: var(--ds-color-neutral-background-subtle);
}

@layer normalize {
  html {
    line-height: 1.15; /* 1 */
  }

  body {
    margin: 0;
  }

  main {
    display: block;
  }

  pre {
    font-family: monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp {
    font-family: monospace; /* 1 */
    font-size: 1em; /* 2 */
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  img {
    border-style: none;
  }

  [hidden] {
    display: none;
  }
}
