@layer fds-textarea {
  .formField {
    display: grid;
    gap: var(--fds-spacing-2);
  }

  .padlock {
    height: 1.2em;
    width: 1.2em;
  }

  .errorMessage:empty {
    display: none;
  }

  .label {
    min-width: min-content;
    display: inline-flex;
    flex-direction: row;
    gap: var(--fds-spacing-1);
    align-items: center;
  }

  .description {
    color: var(--fds-semantic-text-neutral-subtle);
    margin-top: calc(var(--fds-spacing-2) * -1);
  }

  .textarea {
    font: inherit;
    font-family: inherit;
    position: relative;
    box-sizing: border-box;
    flex: 0 1 auto;
    min-height: 2.5em;
    width: 100%;
    appearance: none;
    padding: var(--fds-spacing-3);
    border: solid 1px var(--fds-semantic-border-input-default);
    border-radius: var(--fds-border_radius-medium);
    resize: vertical;
  }

  .textarea.small {
    padding: var(--fds-spacing-2);
  }

  .textarea.medium {
    padding: var(--fds-spacing-3);
  }

  .textarea.large {
    padding: var(--fds-spacing-4);
  }

  .disabled {
    opacity: var(--fds-opacity-disabled);
  }

  .disabled .textarea {
    cursor: not-allowed;
  }

  .readonly .textarea {
    background: var(--fds-semantic-surface-neutral-subtle);
    border-color: var(--fds-semantic-border-neutral-default);
  }

  .error > .textarea:not(:focus-visible) {
    border-color: var(--fds-semantic-border-danger-default);
    box-shadow: inset 0 0 0 1px var(--fds-semantic-border-danger-default);
  }

  @media (hover: hover) and (pointer: fine) {
    .textarea:not(:focus-visible, :disabled, [aria-disabled]):hover {
      border-color: var(--fds-semantic-border-input-hover);
      box-shadow: inset 0 0 0 1px var(--fds-semantic-border-input-hover);
    }
  }
}
