.iconSearch {
    margin-top: 30px;
}

.icons {
    margin-top: 42px;
}

.items {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
}

.item {
    width: calc(20% - 40px);
    height: 140px;
    margin: 16px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
}

.heading {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 20px;
}

.group {
    margin-top: 32px;
}

.name {
    margin-top: 16px;

}

.searchContainer {
    position: relative;
}

.iconContainer {
    position: absolute;
    left: 13px;
    top: 13px;
}

.input {
    font-size: 18px;
    padding-left: 48px;
    height: 48px;
    width: 500px;
    border-radius: 4px;
    border: 1px solid #8d8d8d;
}