.button {
  --fc-button-size: var(--fds-component-mode-height-small);
  --fc-button-icon-size: var(--fds-sizing-4);
  --fc-button-padding: var(--fds-spacing-1) var(--fds-spacing-2);
  --fc-button-color: var(--fds-semantic-text-action-first-on_action);

  display: flex;
  align-items: center;
  border: var(--fds-border_width-default) solid transparent;
  color: var(--fc-button-color);
  fill: var(--fc-button-color);
  height: var(--fc-button-size);
  min-width: var(--fc-button-size);
  padding: var(--fc-button-padding);
  box-sizing: border-box;
  cursor: pointer;
  font-family: inherit;
  justify-content: center;
  text-align: center;
  letter-spacing: var(--typography-default-letter-spacing);
  text-decoration: none;
  position: relative;
}

.button.mediumRadius {
  border-radius: var(--fds-border_radius-interactive);
}

.button.fullRadius {
  border-radius: var(--fds-border_radius-full);
}

.button svg {
  overflow: visible;
}

.button.small::before {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  min-height: auto;
  content: '';
}

.button.small::after {
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 44px;
  content: '';
}

.button:disabled,
.button[aria-disabled='true'] {
  cursor: auto;
  opacity: var(--fds-opacity-disabled);
}

.icon {
  display: inline-block;
  height: var(--fc-button-icon-size);
  width: var(--fc-button-icon-size);
}

.button.small {
  --fc-button-size: var(--fds-component-mode-height-small);
  --fc-button-padding: var(--fds-spacing-1) var(--fds-spacing-2);
  --fc-button-icon-size: var(--fds-sizing-4);

  gap: var(--fds-sizing-2);
  font: var(--fds-typography-paragraph-small);
  font-family: inherit;
}

.button.medium {
  --fc-button-size: var(--fds-component-mode-height-medium);
  --fc-button-padding: var(--fds-spacing-2) var(--fds-spacing-3);
  --fc-button-icon-size: var(--fds-sizing-6);

  gap: var(--fds-sizing-3);
  font: var(--fds-typography-paragraph-medium);
  font-family: inherit;
}

.button.large {
  --fc-button-size: var(--fds-component-mode-height-large);
  --fc-button-padding: var(--fds-spacing-2) var(--fds-spacing-3);
  --fc-button-icon-size: var(--fds-sizing-8);

  gap: var(--fds-sizing-3);
  font: var(--fds-typography-paragraph-large);
  font-family: inherit;
}

.button.fullWidth {
  width: 100%;
}

.button.secondary,
.button.tertiary {
  background-color: transparent;
}

.button.onlyIcon {
  padding: calc((var(--fc-button-size) - var(--fc-button-icon-size)) / 2 - var(--fds-border_width-default));
}

/* Only use hover for non-touch devices to prevent sticky-hovering */
@media (hover: hover) and (pointer: fine) {
  .button.primary.first:not([aria-disabled='true'], :disabled):hover {
    background: var(--fds-semantic-surface-action-first-hover);
  }

  .button.primary.second:not([aria-disabled='true'], :disabled):hover {
    background: var(--fds-semantic-surface-action-second-hover);
  }

  .button.primary.success:not([aria-disabled='true'], :disabled):hover {
    background: var(--fds-semantic-surface-success-hover);
  }

  .button.primary.danger:not([aria-disabled='true'], :disabled):hover {
    background: var(--fds-semantic-surface-danger-hover);
  }

  .button.primary.inverted:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-neutral-default);

    background: var(--fds-semantic-surface-on_inverted-hover);
  }

  .button.secondary.first:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-action-first-hover);

    border-color: var(--fds-semantic-border-action-first-hover);
    background: var(--fds-semantic-surface-action-first-no_fill-hover);
  }

  .button.secondary.second:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-action-second-hover);

    border-color: var(--fds-semantic-border-action-second-hover);
    background: var(--fds-semantic-surface-action-second-no_fill-hover);
  }

  .button.secondary.success:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-success-hover);

    border-color: var(--fds-semantic-border-success-hover);
    background: var(--fds-semantic-surface-success-no_fill-hover);
  }

  .button.secondary.danger:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-danger-hover);

    border-color: var(--fds-semantic-border-danger-hover);
    background: var(--fds-semantic-surface-danger-no_fill-hover);
  }

  .button.secondary.inverted:not([aria-disabled='true'], :disabled):hover {
    background: var(--fds-semantic-surface-on_inverted-no_fill-hover);
  }

  .button.tertiary.first:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-action-first-hover);

    background: var(--fds-semantic-surface-action-first-no_fill-hover);
  }

  .button.tertiary.second:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-action-second-hover);

    background: var(--fds-semantic-surface-action-second-no_fill-hover);
  }

  .button.tertiary.success:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-success-hover);

    background: var(--fds-semantic-surface-success-no_fill-hover);
  }

  .button.tertiary.danger:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-danger-hover);

    background: var(--fds-semantic-surface-danger-no_fill-hover);
  }

  .button.tertiary.inverted:not([aria-disabled='true'], :disabled):hover {
    --fc-button-color: var(--fds-semantic-text-neutral-on_inverted);

    background: var(--fds-semantic-surface-on_inverted-no_fill-hover);
  }
}

/* Primary button colors */
.button.primary.first {
  background: var(--fds-semantic-surface-action-first-default);
}

.button.primary.first:not([aria-disabled='true'], :disabled):active {
  background: var(--fds-semantic-surface-action-first-active);
}

.button.primary.second {
  background: var(--fds-semantic-surface-action-second-default);
}

.button.primary.second:not([aria-disabled='true'], :disabled):active {
  background: var(--fds-semantic-surface-action-second-active);
}

.button.primary.success {
  background: var(--fds-semantic-surface-success-default);
}

.button.primary.success:not([aria-disabled='true'], :disabled):active {
  background: var(--fds-semantic-surface-success-active);
}

.button.primary.danger {
  background: var(--fds-semantic-surface-danger-default);
}

.button.primary.danger:not([aria-disabled='true'], :disabled):active {
  background: var(--fds-semantic-surface-danger-active);
}

.button.primary.inverted {
  --fc-button-color: var(--fds-semantic-text-neutral-default);

  background: var(--fds-semantic-surface-on_inverted-default);
}

.button.primary.inverted:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-neutral-default);

  background: var(--fds-semantic-surface-on_inverted-active);
}

/* Secondary button colors */
.button.secondary.first {
  --fc-button-color: var(--fds-semantic-text-action-first-default);

  border-color: var(--fds-semantic-border-action-first-default);
  background: var(--fds-semantic-surface-action-first-no_fill);
}

.button.secondary.first:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-action-first-active);

  border-color: var(--fds-semantic-border-action-first-active);
  background: var(--fds-semantic-surface-action-first-no_fill-active);
}

.button.secondary.second {
  --fc-button-color: var(--fds-semantic-text-action-second-default);

  border-color: var(--fds-semantic-border-action-second-default);
  background: var(--fds-semantic-surface-action-second-no_fill);
}

.button.secondary.second:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-action-second-active);

  border-color: var(--fds-semantic-border-action-second-active);
  background: var(--fds-semantic-surface-action-second-no_fill-active);
}

.button.secondary.success {
  --fc-button-color: var(--fds-semantic-text-success-default);

  border-color: var(--fds-semantic-border-success-default);
  background: var(--fds-semantic-surface-success-no_fill);
}

.button.secondary.success:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-success-active);

  border-color: var(--fds-semantic-border-success-active);
  background: var(--fds-semantic-surface-success-no_fill-active);
}

.button.secondary.danger {
  --fc-button-color: var(--fds-semantic-text-danger-default);

  border-color: var(--fds-semantic-border-danger-default);
  background: var(--fds-semantic-surface-danger-no_fill);
}

.button.secondary.danger:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-danger-active);

  border-color: var(--fds-semantic-border-danger-active);
  background: var(--fds-semantic-surface-danger-no_fill-active);
}

.button.secondary.inverted {
  --fc-button-color: var(--fds-semantic-text-neutral-on_inverted);

  border: 1px solid var(--fds-semantic-border-on_inverted-default);
  background: transparent;
}

.button.secondary.inverted:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-neutral-on_inverted);

  background: var(--fds-semantic-surface-on_inverted-no_fill-active);
}

/* Tertiary button colors */
.button.tertiary.first {
  --fc-button-color: var(--fds-semantic-text-action-first-default);
}

.button.tertiary.first:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-action-first-active);

  background: var(--fds-semantic-surface-action-first-no_fill-active);
}

.button.tertiary.second {
  --fc-button-color: var(--fds-semantic-text-action-second-default);
}

.button.tertiary.second:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-action-second-active);

  background: var(--fds-semantic-surface-action-second-no_fill-active);
}

.button.tertiary.success {
  --fc-button-color: var(--fds-semantic-text-success-default);
}

.button.tertiary.success:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-success-active);

  background: var(--fds-semantic-surface-success-no_fill-active);
}

.button.tertiary.danger {
  --fc-button-color: var(--fds-semantic-text-danger-default);
}

.button.tertiary.danger:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-danger-active);

  background: var(--fds-semantic-surface-danger-no_fill-active);
}

.button.tertiary.inverted {
  --fc-button-color: var(--fds-semantic-text-neutral-on_inverted);

  background: transparent;
}

.button.tertiary.inverted:not([aria-disabled='true'], :disabled):active {
  --fc-button-color: var(--fds-semantic-text-neutral-on_inverted);

  background: var(--fds-semantic-surface-on_inverted-no_fill-active);
}
