.rows {
  display: flex;
  flex-direction: column;
  gap: var(--ds-size-4);
  margin: var(--ds-size-2) 0;
  width: 100%;
  max-width: 1390px;
  justify-content: space-between;
  padding: 32px 24px;
  border-radius: 8px;
  box-shadow: var(--ds-shadow-xs);
  margin-top: 28px;
  overflow-x: auto;
  background-color: var(--ds-color-neutral-surface-default);
}

.row {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
}

.scaleLabel {
  height: 48px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: var(--ds-color-neutral-text-default);
  flex-shrink: 0;
  width: 95px;
}

.luminance {
  border-bottom: 1px solid var(--ds-color-neutral-border-subtle);
  margin-bottom: 16px;
  padding-bottom: 32px;
}

.inputs {
  display: flex;
  gap: var(--ds-size-2);
  margin-left: 104px;
}

.inputContainer {
  height: 40px;
  width: 68px;
}

.input {
  height: 45px;
  width: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid var(--ds-color-neutral-border-subtle);
}

.activeInput {
  border: 1px solid red;
}

.showContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 8px;
}

.showBtn {
  width: auto;
}

.title {
  margin-bottom: 8px;
}

.desc {
  margin-bottom: 12px;
}
