.fds-icon-icon {
  align-items: center;
  background: var(--icon-background);
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: var(--icon-width);
}

.fds-icon-icon.fds-icon-disabled {
  opacity: 0.6;
}

.fds-icon-inputAndLabel {
  align-items: stretch;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.fds-icon-inputWrapper {
  --background: var(--component-input-color-background-default);
  --border-radius: var(--interactive_components-border_radius-normal);
  --icon-background: transparent;
  --icon-width: 22px;
  --outline-color: var(--component-input-color-border-default);
  --outline-width: 1px;
  --paddingX: 0;
  --paddingY: 0;

  align-items: stretch;
  background: var(--background);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: inline-flex;
  min-height: var(--component-input-size-min_height-default);
  position: relative;
}

.fds-icon-inputWrapper.fds-icon-default:hover {
  --outline-color: var(--component-input-color-border-hover);
}

.fds-icon-inputWrapper.fds-icon-error {
  --icon-background: var(--component-input-error-color-border-default);
  --outline-color: var(--component-input-error-color-border-default);
}

.fds-icon-inputWrapper.fds-icon-disabled {
  --background: repeating-linear-gradient(135deg, #efefef, #efefef 2px, #fff 3px, #fff 5px);

  opacity: var(--opacity-disabled);
}

.fds-icon-inputWrapper.fds-icon-readonlyInfo {
  --background: var(--component-input-read_only_info-color-background-default);
  --outline-color: var(--component-input-read_only_info-color-border-default);
}

.fds-icon-inputWrapper.fds-icon-readonlyConfirm {
  --background: var(--component-input-read_only_confirm-color-background-default);
  --outline-color: var(--component-input-read_only_confirm-color-border-default);
}

.fds-icon-inputWrapper.fds-icon-search {
  flex-direction: row-reverse;
}

.fds-icon-inputWrapper.fds-icon-withPadding {
  /* Subtract size of border on padding-y, because border is on outer element. Without this, height of entire component will be too big */
  --paddingY: calc(var(--component-input-space-padding-y) - var(--component-input-border_width-default));
  --paddingX: var(--component-input-space-padding-x);
}

.fds-icon-field {
  background: var(--background);
  border-radius: var(--border-radius);
  border-width: 0;
  box-sizing: border-box;
  font-family: inherit;
  font-size: var(--component-input-font_size-sm);
  outline: var(--outline-width) solid var(--outline-color);
  padding: var(--paddingY) var(--paddingX);
  width: 100%;
}

.fds-icon-inputAndLabel.fds-icon-withIcon .fds-icon-field {
  padding-left: calc(var(--paddingX) + var(--icon-width));
}

.fds-icon-inputWrapper:not(.fds-icon-disabled) .fds-icon-field:hover {
  --outline-width: 2px;
}

.fds-icon-label {
  font-weight: var(--component-label-font_weight-default);
  padding: 0;
}

.fds-icon-characterLimitLabel {
  display: inline-block;
  margin-top: 4px;
}
