.content {
  width: 100%;
}

.content > p,
.content > h2,
.content > h3,
.content > h4,
.content > ul,
.content > ol {
  max-width: 740px;
}

.content > p {
  font: var(--fds-typography-paragraph-medium);
  margin-bottom: var(--fds-spacing-5);
}

/* A <p> tag that comes directly after <h1> will be treated as an ingress */
.content h1 + p {
  font: var(--fds-typography-ingress-medium);
  margin-top: 0;
  margin-bottom: var(--fds-spacing-8);
}

/* Heading styling with anchor link */
.content > h1,
.content > h2,
.content > h3,
.content > h4 {
  position: relative;
  padding-left: 26px;
  margin-left: -26px;
}

.content > h2,
.content > h3,
.content > h4 {
  margin-top: var(--fds-spacing-10);
  margin-bottom: var(--fds-spacing-3);
}

.content > h1 {
  margin-top: 0;
  margin-bottom: var(--fds-spacing-4);
  font: var(--fds-typography-heading-xlarge);
}

.content > h2 {
  font: var(--fds-typography-heading-medium);
}

.content > h3 {
  font: var(--fds-typography-heading-small);
}

.content > h4 {
  font: var(--fds-typography-heading-xsmall);
}

/* Anchor link styling */
.content > h1 a,
.content > h2 a,
.content > h3 a,
.content > h4 a {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: 0.08s all;
}

/* Anchor link styling for <h1> */
.content > h1 a {
  height: 24px;
  width: 24px;
  margin-top: -2px;
  left: -4px;
}

/* Styling for links */
.content > p a,
.content > ul > li a,
.content > ol > li a {
  color: var(--fds-semantic-text-action-default);
  text-underline-offset: 4px;
}

/* Anchor links appear on heading hover */
.content > h1:hover a,
.content > h2:hover a,
.content > h3:hover a,
.content > h4:hover a {
  opacity: 1;
}

.content img {
  width: 100%;
  margin: var(--fds-spacing-5) 0;
  border-radius: var(--fds-border_radius-medium);
  box-shadow: var(--fds-shadow-medium);
}

.content strong {
  display: inline-block;
  margin-top: var(--fds-spacing-1);
  font-weight: 500;
}

.content > ul > li,
.content > ol > li {
  font: var(--fds-typography-paragraph-medium);
  line-height: 1.9em;
}

.content > ul > li > ol,
.content > ol > li > ul {
  margin-top: var(--fds-spacing-1);
}

.content > p > a:hover,
.content > ul > li a:hover,
.content > ol > li a:hover {
  text-decoration-thickness: 2px;
}

.content pre {
  background-color: var(--fds-semantic-background-subtle);
  padding: var(--fds-spacing-5);
  margin: var(--fds-spacing-7) 0;
  border-radius: var(--fds-border_radius-medium);
}

.content > iframe {
  box-shadow: var(--fds-shadow-medium);
  margin: var(--fds-spacing-5);
  border-radius: var(--fds-border_radius-medium);
}

.content > table {
  width: 100%;
  margin: var(--fds-spacing-7) 0;
  border-collapse: collapse;
}

.content > table td,
.content > table th {
  padding: var(--fds-spacing-4);
  border: 1px solid var(--fds-semantic-border-neutral-subtle);
}

.content > table th {
  text-align: left;
  background-color: var(--fds-semantic-background-subtle);
  font-weight: 600;
}

.content p code {
  padding: 0.2em 0.5em;
  margin: 1px;
  font-size: 0.9em;
  white-space: break-spaces;
  background-color: var(--fds-semantic-surface-neutral-subtle-hover);
  border-radius: var(--fds-border_radius-medium);
}

.content > *:first-child {
  margin-top: 0;
}

.content > *:last-child {
  margin-bottom: 0;
}
