.content {
  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  & p {
    margin-bottom: var(--ds-spacing-4);
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4 {
    position: relative;
    padding-left: 26px;
    margin-left: -26px;
  }

  & > h2,
  & > h3,
  & > h4 {
    margin-top: var(--ds-spacing-10);
    margin-bottom: var(--ds-spacing-3);
  }

  /* Anchor link styling */
  & > h1 a,
  & > h2 a,
  & > h3 a,
  & > h4 a {
    width: fit-content;
    height: 1em;
    font-size: 0.7em;
    position: absolute;
    color: var(--ds-color-neutral-text-subtle);
    opacity: 0;
    transition: 0.08s all;
    display: grid;
    place-items: center;
    padding: 0 0.2em;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    & svg {
      margin: 0;
    }
  }

  /* Anchor link styling for <h1> */
  & > h1 a {
    height: 24px;
    width: 24px;
    margin-top: -2px;
    left: -4px;
  }

  /* Anchor links appear on heading hover */
  & > h1:hover a,
  & > h2:hover a,
  & > h3:hover a,
  & > h4:hover a {
    opacity: 1;
  }

  & > ul > li,
  & > ol > li {
    font: var(--ds-typography-paragraph-md);
    line-height: 1.9em;
  }

  & > ul > li > ol,
  & > ol > li > ul {
    margin-top: var(--ds-spacing-1);
  }

  & > p > a:hover,
  & > ul > li a:hover,
  & > ol > li a:hover {
    text-decoration-thickness: 2px;
  }

  /* A <p> tag that comes directly after <h1> will be treated as an ingress */
  & > h1 + p {
    font: var(--ds-body-long-md-font-size);
    margin-top: 0;
    margin-bottom: var(--ds-spacing-8);
  }

  & > iframe {
    box-shadow: var(--ds-shadow-md);
    margin: var(--ds-spacing-5);
    border-radius: var(--ds-border-radius-md);
  }

  & > table {
    width: 100%;
    margin: var(--ds-spacing-7) 0;
    border-collapse: collapse;
  }

  & > img {
    width: 100%;
    margin: var(--ds-spacing-5) 0;
    border-radius: var(--ds-border-radius-md);
    box-shadow: var(--ds-shadow-md);
  }

  & > code,
  & > p code {
    padding: 0.2em 0.5em;
    margin: 1px;
    font-size: 0.9em;
    white-space: break-spaces;
    background-color: var(--ds-color-neutral-surface-default);
    border-radius: var(--ds-border-radius-md);
  }

  & > pre,
  & > p pre {
    background-color: var(--ds-color-neutral-background-subtle);
    padding: var(--ds-spacing-5);
    margin: var(--ds-spacing-7) 0;
    border-radius: var(--ds-border-radius-md);
  }

  & > div + p {
    margin-top: var(--ds-spacing-5);
  }

  & *[data-unstyled] {
    & p {
      margin: unset;
    }
  }

  & *:not([data-unstyled]) {
    & p,
    & h2,
    & h3,
    & h4,
    & ul,
    & ol,
    & [class^='ds-accordion'],
    & [class^='ds-card'] {
      max-width: 740px;
    }

    & img {
      width: 100%;
      margin: var(--ds-spacing-5) 0;
      border-radius: var(--ds-border-radius-md);
      box-shadow: var(--ds-shadow-md);
    }

    &:is(strong),
    & strong {
      display: inline-block;
      margin-top: var(--ds-spacing-1);
      font-weight: 500;
    }
  }
}
