.content {
  width: 100%;
}

.content p,
.content h2,
.content h3,
.content h4,
.content ul,
.content ol,
.content [class^='ds-accordion'],
.content [class^='ds-card'] {
  max-width: 740px;
}

/* A <p> tag that comes directly after <h1> will be treated as an ingress */
.content h1 + p {
  font: var(--ds-typography-ingress-md);
  margin-top: 0;
  margin-bottom: var(--ds-spacing-8);
}

/* Heading styling with anchor link */
.content > h1,
.content > h2,
.content > h3,
.content > h4 {
  position: relative;
  padding-left: 26px;
  margin-left: -26px;
}

.content > h2,
.content > h3,
.content > h4 {
  margin-top: var(--ds-spacing-10);
  margin-bottom: var(--ds-spacing-3);
}

/* Anchor link styling */
.content > h1 a,
.content > h2 a,
.content > h3 a,
.content > h4 a {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  color: var(--ds-color-neutral-text-subtle);
  opacity: 0;
  transition: 0.08s all;
}

/* Anchor link styling for <h1> */
.content > h1 a {
  height: 24px;
  width: 24px;
  margin-top: -2px;
  left: -4px;
}

/* Anchor links appear on heading hover */
.content > h1:hover a,
.content > h2:hover a,
.content > h3:hover a,
.content > h4:hover a {
  opacity: 1;
}

.content img {
  width: 100%;
  margin: var(--ds-spacing-5) 0;
  border-radius: var(--ds-border-radius-md);
  box-shadow: var(--ds-shadow-md);
}

.content strong {
  display: inline-block;
  margin-top: var(--ds-spacing-1);
  font-weight: 500;
}

.content > ul > li,
.content > ol > li {
  font: var(--ds-typography-paragraph-md);
  line-height: 1.9em;
}

.content > ul > li > ol,
.content > ol > li > ul {
  margin-top: var(--ds-spacing-1);
}

.content > p > a:hover,
.content > ul > li a:hover,
.content > ol > li a:hover {
  text-decoration-thickness: 2px;
}

.content pre {
  background-color: var(--ds-color-neutral-background-subtle);
  padding: var(--ds-spacing-5);
  margin: var(--ds-spacing-7) 0;
  border-radius: var(--ds-border-radius-md);
}

.content > iframe {
  box-shadow: var(--ds-shadow-md);
  margin: var(--ds-spacing-5);
  border-radius: var(--ds-border-radius-md);
}

.content > table {
  width: 100%;
  margin: var(--ds-spacing-7) 0;
  border-collapse: collapse;
}

.content p code,
.content ul code,
.content ol code {
  padding: 0.2em 0.5em;
  margin: 1px;
  font-size: 0.9em;
  white-space: break-spaces;
  background-color: var(--ds-color-neutral-surface-default);
  border-radius: var(--ds-border-radius-md);
}

.content > *:first-child {
  margin-top: 0;
}

.content > *:last-child {
  margin-bottom: 0;
}
