.removable {
  --fdsc-removable-background: var(--fds-semantic-surface-action-active);
  --fdsc-removable-text-color: var(--fds-semantic-text-neutral-on_inverted);

  color: var(--fdsc-removable-text-color);
  background: var(--fdsc-removable-background);
  border: 0;
  padding-right: 0;
}

.removable:focus {
  border: 2px solid var(--fds-semantic-border-neutral-strong);
}

.container {
  display: flex;
  align-items: center;
  gap: var(--fds-spacing-1);
}

/* TODO crosscheck with UI/UX about the xMart-size and padding */
.xMark {
  --fdsc-xmark-background: transparent;
  --fdsc-xmark-color: var(--fds-semantic-text-neutral-on_inverted);

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fdsc-xmark-color);
  padding: 0 var(--fds-spacing-1);
  min-height: var(--fds-sizing-6);
  background: var(--fdsc-xmark-background);
  border-radius: 0 var(--fds-border_radius-full) var(--fds-border_radius-full) 0;
}

.removable:hover .xMark,
.removable:focus .xMark {
  --fdsc-xmark-background: var(--fds-semantic-surface-danger-default);
  --fdsc-xmark-color: var(--fds-semantic-text-neutral-on_inverted);
}

.iconSize {
  font-size: var(--fds-sizing-5);
}
