.main {
  padding-top: var(--ds-size-18);
  padding-bottom: var(--ds-size-18);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(18.75rem, 100%), 1fr));
  gap: var(--ds-size-10);
}
.header {
  text-align: center;
  max-width: var(--short-content-width);
  margin: var(--page-spacing-top) auto 0 auto;
  h1 {
    margin-bottom: var(--ds-size-4);
  }
}

.main [data-featured='true'] {
  grid-column: 1 / -1;
}

@media screen and (max-width: 768px) {
  .header {
    text-align: start;
    h1 {
      margin-bottom: var(--ds-size-2);
      font-size: var(--ds-font-size-6);
    }
    p {
      font-size: var(--ds-font-size-4);
    }
  }
}
